Laxmi Diamond/flows.json
[{"id":"91add25f.cd71c","type":"tab","label":"Laxmi Diamond","disabled":false,"info":""},{"id":"b9e9330d.17347","type":"comment","z":"91add25f.cd71c","name":"**************************************  RS-485 Converter Section  **************************************","info":"","x":700,"y":40,"wires":[]},{"id":"b1cbc238.7b2a5","type":"catch","z":"91add25f.cd71c","name":"","scope":null,"uncaught":false,"x":260,"y":140,"wires":[["adc7e32c.f1e9c","d53a3de4.dc24e","c0929479.e4d488","d96b9054.851c6","c3fc8d3a.bf343","20b2e8b.1a72e18"]]},{"id":"a2f2a20e.78e9c","type":"switch","z":"91add25f.cd71c","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":300,"wires":[["2848c877.bafb18"],["8684f218.f7357"]]},{"id":"2848c877.bafb18","type":"delay","z":"91add25f.cd71c","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":268,"wires":[["5b4b45eb.b3063c"]]},{"id":"8684f218.f7357","type":"delay","z":"91add25f.cd71c","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":519,"y":333,"wires":[["b12d44da.140e68"]]},{"id":"5b4b45eb.b3063c","type":"function","z":"91add25f.cd71c","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":685,"y":268,"wires":[["efcfc5cd.7514e8"]]},{"id":"b12d44da.140e68","type":"function","z":"91add25f.cd71c","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":682,"y":331,"wires":[["efcfc5cd.7514e8"]]},{"id":"8aa562c1.fb887","type":"function","z":"91add25f.cd71c","name":"Error Frunction","func":"\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        \n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        // displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            // moveOnNextDevice(\n            //     deviceProfile_StoreData,\n            //     deviceProfile,\n            //     stop_to_read_deviceProfile_dataPacket,\n            //     deviceProfile_Count,\n            //     deviceProfile_Index,\n            //     deviceProfile_ReadIndex,\n            //     stop_deviceProfile\n            // );\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount == 1){\n            // node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            // node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"192.168.10.13\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n        \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-1\n    if(slaveID == 18){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-1\n    if(slaveID == 1){\n        node.warn('Error Occur in SCB-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-2\n    if(slaveID == 2){\n        node.warn('Error Occur in SCB-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-3\n    if(slaveID == 3){\n        node.warn('Error Occur in SCB-3');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-4\n    if(slaveID == 4){\n        node.warn('Error Occur in SCB-4');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\n// if(msg.error.source.name == \"192.168.10.11\"){\n//     if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n//     let slaveID = msg.payload.unitid;\n    \n//     // Meter-2\n//     if(slaveID == 19){\n//         node.warn('Error Occur in MET-2');\n//         deviceProfile_ErrorConfig(2);\n//         identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n//     }\n// }\n// }\n\n\n// if(msg.error.source.name == \"192.168.10.12\"){\n//     if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n//     let slaveID = msg.payload.unitid;\n    \n//     // Meter-3\n//     if(slaveID == 20){\n//         node.warn('Error Occur in MET-3');\n//         deviceProfile_ErrorConfig(3);\n//         identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n//     }\n// }\n// }\n\nif(msg.error.source.name == \"192.168.10.13\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-3\n    if(slaveID == 20){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":703,"y":140,"wires":[["a2f2a20e.78e9c","35a6729b.8179be"]]},{"id":"adc7e32c.f1e9c","type":"debug","z":"91add25f.cd71c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":80,"wires":[]},{"id":"d53a3de4.dc24e","type":"moment","z":"91add25f.cd71c","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":480,"y":140,"wires":[["8aa562c1.fb887"]]},{"id":"35a6729b.8179be","type":"switch","z":"91add25f.cd71c","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":140,"wires":[["3cdbc1b9.53213e","c1905cad.cb32e"]]},{"id":"3cdbc1b9.53213e","type":"debug","z":"91add25f.cd71c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":140,"wires":[]},{"id":"efcfc5cd.7514e8","type":"switch","z":"91add25f.cd71c","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"},{"t":"eq","v":"RD_Profile4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":834,"y":300,"wires":[["a186d598.5294f8"],["f44c6116.a8b04"],["e41e7806.fb64c8"],["da2ebd1b.eecc8"]]},{"id":"85b328ad.c8d7a8","type":"function","z":"91add25f.cd71c","name":"Dp-1 1-Meter, 15-SCB","func":"var deviceProfile_1 = [\n\n    {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 4,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":689,"y":636,"wires":[["a186d598.5294f8"]]},{"id":"a186d598.5294f8","type":"function","z":"91add25f.cd71c","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":635,"wires":[["bc17ff30.88087"]]},{"id":"bc17ff30.88087","type":"modbus-flex-getter","z":"91add25f.cd71c","name":"192.168.10.13","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dc26ec37.35cce","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1318,"y":635,"wires":[["22211680.3e435a"],[]]},{"id":"22211680.3e435a","type":"delay","z":"91add25f.cd71c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1509,"y":632,"wires":[["4bcd71ac.abe27"]]},{"id":"4bcd71ac.abe27","type":"moment","z":"91add25f.cd71c","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1739,"y":634,"wires":[["6f3d4df.381bfb4"]]},{"id":"6f3d4df.381bfb4","type":"function","z":"91add25f.cd71c","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2018,"y":634,"wires":[["9f4ed3a5.4151c"]]},{"id":"9f4ed3a5.4151c","type":"switch","z":"91add25f.cd71c","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":636,"wires":[["dffbb02b.81781","c1905cad.cb32e"]]},{"id":"c7cf66bd.1c8b08","type":"complete","z":"91add25f.cd71c","name":"Device Profile-1","scope":["6f3d4df.381bfb4"],"uncaught":false,"x":670,"y":400,"wires":[["18ec9281.c12b3d"]]},{"id":"18ec9281.c12b3d","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":400,"wires":[["a186d598.5294f8"]]},{"id":"308bc5e0.20311a","type":"complete","z":"91add25f.cd71c","name":"Read Device Profile-1","scope":["6f3d4df.381bfb4"],"uncaught":false,"x":688,"y":882,"wires":[["a173645.d6d3098"]]},{"id":"a173645.d6d3098","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":863,"y":882,"wires":[["a186d598.5294f8"]]},{"id":"7515169f.9edb78","type":"function","z":"91add25f.cd71c","name":"Dp-2 1-Meter","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Apex Meter-1\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 19,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    }\n\n]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659,"y":696,"wires":[["f44c6116.a8b04"]]},{"id":"f44c6116.a8b04","type":"function","z":"91add25f.cd71c","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":695,"wires":[["107a3b23.359e35"]]},{"id":"107a3b23.359e35","type":"modbus-flex-getter","z":"91add25f.cd71c","name":"192.168.10.11","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"724e37.d56001c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1318,"y":695,"wires":[["c47d7d1.d7b818"],[]]},{"id":"c47d7d1.d7b818","type":"delay","z":"91add25f.cd71c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1507,"y":695,"wires":[["1e84d006.53e1"]]},{"id":"1e84d006.53e1","type":"moment","z":"91add25f.cd71c","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1740,"y":695,"wires":[["b5337550.2bc478"]]},{"id":"b5337550.2bc478","type":"function","z":"91add25f.cd71c","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2020,"y":695,"wires":[["aea8f80a.8f6868"]]},{"id":"aea8f80a.8f6868","type":"switch","z":"91add25f.cd71c","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":696,"wires":[["a7a8bd2.79fee4","c1905cad.cb32e"]]},{"id":"19548406.84b4bc","type":"complete","z":"91add25f.cd71c","name":"Read Device Profile-2","scope":["b5337550.2bc478"],"uncaught":false,"x":688,"y":942,"wires":[["f897869e.deab48"]]},{"id":"f897869e.deab48","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":863,"y":942,"wires":[["f44c6116.a8b04"]]},{"id":"d778766d.9e8fd8","type":"complete","z":"91add25f.cd71c","name":"Device Profile-2","scope":["b5337550.2bc478"],"uncaught":false,"x":672,"y":455,"wires":[["402e00e0.43a1d"]]},{"id":"402e00e0.43a1d","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":455,"wires":[["f44c6116.a8b04"]]},{"id":"c1905cad.cb32e","type":"change","z":"91add25f.cd71c","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":400,"wires":[["df17f725.b2deb8"]]},{"id":"8c4f761c.568588","type":"debug","z":"91add25f.cd71c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2310,"y":280,"wires":[]},{"id":"df17f725.b2deb8","type":"http request","z":"91add25f.cd71c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1/gm/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2290,"y":320,"wires":[["8c4f761c.568588"]]},{"id":"2357aee0.fab4d2","type":"inject","z":"91add25f.cd71c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":696,"wires":[["7515169f.9edb78","85b328ad.c8d7a8","cf8649b0.6464e8","d25ef04b.eb337"]]},{"id":"c0929479.e4d488","type":"function","z":"91add25f.cd71c","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.13\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.13', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":880,"wires":[["8e077edb.f663a"]]},{"id":"8e077edb.f663a","type":"switch","z":"91add25f.cd71c","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":880,"wires":[["df25bcfa.a7e5f"]]},{"id":"2c6116c6.bd54fa","type":"comment","z":"91add25f.cd71c","name":"******** Reconect *******","info":"","x":300,"y":820,"wires":[]},{"id":"df25bcfa.a7e5f","type":"modbus-flex-connector","z":"91add25f.cd71c","name":"192.168.10.13","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"dc26ec37.35cce","x":460,"y":880,"wires":[[]]},{"id":"d96b9054.851c6","type":"function","z":"91add25f.cd71c","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.11\"){\n     msg.reConnector_2 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.11', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":940,"wires":[["3f683473.0ccf5c"]]},{"id":"3f683473.0ccf5c","type":"switch","z":"91add25f.cd71c","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":940,"wires":[["28f7839e.bfb1dc"]]},{"id":"28f7839e.bfb1dc","type":"modbus-flex-connector","z":"91add25f.cd71c","name":"192.168.10.11","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"724e37.d56001c8","x":460,"y":940,"wires":[[]]},{"id":"cf8649b0.6464e8","type":"function","z":"91add25f.cd71c","name":"Dp-3 1-Meter","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Apex Meter-2\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 20,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    }\n\n]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []);\nglobal.set(\"deviceProfile_3_Count\", 0); \nglobal.set(\"deviceProfile_3_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659,"y":756,"wires":[["e41e7806.fb64c8"]]},{"id":"e41e7806.fb64c8","type":"function","z":"91add25f.cd71c","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":755,"wires":[["e8154f87.32c23"]]},{"id":"e8154f87.32c23","type":"modbus-flex-getter","z":"91add25f.cd71c","name":"192.168.10.12","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"36c090a4.203b4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1318,"y":755,"wires":[["d2209dbc.85376"],[]]},{"id":"d2209dbc.85376","type":"delay","z":"91add25f.cd71c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1507,"y":755,"wires":[["2c539e2d.a04ed2"]]},{"id":"2c539e2d.a04ed2","type":"moment","z":"91add25f.cd71c","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1740,"y":755,"wires":[["967e1ad0.844ec8"]]},{"id":"967e1ad0.844ec8","type":"function","z":"91add25f.cd71c","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2020,"y":755,"wires":[["a1bd9e37.7ed25"]]},{"id":"a1bd9e37.7ed25","type":"switch","z":"91add25f.cd71c","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":756,"wires":[["c031e739.969db8","c1905cad.cb32e"]]},{"id":"55fd86c5.263648","type":"complete","z":"91add25f.cd71c","name":"Device Profile-3","scope":["967e1ad0.844ec8"],"uncaught":false,"x":671,"y":508,"wires":[["b41044cf.c18588"]]},{"id":"b41044cf.c18588","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":508,"wires":[["e41e7806.fb64c8"]]},{"id":"291867cf.a79308","type":"complete","z":"91add25f.cd71c","name":"Read Device Profile-3","scope":["967e1ad0.844ec8"],"uncaught":false,"x":689,"y":1002,"wires":[["77a55dd5.e2bb54"]]},{"id":"77a55dd5.e2bb54","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":868,"y":1002,"wires":[["e41e7806.fb64c8"]]},{"id":"c3fc8d3a.bf343","type":"function","z":"91add25f.cd71c","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.12\"){\n     msg.reConnector_3 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.12', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_3 = false;\n}\n}else {\n    msg.reConnector_3 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1000,"wires":[["7e138f95.15f73"]]},{"id":"7e138f95.15f73","type":"switch","z":"91add25f.cd71c","name":"","property":"reConnector_3","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1000,"wires":[["2289213f.aa71ce"]]},{"id":"2289213f.aa71ce","type":"modbus-flex-connector","z":"91add25f.cd71c","name":"192.168.10.12","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"36c090a4.203b4","x":460,"y":1000,"wires":[[]]},{"id":"c031e739.969db8","type":"debug","z":"91add25f.cd71c","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2382,"y":755,"wires":[]},{"id":"a7a8bd2.79fee4","type":"debug","z":"91add25f.cd71c","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2382,"y":695,"wires":[]},{"id":"dffbb02b.81781","type":"debug","z":"91add25f.cd71c","name":"10.102.255.141","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2381,"y":634,"wires":[]},{"id":"d25ef04b.eb337","type":"function","z":"91add25f.cd71c","name":"Dp-4 1-Meter","func":"var deviceProfile_4 = [\n    {\n        deviceName: \"Apex Meter-2\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 20,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    }\n\n]\n\nglobal.set('deviceProfile_4', deviceProfile_4);\nglobal.set('deviceProfile_4_Index', 0);\nglobal.set('deviceProfile_4_ReadIndex', 0);\nglobal.set('deviceProfile_4_StoreData', []);\nglobal.set(\"deviceProfile_4_Count\", 0); \nglobal.set(\"deviceProfile_4_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659,"y":816,"wires":[["da2ebd1b.eecc8"]]},{"id":"da2ebd1b.eecc8","type":"function","z":"91add25f.cd71c","name":"Read Device Profile-4","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_4');\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_4_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_4', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":815,"wires":[["e5cc7ddb.929c8"]]},{"id":"e5cc7ddb.929c8","type":"modbus-flex-getter","z":"91add25f.cd71c","name":"192.168.10.13","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"36c090a4.203b4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1318,"y":815,"wires":[["e3d25bb8.7d3708"],[]]},{"id":"e3d25bb8.7d3708","type":"delay","z":"91add25f.cd71c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1507,"y":815,"wires":[["92bb8b29.b8a168"]]},{"id":"92bb8b29.b8a168","type":"moment","z":"91add25f.cd71c","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1740,"y":815,"wires":[["8bef73f5.81487"]]},{"id":"8bef73f5.81487","type":"function","z":"91add25f.cd71c","name":"Display data DeviceProfile-4","func":"var device_profile = global.get('deviceProfile_4');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_4_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_4_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_4_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_4_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_4_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_4_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_4_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_4_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_4_ReadIndex', index);  \n  global.set('stop_deviceProfile_4', false);\n  global.set('stop_to_read_deviceProfile_4_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    global.set('deviceProfile_4_ReadIndex', 0);\n    global.set(\"deviceProfile_4_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_4', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_4_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_4_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_4_Index');\n        index += 1;\n        global.set('deviceProfile_4_Index', index);\n        global.set('stop_deviceProfile_4', true);\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n        global.set('stop_deviceProfile_4', false);\n        global.set('deviceProfile_4_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2020,"y":815,"wires":[["5070ba92.f82cc4"]]},{"id":"5070ba92.f82cc4","type":"switch","z":"91add25f.cd71c","name":"","property":"send_Data_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":816,"wires":[["24fcc9ff.a1ddb6","c1905cad.cb32e"]]},{"id":"24fcc9ff.a1ddb6","type":"debug","z":"91add25f.cd71c","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2382,"y":815,"wires":[]},{"id":"ca777b7e.2bed38","type":"complete","z":"91add25f.cd71c","name":"Device Profile-4","scope":["8bef73f5.81487"],"uncaught":false,"x":672,"y":564,"wires":[["a4974894.948378"]]},{"id":"a4974894.948378","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":832,"y":564,"wires":[["da2ebd1b.eecc8"]]},{"id":"7e0c3db2.08e3d4","type":"complete","z":"91add25f.cd71c","name":"Read Device Profile-4","scope":["8bef73f5.81487"],"uncaught":false,"x":688,"y":1059,"wires":[["9394151.69304e8"]]},{"id":"9394151.69304e8","type":"switch","z":"91add25f.cd71c","name":"","property":"stop_to_read_deviceProfile_4_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":867,"y":1059,"wires":[["da2ebd1b.eecc8"]]},{"id":"20b2e8b.1a72e18","type":"function","z":"91add25f.cd71c","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.13\"){\n     msg.reConnector_4 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.12', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_4 = false;\n}\n}else {\n    msg.reConnector_4 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1058,"wires":[["aefd8233.85643"]]},{"id":"aefd8233.85643","type":"switch","z":"91add25f.cd71c","name":"","property":"reConnector_4","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1058,"wires":[["2de77f02.f5245"]]},{"id":"2de77f02.f5245","type":"modbus-flex-connector","z":"91add25f.cd71c","name":"192.168.10.13","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"36c090a4.203b4","x":460,"y":1058,"wires":[[]]},{"id":"dc26ec37.35cce","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"724e37.d56001c8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"36c090a4.203b4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]