flows (4).json
[{"id":"3bcf213e.df965e","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":979,"y":1614,"wires":[["78fb6a17.796314","4393e3f8.4307fc","8aca9753.305588","562ff328.b2c47c"]]},{"id":"78fb6a17.796314","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.201\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.201', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1215,"y":1526,"wires":[["dc39ab96.c9e468"]]},{"id":"dc39ab96.c9e468","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1381,"y":1526,"wires":[["afbbd732.4846e8"]]},{"id":"afbbd732.4846e8","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.201","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","x":1558,"y":1526,"wires":[[]]},{"id":"d049ceb6.1fa0b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]