flows (4).json
[{"id":"f24f2f8e.e794f","type":"catch","z":"a870dfa4.0e8bb","name":"","scope":null,"uncaught":false,"x":1249,"y":235,"wires":[["63210c59.11ef74"]]},{"id":"63210c59.11ef74","type":"function","z":"a870dfa4.0e8bb","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\"){\n    if(msg.error.source.name == \"192.168.10.201\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.201', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1406,"y":235,"wires":[["e8986ef4.0372a"]]},{"id":"e8986ef4.0372a","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1552,"y":235,"wires":[["80fe3417.0d2878"]]},{"id":"80fe3417.0d2878","type":"modbus-flex-connector","z":"a870dfa4.0e8bb","name":"192.168.10.201","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","x":1719,"y":235,"wires":[["3afac466.49533c"]]},{"id":"f7ef433f.1a6c5","type":"comment","z":"a870dfa4.0e8bb","name":"********** Reconnect ********","info":"","x":1480,"y":180,"wires":[]},{"id":"3afac466.49533c","type":"delay","z":"a870dfa4.0e8bb","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1707,"y":178,"wires":[["a5e73a54.792f08"]]},{"id":"d049ceb6.1fa0b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
