IIT Kharagpur/Final flow with Error handling.txt
[{"id":"dca8d477.daa058","type":"tab","label":"Running Mode in Error Handling","disabled":false,"info":""},{"id":"151df96e.3d7de7","type":"inject","z":"dca8d477.daa058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1427,"wires":[["af287462.4de808","288ee9bc.198c66","64971dc6.fef0a4","e56782a5.2489a","2f46b433.7adc6c","cf485095.41247","12a48967.4663f7","384e907e.b0f22","523a7c54.a73ad4"]]},{"id":"a819eec3.b1341","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1114,"wires":[["4a6a9acd.a63074"]]},{"id":"6fe25fa6.5c4ae","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1166,"wires":[["f6d0181.b0f2fe8"]]},{"id":"bfaec8f0.ea8618","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1222,"wires":[["b77feedd.37a85"]]},{"id":"69a3dae.a6eba24","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-4","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_4');\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_4_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_4', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1276,"wires":[["fbab177d.5db248"]]},{"id":"1e978750.27c589","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-5","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_5');\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_5_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_5', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1329,"wires":[["5bdc8a35.5bd2f4"]]},{"id":"53ec5298.6fdc8c","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-6","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_6');\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_6_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_6', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960.7142944335938,"y":1381.8571472167969,"wires":[["c41abc2.b93124"]]},{"id":"92d1efbf.c167a","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1166,"wires":[["d1781ec3.54dba"]]},{"id":"f744bc6c.fb7f3","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-3')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1645,"y":1223,"wires":[["d36d3714.552788"]]},{"id":"31a742a9.329fce","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-4","func":"var device_profile = global.get('deviceProfile_4');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_4_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_4_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_4_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_4_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-4')\n    global.set('deviceProfile_4_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_4_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_4_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_4_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_4_ReadIndex', index);  \n  global.set('stop_deviceProfile_4', false);\n  global.set('stop_to_read_deviceProfile_4_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    global.set('deviceProfile_4_ReadIndex', 0);\n    global.set(\"deviceProfile_4_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_4', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_4_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_4_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_4_Index');\n        index += 1;\n        global.set('deviceProfile_4_Index', index);\n        global.set('stop_deviceProfile_4', true);\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n        global.set('stop_deviceProfile_4', false);\n        global.set('deviceProfile_4_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1277,"wires":[["ecae57dd.8a5008"]]},{"id":"2f8259d3.940676","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-5","func":"var device_profile = global.get('deviceProfile_5');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_5_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_5_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_5_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_5_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-5')\n    global.set('deviceProfile_5_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_5_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_5_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_5_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_5_ReadIndex', index);  \n  global.set('stop_deviceProfile_5', false);\n  global.set('stop_to_read_deviceProfile_5_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    global.set('deviceProfile_5_ReadIndex', 0);\n    global.set(\"deviceProfile_5_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_5', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_5_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_5_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_5_Index');\n        index += 1;\n        global.set('deviceProfile_5_Index', index);\n        global.set('stop_deviceProfile_5', true);\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n        global.set('stop_deviceProfile_5', false);\n        global.set('deviceProfile_5_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1330,"wires":[["183a4450.da3c6c"]]},{"id":"38ea204e.657e3","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-6","func":"var device_profile = global.get('deviceProfile_6');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_6_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_6_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_6_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_6_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-6')\n    global.set('deviceProfile_6_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_6_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_6_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_6_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_6_ReadIndex', index);  \n  global.set('stop_deviceProfile_6', false);\n  global.set('stop_to_read_deviceProfile_6_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    global.set('deviceProfile_6_ReadIndex', 0);\n    global.set(\"deviceProfile_6_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_6', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_6_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_6_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_6_Index');\n        index += 1;\n        global.set('deviceProfile_6_Index', index);\n        global.set('stop_deviceProfile_6', true);\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n        global.set('stop_deviceProfile_6', false);\n        global.set('deviceProfile_6_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1385,"wires":[["bced5291.35894"]]},{"id":"88014f3f.4a78e","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1862,"y":1114,"wires":[["488a9f03.5ae37","82de78ec.ad4a18"]]},{"id":"d1781ec3.54dba","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1166,"wires":[["f652c352.112ac","82de78ec.ad4a18"]]},{"id":"d36d3714.552788","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1223,"wires":[["c90a12ef.db19c","82de78ec.ad4a18"]]},{"id":"ecae57dd.8a5008","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1277,"wires":[["e678abb2.5a5278","82de78ec.ad4a18"]]},{"id":"183a4450.da3c6c","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1330,"wires":[["60dc789f.fcd008","82de78ec.ad4a18"]]},{"id":"bced5291.35894","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1865,"y":1385,"wires":[["39723580.73d7fa","82de78ec.ad4a18"]]},{"id":"ba0d883d.fb8bb8","type":"complete","z":"dca8d477.daa058","name":"Device Profile-1","scope":["f6f893c5.208f2"],"uncaught":false,"x":592,"y":333,"wires":[["fdd123f6.6622e"]]},{"id":"fdd123f6.6622e","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":744,"y":333,"wires":[["a819eec3.b1341"]]},{"id":"78ff1c7e.ce29a4","type":"complete","z":"dca8d477.daa058","name":"Device Profile-2","scope":["92d1efbf.c167a"],"uncaught":false,"x":592,"y":386,"wires":[["d65ef0a7.0abc5"]]},{"id":"d65ef0a7.0abc5","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":386,"wires":[["6fe25fa6.5c4ae"]]},{"id":"26015312.1bcffc","type":"complete","z":"dca8d477.daa058","name":"Device Profile-3","scope":["f744bc6c.fb7f3"],"uncaught":false,"x":592,"y":438,"wires":[["b5b3308c.2423"]]},{"id":"b5b3308c.2423","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":438,"wires":[["bfaec8f0.ea8618"]]},{"id":"ab1c5471.b1dfd8","type":"complete","z":"dca8d477.daa058","name":"Device Profile-4","scope":["31a742a9.329fce"],"uncaught":false,"x":592,"y":493,"wires":[["e66a15f1.a492c8"]]},{"id":"e66a15f1.a492c8","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":493,"wires":[["69a3dae.a6eba24"]]},{"id":"e851e54a.66b2a8","type":"complete","z":"dca8d477.daa058","name":"Device Profile-5","scope":["2f8259d3.940676"],"uncaught":false,"x":592,"y":546,"wires":[["ee55002.ae69e"]]},{"id":"ee55002.ae69e","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":546,"wires":[["1e978750.27c589"]]},{"id":"bfd134d1.787d48","type":"complete","z":"dca8d477.daa058","name":"Device Profile-6","scope":["38ea204e.657e3"],"uncaught":false,"x":592,"y":598,"wires":[["1905b2e5.f4cbcd"]]},{"id":"1905b2e5.f4cbcd","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":598,"wires":[["53ec5298.6fdc8c"]]},{"id":"e47afa85.77e4b8","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-1","scope":["f6f893c5.208f2"],"uncaught":false,"x":556,"y":1893,"wires":[["718d971a.73b658"]]},{"id":"718d971a.73b658","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":1893,"wires":[["a819eec3.b1341"]]},{"id":"21cc8569.55779a","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-2","scope":["92d1efbf.c167a"],"uncaught":false,"x":555,"y":1946,"wires":[["f3feff47.8b8b3"]]},{"id":"f3feff47.8b8b3","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":742,"y":1946,"wires":[["6fe25fa6.5c4ae"]]},{"id":"7a7aa951.16fa08","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-3","scope":["f744bc6c.fb7f3"],"uncaught":false,"x":555,"y":1998,"wires":[["b4218a7b.970fd8"]]},{"id":"b4218a7b.970fd8","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":744,"y":1998,"wires":[["bfaec8f0.ea8618"]]},{"id":"677f5d52.e0b394","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-4","scope":["31a742a9.329fce"],"uncaught":false,"x":555,"y":2053,"wires":[["5d4db31c.c8cd4c"]]},{"id":"5d4db31c.c8cd4c","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_4_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2053,"wires":[["69a3dae.a6eba24"]]},{"id":"de0081c8.86e49","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-5","scope":["2f8259d3.940676"],"uncaught":false,"x":555,"y":2106,"wires":[["17dbcd2a.15a103"]]},{"id":"17dbcd2a.15a103","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_5_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2106,"wires":[["1e978750.27c589"]]},{"id":"488a9f03.5ae37","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2076,"y":1107,"wires":[]},{"id":"f652c352.112ac","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2076,"y":1154,"wires":[]},{"id":"c90a12ef.db19c","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2076,"y":1214,"wires":[]},{"id":"e678abb2.5a5278","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2076,"y":1274,"wires":[]},{"id":"60dc789f.fcd008","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2076,"y":1334,"wires":[]},{"id":"39723580.73d7fa","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2076,"y":1383,"wires":[]},{"id":"c5b9aac.df9b858","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-6","scope":["38ea204e.657e3"],"uncaught":false,"x":555,"y":2158,"wires":[["a51087f.e729678"]]},{"id":"a51087f.e729678","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_6_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2158,"wires":[["53ec5298.6fdc8c"]]},{"id":"67c402c4.35621c","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-7","scope":["a67a840f.f555d8"],"uncaught":false,"x":554,"y":2210,"wires":[["a0d0499a.ea1b98"]]},{"id":"a0d0499a.ea1b98","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_7_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2210,"wires":[["881c2508.e044e8"]]},{"id":"373a79e1.2567b6","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-8","scope":["cda1689f.9e7908"],"uncaught":false,"x":553,"y":2263,"wires":[["fbaeb0d8.8de8"]]},{"id":"fbaeb0d8.8de8","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_8_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2263,"wires":[["b85eadf6.9144"]]},{"id":"caecb00d.2551d","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-9","scope":["d70c2ce.48c63d"],"uncaught":false,"x":553,"y":2315,"wires":[["e6a44baf.e60388"]]},{"id":"e6a44baf.e60388","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_9_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2315,"wires":[["53c198c7.b24ec8"]]},{"id":"c1e287db.92f238","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-10","scope":["9e020abe.097ef8"],"uncaught":false,"x":553,"y":2370,"wires":[["9e0acf72.fa165"]]},{"id":"9e0acf72.fa165","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_10_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2370,"wires":[["e7ef5018.f8329"]]},{"id":"22101afc.ceeae6","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-11","scope":["8a08a033.6a3b1"],"uncaught":false,"x":553,"y":2423,"wires":[["ca9f46ed.40fb78"]]},{"id":"ca9f46ed.40fb78","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_11_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2423,"wires":[["85da9c64.62428"]]},{"id":"bebc28ac.a74568","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-12","scope":["ff227fd6.529c7"],"uncaught":false,"x":553,"y":2475,"wires":[["fb42831e.c86c4"]]},{"id":"fb42831e.c86c4","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_12_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":2475,"wires":[["246da08d.8c4df"]]},{"id":"7cbe5273.04f7ac","type":"complete","z":"dca8d477.daa058","name":"Device Profile-7","scope":["a67a840f.f555d8"],"uncaught":false,"x":592,"y":653,"wires":[["72d237ea.ea7888"]]},{"id":"72d237ea.ea7888","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":653,"wires":[["881c2508.e044e8"]]},{"id":"51a4f6c0.3f8318","type":"complete","z":"dca8d477.daa058","name":"Device Profile-8","scope":["cda1689f.9e7908"],"uncaught":false,"x":592,"y":706,"wires":[["d915c1f4.ed0c5"]]},{"id":"d915c1f4.ed0c5","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":706,"wires":[["b85eadf6.9144"]]},{"id":"31b44772.d8b458","type":"complete","z":"dca8d477.daa058","name":"Device Profile-9","scope":["d70c2ce.48c63d"],"uncaught":false,"x":592,"y":758,"wires":[["157ee9fc.a8b756"]]},{"id":"157ee9fc.a8b756","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":758,"wires":[["53c198c7.b24ec8"]]},{"id":"423a74ce.9f55cc","type":"complete","z":"dca8d477.daa058","name":"Device Profile-10","scope":["9e020abe.097ef8"],"uncaught":false,"x":592,"y":813,"wires":[["4a498a3a.d02fe4"]]},{"id":"4a498a3a.d02fe4","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":813,"wires":[["e7ef5018.f8329"]]},{"id":"1a668825.107f68","type":"complete","z":"dca8d477.daa058","name":"Device Profile-11","scope":["8a08a033.6a3b1"],"uncaught":false,"x":592,"y":866,"wires":[["1163b683.87d559"]]},{"id":"1163b683.87d559","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":866,"wires":[["85da9c64.62428"]]},{"id":"c74e6b98.cf5308","type":"complete","z":"dca8d477.daa058","name":"Device Profile-12","scope":["ff227fd6.529c7"],"uncaught":false,"x":592,"y":918,"wires":[["cb66783a.cc3588"]]},{"id":"cb66783a.cc3588","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":918,"wires":[["246da08d.8c4df"]]},{"id":"881c2508.e044e8","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-7","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_7');\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_7_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_7', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1436,"wires":[["bde91fd5.2a42b"]]},{"id":"b85eadf6.9144","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-8","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_8');\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_8_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_8', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1488,"wires":[["beadd81e.4bbc08"]]},{"id":"53c198c7.b24ec8","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-9","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_9');\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_9_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_9', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1544,"wires":[["ca61cd92.7fb5d"]]},{"id":"e7ef5018.f8329","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-10","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_10');\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_10_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_10', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":975,"y":1597,"wires":[["cad6df7c.6b0a6"]]},{"id":"85da9c64.62428","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-11","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_11');\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_11_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_11', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1649,"wires":[["e47893c9.ba8a"]]},{"id":"246da08d.8c4df","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-12","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_12');\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_12_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_12', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970.7142944335938,"y":1703.8571472167969,"wires":[["79cd4eaf.4c5d9"]]},{"id":"a67a840f.f555d8","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-7","func":"var device_profile = global.get('deviceProfile_7');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_7_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_7_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_7_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_7_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-7')\n    global.set('deviceProfile_7_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_7_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_7_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_7_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_7_ReadIndex', index);  \n  global.set('stop_deviceProfile_7', false);\n  global.set('stop_to_read_deviceProfile_7_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    global.set('deviceProfile_7_ReadIndex', 0);\n    global.set(\"deviceProfile_7_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_7', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_7_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_7_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_7_Index');\n        index += 1;\n        global.set('deviceProfile_7_Index', index);\n        global.set('stop_deviceProfile_7', true);\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n        global.set('stop_deviceProfile_7', false);\n        global.set('deviceProfile_7_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1644,"y":1435,"wires":[["bdb24791.739368"]]},{"id":"cda1689f.9e7908","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-8","func":"var device_profile = global.get('deviceProfile_8');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_8_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_8_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_8_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_8_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-8')\n    global.set('deviceProfile_8_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_8_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_8_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_8_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_8_ReadIndex', index);  \n  global.set('stop_deviceProfile_8', false);\n  global.set('stop_to_read_deviceProfile_8_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    global.set('deviceProfile_8_ReadIndex', 0);\n    global.set(\"deviceProfile_8_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_8', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_8_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_8_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_8_Index');\n        index += 1;\n        global.set('deviceProfile_8_Index', index);\n        global.set('stop_deviceProfile_8', true);\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n        global.set('stop_deviceProfile_8', false);\n        global.set('deviceProfile_8_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1646,"y":1488,"wires":[["7b636474.6b973c"]]},{"id":"d70c2ce.48c63d","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-9","func":"var device_profile = global.get('deviceProfile_9');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_9_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_9_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_9_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_9_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-9')\n    global.set('deviceProfile_9_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"length\": finalData.length / 5\n     }\n    }\n    global.set('deviceProfile_9_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_9_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_9_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_9_ReadIndex', index);  \n  global.set('stop_deviceProfile_9', false);\n  global.set('stop_to_read_deviceProfile_9_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    global.set('deviceProfile_9_ReadIndex', 0);\n    global.set(\"deviceProfile_9_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_9', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_9_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_9_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_9_Index');\n        index += 1;\n        global.set('deviceProfile_9_Index', index);\n        global.set('stop_deviceProfile_9', true);\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n        global.set('stop_deviceProfile_9', false);\n        global.set('deviceProfile_9_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1644,"y":1543,"wires":[["983956be.37f2f8"]]},{"id":"9e020abe.097ef8","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-10","func":"var device_profile = global.get('deviceProfile_10');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_10_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_10_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_10_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_10_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-10')\n    global.set('deviceProfile_10_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_10_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_10_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_10_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_10_ReadIndex', index);  \n  global.set('stop_deviceProfile_10', false);\n  global.set('stop_to_read_deviceProfile_10_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    global.set('deviceProfile_10_ReadIndex', 0);\n    global.set(\"deviceProfile_10_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_10', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_10_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_10_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_10_Index');\n        index += 1;\n        global.set('deviceProfile_10_Index', index);\n        global.set('stop_deviceProfile_10', true);\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n        global.set('stop_deviceProfile_10', false);\n        global.set('deviceProfile_10_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1656,"y":1597,"wires":[["346353af.3dbe7c"]]},{"id":"8a08a033.6a3b1","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-11","func":"var device_profile = global.get('deviceProfile_11');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_11_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_11_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_11_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_11_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-11')\n    global.set('deviceProfile_11_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_11_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_11_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_11_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_11_ReadIndex', index);  \n  global.set('stop_deviceProfile_11', false);\n  global.set('stop_to_read_deviceProfile_11_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    global.set('deviceProfile_11_ReadIndex', 0);\n    global.set(\"deviceProfile_11_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_11', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_11_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_11_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_11_Index');\n        index += 1;\n        global.set('deviceProfile_11_Index', index);\n        global.set('stop_deviceProfile_11', true);\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n        global.set('stop_deviceProfile_11', false);\n        global.set('deviceProfile_11_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1646,"y":1649,"wires":[["1c16f361.7d29ad"]]},{"id":"ff227fd6.529c7","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-12","func":"var device_profile = global.get('deviceProfile_12');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_12_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_12_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_12_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_12_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-12')\n    global.set('deviceProfile_12_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_12_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_12_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_12_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_12_ReadIndex', index);  \n  global.set('stop_deviceProfile_12', false);\n  global.set('stop_to_read_deviceProfile_12_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    global.set('deviceProfile_12_ReadIndex', 0);\n    global.set(\"deviceProfile_12_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_12', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_12_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_12_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_12_Index');\n        index += 1;\n        global.set('deviceProfile_12_Index', index);\n        global.set('stop_deviceProfile_12', true);\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n        global.set('stop_deviceProfile_12', false);\n        global.set('deviceProfile_12_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1656,"y":1704,"wires":[["5d4266eb.1261c8"]]},{"id":"bdb24791.739368","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1866,"y":1434.4285888671875,"wires":[["6eb84660.6b2e88","82de78ec.ad4a18"]]},{"id":"7b636474.6b973c","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1487.4285888671875,"wires":[["27a58429.97d56c","82de78ec.ad4a18"]]},{"id":"983956be.37f2f8","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1542.4285888671875,"wires":[["30bb24f1.0d840c","82de78ec.ad4a18"]]},{"id":"346353af.3dbe7c","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1597.4285888671875,"wires":[["41e6bb1c.4087f4","82de78ec.ad4a18"]]},{"id":"1c16f361.7d29ad","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1649.4285888671875,"wires":[["a9750db0.a7e0b","82de78ec.ad4a18"]]},{"id":"5d4266eb.1261c8","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1869,"y":1704.4285888671875,"wires":[["8567ccdc.62b45","82de78ec.ad4a18"]]},{"id":"6eb84660.6b2e88","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2071,"y":1432,"wires":[]},{"id":"27a58429.97d56c","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2071,"y":1479,"wires":[]},{"id":"30bb24f1.0d840c","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2071,"y":1539,"wires":[]},{"id":"41e6bb1c.4087f4","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2071,"y":1599,"wires":[]},{"id":"a9750db0.a7e0b","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2071,"y":1659,"wires":[]},{"id":"8567ccdc.62b45","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2071,"y":1708,"wires":[]},{"id":"4a6a9acd.a63074","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.102.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8257a6d9.963408","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1115,"wires":[["aef939f0.1c5098"],[]]},{"id":"f6d0181.b0f2fe8","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.102.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5009b41f.e6d6ec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1167,"wires":[["4de2b1b1.874b5"],[]]},{"id":"fbab177d.5db248","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.102.255.148","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"9f007b8.5308888","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1277,"wires":[["b7f99e4b.189c5"],[]]},{"id":"82de78ec.ad4a18","type":"change","z":"dca8d477.daa058","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2032,"y":967,"wires":[["626de436.cf008c"]]},{"id":"626de436.cf008c","type":"http request","z":"dca8d477.daa058","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.106.11.127/beta/rms/api/insertData?LD=1,172,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2223,"y":967,"wires":[["3b7155b8.4a00fa"]]},{"id":"3b7155b8.4a00fa","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2125,"y":1010,"wires":[]},{"id":"aef939f0.1c5098","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1113,"wires":[["f6f893c5.208f2"]]},{"id":"4de2b1b1.874b5","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1166,"wires":[["92d1efbf.c167a"]]},{"id":"df732c78.f2384","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1223,"wires":[["f744bc6c.fb7f3"]]},{"id":"b7f99e4b.189c5","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1277,"wires":[["31a742a9.329fce"]]},{"id":"54a3bc78.fdd084","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1384,"wires":[["38ea204e.657e3"]]},{"id":"de61b67a.996a28","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1329,"wires":[["2f8259d3.940676"]]},{"id":"3d6a3370.138e3c","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1435,"wires":[["a67a840f.f555d8"]]},{"id":"8f5c4cd9.20143","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1488,"wires":[["cda1689f.9e7908"]]},{"id":"e12b88a6.5a30c8","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1543,"wires":[["d70c2ce.48c63d"]]},{"id":"c97dcb4e.4af298","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1597,"wires":[["9e020abe.097ef8"]]},{"id":"4277c4d5.00ae7c","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1704,"wires":[["ff227fd6.529c7"]]},{"id":"b7585a78.ecc888","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1649,"wires":[["8a08a033.6a3b1"]]},{"id":"288ee9bc.198c66","type":"function","z":"dca8d477.daa058","name":"Dp-1 INV-1, MET-1, MET-2","func":"var deviceProfile_1 = [\n   {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 2,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":632,"y":1108,"wires":[["a819eec3.b1341"]]},{"id":"af287462.4de808","type":"function","z":"dca8d477.daa058","name":"Dp-2 INV-2, MET-3","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1160,"wires":[["6fe25fa6.5c4ae"]]},{"id":"64971dc6.fef0a4","type":"function","z":"dca8d477.daa058","name":"Dp-3 INV-3, MET-4","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []); \nglobal.set(\"deviceProfile_3_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1214,"wires":[["bfaec8f0.ea8618"]]},{"id":"d3743c31.c2ec6","type":"function","z":"dca8d477.daa058","name":"DP-4 INV-4, MET-5","func":"var deviceProfile_4 = [\n    {\n        deviceName: \"Inverter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_4', deviceProfile_4);\nglobal.set('deviceProfile_4_Index', 0);\nglobal.set('deviceProfile_4_ReadIndex', 0);\nglobal.set('deviceProfile_4_StoreData', []);  \nglobal.set(\"deviceProfile_4_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1267,"wires":[["69a3dae.a6eba24"]]},{"id":"e56782a5.2489a","type":"function","z":"dca8d477.daa058","name":"Dp-5 INV-5, MET-6","func":"var deviceProfile_5 = [\n    {\n        deviceName: \"Inverter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_5', deviceProfile_5);\nglobal.set('deviceProfile_5_Index', 0);\nglobal.set('deviceProfile_5_ReadIndex', 0);\nglobal.set('deviceProfile_5_StoreData', []); \nglobal.set(\"deviceProfile_5_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1320,"wires":[["1e978750.27c589"]]},{"id":"2f46b433.7adc6c","type":"function","z":"dca8d477.daa058","name":"Dp-6 INV-6, MET-7","func":"var deviceProfile_6 = [\n    {\n        deviceName: \"Inverter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_6', deviceProfile_6);\nglobal.set('deviceProfile_6_Index', 0);\nglobal.set('deviceProfile_6_ReadIndex', 0);\nglobal.set('deviceProfile_6_StoreData', []);  \nglobal.set(\"deviceProfile_6_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1374,"wires":[["53ec5298.6fdc8c"]]},{"id":"54804f3d.edb91","type":"function","z":"dca8d477.daa058","name":"Dp-7 INV-7","func":"var deviceProfile_7 = [\n    {\n        deviceName: \"Inverter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_7', deviceProfile_7);\nglobal.set('deviceProfile_7_Index', 0);\nglobal.set('deviceProfile_7_ReadIndex', 0);\nglobal.set('deviceProfile_7_StoreData', []);\nglobal.set(\"deviceProfile_7_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1428,"wires":[["881c2508.e044e8"]]},{"id":"523a7c54.a73ad4","type":"function","z":"dca8d477.daa058","name":"Dp-8 INV-8","func":"var deviceProfile_8 = [\n   {\n        deviceName: \"Inverter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_8', deviceProfile_8);\nglobal.set('deviceProfile_8_Index', 0);\nglobal.set('deviceProfile_8_ReadIndex', 0);\nglobal.set('deviceProfile_8_StoreData', []);\nglobal.set(\"deviceProfile_8_Count\", 0); \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1481,"wires":[["b85eadf6.9144"]]},{"id":"384e907e.b0f22","type":"function","z":"dca8d477.daa058","name":"Dp-9 INV-9","func":"var deviceProfile_9 = [\n    {\n        deviceName: \"Inverter-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_9', deviceProfile_9);\nglobal.set('deviceProfile_9_Index', 0);\nglobal.set('deviceProfile_9_ReadIndex', 0);\nglobal.set('deviceProfile_9_StoreData', []);  \nglobal.set(\"deviceProfile_9_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1535,"wires":[["53c198c7.b24ec8"]]},{"id":"d535177e.ae67a8","type":"function","z":"dca8d477.daa058","name":"Dp-10 INV-10","func":"var deviceProfile_10 = [\n   {\n        deviceName: \"Inverter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_10', deviceProfile_10);\nglobal.set('deviceProfile_10_Index', 0);\nglobal.set('deviceProfile_10_ReadIndex', 0);\nglobal.set('deviceProfile_10_StoreData', []);  \nglobal.set(\"deviceProfile_10_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":593,"y":1588,"wires":[["e7ef5018.f8329"]]},{"id":"3b83dfae.b4d86","type":"function","z":"dca8d477.daa058","name":"Dp-11 INV-11","func":"var deviceProfile_11 = [\n    {\n        deviceName: \"Inverter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_11', deviceProfile_11);\nglobal.set('deviceProfile_11_Index', 0);\nglobal.set('deviceProfile_11_ReadIndex', 0);\nglobal.set('deviceProfile_11_StoreData', []);  \nglobal.set(\"deviceProfile_11_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1641,"wires":[["85da9c64.62428"]]},{"id":"2ff08583.5c837a","type":"function","z":"dca8d477.daa058","name":"Dp-12 INV-12, MET-8","func":"var deviceProfile_12 = [\n    {\n        deviceName: \"Inverter-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_12', deviceProfile_12);\nglobal.set('deviceProfile_12_Index', 0);\nglobal.set('deviceProfile_12_ReadIndex', 0);\nglobal.set('deviceProfile_12_StoreData', []);  \nglobal.set(\"deviceProfile_12_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613,"y":1695,"wires":[["246da08d.8c4df"]]},{"id":"f6f893c5.208f2","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1643,"y":1113,"wires":[["88014f3f.4a78e"]]},{"id":"b77feedd.37a85","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.102.255.146","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5ea4860f.5b8e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1184.71435546875,"y":1220.2857055664062,"wires":[["df732c78.f2384"],[]]},{"id":"5bdc8a35.5bd2f4","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.102.255.150","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"3ff81ed2.197182","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190.2857666015625,"y":1329.4285888671875,"wires":[["de61b67a.996a28"],[]]},{"id":"c41abc2.b93124","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.102.255.152","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"bcd1d9bb.5e11a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1188,"y":1382,"wires":[["54a3bc78.fdd084"],[]]},{"id":"bde91fd5.2a42b","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.105.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"ced8cc9c.13bbc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1188,"y":1435,"wires":[["3d6a3370.138e3c"],[]]},{"id":"beadd81e.4bbc08","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.105.255.145","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8cd00bfe.257fc8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1187.142822265625,"y":1488.4285888671875,"wires":[["8f5c4cd9.20143"],[]]},{"id":"ca61cd92.7fb5d","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.105.255.143","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"2fb91adc.344016","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1189,"y":1544,"wires":[["e12b88a6.5a30c8"],[]]},{"id":"cad6df7c.6b0a6","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.105.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c9e81ed5.38d47","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192.71435546875,"y":1596.71435546875,"wires":[["c97dcb4e.4af298"],[]]},{"id":"e47893c9.ba8a","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.105.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"7e3c9331.5d8bac","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1193,"y":1647.5714111328125,"wires":[["b7585a78.ecc888"],[]]},{"id":"79cd4eaf.4c5d9","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.105.255.142","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"bf1ffa11.d73808","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192.5714111328125,"y":1704,"wires":[["4277c4d5.00ae7c"],[]]},{"id":"c71cc6b5.8b8d58","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-13","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_13');\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_13_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_13', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":969,"y":1763,"wires":[["32b627cc.22f9b8"]]},{"id":"122ddf5a.e5e251","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-13","func":"var device_profile = global.get('deviceProfile_13');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_13_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_13_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_13_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_13_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-13')\n    global.set('deviceProfile_13_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_13_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_13_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_13_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_13_ReadIndex', index);  \n  global.set('stop_deviceProfile_13', false);\n  global.set('stop_to_read_deviceProfile_13_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    global.set('deviceProfile_13_ReadIndex', 0);\n    global.set(\"deviceProfile_13_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_13', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_13_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_13_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_13_Index');\n        index += 1;\n        global.set('deviceProfile_13_Index', index);\n        global.set('stop_deviceProfile_13', true);\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n        global.set('stop_deviceProfile_13', false);\n        global.set('deviceProfile_13_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1654.2857055664062,"y":1763.1428527832031,"wires":[["d14c9b1.3e60b68"]]},{"id":"d14c9b1.3e60b68","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867.2857055664062,"y":1763.5714416503906,"wires":[["9d94ef05.be57f","82de78ec.ad4a18"]]},{"id":"9d94ef05.be57f","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2069.2857055664062,"y":1767.1428527832031,"wires":[]},{"id":"1854cb12.90f6b5","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1387.2857055664062,"y":1763.1428527832031,"wires":[["122ddf5a.e5e251"]]},{"id":"cf485095.41247","type":"function","z":"dca8d477.daa058","name":"Dp-13 INV-13, MET-9","func":"var deviceProfile_13 = [\n     {\n        deviceName: \"Inverter-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    // {\n    //     deviceName: \"Meter-9\",\n    //     deviceProfile: {\n    //         deviceNo: 9,\n    //         deviceType: 182\n    //     },\n    //     read: {\n    //         slaveID: 1,\n    //          regAdd: [\n    //                 // Start 32 bits\n    //                 {\n    //                     fc: 3,\n    //                     address: 2699,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     address: 2999,\n    //                     quantity: 6\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     address: 3009,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     address: 3059,\n    //                     quantity: 2\n    //                 }\n    //             ]\n    //     }\n    // }\n    ]\n\nglobal.set('deviceProfile_13', deviceProfile_13);\nglobal.set('deviceProfile_13_Index', 0);\nglobal.set('deviceProfile_13_ReadIndex', 0);\nglobal.set('deviceProfile_13_StoreData', []);  \nglobal.set(\"deviceProfile_13_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":612.2857055664062,"y":1753.1428527832031,"wires":[["c71cc6b5.8b8d58"]]},{"id":"32b627cc.22f9b8","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.117.127.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5c81193b.e7a028","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190.8571166992188,"y":1763.1428527832031,"wires":[["1854cb12.90f6b5"],[]]},{"id":"20ef87bb.022c98","type":"function","z":"dca8d477.daa058","name":"Read Device Profile-14","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_14');\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_14_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_14', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1819,"wires":[["e0790d57.fa9c4"]]},{"id":"82ccd521.a82c08","type":"function","z":"dca8d477.daa058","name":"Display data DeviceProfile-14","func":"var device_profile = global.get('deviceProfile_14');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_14_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_14_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_14_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_14_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-14')\n    global.set('deviceProfile_14_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_14_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_14_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_14_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_14_ReadIndex', index);  \n  global.set('stop_deviceProfile_14', false);\n  global.set('stop_to_read_deviceProfile_14_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    global.set('deviceProfile_14_ReadIndex', 0);\n    global.set(\"deviceProfile_14_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_14', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_14_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_14_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_14_Index');\n        index += 1;\n        global.set('deviceProfile_14_Index', index);\n        global.set('stop_deviceProfile_14', true);\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n        global.set('stop_deviceProfile_14', false);\n        global.set('deviceProfile_14_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655.2857055664062,"y":1819.1428527832031,"wires":[["53f2c1e4.4f91d"]]},{"id":"53f2c1e4.4f91d","type":"switch","z":"dca8d477.daa058","name":"","property":"send_Data_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1868.2857055664062,"y":1819.5714416503906,"wires":[["dc49481b.121f58","82de78ec.ad4a18"]]},{"id":"dc49481b.121f58","type":"debug","z":"dca8d477.daa058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2070.2857055664062,"y":1823.1428527832031,"wires":[]},{"id":"7dc115e5.77f6cc","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1388.2857055664062,"y":1819.1428527832031,"wires":[["82ccd521.a82c08"]]},{"id":"12a48967.4663f7","type":"function","z":"dca8d477.daa058","name":"Dp-14 INV-14, INV-15, MET-10, MET-11","func":"var deviceProfile_14 = [\n   {\n        deviceName: \"Inverter-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Inverter-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 3,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 4,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_14', deviceProfile_14);\nglobal.set('deviceProfile_14_Index', 0);\nglobal.set('deviceProfile_14_ReadIndex', 0);\nglobal.set('deviceProfile_14_StoreData', []);  \nglobal.set(\"deviceProfile_14_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":633.2857055664062,"y":1818.1428527832031,"wires":[["20ef87bb.022c98"]]},{"id":"23546899.4032e8","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-13","scope":["122ddf5a.e5e251"],"uncaught":false,"x":552,"y":2523,"wires":[["1a9ef057.c173c"]]},{"id":"1a9ef057.c173c","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_13_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2523,"wires":[["c71cc6b5.8b8d58"]]},{"id":"fb33db85.f78b78","type":"complete","z":"dca8d477.daa058","name":"Read Device Profile-14","scope":["82ccd521.a82c08"],"uncaught":false,"x":552,"y":2576,"wires":[["d5deb869.11e7e8"]]},{"id":"d5deb869.11e7e8","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_to_read_deviceProfile_14_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2576,"wires":[["20ef87bb.022c98"]]},{"id":"599f34ef.8ae14c","type":"complete","z":"dca8d477.daa058","name":"Device Profile-13","scope":["122ddf5a.e5e251"],"uncaught":false,"x":594,"y":967,"wires":[["31f231f.bab42ce"]]},{"id":"31f231f.bab42ce","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":967,"wires":[["c71cc6b5.8b8d58"]]},{"id":"d4525b1d.d070f8","type":"complete","z":"dca8d477.daa058","name":"Device Profile-14","scope":["82ccd521.a82c08"],"uncaught":false,"x":594,"y":1016,"wires":[["d15d595e.a0e698"]]},{"id":"d15d595e.a0e698","type":"switch","z":"dca8d477.daa058","name":"","property":"stop_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1016,"wires":[["20ef87bb.022c98"]]},{"id":"e0790d57.fa9c4","type":"modbus-flex-getter","z":"dca8d477.daa058","name":"10.117.127.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"cef71df.d6d6de","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192,"y":1824,"wires":[["7dc115e5.77f6cc"],[]]},{"id":"6c6feebb.2ad44","type":"catch","z":"dca8d477.daa058","name":"","scope":null,"uncaught":false,"x":100,"y":136,"wires":[["194b7396.f7dd5c"]]},{"id":"c5625f91.790dc","type":"switch","z":"dca8d477.daa058","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":223,"wires":[["21bf5b0b.7df2b4"],["ce2f1bc8.51fce8"]]},{"id":"21bf5b0b.7df2b4","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":191,"wires":[["c0a2460a.5a57a8"]]},{"id":"b8043df.aee9fc","type":"switch","z":"dca8d477.daa058","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"},{"t":"eq","v":"RD_Profile4","vt":"str"},{"t":"eq","v":"RD_Profile5","vt":"str"},{"t":"eq","v":"RD_Profile6","vt":"str"},{"t":"eq","v":"RD_Profile7","vt":"str"},{"t":"eq","v":"RD_Profile8","vt":"str"},{"t":"eq","v":"RD_Profile9","vt":"str"},{"t":"eq","v":"RD_Profile10","vt":"str"},{"t":"eq","v":"RD_Profile11","vt":"str"},{"t":"eq","v":"RD_Profile12","vt":"str"},{"t":"eq","v":"RD_Profile13","vt":"str"},{"t":"eq","v":"RD_Profile14","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":740,"y":193,"wires":[["a819eec3.b1341"],["6fe25fa6.5c4ae"],["bfaec8f0.ea8618"],["69a3dae.a6eba24"],["1e978750.27c589"],["53ec5298.6fdc8c"],["881c2508.e044e8"],["b85eadf6.9144"],["53c198c7.b24ec8"],["e7ef5018.f8329"],["85da9c64.62428"],["246da08d.8c4df"],["c71cc6b5.8b8d58"],["20ef87bb.022c98"]]},{"id":"ce2f1bc8.51fce8","type":"delay","z":"dca8d477.daa058","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":339,"y":256,"wires":[["df6a15a3.ef3408"]]},{"id":"c0a2460a.5a57a8","type":"function","z":"dca8d477.daa058","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":543,"y":133,"wires":[["b8043df.aee9fc"]]},{"id":"df6a15a3.ef3408","type":"function","z":"dca8d477.daa058","name":"","func":"node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":246,"wires":[["b8043df.aee9fc"]]},{"id":"cb0cf3a9.be52b","type":"switch","z":"dca8d477.daa058","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":726,"y":55,"wires":[["37341047.6ec48","82de78ec.ad4a18"]]},{"id":"37341047.6ec48","type":"debug","z":"dca8d477.daa058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":55,"wires":[]},{"id":"194b7396.f7dd5c","type":"function","z":"dca8d477.daa058","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\n\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        if(errorCount != 2){\n            node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"10.102.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    //Inverter-1\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-1\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in MET-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-2');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n    //Meter-3\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.146\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-3\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-3');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n    //Meter-4\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-4');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.148\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-4\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-4');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n    //Meter-5\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-5');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.150\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-5\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-5');\n        deviceProfile_ErrorConfig(5);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(5);\n    }\n    //Meter-6\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-6');\n        deviceProfile_ErrorConfig(5);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(5);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.152\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-6\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-6');\n        deviceProfile_ErrorConfig(6);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(6);\n    }\n    //Meter-7\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-7');\n        deviceProfile_ErrorConfig(6);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(6);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-7\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-7');\n        deviceProfile_ErrorConfig(7);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(7);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.145\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-8\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-8');\n        deviceProfile_ErrorConfig(8);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(8);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.143\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-9\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-9');\n        deviceProfile_ErrorConfig(9);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(9);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-10\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-10');\n        deviceProfile_ErrorConfig(10);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(10);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-11\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-11');\n        deviceProfile_ErrorConfig(11);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(11);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.142\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-12\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-12');\n        deviceProfile_ErrorConfig(12);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(12);\n    }\n    //Meter-8\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-8');\n        deviceProfile_ErrorConfig(12);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(12);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.117.127.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-13\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-13');\n        deviceProfile_ErrorConfig(13);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(13);\n    }\n    \n    //Meter-9\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-9');\n        deviceProfile_ErrorConfig(13);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(13);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.117.127.141\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-14\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-14');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Inverter-15\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-15');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Meter-10\n    if(slaveID == 3){\n        node.warn('Error Occur in MET-10');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Meter-11\n    if(slaveID == 4){\n        node.warn('Error Occur in MET-11');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":292,"y":136,"wires":[["c5625f91.790dc","cb0cf3a9.be52b"]]},{"id":"8257a6d9.963408","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"5009b41f.e6d6ec","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"9f007b8.5308888","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.148","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"25","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"5ea4860f.5b8e28","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.146","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"3ff81ed2.197182","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.150","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"bcd1d9bb.5e11a8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.152","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"ced8cc9c.13bbc","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"8cd00bfe.257fc8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.145","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"2fb91adc.344016","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.143","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"c9e81ed5.38d47","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"7e3c9331.5d8bac","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"bf1ffa11.d73808","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.142","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"5c81193b.e7a028","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"cef71df.d6d6de","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]