IIT Kharagpur/final flow with Error handling with all IPS .txt
[{"id":"68aaefd2.69e8a","type":"tab","label":"Running Mode","disabled":false,"info":""},{"id":"37d0f739.e396e8","type":"inject","z":"68aaefd2.69e8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1563,"wires":[["8e8313db.4e938","a03476ad.d7e468","7e6554a2.25e7fc","81604d86.faaae","e51444b0.b9bff8","7b2c7045.20bb7","d1014c40.ee1f","799d09e9.c8a878","51b9bcd0.feb214","dc85d172.074eb","1ebdda6e.1438d6","7093062f.f73968","3abec4a9.e5a0fc","3c3b3d9a.7dc9d2","9477edd1.c34a4","3731941f.3231dc"]]},{"id":"9853c58e.bb91d8","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1250,"wires":[["88802632.3f2138"]]},{"id":"d08388fe.3157c8","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1302,"wires":[["de578514.349748"]]},{"id":"c78973e5.db60c","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1358,"wires":[["dc45e208.a971b"]]},{"id":"359d7230.e57b1e","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-4","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_4');\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_4_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_4', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1412,"wires":[["e5efc166.8aa27"]]},{"id":"4d8b9b7f.f23bb4","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-5","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_5');\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_5_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_5', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1465,"wires":[["85323978.177888"]]},{"id":"7177dc13.509aa4","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-6","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_6');\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_6_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_6', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960.7142944335938,"y":1517.8571472167969,"wires":[["df41870c.8da048"]]},{"id":"ff9b4b86.ce89c8","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1302,"wires":[["f37ff614.e5fa58"]]},{"id":"e461502.47459b","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-3')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1645,"y":1359,"wires":[["e72bf36a.4651b"]]},{"id":"6d6de939.f430b8","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-4","func":"var device_profile = global.get('deviceProfile_4');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_4_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_4_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_4_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_4_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-4')\n    global.set('deviceProfile_4_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_4_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_4_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_4_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_4_ReadIndex', index);  \n  global.set('stop_deviceProfile_4', false);\n  global.set('stop_to_read_deviceProfile_4_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    global.set('deviceProfile_4_ReadIndex', 0);\n    global.set(\"deviceProfile_4_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_4', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_4_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_4_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_4_Index');\n        index += 1;\n        global.set('deviceProfile_4_Index', index);\n        global.set('stop_deviceProfile_4', true);\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n        global.set('stop_deviceProfile_4', false);\n        global.set('deviceProfile_4_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1413,"wires":[["cff729b7.765688"]]},{"id":"bd5857bd.29dbb8","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-5","func":"var device_profile = global.get('deviceProfile_5');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_5_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_5_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_5_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_5_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-5')\n    global.set('deviceProfile_5_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_5_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_5_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_5_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_5_ReadIndex', index);  \n  global.set('stop_deviceProfile_5', false);\n  global.set('stop_to_read_deviceProfile_5_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    global.set('deviceProfile_5_ReadIndex', 0);\n    global.set(\"deviceProfile_5_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_5', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_5_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_5_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_5_Index');\n        index += 1;\n        global.set('deviceProfile_5_Index', index);\n        global.set('stop_deviceProfile_5', true);\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n        global.set('stop_deviceProfile_5', false);\n        global.set('deviceProfile_5_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1466,"wires":[["ead51384.28e4f"]]},{"id":"5851a511.70959c","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-6","func":"var device_profile = global.get('deviceProfile_6');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_6_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_6_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_6_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_6_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-6')\n    global.set('deviceProfile_6_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_6_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_6_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_6_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_6_ReadIndex', index);  \n  global.set('stop_deviceProfile_6', false);\n  global.set('stop_to_read_deviceProfile_6_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    global.set('deviceProfile_6_ReadIndex', 0);\n    global.set(\"deviceProfile_6_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_6', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_6_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_6_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_6_Index');\n        index += 1;\n        global.set('deviceProfile_6_Index', index);\n        global.set('stop_deviceProfile_6', true);\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n        global.set('stop_deviceProfile_6', false);\n        global.set('deviceProfile_6_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1521,"wires":[["a0c8170c.33b708"]]},{"id":"a1429288.f4e2d","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1862,"y":1250,"wires":[["538021a9.1cc9b","394b3a06.ad7be6"]]},{"id":"f37ff614.e5fa58","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1302,"wires":[["f5e26b34.a50fa8","394b3a06.ad7be6"]]},{"id":"e72bf36a.4651b","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1359,"wires":[["3eba2d32.71af12","394b3a06.ad7be6"]]},{"id":"cff729b7.765688","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1413,"wires":[["ce5b020a.37e85","394b3a06.ad7be6"]]},{"id":"ead51384.28e4f","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1466,"wires":[["fbb0fc16.a7a5d","394b3a06.ad7be6"]]},{"id":"a0c8170c.33b708","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1865,"y":1521,"wires":[["9698479.fb57cb8","394b3a06.ad7be6"]]},{"id":"89512b87.0ec328","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-1","scope":["e2b99151.4634"],"uncaught":false,"x":592,"y":350,"wires":[["fda604d.76b5ef8"]]},{"id":"fda604d.76b5ef8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":744,"y":350,"wires":[["9853c58e.bb91d8"]]},{"id":"4985e59e.d4543c","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-2","scope":["ff9b4b86.ce89c8"],"uncaught":false,"x":592,"y":403,"wires":[["13bfc4ac.ad04bb"]]},{"id":"13bfc4ac.ad04bb","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":403,"wires":[["d08388fe.3157c8"]]},{"id":"2b4f70e3.bfaa2","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-3","scope":["e461502.47459b"],"uncaught":false,"x":592,"y":455,"wires":[["1bac9647.9cd05a"]]},{"id":"1bac9647.9cd05a","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":455,"wires":[["c78973e5.db60c"]]},{"id":"c17da7a.dc31758","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-4","scope":["6d6de939.f430b8"],"uncaught":false,"x":592,"y":510,"wires":[["15c51e05.e6eea2"]]},{"id":"15c51e05.e6eea2","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":510,"wires":[["359d7230.e57b1e"]]},{"id":"36f1725f.10841e","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-5","scope":["bd5857bd.29dbb8"],"uncaught":false,"x":592,"y":563,"wires":[["d24503e3.10b75"]]},{"id":"d24503e3.10b75","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":563,"wires":[["4d8b9b7f.f23bb4"]]},{"id":"56a13c4.b6b60c4","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-6","scope":["5851a511.70959c"],"uncaught":false,"x":592,"y":615,"wires":[["d8d17a20.2331d8"]]},{"id":"d8d17a20.2331d8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":615,"wires":[["7177dc13.509aa4"]]},{"id":"c5a5b430.77c048","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-1","scope":["e2b99151.4634"],"uncaught":false,"x":560,"y":2165,"wires":[["c2dfedbf.937a4"]]},{"id":"c2dfedbf.937a4","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2165,"wires":[["9853c58e.bb91d8"]]},{"id":"8de57915.b060a8","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-2","scope":["ff9b4b86.ce89c8"],"uncaught":false,"x":559,"y":2218,"wires":[["db7cd728.b14b98"]]},{"id":"db7cd728.b14b98","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":2218,"wires":[["d08388fe.3157c8"]]},{"id":"e7a00962.8b7838","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-3","scope":["e461502.47459b"],"uncaught":false,"x":559,"y":2270,"wires":[["637ae76.d0a5218"]]},{"id":"637ae76.d0a5218","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":2270,"wires":[["c78973e5.db60c"]]},{"id":"76edf72f.7d53e8","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-4","scope":["6d6de939.f430b8"],"uncaught":false,"x":559,"y":2325,"wires":[["af045bc0.0d70c8"]]},{"id":"af045bc0.0d70c8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_4_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":751,"y":2325,"wires":[["359d7230.e57b1e"]]},{"id":"bb9742c5.416dd","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-5","scope":["bd5857bd.29dbb8"],"uncaught":false,"x":559,"y":2378,"wires":[["3c2f0452.3bff8c"]]},{"id":"3c2f0452.3bff8c","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_5_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":754,"y":2378,"wires":[["4d8b9b7f.f23bb4"]]},{"id":"538021a9.1cc9b","type":"debug","z":"68aaefd2.69e8a","name":"10.102.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1243,"wires":[]},{"id":"f5e26b34.a50fa8","type":"debug","z":"68aaefd2.69e8a","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1290,"wires":[]},{"id":"3eba2d32.71af12","type":"debug","z":"68aaefd2.69e8a","name":"10.102.255.146","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1350,"wires":[]},{"id":"ce5b020a.37e85","type":"debug","z":"68aaefd2.69e8a","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1410,"wires":[]},{"id":"fbb0fc16.a7a5d","type":"debug","z":"68aaefd2.69e8a","name":"10.102.255.150","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1470,"wires":[]},{"id":"9698479.fb57cb8","type":"debug","z":"68aaefd2.69e8a","name":"10.102.255.152","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1519,"wires":[]},{"id":"fa12fa11.9de328","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-6","scope":["5851a511.70959c"],"uncaught":false,"x":559,"y":2430,"wires":[["a0d79f3.e2eeb6"]]},{"id":"a0d79f3.e2eeb6","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_6_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":753,"y":2430,"wires":[["7177dc13.509aa4"]]},{"id":"dc4eaa58.c654b8","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-7","scope":["e43d78d4.6b0068"],"uncaught":false,"x":558,"y":2482,"wires":[["6a53ed78.b65794"]]},{"id":"6a53ed78.b65794","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_7_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":751,"y":2482,"wires":[["200697df.f27de8"]]},{"id":"d1cd68cf.cf1c88","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-8","scope":["efd8811a.62e6b"],"uncaught":false,"x":557,"y":2535,"wires":[["1d00074e.20bdf9"]]},{"id":"1d00074e.20bdf9","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_8_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":753,"y":2535,"wires":[["bd2e1b24.73da98"]]},{"id":"dfcb9a26.2d5be8","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-9","scope":["4dcd6c8d.0353a4"],"uncaught":false,"x":557,"y":2587,"wires":[["39c24df6.d9a142"]]},{"id":"39c24df6.d9a142","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_9_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":753,"y":2587,"wires":[["212573f.731898c"]]},{"id":"69c79c2.251db64","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-10","scope":["535ffde3.4122d4"],"uncaught":false,"x":557,"y":2642,"wires":[["3494ee18.60f622"]]},{"id":"3494ee18.60f622","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_10_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":753,"y":2642,"wires":[["7ce6972.dd27768"]]},{"id":"dd73c80.b18e038","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-11","scope":["4182bcbe.dec254"],"uncaught":false,"x":557,"y":2695,"wires":[["5bd2ecc5.c67124"]]},{"id":"5bd2ecc5.c67124","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_11_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":751,"y":2695,"wires":[["8d6361b.0b3f3a"]]},{"id":"c868dd3d.11e44","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-12","scope":["762bf4ca.774ddc"],"uncaught":false,"x":557,"y":2747,"wires":[["de34629b.3e00b"]]},{"id":"de34629b.3e00b","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_12_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2747,"wires":[["86cc9714.22d348"]]},{"id":"ad042b77.043b68","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-7","scope":["e43d78d4.6b0068"],"uncaught":false,"x":592,"y":670,"wires":[["9305a7c0.d8a988"]]},{"id":"9305a7c0.d8a988","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":670,"wires":[["200697df.f27de8"]]},{"id":"fa27cb88.528868","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-8","scope":["efd8811a.62e6b"],"uncaught":false,"x":592,"y":723,"wires":[["902497f2.7d7988"]]},{"id":"902497f2.7d7988","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":723,"wires":[["bd2e1b24.73da98"]]},{"id":"c2c1bb51.c2e258","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-9","scope":["4dcd6c8d.0353a4"],"uncaught":false,"x":592,"y":775,"wires":[["ad8f97ff.279498"]]},{"id":"ad8f97ff.279498","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":775,"wires":[["212573f.731898c"]]},{"id":"ee69e102.618a6","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-10","scope":["535ffde3.4122d4"],"uncaught":false,"x":592,"y":830,"wires":[["75c29847.58bb98"]]},{"id":"75c29847.58bb98","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":830,"wires":[["7ce6972.dd27768"]]},{"id":"2193087e.590e88","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-11","scope":["4182bcbe.dec254"],"uncaught":false,"x":592,"y":883,"wires":[["54d83201.be37fc"]]},{"id":"54d83201.be37fc","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":883,"wires":[["8d6361b.0b3f3a"]]},{"id":"c0bfad6c.289b9","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-12","scope":["762bf4ca.774ddc"],"uncaught":false,"x":592,"y":935,"wires":[["f301f37.a06491"]]},{"id":"f301f37.a06491","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":935,"wires":[["86cc9714.22d348"]]},{"id":"200697df.f27de8","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-7","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_7');\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_7_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_7', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1572,"wires":[["ea199b60.e9f688"]]},{"id":"bd2e1b24.73da98","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-8","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_8');\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_8_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_8', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1624,"wires":[["da19608c.db464"]]},{"id":"212573f.731898c","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-9","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_9');\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_9_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_9', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1680,"wires":[["af2aaadc.1afa58"]]},{"id":"7ce6972.dd27768","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-10","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_10');\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_10_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_10', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":975,"y":1733,"wires":[["a92e21b8.92749"]]},{"id":"8d6361b.0b3f3a","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-11","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_11');\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_11_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_11', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1785,"wires":[["aa9cdd59.860d4"]]},{"id":"86cc9714.22d348","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-12","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_12');\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_12_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_12', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970.7142944335938,"y":1839.8571472167969,"wires":[[]]},{"id":"e43d78d4.6b0068","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-7","func":"var device_profile = global.get('deviceProfile_7');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_7_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_7_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_7_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_7_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-7')\n    global.set('deviceProfile_7_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_7_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_7_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_7_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_7_ReadIndex', index);  \n  global.set('stop_deviceProfile_7', false);\n  global.set('stop_to_read_deviceProfile_7_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    global.set('deviceProfile_7_ReadIndex', 0);\n    global.set(\"deviceProfile_7_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_7', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_7_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_7_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_7_Index');\n        index += 1;\n        global.set('deviceProfile_7_Index', index);\n        global.set('stop_deviceProfile_7', true);\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n        global.set('stop_deviceProfile_7', false);\n        global.set('deviceProfile_7_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1644,"y":1571,"wires":[["4af35cfb.692b24"]]},{"id":"efd8811a.62e6b","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-8","func":"var device_profile = global.get('deviceProfile_8');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_8_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_8_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_8_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_8_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-8')\n    global.set('deviceProfile_8_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_8_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_8_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_8_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_8_ReadIndex', index);  \n  global.set('stop_deviceProfile_8', false);\n  global.set('stop_to_read_deviceProfile_8_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    global.set('deviceProfile_8_ReadIndex', 0);\n    global.set(\"deviceProfile_8_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_8', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_8_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_8_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_8_Index');\n        index += 1;\n        global.set('deviceProfile_8_Index', index);\n        global.set('stop_deviceProfile_8', true);\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n        global.set('stop_deviceProfile_8', false);\n        global.set('deviceProfile_8_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1646,"y":1624,"wires":[["b59dfd12.d4f8b"]]},{"id":"4dcd6c8d.0353a4","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-9","func":"var device_profile = global.get('deviceProfile_9');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_9_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_9_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_9_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_9_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-9')\n    global.set('deviceProfile_9_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n    // global.set('ip141_Data', msg.payloadData);\n    \n    global.set('deviceProfile_9_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_9_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_9_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_9_ReadIndex', index);  \n  global.set('stop_deviceProfile_9', false);\n  global.set('stop_to_read_deviceProfile_9_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    global.set('deviceProfile_9_ReadIndex', 0);\n    global.set(\"deviceProfile_9_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_9', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_9_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_9_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_9_Index');\n        index += 1;\n        global.set('deviceProfile_9_Index', index);\n        global.set('stop_deviceProfile_9', true);\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n        global.set('stop_deviceProfile_9', false);\n        global.set('deviceProfile_9_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1644,"y":1679,"wires":[["5c33f947.5e1a68"]]},{"id":"535ffde3.4122d4","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-10","func":"var device_profile = global.get('deviceProfile_10');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_10_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_10_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_10_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_10_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-10')\n    global.set('deviceProfile_10_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('ip142_Data',  msg.payloadData);\n    \n    global.set('deviceProfile_10_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_10_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_10_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_10_ReadIndex', index);  \n  global.set('stop_deviceProfile_10', false);\n  global.set('stop_to_read_deviceProfile_10_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    global.set('deviceProfile_10_ReadIndex', 0);\n    global.set(\"deviceProfile_10_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_10', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_10_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_10_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_10_Index');\n        index += 1;\n        global.set('deviceProfile_10_Index', index);\n        global.set('stop_deviceProfile_10', true);\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n        global.set('stop_deviceProfile_10', false);\n        global.set('deviceProfile_10_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1656,"y":1733,"wires":[["829606d6.ee5678"]]},{"id":"4182bcbe.dec254","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-11","func":"//  let data = global.get('ip141_Data');\n// msg.payloadData = data;\n// // node.warn('----1')\n// msg.payloadData.request.DeviceNo = 11;\n// // msg.payloadData = msg.payloadData;\n// global.set('send_Data_deviceProfile_11', true);\n// return msg;\n\n\nvar device_profile = global.get('deviceProfile_11');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_11_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_11_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_11_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_11_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-11')\n    global.set('deviceProfile_11_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_11_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_11_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_11_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_11_ReadIndex', index);  \n  global.set('stop_deviceProfile_11', false);\n  global.set('stop_to_read_deviceProfile_11_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    global.set('deviceProfile_11_ReadIndex', 0);\n    global.set(\"deviceProfile_11_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_11', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_11_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_11_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_11_Index');\n        index += 1;\n        global.set('deviceProfile_11_Index', index);\n        global.set('stop_deviceProfile_11', true);\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n        global.set('stop_deviceProfile_11', false);\n        global.set('deviceProfile_11_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1646,"y":1785,"wires":[["2d0779e8.18ca86"]]},{"id":"762bf4ca.774ddc","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-12","func":" let data = global.get('ip142_Data');\nmsg.payloadData = data;\n// node.warn('----1')\nmsg.payloadData.request.DeviceNo = 12;\n// msg.payloadData = msg.payloadData;\nglobal.set('send_Data_deviceProfile_12', true);\nreturn msg;\n\n/*\nvar device_profile = global.get('deviceProfile_12');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_12_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_12_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_12_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_12_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-12')\n    global.set('deviceProfile_12_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_12_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_12_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_12_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_12_ReadIndex', index);  \n  global.set('stop_deviceProfile_12', false);\n  global.set('stop_to_read_deviceProfile_12_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    global.set('deviceProfile_12_ReadIndex', 0);\n    global.set(\"deviceProfile_12_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_12', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_12_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_12_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_12_Index');\n        index += 1;\n        global.set('deviceProfile_12_Index', index);\n        global.set('stop_deviceProfile_12', true);\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n        global.set('stop_deviceProfile_12', false);\n        global.set('deviceProfile_12_Count', null);\n    }\n}\n\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1656,"y":1840,"wires":[["b74d2432.00cc58"]]},{"id":"4af35cfb.692b24","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1866,"y":1570.4285888671875,"wires":[["91c26617.7f2b28","394b3a06.ad7be6"]]},{"id":"b59dfd12.d4f8b","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1623.4285888671875,"wires":[["4e68b6d2.816668","394b3a06.ad7be6"]]},{"id":"5c33f947.5e1a68","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1678.4285888671875,"wires":[["9f2e7881.6a6088","394b3a06.ad7be6"]]},{"id":"829606d6.ee5678","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1733.4285888671875,"wires":[["b279fcc6.cc3a2","394b3a06.ad7be6","3551de4b.720842"]]},{"id":"2d0779e8.18ca86","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1785.4285888671875,"wires":[["4cbd40c4.88e6c","394b3a06.ad7be6"]]},{"id":"b74d2432.00cc58","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1869,"y":1840.4285888671875,"wires":[["dcdefe44.579b6","394b3a06.ad7be6"]]},{"id":"91c26617.7f2b28","type":"debug","z":"68aaefd2.69e8a","name":"10.105.255.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1568,"wires":[]},{"id":"4e68b6d2.816668","type":"debug","z":"68aaefd2.69e8a","name":"10.105.255.145","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1619,"wires":[]},{"id":"9f2e7881.6a6088","type":"debug","z":"68aaefd2.69e8a","name":"10.105.255.143","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1675,"wires":[]},{"id":"b279fcc6.cc3a2","type":"debug","z":"68aaefd2.69e8a","name":"10.105.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1735,"wires":[]},{"id":"4cbd40c4.88e6c","type":"debug","z":"68aaefd2.69e8a","name":"10.105.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1795,"wires":[]},{"id":"dcdefe44.579b6","type":"debug","z":"68aaefd2.69e8a","name":"10.105.255.142","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1844,"wires":[]},{"id":"88802632.3f2138","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.102.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8257a6d9.963408","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1251,"wires":[["38934e28.8bee12"],[]]},{"id":"de578514.349748","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.102.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5009b41f.e6d6ec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1303,"wires":[["bdcbadf4.d0ccc"],[]]},{"id":"e5efc166.8aa27","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.102.255.148","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"9f007b8.5308888","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1413,"wires":[["c4fb1786.6c7088"],[]]},{"id":"394b3a06.ad7be6","type":"change","z":"68aaefd2.69e8a","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1115,"wires":[["546e9712.3f95b8"]]},{"id":"546e9712.3f95b8","type":"http request","z":"68aaefd2.69e8a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.106.11.127/beta/rms/api/insertData?LD=1,172,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2231,"y":1115,"wires":[["7f1f8c24.f50fd4"]]},{"id":"7f1f8c24.f50fd4","type":"debug","z":"68aaefd2.69e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2133,"y":1158,"wires":[]},{"id":"38934e28.8bee12","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1249,"wires":[["e2b99151.4634"]]},{"id":"bdcbadf4.d0ccc","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1302,"wires":[["ff9b4b86.ce89c8"]]},{"id":"ba280c7f.27324","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1359,"wires":[["e461502.47459b"]]},{"id":"c4fb1786.6c7088","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1413,"wires":[["6d6de939.f430b8"]]},{"id":"27dcb6b2.f7476a","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1520,"wires":[["5851a511.70959c"]]},{"id":"f98b0a35.602a28","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1465,"wires":[["bd5857bd.29dbb8"]]},{"id":"a9525eee.61c89","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1571,"wires":[["e43d78d4.6b0068"]]},{"id":"b43c07ca.16ba98","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1624,"wires":[["efd8811a.62e6b"]]},{"id":"17fc0e16.0cb742","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1679,"wires":[["4dcd6c8d.0353a4"]]},{"id":"7fe7549.745c6ac","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1733,"wires":[["535ffde3.4122d4"]]},{"id":"3551de4b.720842","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1840,"wires":[["762bf4ca.774ddc"]]},{"id":"c3d9dfe3.29019","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1785,"wires":[["4182bcbe.dec254"]]},{"id":"a03476ad.d7e468","type":"function","z":"68aaefd2.69e8a","name":"Dp-1 INV-1, MET-1, MET-2","func":"var deviceProfile_1 = [\n   {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 2,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":632,"y":1244,"wires":[["9853c58e.bb91d8"]]},{"id":"8e8313db.4e938","type":"function","z":"68aaefd2.69e8a","name":"Dp-2 INV-2, MET-3","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1296,"wires":[["d08388fe.3157c8"]]},{"id":"7e6554a2.25e7fc","type":"function","z":"68aaefd2.69e8a","name":"Dp-3 INV-3, MET-4","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []); \nglobal.set(\"deviceProfile_3_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1350,"wires":[["c78973e5.db60c"]]},{"id":"3c3b3d9a.7dc9d2","type":"function","z":"68aaefd2.69e8a","name":"DP-4 INV-4, MET-5","func":"var deviceProfile_4 = [\n    {\n        deviceName: \"Inverter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_4', deviceProfile_4);\nglobal.set('deviceProfile_4_Index', 0);\nglobal.set('deviceProfile_4_ReadIndex', 0);\nglobal.set('deviceProfile_4_StoreData', []);  \nglobal.set(\"deviceProfile_4_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1403,"wires":[["359d7230.e57b1e"]]},{"id":"81604d86.faaae","type":"function","z":"68aaefd2.69e8a","name":"Dp-5 INV-5, MET-6","func":"var deviceProfile_5 = [\n    {\n        deviceName: \"Inverter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_5', deviceProfile_5);\nglobal.set('deviceProfile_5_Index', 0);\nglobal.set('deviceProfile_5_ReadIndex', 0);\nglobal.set('deviceProfile_5_StoreData', []); \nglobal.set(\"deviceProfile_5_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1456,"wires":[["4d8b9b7f.f23bb4"]]},{"id":"e51444b0.b9bff8","type":"function","z":"68aaefd2.69e8a","name":"Dp-6 INV-6, MET-7","func":"var deviceProfile_6 = [\n    {\n        deviceName: \"Inverter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_6', deviceProfile_6);\nglobal.set('deviceProfile_6_Index', 0);\nglobal.set('deviceProfile_6_ReadIndex', 0);\nglobal.set('deviceProfile_6_StoreData', []);  \nglobal.set(\"deviceProfile_6_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1510,"wires":[["7177dc13.509aa4"]]},{"id":"dc85d172.074eb","type":"function","z":"68aaefd2.69e8a","name":"Dp-7 INV-7","func":"var deviceProfile_7 = [\n    {\n        deviceName: \"Inverter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_7', deviceProfile_7);\nglobal.set('deviceProfile_7_Index', 0);\nglobal.set('deviceProfile_7_ReadIndex', 0);\nglobal.set('deviceProfile_7_StoreData', []);\nglobal.set(\"deviceProfile_7_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1564,"wires":[["200697df.f27de8"]]},{"id":"51b9bcd0.feb214","type":"function","z":"68aaefd2.69e8a","name":"Dp-8 INV-8","func":"var deviceProfile_8 = [\n   {\n        deviceName: \"Inverter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_8', deviceProfile_8);\nglobal.set('deviceProfile_8_Index', 0);\nglobal.set('deviceProfile_8_ReadIndex', 0);\nglobal.set('deviceProfile_8_StoreData', []);\nglobal.set(\"deviceProfile_8_Count\", 0); \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1617,"wires":[["bd2e1b24.73da98"]]},{"id":"799d09e9.c8a878","type":"function","z":"68aaefd2.69e8a","name":"Dp-9 INV-9","func":"var deviceProfile_9 = [\n    {\n        deviceName: \"Inverter-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_9', deviceProfile_9);\nglobal.set('deviceProfile_9_Index', 0);\nglobal.set('deviceProfile_9_ReadIndex', 0);\nglobal.set('deviceProfile_9_StoreData', []);  \nglobal.set(\"deviceProfile_9_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1671,"wires":[["212573f.731898c"]]},{"id":"1ebdda6e.1438d6","type":"function","z":"68aaefd2.69e8a","name":"Dp-10 INV-10","func":"var deviceProfile_10 = [\n   {\n        deviceName: \"Inverter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_10', deviceProfile_10);\nglobal.set('deviceProfile_10_Index', 0);\nglobal.set('deviceProfile_10_ReadIndex', 0);\nglobal.set('deviceProfile_10_StoreData', []);  \nglobal.set(\"deviceProfile_10_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":593,"y":1724,"wires":[["7ce6972.dd27768"]]},{"id":"7093062f.f73968","type":"function","z":"68aaefd2.69e8a","name":"Dp-11 INV-11","func":"var deviceProfile_11 = [\n    {\n        deviceName: \"Inverter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_11', deviceProfile_11);\nglobal.set('deviceProfile_11_Index', 0);\nglobal.set('deviceProfile_11_ReadIndex', 0);\nglobal.set('deviceProfile_11_StoreData', []);  \nglobal.set(\"deviceProfile_11_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1777,"wires":[["8d6361b.0b3f3a"]]},{"id":"3abec4a9.e5a0fc","type":"function","z":"68aaefd2.69e8a","name":"Dp-12 INV-12, MET-8","func":"var deviceProfile_12 = [\n    {\n        deviceName: \"Inverter-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_12', deviceProfile_12);\nglobal.set('deviceProfile_12_Index', 0);\nglobal.set('deviceProfile_12_ReadIndex', 0);\nglobal.set('deviceProfile_12_StoreData', []);  \nglobal.set(\"deviceProfile_12_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613,"y":1831,"wires":[["86cc9714.22d348"]]},{"id":"e2b99151.4634","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1643,"y":1249,"wires":[["a1429288.f4e2d"]]},{"id":"dc45e208.a971b","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.102.255.146","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5ea4860f.5b8e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1184.71435546875,"y":1356.2857055664062,"wires":[["ba280c7f.27324"],[]]},{"id":"85323978.177888","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.102.255.150","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"3ff81ed2.197182","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190.2857666015625,"y":1465.4285888671875,"wires":[["f98b0a35.602a28"],[]]},{"id":"df41870c.8da048","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.102.255.152","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"bcd1d9bb.5e11a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1188,"y":1518,"wires":[["27dcb6b2.f7476a"],[]]},{"id":"ea199b60.e9f688","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.105.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"ced8cc9c.13bbc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1188,"y":1571,"wires":[["a9525eee.61c89"],[]]},{"id":"da19608c.db464","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.105.255.145","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8cd00bfe.257fc8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1187.142822265625,"y":1624.4285888671875,"wires":[["b43c07ca.16ba98"],[]]},{"id":"af2aaadc.1afa58","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.105.255.143","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"2fb91adc.344016","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1189,"y":1680,"wires":[["17fc0e16.0cb742"],[]]},{"id":"a92e21b8.92749","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.105.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c9e81ed5.38d47","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192.71435546875,"y":1732.71435546875,"wires":[["7fe7549.745c6ac"],[]]},{"id":"aa9cdd59.860d4","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.105.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"7e3c9331.5d8bac","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1193,"y":1783.5714111328125,"wires":[["c3d9dfe3.29019"],[]]},{"id":"22c22643.bef47a","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.105.255.142","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"bf1ffa11.d73808","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192.5714111328125,"y":1840,"wires":[[],[]]},{"id":"d4d03ab9.483ac8","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-13","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_13');\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_13_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_13', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":969,"y":1899,"wires":[["1448fda2.8fc2d2"]]},{"id":"2b9c0fbb.f134e","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-13","func":"var device_profile = global.get('deviceProfile_13');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_13_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_13_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_13_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_13_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-13')\n    global.set('deviceProfile_13_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_13_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_13_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_13_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_13_ReadIndex', index);  \n  global.set('stop_deviceProfile_13', false);\n  global.set('stop_to_read_deviceProfile_13_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    global.set('deviceProfile_13_ReadIndex', 0);\n    global.set(\"deviceProfile_13_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_13', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_13_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_13_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_13_Index');\n        index += 1;\n        global.set('deviceProfile_13_Index', index);\n        global.set('stop_deviceProfile_13', true);\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n        global.set('stop_deviceProfile_13', false);\n        global.set('deviceProfile_13_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1654.2857055664062,"y":1899.1428527832031,"wires":[["770fcd11.0fffa4"]]},{"id":"770fcd11.0fffa4","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867.2857055664062,"y":1899.5714416503906,"wires":[["e6d74574.a27bc8","394b3a06.ad7be6"]]},{"id":"e6d74574.a27bc8","type":"debug","z":"68aaefd2.69e8a","name":"10.117.127.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2059.2857055664062,"y":1903.1428527832031,"wires":[]},{"id":"bfb6ea5d.1c9ee8","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1387.2857055664062,"y":1899.1428527832031,"wires":[["2b9c0fbb.f134e"]]},{"id":"7b2c7045.20bb7","type":"function","z":"68aaefd2.69e8a","name":"Dp-13 INV-13, MET-9","func":"var deviceProfile_13 = [\n     {\n        deviceName: \"Inverter-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_13', deviceProfile_13);\nglobal.set('deviceProfile_13_Index', 0);\nglobal.set('deviceProfile_13_ReadIndex', 0);\nglobal.set('deviceProfile_13_StoreData', []);  \nglobal.set(\"deviceProfile_13_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":612.2857055664062,"y":1889.1428527832031,"wires":[["d4d03ab9.483ac8"]]},{"id":"1448fda2.8fc2d2","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.117.127.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5c81193b.e7a028","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190.8571166992188,"y":1899.1428527832031,"wires":[["bfb6ea5d.1c9ee8"],[]]},{"id":"de82c763.ee7798","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-14","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_14');\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_14_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_14', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1955,"wires":[["325a4066.3ab33"]]},{"id":"5801b9f.8f07f48","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-14","func":"var device_profile = global.get('deviceProfile_14');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_14_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_14_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_14_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_14_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-14')\n    global.set('deviceProfile_14_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_14_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_14_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_14_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_14_ReadIndex', index);  \n  global.set('stop_deviceProfile_14', false);\n  global.set('stop_to_read_deviceProfile_14_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    global.set('deviceProfile_14_ReadIndex', 0);\n    global.set(\"deviceProfile_14_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_14', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_14_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_14_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_14_Index');\n        index += 1;\n        global.set('deviceProfile_14_Index', index);\n        global.set('stop_deviceProfile_14', true);\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n        global.set('stop_deviceProfile_14', false);\n        global.set('deviceProfile_14_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655.2857055664062,"y":1955.1428527832031,"wires":[["efa55469.6024c8"]]},{"id":"efa55469.6024c8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1868.2857055664062,"y":1955.5714416503906,"wires":[["9b2746e2.69d128","394b3a06.ad7be6"]]},{"id":"9b2746e2.69d128","type":"debug","z":"68aaefd2.69e8a","name":"10.117.127.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2060.2857055664062,"y":1959.1428527832031,"wires":[]},{"id":"6a79e23e.8d1bbc","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1388.2857055664062,"y":1955.1428527832031,"wires":[["5801b9f.8f07f48"]]},{"id":"d1014c40.ee1f","type":"function","z":"68aaefd2.69e8a","name":"Dp-14 INV-14, INV-15, MET-10, MET-11","func":"var deviceProfile_14 = [\n   {\n        deviceName: \"Inverter-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Inverter-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 3,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 4,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_14', deviceProfile_14);\nglobal.set('deviceProfile_14_Index', 0);\nglobal.set('deviceProfile_14_ReadIndex', 0);\nglobal.set('deviceProfile_14_StoreData', []);  \nglobal.set(\"deviceProfile_14_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":633.2857055664062,"y":1954.1428527832031,"wires":[["de82c763.ee7798"]]},{"id":"5606bddb.a69594","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-13","scope":["2b9c0fbb.f134e"],"uncaught":false,"x":556,"y":2795,"wires":[["dd5fb8b4.d2b5b8"]]},{"id":"dd5fb8b4.d2b5b8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_13_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":751,"y":2795,"wires":[["d4d03ab9.483ac8"]]},{"id":"863f0e1b.465ec","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-14","scope":["5801b9f.8f07f48"],"uncaught":false,"x":556,"y":2848,"wires":[["f927f144.95ad"]]},{"id":"f927f144.95ad","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_14_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":751,"y":2848,"wires":[["de82c763.ee7798"]]},{"id":"da3e614a.7304e","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-13","scope":["2b9c0fbb.f134e"],"uncaught":false,"x":594,"y":984,"wires":[["92eaeb64.53eab8"]]},{"id":"92eaeb64.53eab8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":984,"wires":[["d4d03ab9.483ac8"]]},{"id":"9d2c61ac.54733","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-14","scope":["5801b9f.8f07f48"],"uncaught":false,"x":594,"y":1033,"wires":[["9dc0a724.6e93a8"]]},{"id":"9dc0a724.6e93a8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1033,"wires":[["de82c763.ee7798"]]},{"id":"325a4066.3ab33","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.117.127.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"cef71df.d6d6de","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192,"y":1960,"wires":[["6a79e23e.8d1bbc"],[]]},{"id":"b5a03434.bf6928","type":"catch","z":"68aaefd2.69e8a","name":"","scope":null,"uncaught":false,"x":100,"y":109,"wires":[["116bafc.50afc5","dcdaa8fc.b29f68"]]},{"id":"2edd1353.1f6c8c","type":"switch","z":"68aaefd2.69e8a","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":196,"wires":[["93171c11.41d66"],["3e4f2aee.2ad5c6"]]},{"id":"93171c11.41d66","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":164,"wires":[["45480142.926b7"]]},{"id":"dbec80cc.71b61","type":"switch","z":"68aaefd2.69e8a","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"},{"t":"eq","v":"RD_Profile4","vt":"str"},{"t":"eq","v":"RD_Profile5","vt":"str"},{"t":"eq","v":"RD_Profile6","vt":"str"},{"t":"eq","v":"RD_Profile7","vt":"str"},{"t":"eq","v":"RD_Profile8","vt":"str"},{"t":"eq","v":"RD_Profile9","vt":"str"},{"t":"eq","v":"RD_Profile10","vt":"str"},{"t":"eq","v":"RD_Profile11","vt":"str"},{"t":"eq","v":"RD_Profile12","vt":"str"},{"t":"eq","v":"RD_Profile13","vt":"str"},{"t":"eq","v":"RD_Profile14","vt":"str"},{"t":"eq","v":"RD_Profile15","vt":"str"},{"t":"eq","v":"RD_Profile16","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":740,"y":187,"wires":[["9853c58e.bb91d8"],["d08388fe.3157c8"],["c78973e5.db60c"],["359d7230.e57b1e"],["4d8b9b7f.f23bb4"],["7177dc13.509aa4"],["200697df.f27de8"],["bd2e1b24.73da98"],["212573f.731898c"],["7ce6972.dd27768"],["8d6361b.0b3f3a"],["86cc9714.22d348"],["d4d03ab9.483ac8"],["de82c763.ee7798"],["524eb9e6.4088d8"],["48c2cdbf.229714"]]},{"id":"3e4f2aee.2ad5c6","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":339,"y":229,"wires":[["5ef5524c.85938c"]]},{"id":"45480142.926b7","type":"function","z":"68aaefd2.69e8a","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":543,"y":153,"wires":[["dbec80cc.71b61"]]},{"id":"5ef5524c.85938c","type":"function","z":"68aaefd2.69e8a","name":"","func":"node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":541,"y":225,"wires":[["dbec80cc.71b61"]]},{"id":"df359989.3258f8","type":"switch","z":"68aaefd2.69e8a","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":726,"y":34,"wires":[["a38bfe44.f35ea","394b3a06.ad7be6"]]},{"id":"a38bfe44.f35ea","type":"debug","z":"68aaefd2.69e8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":34,"wires":[]},{"id":"116bafc.50afc5","type":"function","z":"68aaefd2.69e8a","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\n\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        if(errorCount != 2){\n            node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"10.102.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    //Inverter-1\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-1\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in MET-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-2');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n    //Meter-3\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.146\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-3\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-3');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n    //Meter-4\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-4');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.148\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-4\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-4');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n    //Meter-5\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-5');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.150\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-5\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-5');\n        deviceProfile_ErrorConfig(5);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(5);\n    }\n    //Meter-6\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-6');\n        deviceProfile_ErrorConfig(5);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(5);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.152\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-6\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-6');\n        deviceProfile_ErrorConfig(6);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(6);\n    }\n    //Meter-7\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-7');\n        deviceProfile_ErrorConfig(6);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(6);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-7\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-7');\n        deviceProfile_ErrorConfig(7);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(7);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.145\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-8\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-8');\n        deviceProfile_ErrorConfig(8);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(8);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.143\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-9\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-9');\n        deviceProfile_ErrorConfig(9);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(9);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-10\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-10');\n        deviceProfile_ErrorConfig(10);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(10);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-11\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-11');\n        deviceProfile_ErrorConfig(11);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(11);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.142\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-12\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-12');\n        deviceProfile_ErrorConfig(12);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(12);\n    }\n    //Meter-8\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-8');\n        deviceProfile_ErrorConfig(12);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(12);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.117.127.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-13\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-13');\n        deviceProfile_ErrorConfig(13);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(13);\n    }\n    \n    //Meter-9\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-9');\n        deviceProfile_ErrorConfig(13);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(13);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.117.127.141\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-14\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-14');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Inverter-15\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-15');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Meter-10\n    if(slaveID == 3){\n        node.warn('Error Occur in MET-10');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Meter-11\n    if(slaveID == 4){\n        node.warn('Error Occur in MET-11');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n}\n}\n\n\nif(msg.error.source.name == \"10.109.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-16\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-16');\n        deviceProfile_ErrorConfig(15);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(15);\n    }\n    \n    //Meter-12\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-12');\n        deviceProfile_ErrorConfig(15);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(15);\n    }\n}\n}\n\n\nif(msg.error.source.name == \"10.72.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-17\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-17');\n        deviceProfile_ErrorConfig(16);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(16);\n    }\n    \n    //Meter-13\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-13');\n        deviceProfile_ErrorConfig(16);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(16);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":292,"y":108,"wires":[["2edd1353.1f6c8c","df359989.3258f8"]]},{"id":"dcdaa8fc.b29f68","type":"debug","z":"68aaefd2.69e8a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":303.33331298828125,"y":31,"wires":[]},{"id":"df9ccec2.57ba1","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-15","scope":["735e1cf3.a6ac54"],"uncaught":false,"x":556,"y":2905,"wires":[["41ba97e8.43e5f8"]]},{"id":"41ba97e8.43e5f8","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_15_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":751,"y":2905,"wires":[["524eb9e6.4088d8"]]},{"id":"b6c1b652.187f28","type":"complete","z":"68aaefd2.69e8a","name":"Read Device Profile-16","scope":["369c86fc.86b69a"],"uncaught":false,"x":555,"y":2960,"wires":[["568c1544.9812ac"]]},{"id":"568c1544.9812ac","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_to_read_deviceProfile_16_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2960,"wires":[["48c2cdbf.229714"]]},{"id":"dd6d032b.7015c","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-15","scope":["735e1cf3.a6ac54"],"uncaught":false,"x":594,"y":1086,"wires":[["ddef6b78.1f6848"]]},{"id":"ddef6b78.1f6848","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_15","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1086,"wires":[["524eb9e6.4088d8"]]},{"id":"a1a36542.a07768","type":"complete","z":"68aaefd2.69e8a","name":"Device Profile-16","scope":["369c86fc.86b69a"],"uncaught":false,"x":594,"y":1138,"wires":[["16dc74d6.09ad5b"]]},{"id":"16dc74d6.09ad5b","type":"switch","z":"68aaefd2.69e8a","name":"","property":"stop_deviceProfile_16","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1138,"wires":[["48c2cdbf.229714"]]},{"id":"524eb9e6.4088d8","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-15","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_15');\nvar index = global.get('deviceProfile_15_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_15_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_15', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":969,"y":2017,"wires":[["380c765.ec8ca8a"]]},{"id":"735e1cf3.a6ac54","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-15","func":"var device_profile = global.get('deviceProfile_15');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_15_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_15_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_15_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_15_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_15_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-14')\n    global.set('deviceProfile_15_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_15_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_15_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_15_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_15_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_15_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_15_ReadIndex', index);  \n  global.set('stop_deviceProfile_15', false);\n  global.set('stop_to_read_deviceProfile_15_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_15_dataPacket', false);\n    global.set('deviceProfile_15_ReadIndex', 0);\n    global.set(\"deviceProfile_15_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_15', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_15_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_15_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_15_Index');\n        index += 1;\n        global.set('deviceProfile_15_Index', index);\n        global.set('stop_deviceProfile_15', true);\n        global.set('stop_to_read_deviceProfile_15_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_15_dataPacket', false);\n        global.set('stop_deviceProfile_15', false);\n        global.set('deviceProfile_15_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1654.2857055664062,"y":2017.1428527832031,"wires":[["1793386d.ef8898"]]},{"id":"1793386d.ef8898","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_15","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867.2857055664062,"y":2017.5714416503906,"wires":[["5953467b.e34db8"]]},{"id":"5953467b.e34db8","type":"debug","z":"68aaefd2.69e8a","name":"10.109.255.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2059.2857055664062,"y":2021.1428527832031,"wires":[]},{"id":"258f74d7.78cbec","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1387.2857055664062,"y":2017.1428527832031,"wires":[["735e1cf3.a6ac54"]]},{"id":"9477edd1.c34a4","type":"function","z":"68aaefd2.69e8a","name":"Dp-15 INV-16, MET-12","func":"var deviceProfile_15 = [\n   {\n        deviceName: \"Inverter-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_15', deviceProfile_15);\nglobal.set('deviceProfile_15_Index', 0);\nglobal.set('deviceProfile_15_ReadIndex', 0);\nglobal.set('deviceProfile_15_StoreData', []);  \nglobal.set(\"deviceProfile_15_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":603.2857055664062,"y":2016.1428527832031,"wires":[["524eb9e6.4088d8"]]},{"id":"380c765.ec8ca8a","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.109.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fbcae501.93d968","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1191,"y":2022,"wires":[["258f74d7.78cbec"],[]]},{"id":"48c2cdbf.229714","type":"function","z":"68aaefd2.69e8a","name":"Read Device Profile-16","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_16');\nvar index = global.get('deviceProfile_16_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_16_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_16', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":2077,"wires":[["971d0eb3.8fb9b"]]},{"id":"369c86fc.86b69a","type":"function","z":"68aaefd2.69e8a","name":"Display data DeviceProfile-16","func":"var device_profile = global.get('deviceProfile_16');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_16_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_16_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_16_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_16_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_16_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-14')\n    global.set('deviceProfile_16_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_16_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_16_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_16_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_16_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_16_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_16_ReadIndex', index);  \n  global.set('stop_deviceProfile_16', false);\n  global.set('stop_to_read_deviceProfile_16_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_16_dataPacket', false);\n    global.set('deviceProfile_16_ReadIndex', 0);\n    global.set(\"deviceProfile_16_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_16', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_16_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_16_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_16_Index');\n        index += 1;\n        global.set('deviceProfile_16_Index', index);\n        global.set('stop_deviceProfile_16', true);\n        global.set('stop_to_read_deviceProfile_16_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_16_dataPacket', false);\n        global.set('stop_deviceProfile_16', false);\n        global.set('deviceProfile_16_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655.2857055664062,"y":2077.142852783203,"wires":[["7a6db808.ed2b18"]]},{"id":"7a6db808.ed2b18","type":"switch","z":"68aaefd2.69e8a","name":"","property":"send_Data_deviceProfile_16","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1868.2857055664062,"y":2077.5714416503906,"wires":[["c1baaf1a.d5b46"]]},{"id":"c1baaf1a.d5b46","type":"debug","z":"68aaefd2.69e8a","name":"10.72.255.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2060.2857055664062,"y":2081.142852783203,"wires":[]},{"id":"f9bf9684.d7f8f8","type":"delay","z":"68aaefd2.69e8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1388.2857055664062,"y":2077.142852783203,"wires":[["369c86fc.86b69a"]]},{"id":"3731941f.3231dc","type":"function","z":"68aaefd2.69e8a","name":"Dp-16 INV-17, MET-13","func":"var deviceProfile_16 = [\n   {\n        deviceName: \"Inverter-17\",\n        deviceProfile: {\n            deviceNo: 17,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_16', deviceProfile_16);\nglobal.set('deviceProfile_16_Index', 0);\nglobal.set('deviceProfile_16_ReadIndex', 0);\nglobal.set('deviceProfile_16_StoreData', []);  \nglobal.set(\"deviceProfile_16_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.2857055664062,"y":2076.142852783203,"wires":[["48c2cdbf.229714"]]},{"id":"971d0eb3.8fb9b","type":"modbus-flex-getter","z":"68aaefd2.69e8a","name":"10.72.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"a7fb4af7.7fa8d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192,"y":2082,"wires":[["f9bf9684.d7f8f8"],[]]},{"id":"8257a6d9.963408","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"5009b41f.e6d6ec","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"9f007b8.5308888","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.148","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"25","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"5ea4860f.5b8e28","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.146","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"3ff81ed2.197182","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.150","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"bcd1d9bb.5e11a8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.152","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"ced8cc9c.13bbc","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"8cd00bfe.257fc8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.145","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"2fb91adc.344016","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.143","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"c9e81ed5.38d47","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"7e3c9331.5d8bac","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"bf1ffa11.d73808","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.142","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"5c81193b.e7a028","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"cef71df.d6d6de","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":300,"reconnectOnTimeout":true,"reconnectTimeout":500,"parallelUnitIdsAllowed":true},{"id":"fbcae501.93d968","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.109.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a7fb4af7.7fa8d8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.72.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]