IIT Kharagpur/Running Mode Without Error handling .txt
[{"id":"c81c72f3.ea122","type":"tab","label":"Running Mode","disabled":false,"info":""},{"id":"cf5ed2fd.12ddf","type":"inject","z":"c81c72f3.ea122","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":228,"y":1134,"wires":[["4f68ef9d.ab8e9","89013b94.f7adb8","183b0dbd.8d3a12","436e1e9c.924fa","3ed4d8d6.cb7788","2460ff68.2303","84cda1f5.7362e","41204884.cb1b98","3404687c.b10d28"]]},{"id":"dc172cb2.e6cbf","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":821,"wires":[["e1b29f90.79783"]]},{"id":"77e3cac9.dc9654","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":873,"wires":[["a2e51564.353058"]]},{"id":"e30614c.7b753e8","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":929,"wires":[["169844f.eb131bb"]]},{"id":"2bf22ea5.178162","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-4","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_4');\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_4_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_4', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":983,"wires":[["5aba4a34.810834"]]},{"id":"432272ce.7d3d1c","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-5","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_5');\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_5_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_5', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":1036,"wires":[["703eca3f.165df4"]]},{"id":"61c47412.c6738c","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-6","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_6');\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_6_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_6', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":908.7142944335938,"y":1088.8571472167969,"wires":[["529b6e48.45959"]]},{"id":"ce9e47d9.220288","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// node.warn(dataPacket_Count)\n// node.warn(number_Of_DataPacket)\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1595,"y":873,"wires":[["fb89277b.6326f8"]]},{"id":"46cd75d3.e7558c","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"length\": finalData.length / 5\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1593,"y":930,"wires":[["a9455046.27cc5"]]},{"id":"43d29597.bff4ac","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-4","func":"var device_profile = global.get('deviceProfile_4');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_4_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_4_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_4_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_4_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_4_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_4_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_4_ReadIndex', index);  \n  global.set('stop_deviceProfile_4', false);\n  global.set('stop_to_read_deviceProfile_4_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    global.set('deviceProfile_4_ReadIndex', 0);\n    global.set(\"deviceProfile_4_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_4', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_4_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_4_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_4_Index');\n        index += 1;\n        global.set('deviceProfile_4_Index', index);\n        global.set('stop_deviceProfile_4', true);\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n        global.set('stop_deviceProfile_4', false);\n        global.set('deviceProfile_4_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1595,"y":984,"wires":[["5051f805.eafae8"]]},{"id":"45257481.30073c","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-5","func":"var device_profile = global.get('deviceProfile_5');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_5_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_5_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_5_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_5_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_5_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_5_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_5_ReadIndex', index);  \n  global.set('stop_deviceProfile_5', false);\n  global.set('stop_to_read_deviceProfile_5_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    global.set('deviceProfile_5_ReadIndex', 0);\n    global.set(\"deviceProfile_5_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_5', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_5_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_5_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_5_Index');\n        index += 1;\n        global.set('deviceProfile_5_Index', index);\n        global.set('stop_deviceProfile_5', true);\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n        global.set('stop_deviceProfile_5', false);\n        global.set('deviceProfile_5_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1595,"y":1037,"wires":[["972272dc.d6299"]]},{"id":"3602e662.b4054a","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-6","func":"var device_profile = global.get('deviceProfile_6');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_6_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_6_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_6_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_6_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_6_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_6_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_6_ReadIndex', index);  \n  global.set('stop_deviceProfile_6', false);\n  global.set('stop_to_read_deviceProfile_6_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    global.set('deviceProfile_6_ReadIndex', 0);\n    global.set(\"deviceProfile_6_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_6', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_6_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_6_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_6_Index');\n        index += 1;\n        global.set('deviceProfile_6_Index', index);\n        global.set('stop_deviceProfile_6', true);\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n        global.set('stop_deviceProfile_6', false);\n        global.set('deviceProfile_6_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1595,"y":1092,"wires":[["dfde3631.7be0a8"]]},{"id":"7024ba06.95fe34","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":821,"wires":[["d941c995.52c9e8","34051b99.806cc4"]]},{"id":"fb89277b.6326f8","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1811,"y":873,"wires":[["3e483f6c.2d46","34051b99.806cc4"]]},{"id":"a9455046.27cc5","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1811,"y":930,"wires":[["77fadd22.6eb5c4","34051b99.806cc4"]]},{"id":"5051f805.eafae8","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1811,"y":984,"wires":[["a57721d9.e6578","34051b99.806cc4"]]},{"id":"972272dc.d6299","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1811,"y":1037,"wires":[["7a12eb51.c4ea94","34051b99.806cc4"]]},{"id":"dfde3631.7be0a8","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1813,"y":1092,"wires":[["accb68e7.b0d018","34051b99.806cc4"]]},{"id":"5cd0b628.fcdc58","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-1","scope":["6e1437af.1799c8"],"uncaught":false,"x":540,"y":40,"wires":[["f3b3fce1.86c6d"]]},{"id":"f3b3fce1.86c6d","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":692,"y":40,"wires":[["dc172cb2.e6cbf"]]},{"id":"b927182c.cee3b8","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-2","scope":["ce9e47d9.220288"],"uncaught":false,"x":540,"y":93,"wires":[["27af30db.5033b"]]},{"id":"27af30db.5033b","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":691,"y":93,"wires":[["77e3cac9.dc9654"]]},{"id":"27f15b73.ca8834","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-3","scope":["46cd75d3.e7558c"],"uncaught":false,"x":540,"y":145,"wires":[["64eaaeca.049fd"]]},{"id":"64eaaeca.049fd","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":691,"y":145,"wires":[["e30614c.7b753e8"]]},{"id":"963933aa.af95d","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-4","scope":["43d29597.bff4ac"],"uncaught":false,"x":540,"y":200,"wires":[["8452d73b.14bb98"]]},{"id":"8452d73b.14bb98","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":691,"y":200,"wires":[["2bf22ea5.178162"]]},{"id":"29f87a61.c8c146","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-5","scope":["45257481.30073c"],"uncaught":false,"x":540,"y":253,"wires":[["8af44e4f.32774"]]},{"id":"8af44e4f.32774","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":691,"y":253,"wires":[["432272ce.7d3d1c"]]},{"id":"4c88a7df.bcfbf8","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-6","scope":["3602e662.b4054a"],"uncaught":false,"x":540,"y":305,"wires":[["b09886ee.178018"]]},{"id":"b09886ee.178018","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":691,"y":305,"wires":[["61c47412.c6738c"]]},{"id":"c2c7047d.ebefc8","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-1","scope":["6e1437af.1799c8"],"uncaught":false,"x":504,"y":1600,"wires":[["8e6baff8.d9bd3"]]},{"id":"8e6baff8.d9bd3","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":694,"y":1600,"wires":[["dc172cb2.e6cbf"]]},{"id":"c674cb15.ea18f8","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-2","scope":["ce9e47d9.220288"],"uncaught":false,"x":503,"y":1653,"wires":[["a56d3fdb.3f90d"]]},{"id":"a56d3fdb.3f90d","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1653,"wires":[["77e3cac9.dc9654"]]},{"id":"8025c1c6.f7e39","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-3","scope":["46cd75d3.e7558c"],"uncaught":false,"x":503,"y":1705,"wires":[["bbed893d.8eddb8"]]},{"id":"bbed893d.8eddb8","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":692,"y":1705,"wires":[["e30614c.7b753e8"]]},{"id":"88140968.30a498","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-4","scope":["43d29597.bff4ac"],"uncaught":false,"x":503,"y":1760,"wires":[["1910c056.b9a2e"]]},{"id":"1910c056.b9a2e","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_4_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":695,"y":1760,"wires":[["2bf22ea5.178162"]]},{"id":"416bb1a1.9cf47","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-5","scope":["45257481.30073c"],"uncaught":false,"x":503,"y":1813,"wires":[["52bc7416.3b971c"]]},{"id":"52bc7416.3b971c","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_5_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":698,"y":1813,"wires":[["432272ce.7d3d1c"]]},{"id":"d941c995.52c9e8","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2024,"y":814,"wires":[]},{"id":"3e483f6c.2d46","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2024,"y":861,"wires":[]},{"id":"77fadd22.6eb5c4","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2024,"y":921,"wires":[]},{"id":"a57721d9.e6578","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2024,"y":981,"wires":[]},{"id":"7a12eb51.c4ea94","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2024,"y":1041,"wires":[]},{"id":"accb68e7.b0d018","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2024,"y":1090,"wires":[]},{"id":"967b4a81.aec998","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-6","scope":["3602e662.b4054a"],"uncaught":false,"x":503,"y":1865,"wires":[["b5f7bf1e.d9084"]]},{"id":"b5f7bf1e.d9084","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_6_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":1865,"wires":[["61c47412.c6738c"]]},{"id":"4a4fecd4.3bc154","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-7","scope":["ab2d5f93.d2ba4"],"uncaught":false,"x":502,"y":1917,"wires":[["13f1d9d9.7ff9d6"]]},{"id":"13f1d9d9.7ff9d6","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_7_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":699,"y":1917,"wires":[["f3bb5130.7301a"]]},{"id":"8ec76baf.641d88","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-8","scope":["e5d2845d.453ea8"],"uncaught":false,"x":501,"y":1970,"wires":[["47dca5b6.8cd64c"]]},{"id":"47dca5b6.8cd64c","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_8_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":701,"y":1970,"wires":[["6c3bcc53.c03f84"]]},{"id":"b3f5b4f6.284728","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-9","scope":["f031f57d.abe1e8"],"uncaught":false,"x":501,"y":2022,"wires":[["8b8e44ff.c2d0b8"]]},{"id":"8b8e44ff.c2d0b8","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_9_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":701,"y":2022,"wires":[["e98266ec.1be638"]]},{"id":"3758d01f.0f1f4","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-10","scope":["a288bf6f.35004"],"uncaught":false,"x":501,"y":2077,"wires":[["cfe2e2e6.986de"]]},{"id":"cfe2e2e6.986de","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_10_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":701,"y":2077,"wires":[["d5e3b12.c24855"]]},{"id":"7696231c.e244ec","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-11","scope":["47b0602a.ca563"],"uncaught":false,"x":501,"y":2130,"wires":[["68944ba4.5919a4"]]},{"id":"68944ba4.5919a4","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_11_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":699,"y":2130,"wires":[["2f9abcd.480f044"]]},{"id":"5dd6fc88.4b5f44","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-12","scope":["cb85d45d.af6d48"],"uncaught":false,"x":501,"y":2182,"wires":[["93fe1b4d.e56f98"]]},{"id":"93fe1b4d.e56f98","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_12_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":698,"y":2182,"wires":[["606a36e0.3ad968"]]},{"id":"b436d0f4.88694","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-7","scope":["ab2d5f93.d2ba4"],"uncaught":false,"x":540,"y":360,"wires":[["7ca1f8b7.559f88"]]},{"id":"7ca1f8b7.559f88","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":694,"y":360,"wires":[["f3bb5130.7301a"]]},{"id":"e08a0650.5a0a78","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-8","scope":["e5d2845d.453ea8"],"uncaught":false,"x":540,"y":413,"wires":[["beb12845.767fe8"]]},{"id":"beb12845.767fe8","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":696,"y":413,"wires":[["6c3bcc53.c03f84"]]},{"id":"c9a8ff2f.5e531","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-9","scope":["f031f57d.abe1e8"],"uncaught":false,"x":540,"y":465,"wires":[["3d6e2095.b22a6"]]},{"id":"3d6e2095.b22a6","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":465,"wires":[["e98266ec.1be638"]]},{"id":"ca7ae67d.ae0c68","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-10","scope":["a288bf6f.35004"],"uncaught":false,"x":540,"y":520,"wires":[["e7e53a21.fb29a8"]]},{"id":"e7e53a21.fb29a8","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":520,"wires":[["d5e3b12.c24855"]]},{"id":"e7368395.6b5bf","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-11","scope":["47b0602a.ca563"],"uncaught":false,"x":540,"y":573,"wires":[["787f9ef1.dfce8"]]},{"id":"787f9ef1.dfce8","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":573,"wires":[["2f9abcd.480f044"]]},{"id":"dd9eb885.d235f8","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-12","scope":["cb85d45d.af6d48"],"uncaught":false,"x":540,"y":625,"wires":[["b6168228.39d6a"]]},{"id":"b6168228.39d6a","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":625,"wires":[["606a36e0.3ad968"]]},{"id":"f3bb5130.7301a","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-7","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_7');\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_7_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_7', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":1143,"wires":[["c528c1cf.55c12"]]},{"id":"6c3bcc53.c03f84","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-8","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_8');\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_8_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_8', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":1195,"wires":[["841b0827.cdbd78"]]},{"id":"e98266ec.1be638","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-9","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_9');\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_9_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_9', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":1251,"wires":[["27b884cd.ef22ac"]]},{"id":"d5e3b12.c24855","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-10","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_10');\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_10_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_10', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":923,"y":1304,"wires":[["d3c440e0.fb776"]]},{"id":"2f9abcd.480f044","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-11","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_11');\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_11_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_11', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":913,"y":1356,"wires":[["20a44faa.913ec"]]},{"id":"606a36e0.3ad968","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-12","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_12');\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_12_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_12', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":918.7142944335938,"y":1410.8571472167969,"wires":[["72fc2f03.c5b7b"]]},{"id":"ab2d5f93.d2ba4","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-7","func":"var device_profile = global.get('deviceProfile_7');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_7_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_7_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_7_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_7_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_7_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_7_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_7_ReadIndex', index);  \n  global.set('stop_deviceProfile_7', false);\n  global.set('stop_to_read_deviceProfile_7_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    global.set('deviceProfile_7_ReadIndex', 0);\n    global.set(\"deviceProfile_7_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_7', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_7_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_7_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_7_Index');\n        index += 1;\n        global.set('deviceProfile_7_Index', index);\n        global.set('stop_deviceProfile_7', true);\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n        global.set('stop_deviceProfile_7', false);\n        global.set('deviceProfile_7_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1592,"y":1142,"wires":[["64e825d2.56c6ec"]]},{"id":"e5d2845d.453ea8","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-8","func":"var device_profile = global.get('deviceProfile_8');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_8_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_8_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_8_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_8_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_8_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_8_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_8_ReadIndex', index);  \n  global.set('stop_deviceProfile_8', false);\n  global.set('stop_to_read_deviceProfile_8_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    global.set('deviceProfile_8_ReadIndex', 0);\n    global.set(\"deviceProfile_8_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_8', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_8_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_8_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_8_Index');\n        index += 1;\n        global.set('deviceProfile_8_Index', index);\n        global.set('stop_deviceProfile_8', true);\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n        global.set('stop_deviceProfile_8', false);\n        global.set('deviceProfile_8_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1594,"y":1195,"wires":[["8b8dc44a.353708"]]},{"id":"f031f57d.abe1e8","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-9","func":"var device_profile = global.get('deviceProfile_9');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_9_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_9_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_9_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"length\": finalData.length / 5\n     }\n    }\n    global.set('deviceProfile_9_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_9_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_9_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_9_ReadIndex', index);  \n  global.set('stop_deviceProfile_9', false);\n  global.set('stop_to_read_deviceProfile_9_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    global.set('deviceProfile_9_ReadIndex', 0);\n    global.set(\"deviceProfile_9_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_9', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_9_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_9_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_9_Index');\n        index += 1;\n        global.set('deviceProfile_9_Index', index);\n        global.set('stop_deviceProfile_9', true);\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n        global.set('stop_deviceProfile_9', false);\n        global.set('deviceProfile_9_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1592,"y":1250,"wires":[["57a21972.377cd8"]]},{"id":"a288bf6f.35004","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-10","func":"var device_profile = global.get('deviceProfile_10');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_10_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_10_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_10_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_10_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_10_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_10_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_10_ReadIndex', index);  \n  global.set('stop_deviceProfile_10', false);\n  global.set('stop_to_read_deviceProfile_10_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    global.set('deviceProfile_10_ReadIndex', 0);\n    global.set(\"deviceProfile_10_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_10', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_10_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_10_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_10_Index');\n        index += 1;\n        global.set('deviceProfile_10_Index', index);\n        global.set('stop_deviceProfile_10', true);\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n        global.set('stop_deviceProfile_10', false);\n        global.set('deviceProfile_10_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1604,"y":1304,"wires":[["104a5399.bb76ec"]]},{"id":"47b0602a.ca563","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-11","func":"var device_profile = global.get('deviceProfile_11');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_11_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_11_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_11_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_11_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_11_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_11_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_11_ReadIndex', index);  \n  global.set('stop_deviceProfile_11', false);\n  global.set('stop_to_read_deviceProfile_11_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    global.set('deviceProfile_11_ReadIndex', 0);\n    global.set(\"deviceProfile_11_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_11', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_11_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_11_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_11_Index');\n        index += 1;\n        global.set('deviceProfile_11_Index', index);\n        global.set('stop_deviceProfile_11', true);\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n        global.set('stop_deviceProfile_11', false);\n        global.set('deviceProfile_11_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1594,"y":1356,"wires":[["3339caea.700e16"]]},{"id":"cb85d45d.af6d48","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-12","func":"var device_profile = global.get('deviceProfile_12');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_12_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_12_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_12_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_12_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_12_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_12_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_12_ReadIndex', index);  \n  global.set('stop_deviceProfile_12', false);\n  global.set('stop_to_read_deviceProfile_12_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    global.set('deviceProfile_12_ReadIndex', 0);\n    global.set(\"deviceProfile_12_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_12', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_12_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_12_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_12_Index');\n        index += 1;\n        global.set('deviceProfile_12_Index', index);\n        global.set('stop_deviceProfile_12', true);\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n        global.set('stop_deviceProfile_12', false);\n        global.set('deviceProfile_12_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1604,"y":1411,"wires":[["36327c82.41ce04"]]},{"id":"64e825d2.56c6ec","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1814,"y":1141.4285888671875,"wires":[["3514ed02.24afb2","34051b99.806cc4"]]},{"id":"8b8dc44a.353708","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815,"y":1194.4285888671875,"wires":[["10b9a828.2db6c8","34051b99.806cc4"]]},{"id":"57a21972.377cd8","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815,"y":1249.4285888671875,"wires":[["f4a1c5a2.2482d8","34051b99.806cc4"]]},{"id":"104a5399.bb76ec","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815,"y":1304.4285888671875,"wires":[["d3d2e06f.c22cd","34051b99.806cc4"]]},{"id":"3339caea.700e16","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815,"y":1356.4285888671875,"wires":[["db2497f8.d41ed8","34051b99.806cc4"]]},{"id":"36327c82.41ce04","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1817,"y":1411.4285888671875,"wires":[["f2bb89f4.a938c8","34051b99.806cc4"]]},{"id":"3514ed02.24afb2","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2019,"y":1139,"wires":[]},{"id":"10b9a828.2db6c8","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2019,"y":1186,"wires":[]},{"id":"f4a1c5a2.2482d8","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2019,"y":1246,"wires":[]},{"id":"d3d2e06f.c22cd","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2019,"y":1306,"wires":[]},{"id":"db2497f8.d41ed8","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2019,"y":1366,"wires":[]},{"id":"f2bb89f4.a938c8","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2019,"y":1415,"wires":[]},{"id":"e1b29f90.79783","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.102.255.141","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"bb4faff7.d6a9","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1131,"y":822,"wires":[["da6d59e4.380218"],[]]},{"id":"a2e51564.353058","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.102.255.144","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"27331aa9.9ac936","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1131,"y":874,"wires":[["f5bd429d.0d809"],[]]},{"id":"5aba4a34.810834","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.102.255.148","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"a7bf8077.df36b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1131,"y":984,"wires":[["b5d9186e.702158"],[]]},{"id":"34051b99.806cc4","type":"change","z":"c81c72f3.ea122","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":674,"wires":[["4935a24f.cc53bc"]]},{"id":"4935a24f.cc53bc","type":"http request","z":"c81c72f3.ea122","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.106.11.127/beta/rms/api/insertData?LD=1,172,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2171,"y":674,"wires":[["6151d839.616ce8"]]},{"id":"6151d839.616ce8","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2073,"y":717,"wires":[]},{"id":"da6d59e4.380218","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1332,"y":820,"wires":[["6e1437af.1799c8"]]},{"id":"f5bd429d.0d809","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1332,"y":873,"wires":[["ce9e47d9.220288"]]},{"id":"7776e6b1.d65d48","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1332,"y":930,"wires":[["46cd75d3.e7558c"]]},{"id":"b5d9186e.702158","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1332,"y":984,"wires":[["43d29597.bff4ac"]]},{"id":"bf2a82fb.4b103","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1332,"y":1091,"wires":[["3602e662.b4054a"]]},{"id":"93c99f32.e0384","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1332,"y":1036,"wires":[["45257481.30073c"]]},{"id":"473042d8.5f624c","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337,"y":1142,"wires":[["ab2d5f93.d2ba4"]]},{"id":"f8315459.999648","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337,"y":1195,"wires":[["e5d2845d.453ea8"]]},{"id":"3c594507.73bf1a","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337,"y":1250,"wires":[["f031f57d.abe1e8"]]},{"id":"547e6d20.d7be14","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337,"y":1304,"wires":[["a288bf6f.35004"]]},{"id":"92900bf5.db9f98","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337,"y":1411,"wires":[["cb85d45d.af6d48"]]},{"id":"814ef66.ae26508","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1337,"y":1356,"wires":[["47b0602a.ca563"]]},{"id":"89013b94.f7adb8","type":"function","z":"c81c72f3.ea122","name":"Dp-1 INV-1, MET-1, MET-2","func":"var deviceProfile_1 = [\n   {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 2,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":815,"wires":[["dc172cb2.e6cbf"]]},{"id":"4f68ef9d.ab8e9","type":"function","z":"c81c72f3.ea122","name":"Dp-2 INV-2, MET-3","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":867,"wires":[["77e3cac9.dc9654"]]},{"id":"183b0dbd.8d3a12","type":"function","z":"c81c72f3.ea122","name":"Dp-3 INV-3, MET-4","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":921,"wires":[["e30614c.7b753e8"]]},{"id":"16bfca84.c14645","type":"function","z":"c81c72f3.ea122","name":"DP-4 INV-4, MET-5","func":"var deviceProfile_4 = [\n    {\n        deviceName: \"Inverter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_4', deviceProfile_4);\nglobal.set('deviceProfile_4_Index', 0);\nglobal.set('deviceProfile_4_ReadIndex', 0);\nglobal.set('deviceProfile_4_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":974,"wires":[["2bf22ea5.178162"]]},{"id":"436e1e9c.924fa","type":"function","z":"c81c72f3.ea122","name":"Dp-5 INV-5, MET-6","func":"var deviceProfile_5 = [\n    {\n        deviceName: \"Inverter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_5', deviceProfile_5);\nglobal.set('deviceProfile_5_Index', 0);\nglobal.set('deviceProfile_5_ReadIndex', 0);\nglobal.set('deviceProfile_5_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1027,"wires":[["432272ce.7d3d1c"]]},{"id":"3ed4d8d6.cb7788","type":"function","z":"c81c72f3.ea122","name":"Dp-6 INV-6, MET-7","func":"var deviceProfile_6 = [\n    {\n        deviceName: \"Inverter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_6', deviceProfile_6);\nglobal.set('deviceProfile_6_Index', 0);\nglobal.set('deviceProfile_6_ReadIndex', 0);\nglobal.set('deviceProfile_6_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1081,"wires":[["61c47412.c6738c"]]},{"id":"37223c95.fa65d4","type":"function","z":"c81c72f3.ea122","name":"Dp-7 INV-7","func":"var deviceProfile_7 = [\n    {\n        deviceName: \"Inverter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_7', deviceProfile_7);\nglobal.set('deviceProfile_7_Index', 0);\nglobal.set('deviceProfile_7_ReadIndex', 0);\nglobal.set('deviceProfile_7_StoreData', []);\n// node.warn(deviceProfile_7)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":531,"y":1135,"wires":[["f3bb5130.7301a"]]},{"id":"3404687c.b10d28","type":"function","z":"c81c72f3.ea122","name":"Dp-8 INV-8","func":"var deviceProfile_8 = [\n   {\n        deviceName: \"Inverter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_8', deviceProfile_8);\nglobal.set('deviceProfile_8_Index', 0);\nglobal.set('deviceProfile_8_ReadIndex', 0);\nglobal.set('deviceProfile_8_StoreData', []);\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":531,"y":1188,"wires":[["6c3bcc53.c03f84"]]},{"id":"41204884.cb1b98","type":"function","z":"c81c72f3.ea122","name":"Dp-9 INV-9","func":"var deviceProfile_9 = [\n    {\n        deviceName: \"Inverter-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_9', deviceProfile_9);\nglobal.set('deviceProfile_9_Index', 0);\nglobal.set('deviceProfile_9_ReadIndex', 0);\nglobal.set('deviceProfile_9_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":531,"y":1242,"wires":[["e98266ec.1be638"]]},{"id":"eb78993c.cd8de8","type":"function","z":"c81c72f3.ea122","name":"Dp-10 INV-10","func":"var deviceProfile_10 = [\n   {\n        deviceName: \"Inverter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_10', deviceProfile_10);\nglobal.set('deviceProfile_10_Index', 0);\nglobal.set('deviceProfile_10_ReadIndex', 0);\nglobal.set('deviceProfile_10_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":541,"y":1295,"wires":[["d5e3b12.c24855"]]},{"id":"f15d22b6.19ef1","type":"function","z":"c81c72f3.ea122","name":"Dp-11 INV-11","func":"var deviceProfile_11 = [\n    {\n        deviceName: \"Inverter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_11', deviceProfile_11);\nglobal.set('deviceProfile_11_Index', 0);\nglobal.set('deviceProfile_11_ReadIndex', 0);\nglobal.set('deviceProfile_11_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":531,"y":1348,"wires":[["2f9abcd.480f044"]]},{"id":"480b9ea5.14446","type":"function","z":"c81c72f3.ea122","name":"Dp-12 INV-12, MET-8","func":"var deviceProfile_12 = [\n    {\n        deviceName: \"Inverter-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_12', deviceProfile_12);\nglobal.set('deviceProfile_12_Index', 0);\nglobal.set('deviceProfile_12_ReadIndex', 0);\nglobal.set('deviceProfile_12_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":561,"y":1402,"wires":[["606a36e0.3ad968"]]},{"id":"6e1437af.1799c8","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// node.warn(dataPacket_Count)\n// node.warn(number_Of_DataPacket)\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1591,"y":820,"wires":[["7024ba06.95fe34"]]},{"id":"169844f.eb131bb","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.102.255.146","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"5d7203bc.a0400c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1132.71435546875,"y":927.2857055664062,"wires":[["7776e6b1.d65d48"],[]]},{"id":"703eca3f.165df4","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.102.255.150","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"38c2b8b4.6c7478","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1138.2857666015625,"y":1036.4285888671875,"wires":[["93c99f32.e0384"],[]]},{"id":"529b6e48.45959","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.102.255.152","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"2ea2f3a9.af772c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1136,"y":1089,"wires":[["bf2a82fb.4b103"],[]]},{"id":"c528c1cf.55c12","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.105.255.140","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"a3c83fa0.8e246","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1136,"y":1142,"wires":[["473042d8.5f624c"],[]]},{"id":"841b0827.cdbd78","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.105.255.145","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"343fd373.7673ec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1135.142822265625,"y":1195.4285888671875,"wires":[["f8315459.999648"],[]]},{"id":"27b884cd.ef22ac","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.105.255.143","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"618fbbed.8ea9d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1137,"y":1251,"wires":[["3c594507.73bf1a"],[]]},{"id":"d3c440e0.fb776","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.105.255.144","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"90d8a78b.40f2f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1140.71435546875,"y":1303.71435546875,"wires":[["547e6d20.d7be14"],[]]},{"id":"20a44faa.913ec","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.105.255.141","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"47a2336e.a30ccc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1141,"y":1354.5714111328125,"wires":[["814ef66.ae26508"],[]]},{"id":"72fc2f03.c5b7b","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.105.255.142","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"19b8999e.6b1506","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1140.5714111328125,"y":1411,"wires":[["92900bf5.db9f98"],[]]},{"id":"13794283.2e9ced","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-13","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_13');\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_13_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_13', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":917,"y":1470,"wires":[["4e3cbaa3.862594"]]},{"id":"7e6cf640.54e9f8","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-13","func":"var device_profile = global.get('deviceProfile_13');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_13_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_13_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_13_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_13_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_13_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_13_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_13_ReadIndex', index);  \n  global.set('stop_deviceProfile_13', false);\n  global.set('stop_to_read_deviceProfile_13_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    global.set('deviceProfile_13_ReadIndex', 0);\n    global.set(\"deviceProfile_13_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_13', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_13_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_13_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_13_Index');\n        index += 1;\n        global.set('deviceProfile_13_Index', index);\n        global.set('stop_deviceProfile_13', true);\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n        global.set('stop_deviceProfile_13', false);\n        global.set('deviceProfile_13_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1602.2857055664062,"y":1470.1428527832031,"wires":[["33a4f6be.2f442a"]]},{"id":"33a4f6be.2f442a","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1815.2857055664062,"y":1470.5714416503906,"wires":[["acf57dc2.cdc1d","34051b99.806cc4"]]},{"id":"acf57dc2.cdc1d","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2017.2857055664062,"y":1474.1428527832031,"wires":[]},{"id":"3b367b49.9448e4","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1335.2857055664062,"y":1470.1428527832031,"wires":[["7e6cf640.54e9f8"]]},{"id":"2460ff68.2303","type":"function","z":"c81c72f3.ea122","name":"Dp-13 INV-13, MET-9","func":"var deviceProfile_13 = [\n     {\n        deviceName: \"Inverter-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    // {\n    //     deviceName: \"Meter-9\",\n    //     deviceProfile: {\n    //         deviceNo: 9,\n    //         deviceType: 182\n    //     },\n    //     read: {\n    //         slaveID: 1,\n    //          regAdd: [\n    //                 // Start 32 bits\n    //                 {\n    //                     fc: 3,\n    //                     address: 2699,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     address: 2999,\n    //                     quantity: 6\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     address: 3009,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     address: 3059,\n    //                     quantity: 2\n    //                 }\n    //             ]\n    //     }\n    // }\n    ]\n\nglobal.set('deviceProfile_13', deviceProfile_13);\nglobal.set('deviceProfile_13_Index', 0);\nglobal.set('deviceProfile_13_ReadIndex', 0);\nglobal.set('deviceProfile_13_StoreData', []);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560.2857055664062,"y":1460.1428527832031,"wires":[["13794283.2e9ced"]]},{"id":"4e3cbaa3.862594","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.117.127.140","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"fb07594a.40b208","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1138.8571166992188,"y":1470.1428527832031,"wires":[["3b367b49.9448e4"],[]]},{"id":"2e259a89.c5af46","type":"function","z":"c81c72f3.ea122","name":"Read Device Profile-14","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_14');\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_14_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_14', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":918,"y":1526,"wires":[["9936031d.9a5cb"]]},{"id":"d536b36a.8a0fd","type":"function","z":"c81c72f3.ea122","name":"Display data DeviceProfile-14","func":"var device_profile = global.get('deviceProfile_14');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_14_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_14_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_14_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_14_StoreData', []);\n    // node.warn('displayData Loop')\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_14_StoreData', getStoreData);\n    // node.warn(getStoreData)\n}\n\n// Number of Data Packet Loop 1 ! = 6\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n//   node.warn('-------------- If')\n  storeData();\n  let index = global.get('deviceProfile_14_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_14_ReadIndex', index);  \n  global.set('stop_deviceProfile_14', false);\n  global.set('stop_to_read_deviceProfile_14_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    // node.warn('-------------- else')\n    storeData();\n    global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    global.set('deviceProfile_14_ReadIndex', 0);\n    global.set(\"deviceProfile_14_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_14', true);\n    // display Data\n    displayData();\n    // node.warn('displayData')\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_14_Count\") || 0;\n    deviceCount += 1;\n    global.set('deviceProfile_14_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_14_Index');\n        index += 1;\n        global.set('deviceProfile_14_Index', index);\n        global.set('stop_deviceProfile_14', true);\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    }else {\n        // node.warn('************')\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n        global.set('stop_deviceProfile_14', false);\n        global.set('deviceProfile_14_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1603.2857055664062,"y":1526.1428527832031,"wires":[["b0261c96.ba6b7"]]},{"id":"b0261c96.ba6b7","type":"switch","z":"c81c72f3.ea122","name":"","property":"send_Data_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1816.2857055664062,"y":1526.5714416503906,"wires":[["c9bce359.8f3f2","34051b99.806cc4"]]},{"id":"c9bce359.8f3f2","type":"debug","z":"c81c72f3.ea122","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2018.2857055664062,"y":1530.1428527832031,"wires":[]},{"id":"b70d659d.783fe8","type":"delay","z":"c81c72f3.ea122","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1336.2857055664062,"y":1526.1428527832031,"wires":[["d536b36a.8a0fd"]]},{"id":"84cda1f5.7362e","type":"function","z":"c81c72f3.ea122","name":"Dp-14 INV-14, INV-15, MET-10, MET-11","func":"var deviceProfile_14 = [\n   {\n        deviceName: \"Inverter-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Inverter-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 3,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 4,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_14', deviceProfile_14);\nglobal.set('deviceProfile_14_Index', 0);\nglobal.set('deviceProfile_14_ReadIndex', 0);\nglobal.set('deviceProfile_14_StoreData', []);  \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":581.2857055664062,"y":1525.1428527832031,"wires":[["2e259a89.c5af46"]]},{"id":"f6897daf.564b6","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-13","scope":["7e6cf640.54e9f8"],"uncaught":false,"x":500,"y":2230,"wires":[["b10f06d.23c31f8"]]},{"id":"b10f06d.23c31f8","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_13_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":699,"y":2230,"wires":[["13794283.2e9ced"]]},{"id":"ea72ae2f.ec479","type":"complete","z":"c81c72f3.ea122","name":"Read Device Profile-14","scope":["d536b36a.8a0fd"],"uncaught":false,"x":500,"y":2283,"wires":[["febd3e3f.bf64a"]]},{"id":"febd3e3f.bf64a","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_to_read_deviceProfile_14_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":699,"y":2283,"wires":[["2e259a89.c5af46"]]},{"id":"38cd6258.cd22be","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-13","scope":["7e6cf640.54e9f8"],"uncaught":false,"x":542,"y":674,"wires":[["a3eaf99.92e2e08"]]},{"id":"a3eaf99.92e2e08","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":696,"y":674,"wires":[["13794283.2e9ced"]]},{"id":"85a2c76f.1c84d8","type":"complete","z":"c81c72f3.ea122","name":"Device Profile-14","scope":["d536b36a.8a0fd"],"uncaught":false,"x":542,"y":723,"wires":[["d3fbf2b8.fbbf5"]]},{"id":"d3fbf2b8.fbbf5","type":"switch","z":"c81c72f3.ea122","name":"","property":"stop_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":697,"y":723,"wires":[["2e259a89.c5af46"]]},{"id":"9936031d.9a5cb","type":"modbus-flex-getter","z":"c81c72f3.ea122","name":"10.117.127.141","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"4a28cd51.e4d0f4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1140,"y":1531,"wires":[["b70d659d.783fe8"],[]]},{"id":"bb4faff7.d6a9","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"27331aa9.9ac936","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"a7bf8077.df36b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.148","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"25","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"5d7203bc.a0400c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.146","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"38c2b8b4.6c7478","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.150","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"2ea2f3a9.af772c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.152","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"a3c83fa0.8e246","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"343fd373.7673ec","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.145","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"618fbbed.8ea9d4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.143","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"200","parallelUnitIdsAllowed":true},{"id":"90d8a78b.40f2f8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"47a2336e.a30ccc","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"19b8999e.6b1506","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.142","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"fb07594a.40b208","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"4a28cd51.e4d0f4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true}]