IIT Kharagpur/Running Mode.txt
[{"id":"ed114a46.1b1918","type":"tab","label":"Running Mode-2","disabled":false,"info":""},{"id":"84c11c4f.53c89","type":"inject","z":"ed114a46.1b1918","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1563,"wires":[["f9bb996c.fa8d28","60187851.c33fb8","970ce21d.c792b","79754912.506248","6dff32e4.c098dc","d84f1638.813938","b7e60258.af31d","ea3dd3d.abc0d3","eadefdfa.185d6","7a205add.da3684","b467bdf.6b0bc4","5560f4a1.b5406c","cd17d926.95dad8","669d3810.ee4af8","d4cd832e.fa6f4","87003bba.889668"]]},{"id":"6e6d153c.4a770c","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1250,"wires":[["68a0aa20.36cae4"]]},{"id":"d847a665.ff6d08","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1302,"wires":[["9e6c7e68.9b3ee"]]},{"id":"69e6ebc0.2e2094","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1358,"wires":[["e5648dc0.ed295"]]},{"id":"5a56d5d8.952aac","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-4","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_4');\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_4_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_4', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1412,"wires":[["7a098d1a.103ac4"]]},{"id":"e16ad7a5.d47528","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-5","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_5');\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_5_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_5', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1465,"wires":[["2e091407.c136ac"]]},{"id":"cc9cc0ef.74a1b","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-6","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_6');\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_6_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_6', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960.7142944335938,"y":1517.8571472167969,"wires":[["57a3993a.4526e8"]]},{"id":"241b5614.b693ca","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1302,"wires":[["8c45c9f5.84b938"]]},{"id":"4a3c6d46.2ce374","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-3')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1645,"y":1359,"wires":[["a2d4cfd4.a2b17"]]},{"id":"543b4c74.e444f4","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-4","func":"var device_profile = global.get('deviceProfile_4');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_4_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_4_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_4_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_4_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-4')\n    global.set('deviceProfile_4_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_4_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_4_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_4_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_4_ReadIndex', index);  \n  global.set('stop_deviceProfile_4', false);\n  global.set('stop_to_read_deviceProfile_4_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    global.set('deviceProfile_4_ReadIndex', 0);\n    global.set(\"deviceProfile_4_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_4', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_4_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_4_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_4_Index');\n        index += 1;\n        global.set('deviceProfile_4_Index', index);\n        global.set('stop_deviceProfile_4', true);\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n        global.set('stop_deviceProfile_4', false);\n        global.set('deviceProfile_4_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1413,"wires":[["dcc6447.ad1d9b8"]]},{"id":"d827c18c.69b79","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-5","func":"var device_profile = global.get('deviceProfile_5');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_5_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_5_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_5_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_5_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_5_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-5')\n    global.set('deviceProfile_5_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_5_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_5_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_5_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_5_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_5_ReadIndex', index);  \n  global.set('stop_deviceProfile_5', false);\n  global.set('stop_to_read_deviceProfile_5_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    global.set('deviceProfile_5_ReadIndex', 0);\n    global.set(\"deviceProfile_5_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_5', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_5_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_5_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_5_Index');\n        index += 1;\n        global.set('deviceProfile_5_Index', index);\n        global.set('stop_deviceProfile_5', true);\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_5_dataPacket', false);\n        global.set('stop_deviceProfile_5', false);\n        global.set('deviceProfile_5_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1466,"wires":[["4a6741cb.b5146"]]},{"id":"b27e6c7d.12d1","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-6","func":"var device_profile = global.get('deviceProfile_6');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_6_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_6_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_6_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_6_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_6_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-6')\n    global.set('deviceProfile_6_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_6_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_6_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_6_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_6_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_6_ReadIndex', index);  \n  global.set('stop_deviceProfile_6', false);\n  global.set('stop_to_read_deviceProfile_6_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    global.set('deviceProfile_6_ReadIndex', 0);\n    global.set(\"deviceProfile_6_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_6', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_6_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_6_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_6_Index');\n        index += 1;\n        global.set('deviceProfile_6_Index', index);\n        global.set('stop_deviceProfile_6', true);\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_6_dataPacket', false);\n        global.set('stop_deviceProfile_6', false);\n        global.set('deviceProfile_6_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1647,"y":1521,"wires":[["7d287475.89bbfc"]]},{"id":"c4b3e15e.103f7","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1862,"y":1250,"wires":[["1b02b35e.fff7cd","e91c501b.0a863"]]},{"id":"8c45c9f5.84b938","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1302,"wires":[["b5c79698.812828","e91c501b.0a863"]]},{"id":"a2d4cfd4.a2b17","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1359,"wires":[["ec93a884.c12068","e91c501b.0a863"]]},{"id":"dcc6447.ad1d9b8","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1413,"wires":[["d76fe91c.a08738","e91c501b.0a863"]]},{"id":"4a6741cb.b5146","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1863,"y":1466,"wires":[["281ad428.a4f60c","e91c501b.0a863"]]},{"id":"7d287475.89bbfc","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1865,"y":1521,"wires":[["69b4092e.18e338","e91c501b.0a863"]]},{"id":"63b76eaa.8cc9e","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-1","scope":["c81a10a1.12c84"],"uncaught":false,"x":592,"y":350,"wires":[["ba1282b.70da18"]]},{"id":"ba1282b.70da18","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":744,"y":350,"wires":[["6e6d153c.4a770c"]]},{"id":"63bd4817.f2b7e8","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-2","scope":["241b5614.b693ca"],"uncaught":false,"x":592,"y":403,"wires":[["1f04f0ef.12448f"]]},{"id":"1f04f0ef.12448f","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":403,"wires":[["d847a665.ff6d08"]]},{"id":"43a8ee7e.df28c","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-3","scope":["4a3c6d46.2ce374"],"uncaught":false,"x":592,"y":455,"wires":[["cb14b9.cd7dbb48"]]},{"id":"cb14b9.cd7dbb48","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":455,"wires":[["69e6ebc0.2e2094"]]},{"id":"c3e289f.afa9a78","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-4","scope":["543b4c74.e444f4"],"uncaught":false,"x":592,"y":510,"wires":[["1babe89a.6a4ac7"]]},{"id":"1babe89a.6a4ac7","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":510,"wires":[["5a56d5d8.952aac"]]},{"id":"f3f1a843.5a05a8","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-5","scope":["d827c18c.69b79"],"uncaught":false,"x":592,"y":563,"wires":[["165133fc.ffbd2c"]]},{"id":"165133fc.ffbd2c","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_5","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":563,"wires":[["e16ad7a5.d47528"]]},{"id":"76be6926.c64228","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-6","scope":["b27e6c7d.12d1"],"uncaught":false,"x":592,"y":615,"wires":[["1172cce4.29d9d3"]]},{"id":"1172cce4.29d9d3","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_6","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":743,"y":615,"wires":[["cc9cc0ef.74a1b"]]},{"id":"578c2061.29e06","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-1","scope":["c81a10a1.12c84"],"uncaught":false,"x":556,"y":2186,"wires":[["99ff21be.69dd8"]]},{"id":"99ff21be.69dd8","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":2186,"wires":[["6e6d153c.4a770c"]]},{"id":"94a1aab6.10f738","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-2","scope":["241b5614.b693ca"],"uncaught":false,"x":555,"y":2239,"wires":[["4e163a87.4357c4"]]},{"id":"4e163a87.4357c4","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":742,"y":2239,"wires":[["d847a665.ff6d08"]]},{"id":"1f589f8c.bf6d4","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-3","scope":["4a3c6d46.2ce374"],"uncaught":false,"x":555,"y":2291,"wires":[["3f13e0dd.7bc7"]]},{"id":"3f13e0dd.7bc7","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":744,"y":2291,"wires":[["69e6ebc0.2e2094"]]},{"id":"f11a03a2.b1bfb","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-4","scope":["543b4c74.e444f4"],"uncaught":false,"x":555,"y":2346,"wires":[["d391d43b.5d0f18"]]},{"id":"d391d43b.5d0f18","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_4_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2346,"wires":[["5a56d5d8.952aac"]]},{"id":"56d1bae9.5e2644","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-5","scope":["d827c18c.69b79"],"uncaught":false,"x":555,"y":2399,"wires":[["e2de2ecf.59272"]]},{"id":"e2de2ecf.59272","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_5_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2399,"wires":[["e16ad7a5.d47528"]]},{"id":"1b02b35e.fff7cd","type":"debug","z":"ed114a46.1b1918","name":"10.102.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1243,"wires":[]},{"id":"b5c79698.812828","type":"debug","z":"ed114a46.1b1918","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1290,"wires":[]},{"id":"ec93a884.c12068","type":"debug","z":"ed114a46.1b1918","name":"10.102.255.146","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1350,"wires":[]},{"id":"d76fe91c.a08738","type":"debug","z":"ed114a46.1b1918","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1410,"wires":[]},{"id":"281ad428.a4f60c","type":"debug","z":"ed114a46.1b1918","name":"10.102.255.150","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1470,"wires":[]},{"id":"69b4092e.18e338","type":"debug","z":"ed114a46.1b1918","name":"10.102.255.152","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2066,"y":1519,"wires":[]},{"id":"326a8ee8.567bb2","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-6","scope":["b27e6c7d.12d1"],"uncaught":false,"x":555,"y":2451,"wires":[["dad98902.336cc8"]]},{"id":"dad98902.336cc8","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_6_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2451,"wires":[["cc9cc0ef.74a1b"]]},{"id":"e9787003.ac8ea","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-7","scope":["d357bb2f.02f348"],"uncaught":false,"x":554,"y":2503,"wires":[["71acf484.a87bdc"]]},{"id":"71acf484.a87bdc","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_7_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2503,"wires":[["f592d42d.f41238"]]},{"id":"6b203de8.7ec9e4","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-8","scope":["2e26feda.8df1b2"],"uncaught":false,"x":553,"y":2556,"wires":[["8cc7ad2d.0a0a7"]]},{"id":"8cc7ad2d.0a0a7","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_8_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2556,"wires":[["4741c842.2b8d28"]]},{"id":"cdc80c54.92168","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-9","scope":["d399dc5d.fe345"],"uncaught":false,"x":553,"y":2608,"wires":[["c31d7504.62cc18"]]},{"id":"c31d7504.62cc18","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_9_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2608,"wires":[["da3e8cd2.0154f"]]},{"id":"d80489ad.cbeab8","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-10","scope":["48f8d76b.461d28"],"uncaught":false,"x":553,"y":2663,"wires":[["d0766797.0eb698"]]},{"id":"d0766797.0eb698","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_10_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2663,"wires":[["34b2f354.673f9c"]]},{"id":"399d8a64.a52316","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-11","scope":["115e1515.6d48eb"],"uncaught":false,"x":553,"y":2716,"wires":[["75f75d38.c39104"]]},{"id":"75f75d38.c39104","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_11_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2716,"wires":[["d593d476.6a2598"]]},{"id":"6bf0224f.c9b64c","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-12","scope":["242e5efb.ed3242"],"uncaught":false,"x":553,"y":2768,"wires":[["41f038c0.aca168"]]},{"id":"41f038c0.aca168","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_12_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":2768,"wires":[["91af68e1.8acf58"]]},{"id":"b30f2b32.6b3a78","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-7","scope":["d357bb2f.02f348"],"uncaught":false,"x":592,"y":670,"wires":[["ffde141a.431f68"]]},{"id":"ffde141a.431f68","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":670,"wires":[["f592d42d.f41238"]]},{"id":"5d2a1e24.98e49","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-8","scope":["2e26feda.8df1b2"],"uncaught":false,"x":592,"y":723,"wires":[["bcd3b43c.930b18"]]},{"id":"bcd3b43c.930b18","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":723,"wires":[["4741c842.2b8d28"]]},{"id":"5220b768.60ba98","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-9","scope":["d399dc5d.fe345"],"uncaught":false,"x":592,"y":775,"wires":[["3baeedab.7f8442"]]},{"id":"3baeedab.7f8442","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":775,"wires":[["da3e8cd2.0154f"]]},{"id":"303606b4.409b5a","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-10","scope":["48f8d76b.461d28"],"uncaught":false,"x":592,"y":830,"wires":[["afbe6948.9d50b8"]]},{"id":"afbe6948.9d50b8","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":830,"wires":[["34b2f354.673f9c"]]},{"id":"a08c72b.f7c5a9","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-11","scope":["115e1515.6d48eb"],"uncaught":false,"x":592,"y":883,"wires":[["8b54ea5e.38d8d8"]]},{"id":"8b54ea5e.38d8d8","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":883,"wires":[["d593d476.6a2598"]]},{"id":"710c3fe1.2f97f","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-12","scope":["242e5efb.ed3242"],"uncaught":false,"x":592,"y":935,"wires":[["926a48d0.d35668"]]},{"id":"926a48d0.d35668","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":935,"wires":[["91af68e1.8acf58"]]},{"id":"f592d42d.f41238","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-7","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_7');\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_7_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_7', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1572,"wires":[["bcbc478a.713098"]]},{"id":"4741c842.2b8d28","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-8","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_8');\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_8_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_8', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1624,"wires":[["e8f6f407.e9c728"]]},{"id":"da3e8cd2.0154f","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-9","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_9');\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_9_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_9', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1680,"wires":[["3c0fcad1.4e96b6"]]},{"id":"34b2f354.673f9c","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-10","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_10');\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_10_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_10', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":975,"y":1733,"wires":[["9ef0c894.744798"]]},{"id":"d593d476.6a2598","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-11","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_11');\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_11_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_11', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":965,"y":1785,"wires":[["8d0f0260.53938"]]},{"id":"91af68e1.8acf58","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-12","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_12');\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_12_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_12', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970.7142944335938,"y":1839.8571472167969,"wires":[[]]},{"id":"d357bb2f.02f348","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-7","func":"var device_profile = global.get('deviceProfile_7');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_7_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_7_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_7_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_7_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_7_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-7')\n    global.set('deviceProfile_7_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_7_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_7_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_7_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_7_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_7_ReadIndex', index);  \n  global.set('stop_deviceProfile_7', false);\n  global.set('stop_to_read_deviceProfile_7_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    global.set('deviceProfile_7_ReadIndex', 0);\n    global.set(\"deviceProfile_7_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_7', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_7_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_7_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_7_Index');\n        index += 1;\n        global.set('deviceProfile_7_Index', index);\n        global.set('stop_deviceProfile_7', true);\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_7_dataPacket', false);\n        global.set('stop_deviceProfile_7', false);\n        global.set('deviceProfile_7_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1644,"y":1571,"wires":[["55c66ec2.16b8c"]]},{"id":"2e26feda.8df1b2","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-8","func":"var device_profile = global.get('deviceProfile_8');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_8_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_8_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_8_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_8_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_8_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-8')\n    global.set('deviceProfile_8_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_8_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_8_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_8_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_8_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_8_ReadIndex', index);  \n  global.set('stop_deviceProfile_8', false);\n  global.set('stop_to_read_deviceProfile_8_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    global.set('deviceProfile_8_ReadIndex', 0);\n    global.set(\"deviceProfile_8_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_8', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_8_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_8_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_8_Index');\n        index += 1;\n        global.set('deviceProfile_8_Index', index);\n        global.set('stop_deviceProfile_8', true);\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_8_dataPacket', false);\n        global.set('stop_deviceProfile_8', false);\n        global.set('deviceProfile_8_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1646,"y":1624,"wires":[["7797fc0d.8851a4"]]},{"id":"d399dc5d.fe345","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-9","func":"var device_profile = global.get('deviceProfile_9');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_9_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_9_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_9_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_9_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_9_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-9')\n    global.set('deviceProfile_9_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n    // global.set('ip141_Data', msg.payloadData);\n    \n    global.set('deviceProfile_9_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_9_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_9_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_9_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_9_ReadIndex', index);  \n  global.set('stop_deviceProfile_9', false);\n  global.set('stop_to_read_deviceProfile_9_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    global.set('deviceProfile_9_ReadIndex', 0);\n    global.set(\"deviceProfile_9_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_9', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_9_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_9_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_9_Index');\n        index += 1;\n        global.set('deviceProfile_9_Index', index);\n        global.set('stop_deviceProfile_9', true);\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_9_dataPacket', false);\n        global.set('stop_deviceProfile_9', false);\n        global.set('deviceProfile_9_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1644,"y":1679,"wires":[["ac5cc91c.6e38f8"]]},{"id":"48f8d76b.461d28","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-10","func":"var device_profile = global.get('deviceProfile_10');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_10_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_10_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_10_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_10_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_10_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-10')\n    global.set('deviceProfile_10_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('ip142_Data',  msg.payloadData);\n    \n    global.set('deviceProfile_10_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_10_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_10_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_10_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_10_ReadIndex', index);  \n  global.set('stop_deviceProfile_10', false);\n  global.set('stop_to_read_deviceProfile_10_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    global.set('deviceProfile_10_ReadIndex', 0);\n    global.set(\"deviceProfile_10_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_10', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_10_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_10_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_10_Index');\n        index += 1;\n        global.set('deviceProfile_10_Index', index);\n        global.set('stop_deviceProfile_10', true);\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_10_dataPacket', false);\n        global.set('stop_deviceProfile_10', false);\n        global.set('deviceProfile_10_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1656,"y":1733,"wires":[["f74cc859.17d438"]]},{"id":"115e1515.6d48eb","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-11","func":"//  let data = global.get('ip141_Data');\n// msg.payloadData = data;\n// // node.warn('----1')\n// msg.payloadData.request.DeviceNo = 11;\n// // msg.payloadData = msg.payloadData;\n// global.set('send_Data_deviceProfile_11', true);\n// return msg;\n\n\nvar device_profile = global.get('deviceProfile_11');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_11_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_11_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_11_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_11_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_11_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-11')\n    global.set('deviceProfile_11_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_11_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_11_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_11_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_11_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_11_ReadIndex', index);  \n  global.set('stop_deviceProfile_11', false);\n  global.set('stop_to_read_deviceProfile_11_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    global.set('deviceProfile_11_ReadIndex', 0);\n    global.set(\"deviceProfile_11_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_11', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_11_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_11_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_11_Index');\n        index += 1;\n        global.set('deviceProfile_11_Index', index);\n        global.set('stop_deviceProfile_11', true);\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_11_dataPacket', false);\n        global.set('stop_deviceProfile_11', false);\n        global.set('deviceProfile_11_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1646,"y":1785,"wires":[["8d0953ac.a5f56"]]},{"id":"242e5efb.ed3242","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-12","func":" let data = global.get('ip142_Data');\nmsg.payloadData = data;\n// node.warn('----1')\nmsg.payloadData.request.DeviceNo = 12;\n// msg.payloadData = msg.payloadData;\nglobal.set('send_Data_deviceProfile_12', true);\nreturn msg;\n\n/*\nvar device_profile = global.get('deviceProfile_12');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_12_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_12_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_12_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_12_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_12_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-12')\n    global.set('deviceProfile_12_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_12_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_12_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_12_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_12_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_12_ReadIndex', index);  \n  global.set('stop_deviceProfile_12', false);\n  global.set('stop_to_read_deviceProfile_12_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    global.set('deviceProfile_12_ReadIndex', 0);\n    global.set(\"deviceProfile_12_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_12', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_12_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_12_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_12_Index');\n        index += 1;\n        global.set('deviceProfile_12_Index', index);\n        global.set('stop_deviceProfile_12', true);\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_12_dataPacket', false);\n        global.set('stop_deviceProfile_12', false);\n        global.set('deviceProfile_12_Count', null);\n    }\n}\n\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1656,"y":1840,"wires":[["68730df0.6ae4d4"]]},{"id":"55c66ec2.16b8c","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_7","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1866,"y":1570.4285888671875,"wires":[["4ee60984.452a88","e91c501b.0a863"]]},{"id":"7797fc0d.8851a4","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_8","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1623.4285888671875,"wires":[["55aab8e7.29b4e8","e91c501b.0a863"]]},{"id":"ac5cc91c.6e38f8","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_9","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1678.4285888671875,"wires":[["e974b9e4.8695a8","e91c501b.0a863"]]},{"id":"f74cc859.17d438","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1733.4285888671875,"wires":[["164f7756.0c0089","e91c501b.0a863","675012a2.f0bc0c"]]},{"id":"8d0953ac.a5f56","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_11","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867,"y":1785.4285888671875,"wires":[["a5bf78b5.63d3b8","e91c501b.0a863"]]},{"id":"68730df0.6ae4d4","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_12","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1869,"y":1840.4285888671875,"wires":[["c2d054e2.7d3548","e91c501b.0a863"]]},{"id":"4ee60984.452a88","type":"debug","z":"ed114a46.1b1918","name":"10.105.255.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1568,"wires":[]},{"id":"55aab8e7.29b4e8","type":"debug","z":"ed114a46.1b1918","name":"10.105.255.145","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1619,"wires":[]},{"id":"e974b9e4.8695a8","type":"debug","z":"ed114a46.1b1918","name":"10.105.255.143","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1675,"wires":[]},{"id":"164f7756.0c0089","type":"debug","z":"ed114a46.1b1918","name":"10.105.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1735,"wires":[]},{"id":"a5bf78b5.63d3b8","type":"debug","z":"ed114a46.1b1918","name":"10.105.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1795,"wires":[]},{"id":"c2d054e2.7d3548","type":"debug","z":"ed114a46.1b1918","name":"10.105.255.142","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2061,"y":1844,"wires":[]},{"id":"68a0aa20.36cae4","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.102.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8257a6d9.963408","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1251,"wires":[["9871f797.338ab8"],[]]},{"id":"9e6c7e68.9b3ee","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.102.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5009b41f.e6d6ec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1303,"wires":[["c91c1e07.f1bf2"],[]]},{"id":"7a098d1a.103ac4","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.102.255.148","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"9f007b8.5308888","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1183,"y":1413,"wires":[["478509e6.6fad08"],[]]},{"id":"e91c501b.0a863","type":"change","z":"ed114a46.1b1918","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2032,"y":1091,"wires":[["1a4c126.61065ee"]]},{"id":"1a4c126.61065ee","type":"http request","z":"ed114a46.1b1918","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.106.11.127/beta/rms/api/insertData?LD=1,172,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2223,"y":1091,"wires":[["52b0e174.bd574"]]},{"id":"52b0e174.bd574","type":"debug","z":"ed114a46.1b1918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2125,"y":1135,"wires":[]},{"id":"9871f797.338ab8","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1249,"wires":[["c81a10a1.12c84"]]},{"id":"c91c1e07.f1bf2","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1302,"wires":[["241b5614.b693ca"]]},{"id":"7c42d45a.e1e7bc","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1359,"wires":[["4a3c6d46.2ce374"]]},{"id":"478509e6.6fad08","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1413,"wires":[["543b4c74.e444f4"]]},{"id":"1da6fe4d.a4d502","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1520,"wires":[["b27e6c7d.12d1"]]},{"id":"9bb24d83.877c2","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1384,"y":1465,"wires":[["d827c18c.69b79"]]},{"id":"dfd668b3.a55a38","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1571,"wires":[["d357bb2f.02f348"]]},{"id":"49e6881b.bb37c8","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1624,"wires":[["2e26feda.8df1b2"]]},{"id":"2c0f8575.524e1a","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1679,"wires":[["d399dc5d.fe345"]]},{"id":"1a738b00.1af745","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1733,"wires":[["48f8d76b.461d28"]]},{"id":"675012a2.f0bc0c","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1840,"wires":[["242e5efb.ed3242"]]},{"id":"2fd9e2a6.c4aefe","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1389,"y":1785,"wires":[["115e1515.6d48eb"]]},{"id":"60187851.c33fb8","type":"function","z":"ed114a46.1b1918","name":"Dp-1 || RP/B/INV1, RP/B/M1, RP/C/M1","func":"var deviceProfile_1 = [\n   {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 2,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":662,"y":1244,"wires":[["6e6d153c.4a770c"]]},{"id":"f9bb996c.fa8d28","type":"function","z":"ed114a46.1b1918","name":"Dp-2 || RP/C/INV1, RP/C/M2","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":632,"y":1296,"wires":[["d847a665.ff6d08"]]},{"id":"970ce21d.c792b","type":"function","z":"ed114a46.1b1918","name":"Dp-3 INV-3, MET-4","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []); \nglobal.set(\"deviceProfile_3_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1350,"wires":[["69e6ebc0.2e2094"]]},{"id":"669d3810.ee4af8","type":"function","z":"ed114a46.1b1918","name":"DP-4 INV-4, MET-5","func":"var deviceProfile_4 = [\n    {\n        deviceName: \"Inverter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_4', deviceProfile_4);\nglobal.set('deviceProfile_4_Index', 0);\nglobal.set('deviceProfile_4_ReadIndex', 0);\nglobal.set('deviceProfile_4_StoreData', []);  \nglobal.set(\"deviceProfile_4_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1403,"wires":[["5a56d5d8.952aac"]]},{"id":"79754912.506248","type":"function","z":"ed114a46.1b1918","name":"Dp-5 INV-5, MET-6","func":"var deviceProfile_5 = [\n    {\n        deviceName: \"Inverter-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_5', deviceProfile_5);\nglobal.set('deviceProfile_5_Index', 0);\nglobal.set('deviceProfile_5_ReadIndex', 0);\nglobal.set('deviceProfile_5_StoreData', []); \nglobal.set(\"deviceProfile_5_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1456,"wires":[["e16ad7a5.d47528"]]},{"id":"6dff32e4.c098dc","type":"function","z":"ed114a46.1b1918","name":"Dp-6 INV-6, MET-7","func":"var deviceProfile_6 = [\n    {\n        deviceName: \"Inverter-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_6', deviceProfile_6);\nglobal.set('deviceProfile_6_Index', 0);\nglobal.set('deviceProfile_6_ReadIndex', 0);\nglobal.set('deviceProfile_6_StoreData', []);  \nglobal.set(\"deviceProfile_6_Count\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1510,"wires":[["cc9cc0ef.74a1b"]]},{"id":"7a205add.da3684","type":"function","z":"ed114a46.1b1918","name":"Dp-7 INV-7","func":"var deviceProfile_7 = [\n    {\n        deviceName: \"Inverter-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_7', deviceProfile_7);\nglobal.set('deviceProfile_7_Index', 0);\nglobal.set('deviceProfile_7_ReadIndex', 0);\nglobal.set('deviceProfile_7_StoreData', []);\nglobal.set(\"deviceProfile_7_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1564,"wires":[["f592d42d.f41238"]]},{"id":"eadefdfa.185d6","type":"function","z":"ed114a46.1b1918","name":"Dp-8 INV-8","func":"var deviceProfile_8 = [\n   {\n        deviceName: \"Inverter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_8', deviceProfile_8);\nglobal.set('deviceProfile_8_Index', 0);\nglobal.set('deviceProfile_8_ReadIndex', 0);\nglobal.set('deviceProfile_8_StoreData', []);\nglobal.set(\"deviceProfile_8_Count\", 0); \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1617,"wires":[["4741c842.2b8d28"]]},{"id":"ea3dd3d.abc0d3","type":"function","z":"ed114a46.1b1918","name":"Dp-9 INV-9","func":"var deviceProfile_9 = [\n    {\n        deviceName: \"Inverter-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_9', deviceProfile_9);\nglobal.set('deviceProfile_9_Index', 0);\nglobal.set('deviceProfile_9_ReadIndex', 0);\nglobal.set('deviceProfile_9_StoreData', []);  \nglobal.set(\"deviceProfile_9_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1671,"wires":[["da3e8cd2.0154f"]]},{"id":"b467bdf.6b0bc4","type":"function","z":"ed114a46.1b1918","name":"Dp-10 INV-10","func":"var deviceProfile_10 = [\n   {\n        deviceName: \"Inverter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_10', deviceProfile_10);\nglobal.set('deviceProfile_10_Index', 0);\nglobal.set('deviceProfile_10_ReadIndex', 0);\nglobal.set('deviceProfile_10_StoreData', []);  \nglobal.set(\"deviceProfile_10_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":593,"y":1724,"wires":[["34b2f354.673f9c"]]},{"id":"5560f4a1.b5406c","type":"function","z":"ed114a46.1b1918","name":"Dp-11 INV-11","func":"var deviceProfile_11 = [\n    {\n        deviceName: \"Inverter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_11', deviceProfile_11);\nglobal.set('deviceProfile_11_Index', 0);\nglobal.set('deviceProfile_11_ReadIndex', 0);\nglobal.set('deviceProfile_11_StoreData', []);  \nglobal.set(\"deviceProfile_11_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583,"y":1777,"wires":[["d593d476.6a2598"]]},{"id":"cd17d926.95dad8","type":"function","z":"ed114a46.1b1918","name":"Dp-12 INV-12, MET-8","func":"var deviceProfile_12 = [\n    {\n        deviceName: \"Inverter-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_12', deviceProfile_12);\nglobal.set('deviceProfile_12_Index', 0);\nglobal.set('deviceProfile_12_ReadIndex', 0);\nglobal.set('deviceProfile_12_StoreData', []);  \nglobal.set(\"deviceProfile_12_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613,"y":1831,"wires":[["91af68e1.8acf58"]]},{"id":"c81a10a1.12c84","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1643,"y":1249,"wires":[["c4b3e15e.103f7"]]},{"id":"e5648dc0.ed295","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.102.255.146","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5ea4860f.5b8e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1184.71435546875,"y":1356.2857055664062,"wires":[["7c42d45a.e1e7bc"],[]]},{"id":"2e091407.c136ac","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.102.255.150","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"3ff81ed2.197182","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190.2857666015625,"y":1465.4285888671875,"wires":[["9bb24d83.877c2"],[]]},{"id":"57a3993a.4526e8","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.102.255.152","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"bcd1d9bb.5e11a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1188,"y":1518,"wires":[["1da6fe4d.a4d502"],[]]},{"id":"bcbc478a.713098","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.105.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"ced8cc9c.13bbc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1188,"y":1571,"wires":[["dfd668b3.a55a38"],[]]},{"id":"e8f6f407.e9c728","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.105.255.145","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8cd00bfe.257fc8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1187.142822265625,"y":1625.4285888671875,"wires":[["49e6881b.bb37c8"],[]]},{"id":"3c0fcad1.4e96b6","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.105.255.143","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"2fb91adc.344016","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1189,"y":1680,"wires":[["2c0f8575.524e1a"],[]]},{"id":"9ef0c894.744798","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.105.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c9e81ed5.38d47","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192.71435546875,"y":1732.71435546875,"wires":[["1a738b00.1af745"],[]]},{"id":"8d0f0260.53938","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.105.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"7e3c9331.5d8bac","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1193,"y":1783.5714111328125,"wires":[["2fd9e2a6.c4aefe"],[]]},{"id":"ee542bfb.697da8","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.105.255.142","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"bf1ffa11.d73808","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192.5714111328125,"y":1840,"wires":[[],[]]},{"id":"47c02849.eea0c8","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-13","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_13');\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_13_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_13', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":969,"y":1899,"wires":[["469d4aef.464ed4"]]},{"id":"e554d099.9bbb1","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-13","func":"var device_profile = global.get('deviceProfile_13');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_13_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_13_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_13_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_13_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_13_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-13')\n    global.set('deviceProfile_13_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_13_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_13_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_13_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_13_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_13_ReadIndex', index);  \n  global.set('stop_deviceProfile_13', false);\n  global.set('stop_to_read_deviceProfile_13_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    global.set('deviceProfile_13_ReadIndex', 0);\n    global.set(\"deviceProfile_13_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_13', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_13_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_13_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_13_Index');\n        index += 1;\n        global.set('deviceProfile_13_Index', index);\n        global.set('stop_deviceProfile_13', true);\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_13_dataPacket', false);\n        global.set('stop_deviceProfile_13', false);\n        global.set('deviceProfile_13_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1654.2857055664062,"y":1899.1428527832031,"wires":[["c9d72cd6.bd33b"]]},{"id":"c9d72cd6.bd33b","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867.2857055664062,"y":1899.5714416503906,"wires":[["2df78203.bad8ee","e91c501b.0a863"]]},{"id":"2df78203.bad8ee","type":"debug","z":"ed114a46.1b1918","name":"10.117.127.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2059.2857055664062,"y":1903.1428527832031,"wires":[]},{"id":"e994321b.80497","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1387.2857055664062,"y":1899.1428527832031,"wires":[["e554d099.9bbb1"]]},{"id":"d84f1638.813938","type":"function","z":"ed114a46.1b1918","name":"Dp-13 INV-13, MET-9","func":"var deviceProfile_13 = [\n     {\n        deviceName: \"Inverter-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_13', deviceProfile_13);\nglobal.set('deviceProfile_13_Index', 0);\nglobal.set('deviceProfile_13_ReadIndex', 0);\nglobal.set('deviceProfile_13_StoreData', []);  \nglobal.set(\"deviceProfile_13_Count\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":612.2857055664062,"y":1889.1428527832031,"wires":[["47c02849.eea0c8"]]},{"id":"469d4aef.464ed4","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.117.127.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5c81193b.e7a028","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190.8571166992188,"y":1899.1428527832031,"wires":[["e994321b.80497"],[]]},{"id":"3649e352.01980c","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-14","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_14');\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_14_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_14', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1955,"wires":[["6a38f12e.71dce"]]},{"id":"d17a9d43.8a9e9","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-14","func":"var device_profile = global.get('deviceProfile_14');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_14_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_14_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_14_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_14_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_14_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-14')\n    global.set('deviceProfile_14_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_14_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_14_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_14_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_14_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_14_ReadIndex', index);  \n  global.set('stop_deviceProfile_14', false);\n  global.set('stop_to_read_deviceProfile_14_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    global.set('deviceProfile_14_ReadIndex', 0);\n    global.set(\"deviceProfile_14_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_14', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_14_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_14_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_14_Index');\n        index += 1;\n        global.set('deviceProfile_14_Index', index);\n        global.set('stop_deviceProfile_14', true);\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_14_dataPacket', false);\n        global.set('stop_deviceProfile_14', false);\n        global.set('deviceProfile_14_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655.2857055664062,"y":1955.1428527832031,"wires":[["2897cda0.20e872"]]},{"id":"2897cda0.20e872","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1868.2857055664062,"y":1955.5714416503906,"wires":[["79661101.9d143","e91c501b.0a863"]]},{"id":"79661101.9d143","type":"debug","z":"ed114a46.1b1918","name":"10.117.127.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2060.2857055664062,"y":1959.1428527832031,"wires":[]},{"id":"e2b3d566.a18e58","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1388.2857055664062,"y":1955.1428527832031,"wires":[["d17a9d43.8a9e9"]]},{"id":"b7e60258.af31d","type":"function","z":"ed114a46.1b1918","name":"Dp-14 INV-14, INV-15, MET-10, MET-11","func":"var deviceProfile_14 = [\n   {\n        deviceName: \"Inverter-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Inverter-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 3,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 4,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_14', deviceProfile_14);\nglobal.set('deviceProfile_14_Index', 0);\nglobal.set('deviceProfile_14_ReadIndex', 0);\nglobal.set('deviceProfile_14_StoreData', []);  \nglobal.set(\"deviceProfile_14_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":633.2857055664062,"y":1954.1428527832031,"wires":[["3649e352.01980c"]]},{"id":"e9523978.263748","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-13","scope":["e554d099.9bbb1"],"uncaught":false,"x":552,"y":2816,"wires":[["79d28c4f.535d84"]]},{"id":"79d28c4f.535d84","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_13_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2816,"wires":[["47c02849.eea0c8"]]},{"id":"9e95ea1c.8b98f8","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-14","scope":["d17a9d43.8a9e9"],"uncaught":false,"x":552,"y":2869,"wires":[["c9fcd25d.ad924"]]},{"id":"c9fcd25d.ad924","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_14_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2869,"wires":[["3649e352.01980c"]]},{"id":"b69d84c.4460278","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-13","scope":["e554d099.9bbb1"],"uncaught":false,"x":594,"y":984,"wires":[["81a4f718.5b2718"]]},{"id":"81a4f718.5b2718","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_13","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":748,"y":984,"wires":[["47c02849.eea0c8"]]},{"id":"3934f168.ba01fe","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-14","scope":["d17a9d43.8a9e9"],"uncaught":false,"x":594,"y":1033,"wires":[["c5e274fb.1e7b18"]]},{"id":"c5e274fb.1e7b18","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_14","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1033,"wires":[["3649e352.01980c"]]},{"id":"6a38f12e.71dce","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.117.127.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"cef71df.d6d6de","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1192,"y":1960,"wires":[["e2b3d566.a18e58"],[]]},{"id":"a5b6e015.32ad8","type":"catch","z":"ed114a46.1b1918","name":"","scope":null,"uncaught":false,"x":100,"y":109,"wires":[["22e6c924.c78fe6","fffc59c7.596ad8"]]},{"id":"205a67e0.87c7a8","type":"switch","z":"ed114a46.1b1918","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":196,"wires":[["5c6227b3.c162d8"],["83d26ac.4341298"]]},{"id":"5c6227b3.c162d8","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":164,"wires":[["c1126b91.ea9fd8"]]},{"id":"1fa90fc.83e29f","type":"switch","z":"ed114a46.1b1918","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"},{"t":"eq","v":"RD_Profile4","vt":"str"},{"t":"eq","v":"RD_Profile5","vt":"str"},{"t":"eq","v":"RD_Profile6","vt":"str"},{"t":"eq","v":"RD_Profile7","vt":"str"},{"t":"eq","v":"RD_Profile8","vt":"str"},{"t":"eq","v":"RD_Profile9","vt":"str"},{"t":"eq","v":"RD_Profile10","vt":"str"},{"t":"eq","v":"RD_Profile11","vt":"str"},{"t":"eq","v":"RD_Profile12","vt":"str"},{"t":"eq","v":"RD_Profile13","vt":"str"},{"t":"eq","v":"RD_Profile14","vt":"str"},{"t":"eq","v":"RD_Profile15","vt":"str"},{"t":"eq","v":"RD_Profile16","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":740,"y":187,"wires":[["6e6d153c.4a770c"],["d847a665.ff6d08"],["69e6ebc0.2e2094"],["5a56d5d8.952aac"],["e16ad7a5.d47528"],["cc9cc0ef.74a1b"],["f592d42d.f41238"],["4741c842.2b8d28"],["da3e8cd2.0154f"],["34b2f354.673f9c"],["d593d476.6a2598"],["91af68e1.8acf58"],["47c02849.eea0c8"],["3649e352.01980c"],["c6d3bee5.74382"],["1030be58.8b1552"]]},{"id":"83d26ac.4341298","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":339,"y":229,"wires":[["1f17e5ad.52807a"]]},{"id":"c1126b91.ea9fd8","type":"function","z":"ed114a46.1b1918","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":543,"y":144,"wires":[["1fa90fc.83e29f"]]},{"id":"1f17e5ad.52807a","type":"function","z":"ed114a46.1b1918","name":"","func":"node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":541,"y":225,"wires":[["1fa90fc.83e29f"]]},{"id":"8da586a7.b329a8","type":"switch","z":"ed114a46.1b1918","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":726,"y":34,"wires":[["3eb62d58.c95822","e91c501b.0a863"]]},{"id":"3eb62d58.c95822","type":"debug","z":"ed114a46.1b1918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":34,"wires":[]},{"id":"22e6c924.c78fe6","type":"function","z":"ed114a46.1b1918","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\n\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        if(errorCount != 2){\n            node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"10.102.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    //Inverter-1\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-1\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in MET-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-2');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n    //Meter-3\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.146\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-3\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-3');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n    //Meter-4\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-4');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.148\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-4\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-4');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n    //Meter-5\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-5');\n        deviceProfile_ErrorConfig(4);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.150\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-5\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-5');\n        deviceProfile_ErrorConfig(5);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(5);\n    }\n    //Meter-6\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-6');\n        deviceProfile_ErrorConfig(5);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(5);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.152\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-6\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-6');\n        deviceProfile_ErrorConfig(6);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(6);\n    }\n    //Meter-7\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-7');\n        deviceProfile_ErrorConfig(6);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(6);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-7\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-7');\n        deviceProfile_ErrorConfig(7);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(7);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.145\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-8\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-8');\n        deviceProfile_ErrorConfig(8);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(8);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.143\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-9\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-9');\n        deviceProfile_ErrorConfig(9);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(9);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-10\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-10');\n        deviceProfile_ErrorConfig(10);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(10);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-11\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-11');\n        deviceProfile_ErrorConfig(11);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(11);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.105.255.142\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-12\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-12');\n        deviceProfile_ErrorConfig(12);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(12);\n    }\n    //Meter-8\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-8');\n        deviceProfile_ErrorConfig(12);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(12);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.117.127.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-13\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-13');\n        deviceProfile_ErrorConfig(13);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(13);\n    }\n    \n    //Meter-9\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-9');\n        deviceProfile_ErrorConfig(13);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(13);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.117.127.141\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-14\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-14');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Inverter-15\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-15');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Meter-10\n    if(slaveID == 3){\n        node.warn('Error Occur in MET-10');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n    \n    //Meter-11\n    if(slaveID == 4){\n        node.warn('Error Occur in MET-11');\n        deviceProfile_ErrorConfig(14);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(14);\n    }\n}\n}\n\n\nif(msg.error.source.name == \"10.109.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-16\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-16');\n        deviceProfile_ErrorConfig(15);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(15);\n    }\n    \n    //Meter-12\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-12');\n        deviceProfile_ErrorConfig(15);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(15);\n    }\n}\n}\n\n\nif(msg.error.source.name == \"10.72.255.140\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-17\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-17');\n        deviceProfile_ErrorConfig(16);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(16);\n    }\n    \n    //Meter-13\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-13');\n        deviceProfile_ErrorConfig(16);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(16);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":292,"y":108,"wires":[["205a67e0.87c7a8","8da586a7.b329a8"]]},{"id":"fffc59c7.596ad8","type":"debug","z":"ed114a46.1b1918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":303.33331298828125,"y":9.666664123535156,"wires":[]},{"id":"cf53a824.c35938","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-15","scope":["b2058013.8be58"],"uncaught":false,"x":552,"y":2926,"wires":[["7b045897.dc5dc8"]]},{"id":"7b045897.dc5dc8","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_15_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":747,"y":2926,"wires":[["c6d3bee5.74382"]]},{"id":"1577e743.2b2399","type":"complete","z":"ed114a46.1b1918","name":"Read Device Profile-16","scope":["27b815b2.48f78a"],"uncaught":false,"x":551,"y":2981,"wires":[["3548f2b7.41abbe"]]},{"id":"3548f2b7.41abbe","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_to_read_deviceProfile_16_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":2981,"wires":[["1030be58.8b1552"]]},{"id":"e94bd593.005508","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-15","scope":["b2058013.8be58"],"uncaught":false,"x":594,"y":1086,"wires":[["f2475e5c.95e72"]]},{"id":"f2475e5c.95e72","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_15","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1086,"wires":[["c6d3bee5.74382"]]},{"id":"c906f7a4.4bdca8","type":"complete","z":"ed114a46.1b1918","name":"Device Profile-16","scope":["27b815b2.48f78a"],"uncaught":false,"x":594,"y":1138,"wires":[["7d48968c.94fd28"]]},{"id":"7d48968c.94fd28","type":"switch","z":"ed114a46.1b1918","name":"","property":"stop_deviceProfile_16","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":1138,"wires":[["1030be58.8b1552"]]},{"id":"c6d3bee5.74382","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-15","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_15');\nvar index = global.get('deviceProfile_15_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_15_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_15', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":969,"y":2017,"wires":[["ef3083b5.1d44f"]]},{"id":"b2058013.8be58","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-15","func":"var device_profile = global.get('deviceProfile_15');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_15_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_15_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_15_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_15_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_15_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-15')\n    global.set('deviceProfile_15_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_15_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_15_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_15_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_15_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_15_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_15_ReadIndex', index);  \n  global.set('stop_deviceProfile_15', false);\n  global.set('stop_to_read_deviceProfile_15_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_15_dataPacket', false);\n    global.set('deviceProfile_15_ReadIndex', 0);\n    global.set(\"deviceProfile_15_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_15', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_15_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_15_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_15_Index');\n        index += 1;\n        global.set('deviceProfile_15_Index', index);\n        global.set('stop_deviceProfile_15', true);\n        global.set('stop_to_read_deviceProfile_15_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_15_dataPacket', false);\n        global.set('stop_deviceProfile_15', false);\n        global.set('deviceProfile_15_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1654.2857055664062,"y":2017.1428527832031,"wires":[["242868a2.d8afb8"]]},{"id":"242868a2.d8afb8","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_15","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1867.2857055664062,"y":2017.5714416503906,"wires":[["a2d11c6a.56ae6","e91c501b.0a863"]]},{"id":"a2d11c6a.56ae6","type":"debug","z":"ed114a46.1b1918","name":"10.109.255.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2059.2857055664062,"y":2021.1428527832031,"wires":[]},{"id":"e17b20cf.22b38","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1387.2857055664062,"y":2017.1428527832031,"wires":[["b2058013.8be58"]]},{"id":"d4cd832e.fa6f4","type":"function","z":"ed114a46.1b1918","name":"Dp-15 INV-16, MET-12","func":"var deviceProfile_15 = [\n   {\n        deviceName: \"Inverter-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_15', deviceProfile_15);\nglobal.set('deviceProfile_15_Index', 0);\nglobal.set('deviceProfile_15_ReadIndex', 0);\nglobal.set('deviceProfile_15_StoreData', []);  \nglobal.set(\"deviceProfile_15_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":603.2857055664062,"y":2015.1428527832031,"wires":[["c6d3bee5.74382"]]},{"id":"ef3083b5.1d44f","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.109.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d4dd0bc2.8f1fa8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1191,"y":2022,"wires":[["e17b20cf.22b38"],[]]},{"id":"1030be58.8b1552","type":"function","z":"ed114a46.1b1918","name":"Read Device Profile-16","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n// node.warn('1111111')\n\nvar device_profile = global.get('deviceProfile_16');\nvar index = global.get('deviceProfile_16_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_16_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_16', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":2077,"wires":[["41ad6e1a.244d1"]]},{"id":"27b815b2.48f78a","type":"function","z":"ed114a46.1b1918","name":"Display data DeviceProfile-16","func":"var device_profile = global.get('deviceProfile_16');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_16_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_16_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_16_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_16_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_16_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-16')\n    global.set('deviceProfile_16_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_16_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_16_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_16_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_16_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_16_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_16_ReadIndex', index);  \n  global.set('stop_deviceProfile_16', false);\n  global.set('stop_to_read_deviceProfile_16_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_16_dataPacket', false);\n    global.set('deviceProfile_16_ReadIndex', 0);\n    global.set(\"deviceProfile_16_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_16', true);\n    // display Data\n    displayData();\n\n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_16_Count\") \n    deviceCount += 1;\n    global.set('deviceProfile_16_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_16_Index');\n        index += 1;\n        global.set('deviceProfile_16_Index', index);\n        global.set('stop_deviceProfile_16', true);\n        global.set('stop_to_read_deviceProfile_16_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_16_dataPacket', false);\n        global.set('stop_deviceProfile_16', false);\n        global.set('deviceProfile_16_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655.2857055664062,"y":2077.142852783203,"wires":[["7de64c95.601324"]]},{"id":"7de64c95.601324","type":"switch","z":"ed114a46.1b1918","name":"","property":"send_Data_deviceProfile_16","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1868.2857055664062,"y":2077.5714416503906,"wires":[["90185394.fc36b","e91c501b.0a863"]]},{"id":"90185394.fc36b","type":"debug","z":"ed114a46.1b1918","name":"10.72.255.140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2060.2857055664062,"y":2081.142852783203,"wires":[]},{"id":"ca1f8e4f.f9af9","type":"delay","z":"ed114a46.1b1918","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1388.2857055664062,"y":2077.142852783203,"wires":[["27b815b2.48f78a"]]},{"id":"87003bba.889668","type":"function","z":"ed114a46.1b1918","name":"Dp-16 INV-18, MET-13","func":"node.warn(\"Start\")\n\nvar deviceProfile_16 = [\n   {\n        deviceName: \"Inverter-17\",\n        deviceProfile: {\n            deviceNo: 18,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_16', deviceProfile_16);\nglobal.set('deviceProfile_16_Index', 0);\nglobal.set('deviceProfile_16_ReadIndex', 0);\nglobal.set('deviceProfile_16_StoreData', []);  \nglobal.set(\"deviceProfile_16_Count\", 0);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.2857055664062,"y":2076.142852783203,"wires":[["1030be58.8b1552"]]},{"id":"41ad6e1a.244d1","type":"modbus-flex-getter","z":"ed114a46.1b1918","name":"10.72.255.140","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"7770029e.014f8c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":1192,"y":2082,"wires":[["ca1f8e4f.f9af9"],[]]},{"id":"8257a6d9.963408","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"5009b41f.e6d6ec","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"9f007b8.5308888","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.148","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"25","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"5ea4860f.5b8e28","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.146","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"3ff81ed2.197182","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.150","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"bcd1d9bb.5e11a8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.152","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"ced8cc9c.13bbc","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"8cd00bfe.257fc8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.145","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"2fb91adc.344016","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.143","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"c9e81ed5.38d47","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"7e3c9331.5d8bac","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"bf1ffa11.d73808","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.105.255.142","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"5c81193b.e7a028","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":300,"reconnectOnTimeout":true,"reconnectTimeout":500,"parallelUnitIdsAllowed":true},{"id":"cef71df.d6d6de","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.117.127.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"d4dd0bc2.8f1fa8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.109.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"7770029e.014f8c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"10.72.255.140","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]