Roorkee/flows (1).json
[{"id":"db33a3c.34b8b6","type":"tab","label":"Roorkee","disabled":false,"info":""},{"id":"d7814125.b997","type":"function","z":"db33a3c.34b8b6","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["2474671.e283498"]]},{"id":"edb47f3d.0b9cd","type":"inject","z":"db33a3c.34b8b6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":121,"y":60,"wires":[["1cf10dab.a94b42"]]},{"id":"2474671.e283498","type":"modbus-flex-write","z":"db33a3c.34b8b6","name":"","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":572,"y":299,"wires":[["28089889.4b1a98"],[]]},{"id":"87f406d0.869cb8","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":460,"wires":[["a7b66bb6.24f4c8"],[]]},{"id":"409cf98b.1f5aa8","type":"function","z":"db33a3c.34b8b6","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":333,"y":460,"wires":[["87f406d0.869cb8"]]},{"id":"3c238ff7.5a028","type":"complete","z":"db33a3c.34b8b6","name":"","scope":["ffaab46c.9d4158","ebe45b45.552fa8"],"uncaught":false,"x":99,"y":213,"wires":[["7473da12.24b094"]]},{"id":"7473da12.24b094","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":121,"y":158,"wires":[["a1fd6c18.ecfbb"]]},{"id":"df96ff2f.ad86f","type":"comment","z":"db33a3c.34b8b6","name":"Slave Active","info":"","x":570,"y":259,"wires":[]},{"id":"2dab0d0d.6f50d2","type":"function","z":"db33a3c.34b8b6","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":963,"y":300,"wires":[["eb455433.0678a8"]]},{"id":"eb455433.0678a8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1110,"y":300,"wires":[["409cf98b.1f5aa8"],["d7814125.b997"],["3a6a1781.343218"]]},{"id":"b1f9aeee.7d2f8","type":"comment","z":"db33a3c.34b8b6","name":"Retry","info":"","x":1110,"y":254,"wires":[]},{"id":"76be4258.8e6d9c","type":"comment","z":"db33a3c.34b8b6","name":"PLC Active","info":"","x":717,"y":46,"wires":[]},{"id":"db040438.ac1258","type":"modbus-flex-write","z":"db33a3c.34b8b6","name":"","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":736,"y":86,"wires":[["6ff4b98f.ea15f8"],[]]},{"id":"a1fd6c18.ecfbb","type":"function","z":"db33a3c.34b8b6","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":517,"y":86,"wires":[["db040438.ac1258"]]},{"id":"4b1e1264.83700c","type":"comment","z":"db33a3c.34b8b6","name":"check Done bit","info":"","x":546,"y":425,"wires":[]},{"id":"82fab4d0.b084d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":474,"wires":[["d3262ab.4ff03d8"],["c8dc5c85.efc"]]},{"id":"ffaab46c.9d4158","type":"function","z":"db33a3c.34b8b6","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n        global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":720,"wires":[["60d38d77.fb4d44"]]},{"id":"a7b66bb6.24f4c8","type":"function","z":"db33a3c.34b8b6","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":474,"wires":[["82fab4d0.b084d8"]]},{"id":"d3262ab.4ff03d8","type":"function","z":"db33a3c.34b8b6","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":343,"y":725,"wires":[["1438037e.64863d"]]},{"id":"1438037e.64863d","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"Read Data","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":573,"y":725,"wires":[["ffaab46c.9d4158"],[]]},{"id":"5d7cf689.8fbab8","type":"comment","z":"db33a3c.34b8b6","name":"Read Actual Data","info":"","x":582,"y":688,"wires":[]},{"id":"ebe45b45.552fa8","type":"function","z":"db33a3c.34b8b6","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1434,"y":489,"wires":[["b1af78ea.5ed778","7ace6cc.1db1c94"]]},{"id":"d79f42c2.37c9b","type":"complete","z":"db33a3c.34b8b6","name":"","scope":["ffaab46c.9d4158"],"uncaught":false,"x":153,"y":777,"wires":[["ce2b262.26891d8"]]},{"id":"ce2b262.26891d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":173,"y":724,"wires":[["d3262ab.4ff03d8"]]},{"id":"60d38d77.fb4d44","type":"switch","z":"db33a3c.34b8b6","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":993,"y":721,"wires":[["b1af78ea.5ed778","7ace6cc.1db1c94"]]},{"id":"28089889.4b1a98","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":300,"wires":[["2dab0d0d.6f50d2"]]},{"id":"e126c554.1ac2c8","type":"function","z":"db33a3c.34b8b6","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1303,"y":74,"wires":[["173659bd.198b36"]]},{"id":"173659bd.198b36","type":"switch","z":"db33a3c.34b8b6","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":386,"y":212,"wires":[["d7814125.b997"],["be18acc6.d91e3"]]},{"id":"d391004b.303e5","type":"comment","z":"db33a3c.34b8b6","name":"Check for Writable device or NonWritable","info":"","x":410,"y":169,"wires":[]},{"id":"b1af78ea.5ed778","type":"debug","z":"db33a3c.34b8b6","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":720,"wires":[]},{"id":"7ace6cc.1db1c94","type":"change","z":"db33a3c.34b8b6","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1272,"y":771,"wires":[["1ae6de51.7977c2"]]},{"id":"7c303d94.ebc124","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1262,"y":884,"wires":[]},{"id":"d469d560.15fdc8","type":"comment","z":"db33a3c.34b8b6","name":"Reset Done Bit","info":"","x":1120,"y":40,"wires":[]},{"id":"6ff4b98f.ea15f8","type":"function","z":"db33a3c.34b8b6","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":931,"y":79,"wires":[["5d5851ce.2d694"]]},{"id":"5d5851ce.2d694","type":"modbus-flex-write","z":"db33a3c.34b8b6","name":"","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1122,"y":80,"wires":[["e126c554.1ac2c8","d374a929.c09628"],[]]},{"id":"1ae6de51.7977c2","type":"http request","z":"db33a3c.34b8b6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/beta/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1272,"y":825,"wires":[["7c303d94.ebc124"]]},{"id":"d374a929.c09628","type":"debug","z":"db33a3c.34b8b6","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":20,"wires":[]},{"id":"1cf10dab.a94b42","type":"function","z":"db33a3c.34b8b6","name":"PLC_DP-1","func":"var PLC_deviceProfile_1 = [\n  // Start SCB\n  {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    \n// Start MFM\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 180\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 17,\n                        address: 175,\n                        quantity: 66\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"MFM-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 180\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 18\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 175,\n                        quantity: 66\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":60,"wires":[["a1fd6c18.ecfbb"]]},{"id":"33346821.1b6898","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":577,"wires":[["158f05aa.96d76a"],[]]},{"id":"1aae5fed.e96ea","type":"function","z":"db33a3c.34b8b6","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":333,"y":577,"wires":[["33346821.1b6898"]]},{"id":"5ed60404.e0423c","type":"comment","z":"db33a3c.34b8b6","name":"Re check Done bit","info":"","x":551,"y":538,"wires":[]},{"id":"9f8f5218.ad51e","type":"switch","z":"db33a3c.34b8b6","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":591,"wires":[["d3262ab.4ff03d8"],["ebe45b45.552fa8"]]},{"id":"158f05aa.96d76a","type":"function","z":"db33a3c.34b8b6","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":590,"wires":[["9f8f5218.ad51e"]]},{"id":"c8dc5c85.efc","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":480,"wires":[["1aae5fed.e96ea"]]},{"id":"be18acc6.d91e3","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":380,"wires":[["44458865.be4148"]]},{"id":"44458865.be4148","type":"function","z":"db33a3c.34b8b6","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":460,"wires":[["409cf98b.1f5aa8"]]},{"id":"3a6a1781.343218","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":420,"wires":[["ebe45b45.552fa8"]]},{"id":"47221072.d43f","type":"comment","z":"db33a3c.34b8b6","name":"Data Packet Loop","info":"","x":147,"y":685,"wires":[]},{"id":"64bf9434.8a9b4c","type":"comment","z":"db33a3c.34b8b6","name":"Number of device Loop","info":"","x":116,"y":117,"wires":[]},{"id":"bedfd603.711978","type":"function","z":"db33a3c.34b8b6","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":881,"y":1466,"wires":[["191adab4.3981b5"]]},{"id":"e97a58e6.d04e08","type":"function","z":"db33a3c.34b8b6","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    // let errorCount = global.get('deviceProfile_1_errorCount');\n    // if(errorCount == 1){\n    // node.warn('Data read successfully After Retry DeviceProfile-4')\n    // global.set('deviceProfile_1_errorCount', null);\n    // }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1504,"y":1466,"wires":[["b064b5cf.d1bcc8"]]},{"id":"b064b5cf.d1bcc8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1708,"y":1466,"wires":[["f0d70153.a2aab"]]},{"id":"f0d70153.a2aab","type":"debug","z":"db33a3c.34b8b6","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":1466,"wires":[]},{"id":"191adab4.3981b5","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.103","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"e2fe6848.89e968","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1094,"y":1466,"wires":[["81637ad1.dc4828"],[]]},{"id":"81637ad1.dc4828","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1279,"y":1466,"wires":[["e97a58e6.d04e08"]]},{"id":"13de8718.3af849","type":"function","z":"db33a3c.34b8b6","name":"DP-1  INV-1","func":"var deviceProfile_1 = [\n    {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 58\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 0,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 7,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 30,\n                        quantity: 13\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 8,\n                        quantity: 20\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);  \nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":603,"y":1466,"wires":[["bedfd603.711978"]]},{"id":"c1fcf20a.3c1cd","type":"complete","z":"db33a3c.34b8b6","name":"Device Profile-1","scope":["e97a58e6.d04e08"],"uncaught":false,"x":503,"y":1285,"wires":[["9d3c7648.10f768"]]},{"id":"9d3c7648.10f768","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":658,"y":1285,"wires":[["bedfd603.711978"]]},{"id":"9d7a3383.d7b8e","type":"complete","z":"db33a3c.34b8b6","name":"Read Device Profile-1","scope":["e97a58e6.d04e08"],"uncaught":false,"x":478,"y":1699,"wires":[["f23633e4.eeb61"]]},{"id":"f23633e4.eeb61","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":668,"y":1699,"wires":[["bedfd603.711978"]]},{"id":"13adda90.f47b55","type":"inject","z":"db33a3c.34b8b6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":368,"y":1526,"wires":[["1a89c060.7d7ea"]]},{"id":"2925fc8c.b792c4","type":"function","z":"db33a3c.34b8b6","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":881,"y":1526,"wires":[["33a7cad8.615dc6"]]},{"id":"24a249fe.22b006","type":"function","z":"db33a3c.34b8b6","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    // let errorCount = global.get('deviceProfile_2_errorCount');\n    // if(errorCount == 1){\n    // node.warn('Data read successfully After Retry DeviceProfile-4')\n    // global.set('deviceProfile_2_errorCount', null);\n    // }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1504,"y":1526,"wires":[["62d1a0df.49552"]]},{"id":"62d1a0df.49552","type":"switch","z":"db33a3c.34b8b6","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1708,"y":1526,"wires":[["3abcc4fa.63612c","637519da.31db58"]]},{"id":"3abcc4fa.63612c","type":"debug","z":"db33a3c.34b8b6","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":1526,"wires":[]},{"id":"33a7cad8.615dc6","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.1","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dfe9ed79.5e127","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1089,"y":1526,"wires":[["6e21420.eb5b4c"],[]]},{"id":"6e21420.eb5b4c","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1279,"y":1526,"wires":[["24a249fe.22b006"]]},{"id":"1a89c060.7d7ea","type":"function","z":"db33a3c.34b8b6","name":"DP-2 WMS-1","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 110\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 0,\n                        quantity: 11\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);  \nglobal.set(\"deviceProfile_2_Count\", 0);\nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":606,"y":1526,"wires":[["2925fc8c.b792c4"]]},{"id":"dd9253df.79e9b","type":"complete","z":"db33a3c.34b8b6","name":"Read Device Profile-2","scope":["24a249fe.22b006"],"uncaught":false,"x":479,"y":1759,"wires":[["3bb6f52d.8187ba"]]},{"id":"3bb6f52d.8187ba","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":665,"y":1759,"wires":[["2925fc8c.b792c4"]]},{"id":"29a11ca.7aee2e4","type":"complete","z":"db33a3c.34b8b6","name":"Device Profile-2","scope":["24a249fe.22b006"],"uncaught":false,"x":503,"y":1338,"wires":[["c3ba7df5.69508"]]},{"id":"c3ba7df5.69508","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":658,"y":1338,"wires":[["2925fc8c.b792c4"]]},{"id":"2524af16.e670d","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":94,"y":1055,"wires":[["d8579cdb.8aec3","ae186f7b.40b15"]]},{"id":"ddf49951.9954d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":104,"y":1142,"wires":[["d4dc32cf.ea1e4"],["3105465d.637bba"]]},{"id":"d4dc32cf.ea1e4","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":293,"y":1110,"wires":[["d6212259.98246"]]},{"id":"cb933b82.f94658","type":"switch","z":"db33a3c.34b8b6","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":655,"y":1142,"wires":[["bedfd603.711978"],["2925fc8c.b792c4"],["8d963da6.3bd08"]]},{"id":"3105465d.637bba","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":292,"y":1175,"wires":[["7edef934.76fe28"]]},{"id":"d6212259.98246","type":"function","z":"db33a3c.34b8b6","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":478,"y":1110,"wires":[["cb933b82.f94658"]]},{"id":"7edef934.76fe28","type":"function","z":"db33a3c.34b8b6","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":476,"y":1175,"wires":[["cb933b82.f94658"]]},{"id":"cb389ec7.c2eaf","type":"switch","z":"db33a3c.34b8b6","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":649,"y":1055,"wires":[["f93eb0e9.1c40e"]]},{"id":"d8579cdb.8aec3","type":"function","z":"db33a3c.34b8b6","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\n\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        // let index = global.get(deviceProfile_Index);\n        // Not remove this line of code when Retry to read wil start\n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        //  Remove this line of code when Retry to read wil start\n        displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        \n        \n        /*\n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount != 2){\n            node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }*/\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"192.168.10.103\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    //Inverter-1\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS-1\n    if(slaveID == 3){\n        node.warn('Error Occur in WMS-1');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.104\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // Inverter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-2');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":286,"y":1054,"wires":[["ddf49951.9954d8","cb389ec7.c2eaf"]]},{"id":"ae186f7b.40b15","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":284,"y":991,"wires":[]},{"id":"8d963da6.3bd08","type":"function","z":"db33a3c.34b8b6","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":885,"y":1584,"wires":[["1c52800d.a019d"]]},{"id":"6f177dbb.efd6d4","type":"function","z":"db33a3c.34b8b6","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    // let errorCount = global.get('deviceProfile_3_errorCount');\n    // if(errorCount == 1){\n    // node.warn('Data read successfully After Retry DeviceProfile-4')\n    // global.set('deviceProfile_3_errorCount', null);\n    // }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1508,"y":1584,"wires":[["5070bd0.076e044"]]},{"id":"5070bd0.076e044","type":"switch","z":"db33a3c.34b8b6","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1712,"y":1584,"wires":[["1f0bb0eb.18db6f"]]},{"id":"1f0bb0eb.18db6f","type":"debug","z":"db33a3c.34b8b6","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1884,"y":1584,"wires":[]},{"id":"1c52800d.a019d","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.104","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"72250816.f1b3f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1098,"y":1584,"wires":[["da6d37b2.8da0b8"],[]]},{"id":"da6d37b2.8da0b8","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1283,"y":1584,"wires":[["6f177dbb.efd6d4"]]},{"id":"69dfe760.5687a8","type":"function","z":"db33a3c.34b8b6","name":"DP-3  INV-2","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 58\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 0,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 7,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 30,\n                        quantity: 13\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 8,\n                        quantity: 20\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []);  \nglobal.set(\"deviceProfile_3_Count\", 0);\nglobal.set(\"deviceProfile_3_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":607,"y":1584,"wires":[["8d963da6.3bd08"]]},{"id":"6e76d5a3.2c6eec","type":"complete","z":"db33a3c.34b8b6","name":"Read Device Profile-3","scope":["6f177dbb.efd6d4"],"uncaught":false,"x":480,"y":1814,"wires":[["2bbb0de2.17a892"]]},{"id":"2bbb0de2.17a892","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":666,"y":1814,"wires":[["8d963da6.3bd08"]]},{"id":"5aa6a12d.887b3","type":"complete","z":"db33a3c.34b8b6","name":"Device Profile-3","scope":["6f177dbb.efd6d4"],"uncaught":false,"x":505,"y":1389,"wires":[["8d58d5da.3d06c8"]]},{"id":"8d58d5da.3d06c8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1389,"wires":[["8d963da6.3bd08"]]},{"id":"637519da.31db58","type":"change","z":"db33a3c.34b8b6","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1894,"y":1315,"wires":[["42d54c1e.1cffc4"]]},{"id":"4967e485.a3c53c","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1865,"y":1207,"wires":[]},{"id":"f93eb0e9.1c40e","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":864,"y":1055,"wires":[]},{"id":"7e77d0b0.3a11d","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.103","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"e2fe6848.89e968","x":1560,"y":1746,"wires":[[]]},{"id":"c62722b4.4734b","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1383,"y":1746,"wires":[["7e77d0b0.3a11d"]]},{"id":"4393e3f8.4307fc","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.103\"){\n     msg.reConnector_2 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.103', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1217,"y":1746,"wires":[["c62722b4.4734b"]]},{"id":"56277da7.d1d4d4","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.1","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"dfe9ed79.5e127","x":1558.9998779296875,"y":1804,"wires":[[]]},{"id":"c8ac6a24.22f3c8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_3","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1383.9998779296875,"y":1804,"wires":[["56277da7.d1d4d4"]]},{"id":"8aca9753.305588","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.1\"){\n     msg.reConnector_3 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.1', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_3 = false;\n}\n}else {\n    msg.reConnector_3 = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1216.9998779296875,"y":1804,"wires":[["c8ac6a24.22f3c8"]]},{"id":"13bfd6a4.9e55a9","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.104","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"72250816.f1b3f8","x":1563,"y":1862,"wires":[[]]},{"id":"d1943e91.f0d37","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_4","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1385,"y":1862,"wires":[["13bfd6a4.9e55a9"]]},{"id":"562ff328.b2c47c","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.104\"){\n     msg.reConnector_4 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.104', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_4 = false;\n}\n}else {\n    msg.reConnector_4 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1862,"wires":[["d1943e91.f0d37"]]},{"id":"4f8f6591.1a485c","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":1046,"y":1746,"wires":[["4393e3f8.4307fc"]]},{"id":"e9a279e0.1c24b8","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":1046,"y":1804,"wires":[["8aca9753.305588"]]},{"id":"3f0a5f33.0f167","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":1048,"y":1862,"wires":[["562ff328.b2c47c"]]},{"id":"2e3e57f1.fdf698","type":"comment","z":"db33a3c.34b8b6","name":"******** Reconect *******","info":"","x":1270,"y":1650,"wires":[]},{"id":"2da2707c.2803d","type":"comment","z":"db33a3c.34b8b6","name":"*************** For Modbus TCP/ IP ***************","info":"","x":614,"y":935,"wires":[]},{"id":"afbbd732.4846e8","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.201","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","x":1559,"y":1692,"wires":[[]]},{"id":"dc39ab96.c9e468","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1382,"y":1692,"wires":[["afbbd732.4846e8"]]},{"id":"78fb6a17.796314","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.201\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.201', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1216,"y":1692,"wires":[["dc39ab96.c9e468"]]},{"id":"3bcf213e.df965e","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":1045,"y":1692,"wires":[["78fb6a17.796314"]]},{"id":"462e74b.955ed8c","type":"comment","z":"db33a3c.34b8b6","name":"Number of device Loop","info":"","x":524,"y":1240,"wires":[]},{"id":"276ee3fc.2381ec","type":"comment","z":"db33a3c.34b8b6","name":"Data Packet Loop","info":"","x":470,"y":1653,"wires":[]},{"id":"42d54c1e.1cffc4","type":"http request","z":"db33a3c.34b8b6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/beta/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1886,"y":1260,"wires":[["4967e485.a3c53c"]]},{"id":"d049ceb6.1fa0b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e2fe6848.89e968","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"dfe9ed79.5e127","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.1","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"72250816.f1b3f8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.104","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]