Roorkee/new flow.json
[{"id":"db33a3c.34b8b6","type":"tab","label":"Roorkee","disabled":false,"info":""},{"id":"d7814125.b997","type":"function","z":"db33a3c.34b8b6","name":"","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["2474671.e283498"]]},{"id":"edb47f3d.0b9cd","type":"inject","z":"db33a3c.34b8b6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":104,"y":84,"wires":[["1cf10dab.a94b42"]]},{"id":"2474671.e283498","type":"modbus-flex-write","z":"db33a3c.34b8b6","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":660,"y":220,"wires":[["2dab0d0d.6f50d2"],[]]},{"id":"87f406d0.869cb8","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":460,"wires":[["a7b66bb6.24f4c8"],[]]},{"id":"409cf98b.1f5aa8","type":"function","z":"db33a3c.34b8b6","name":"","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":460,"wires":[["87f406d0.869cb8"]]},{"id":"3c238ff7.5a028","type":"complete","z":"db33a3c.34b8b6","name":"","scope":["ffaab46c.9d4158","ebe45b45.552fa8"],"uncaught":false,"x":99,"y":234,"wires":[["7473da12.24b094"]]},{"id":"7473da12.24b094","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":121,"y":179,"wires":[["a1fd6c18.ecfbb"]]},{"id":"df96ff2f.ad86f","type":"comment","z":"db33a3c.34b8b6","name":"Slave Active","info":"","x":650,"y":180,"wires":[]},{"id":"2dab0d0d.6f50d2","type":"function","z":"db33a3c.34b8b6","name":"","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":220,"wires":[["eb455433.0678a8"]]},{"id":"eb455433.0678a8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1163,"y":220,"wires":[["b559b7e6.f2d608"],["d7814125.b997"],["3a6a1781.343218"]]},{"id":"b1f9aeee.7d2f8","type":"comment","z":"db33a3c.34b8b6","name":"Retry","info":"","x":1163,"y":174,"wires":[]},{"id":"76be4258.8e6d9c","type":"comment","z":"db33a3c.34b8b6","name":"PLC Active","info":"","x":717,"y":46,"wires":[]},{"id":"db040438.ac1258","type":"modbus-flex-write","z":"db33a3c.34b8b6","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":720,"y":80,"wires":[["e126c554.1ac2c8"],[]]},{"id":"a1fd6c18.ecfbb","type":"function","z":"db33a3c.34b8b6","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":517,"y":82,"wires":[["db040438.ac1258"]]},{"id":"4b1e1264.83700c","type":"comment","z":"db33a3c.34b8b6","name":"check Done bit","info":"","x":570,"y":425,"wires":[]},{"id":"82fab4d0.b084d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":474,"wires":[["d3262ab.4ff03d8"],["c8dc5c85.efc"]]},{"id":"ffaab46c.9d4158","type":"function","z":"db33a3c.34b8b6","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n        global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        // global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":786,"y":660,"wires":[["60d38d77.fb4d44"]]},{"id":"a7b66bb6.24f4c8","type":"function","z":"db33a3c.34b8b6","name":"","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":460,"wires":[["82fab4d0.b084d8"]]},{"id":"d3262ab.4ff03d8","type":"function","z":"db33a3c.34b8b6","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":313,"y":665,"wires":[["1438037e.64863d"]]},{"id":"1438037e.64863d","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":553,"y":665,"wires":[["ffaab46c.9d4158"],[]]},{"id":"5d7cf689.8fbab8","type":"comment","z":"db33a3c.34b8b6","name":"Read Actual Data","info":"","x":552,"y":628,"wires":[]},{"id":"ebe45b45.552fa8","type":"function","z":"db33a3c.34b8b6","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        // global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n     node.warn(global.get('PLC_deviceProfile_1_retryStatus'))\n    displayError('Slave Id is Not Writing Over PLC');\n    node.warn('Slave Id is Not Writing Over PLC')\n    moveOnNextDevice();\n}else {\n     node.warn(global.get('PLC_deviceProfile_1_retryStatus'))\n    node.warn('Done Bit Not OK')\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":580,"wires":[["b1af78ea.5ed778","7ace6cc.1db1c94"]]},{"id":"d79f42c2.37c9b","type":"complete","z":"db33a3c.34b8b6","name":"","scope":["ffaab46c.9d4158"],"uncaught":false,"x":123,"y":717,"wires":[["ce2b262.26891d8"]]},{"id":"ce2b262.26891d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":143,"y":664,"wires":[["d3262ab.4ff03d8"]]},{"id":"60d38d77.fb4d44","type":"switch","z":"db33a3c.34b8b6","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":987,"y":661,"wires":[["b1af78ea.5ed778","7ace6cc.1db1c94"]]},{"id":"28089889.4b1a98","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":340,"wires":[["409cf98b.1f5aa8"]]},{"id":"e126c554.1ac2c8","type":"function","z":"db33a3c.34b8b6","name":"","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":80,"wires":[["173659bd.198b36"]]},{"id":"173659bd.198b36","type":"switch","z":"db33a3c.34b8b6","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":80,"wires":[["d7814125.b997"],["b559b7e6.f2d608"]]},{"id":"d391004b.303e5","type":"comment","z":"db33a3c.34b8b6","name":"Check for Writable device or NonWritable","info":"","x":1120,"y":40,"wires":[]},{"id":"b1af78ea.5ed778","type":"debug","z":"db33a3c.34b8b6","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":660,"wires":[]},{"id":"7ace6cc.1db1c94","type":"change","z":"db33a3c.34b8b6","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1242,"y":711,"wires":[["1ae6de51.7977c2"]]},{"id":"7c303d94.ebc124","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":820,"wires":[]},{"id":"1ae6de51.7977c2","type":"http request","z":"db33a3c.34b8b6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/beta/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":760,"wires":[["7c303d94.ebc124"]]},{"id":"1cf10dab.a94b42","type":"function","z":"db33a3c.34b8b6","name":"PLC_DP-1","func":"var PLC_deviceProfile_1 = [\n  // Start SCB\n  {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    \n// Start MFM\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 180\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 17,\n                        address: 175,\n                        quantity: 66\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"MFM-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 180\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 18\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 175,\n                        quantity: 66\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":302,"y":85,"wires":[["a1fd6c18.ecfbb"]]},{"id":"33346821.1b6898","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":560,"wires":[["158f05aa.96d76a"],[]]},{"id":"1aae5fed.e96ea","type":"function","z":"db33a3c.34b8b6","name":"","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":560,"wires":[["33346821.1b6898"]]},{"id":"5ed60404.e0423c","type":"comment","z":"db33a3c.34b8b6","name":"Re check Done bit","info":"","x":570,"y":521,"wires":[]},{"id":"9f8f5218.ad51e","type":"switch","z":"db33a3c.34b8b6","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":574,"wires":[["d3262ab.4ff03d8"],["ebe45b45.552fa8"]]},{"id":"158f05aa.96d76a","type":"function","z":"db33a3c.34b8b6","name":"","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":573,"wires":[["9f8f5218.ad51e"]]},{"id":"c8dc5c85.efc","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1138,"y":480,"wires":[["1aae5fed.e96ea"]]},{"id":"3a6a1781.343218","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":380,"wires":[["ebe45b45.552fa8"]]},{"id":"47221072.d43f","type":"comment","z":"db33a3c.34b8b6","name":"Data Packet Loop","info":"","x":117,"y":625,"wires":[]},{"id":"64bf9434.8a9b4c","type":"comment","z":"db33a3c.34b8b6","name":"Number of device Loop","info":"","x":116,"y":138,"wires":[]},{"id":"bedfd603.711978","type":"function","z":"db33a3c.34b8b6","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1300,"wires":[["191adab4.3981b5"]]},{"id":"e97a58e6.d04e08","type":"function","z":"db33a3c.34b8b6","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    // let errorCount = global.get('deviceProfile_1_errorCount');\n    // if(errorCount == 1){\n    // node.warn('Data read successfully After Retry DeviceProfile-4')\n    // global.set('deviceProfile_1_errorCount', null);\n    // }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1503,"y":1300,"wires":[["b064b5cf.d1bcc8"]]},{"id":"b064b5cf.d1bcc8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1707,"y":1300,"wires":[["f0d70153.a2aab"]]},{"id":"f0d70153.a2aab","type":"debug","z":"db33a3c.34b8b6","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1879,"y":1300,"wires":[]},{"id":"191adab4.3981b5","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.203","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"e2fe6848.89e968","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1093,"y":1300,"wires":[["81637ad1.dc4828"],[]]},{"id":"81637ad1.dc4828","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1278,"y":1300,"wires":[["e97a58e6.d04e08"]]},{"id":"13de8718.3af849","type":"function","z":"db33a3c.34b8b6","name":"DP-1  INV-1","func":"var deviceProfile_1 = [\n    {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 58\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 0,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 7,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 30,\n                        quantity: 13\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 8,\n                        quantity: 20\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);  \nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":602,"y":1300,"wires":[["bedfd603.711978"]]},{"id":"c1fcf20a.3c1cd","type":"complete","z":"db33a3c.34b8b6","name":"Device Profile-1","scope":["e97a58e6.d04e08"],"uncaught":false,"x":502,"y":1119,"wires":[["9d3c7648.10f768"]]},{"id":"9d3c7648.10f768","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":657,"y":1119,"wires":[["bedfd603.711978"]]},{"id":"f23633e4.eeb61","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":667,"y":1533,"wires":[["bedfd603.711978"]]},{"id":"13adda90.f47b55","type":"inject","z":"db33a3c.34b8b6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":367,"y":1360,"wires":[["1a89c060.7d7ea"]]},{"id":"2925fc8c.b792c4","type":"function","z":"db33a3c.34b8b6","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1360,"wires":[["33a7cad8.615dc6"]]},{"id":"24a249fe.22b006","type":"function","z":"db33a3c.34b8b6","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    // let errorCount = global.get('deviceProfile_2_errorCount');\n    // if(errorCount == 1){\n    // node.warn('Data read successfully After Retry DeviceProfile-4')\n    // global.set('deviceProfile_2_errorCount', null);\n    // }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1503,"y":1360,"wires":[["62d1a0df.49552"]]},{"id":"62d1a0df.49552","type":"switch","z":"db33a3c.34b8b6","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1707,"y":1360,"wires":[["3abcc4fa.63612c","637519da.31db58"]]},{"id":"3abcc4fa.63612c","type":"debug","z":"db33a3c.34b8b6","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1879,"y":1360,"wires":[]},{"id":"33a7cad8.615dc6","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.206","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dfe9ed79.5e127","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1088,"y":1360,"wires":[["6e21420.eb5b4c"],[]]},{"id":"6e21420.eb5b4c","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1278,"y":1360,"wires":[["24a249fe.22b006"]]},{"id":"1a89c060.7d7ea","type":"function","z":"db33a3c.34b8b6","name":"DP-2 WMS-1","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 110\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 0,\n                        quantity: 11\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);  \nglobal.set(\"deviceProfile_2_Count\", 0);\nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":605,"y":1360,"wires":[["2925fc8c.b792c4"]]},{"id":"dd9253df.79e9b","type":"complete","z":"db33a3c.34b8b6","name":"Read Device Profile-2","scope":["24a249fe.22b006"],"uncaught":false,"x":478,"y":1593,"wires":[["3bb6f52d.8187ba"]]},{"id":"3bb6f52d.8187ba","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":664,"y":1593,"wires":[["2925fc8c.b792c4"]]},{"id":"29a11ca.7aee2e4","type":"complete","z":"db33a3c.34b8b6","name":"Device Profile-2","scope":["24a249fe.22b006"],"uncaught":false,"x":502,"y":1172,"wires":[["c3ba7df5.69508"]]},{"id":"c3ba7df5.69508","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":657,"y":1172,"wires":[["2925fc8c.b792c4"]]},{"id":"2524af16.e670d","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":93,"y":889,"wires":[["d8579cdb.8aec3","ae186f7b.40b15"]]},{"id":"ddf49951.9954d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":103,"y":976,"wires":[["d4dc32cf.ea1e4"],["3105465d.637bba"]]},{"id":"d4dc32cf.ea1e4","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":292,"y":944,"wires":[["d6212259.98246"]]},{"id":"cb933b82.f94658","type":"switch","z":"db33a3c.34b8b6","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":654,"y":976,"wires":[["bedfd603.711978"],["2925fc8c.b792c4"],["8d963da6.3bd08"]]},{"id":"3105465d.637bba","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":291,"y":1009,"wires":[["7edef934.76fe28"]]},{"id":"d6212259.98246","type":"function","z":"db33a3c.34b8b6","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":477,"y":944,"wires":[["cb933b82.f94658"]]},{"id":"7edef934.76fe28","type":"function","z":"db33a3c.34b8b6","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":475,"y":1009,"wires":[["cb933b82.f94658"]]},{"id":"cb389ec7.c2eaf","type":"switch","z":"db33a3c.34b8b6","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":648,"y":889,"wires":[["f93eb0e9.1c40e"]]},{"id":"d8579cdb.8aec3","type":"function","z":"db33a3c.34b8b6","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\n\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        // let index = global.get(deviceProfile_Index);\n        // Not remove this line of code when Retry to read wil start\n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        //  Remove this line of code when Retry to read wil start\n        displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        \n        \n        /*\n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount != 2){\n            node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }*/\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"192.168.10.103\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    //Inverter-1\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS-1\n    if(slaveID == 3){\n        node.warn('Error Occur in WMS-1');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.104\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // Inverter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-2');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":285,"y":888,"wires":[["ddf49951.9954d8","cb389ec7.c2eaf"]]},{"id":"ae186f7b.40b15","type":"debug","z":"db33a3c.34b8b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":283,"y":825,"wires":[]},{"id":"8d963da6.3bd08","type":"function","z":"db33a3c.34b8b6","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":884,"y":1418,"wires":[["1c52800d.a019d"]]},{"id":"6f177dbb.efd6d4","type":"function","z":"db33a3c.34b8b6","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    // let errorCount = global.get('deviceProfile_3_errorCount');\n    // if(errorCount == 1){\n    // node.warn('Data read successfully After Retry DeviceProfile-4')\n    // global.set('deviceProfile_3_errorCount', null);\n    // }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1507,"y":1418,"wires":[["5070bd0.076e044"]]},{"id":"5070bd0.076e044","type":"switch","z":"db33a3c.34b8b6","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1711,"y":1418,"wires":[["1f0bb0eb.18db6f"]]},{"id":"1f0bb0eb.18db6f","type":"debug","z":"db33a3c.34b8b6","name":"10.102.255.148","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1883,"y":1418,"wires":[]},{"id":"1c52800d.a019d","type":"modbus-flex-getter","z":"db33a3c.34b8b6","name":"192.168.10.204","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"72250816.f1b3f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1093,"y":1418,"wires":[["da6d37b2.8da0b8"],[]]},{"id":"da6d37b2.8da0b8","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1282,"y":1418,"wires":[["6f177dbb.efd6d4"]]},{"id":"69dfe760.5687a8","type":"function","z":"db33a3c.34b8b6","name":"DP-3  INV-2","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 58\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 0,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 7,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 30,\n                        quantity: 13\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 8,\n                        quantity: 20\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []);  \nglobal.set(\"deviceProfile_3_Count\", 0);\nglobal.set(\"deviceProfile_3_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":606,"y":1418,"wires":[["8d963da6.3bd08"]]},{"id":"6e76d5a3.2c6eec","type":"complete","z":"db33a3c.34b8b6","name":"Read Device Profile-3","scope":["6f177dbb.efd6d4"],"uncaught":false,"x":479,"y":1648,"wires":[["2bbb0de2.17a892"]]},{"id":"2bbb0de2.17a892","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":665,"y":1648,"wires":[["8d963da6.3bd08"]]},{"id":"5aa6a12d.887b3","type":"complete","z":"db33a3c.34b8b6","name":"Device Profile-3","scope":["6f177dbb.efd6d4"],"uncaught":false,"x":504,"y":1223,"wires":[["8d58d5da.3d06c8"]]},{"id":"8d58d5da.3d06c8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":659,"y":1223,"wires":[["8d963da6.3bd08"]]},{"id":"637519da.31db58","type":"change","z":"db33a3c.34b8b6","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1893,"y":1149,"wires":[["42d54c1e.1cffc4"]]},{"id":"4967e485.a3c53c","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1864,"y":1041,"wires":[]},{"id":"f93eb0e9.1c40e","type":"debug","z":"db33a3c.34b8b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":863,"y":889,"wires":[]},{"id":"2da2707c.2803d","type":"comment","z":"db33a3c.34b8b6","name":"*************** For Modbus TCP/ IP ***************","info":"","x":670,"y":780,"wires":[]},{"id":"462e74b.955ed8c","type":"comment","z":"db33a3c.34b8b6","name":"Number of device Loop","info":"","x":523,"y":1074,"wires":[]},{"id":"276ee3fc.2381ec","type":"comment","z":"db33a3c.34b8b6","name":"Data Packet Loop","info":"","x":469,"y":1487,"wires":[]},{"id":"42d54c1e.1cffc4","type":"http request","z":"db33a3c.34b8b6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/beta/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1885,"y":1094,"wires":[["4967e485.a3c53c"]]},{"id":"f79abeaa.f5887","type":"comment","z":"db33a3c.34b8b6","name":"Reset Done Bit","info":"","x":692,"y":300,"wires":[]},{"id":"b559b7e6.f2d608","type":"function","z":"db33a3c.34b8b6","name":"","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":339,"wires":[["134c58a4.0b94e7"]]},{"id":"134c58a4.0b94e7","type":"modbus-flex-write","z":"db33a3c.34b8b6","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":692,"y":339,"wires":[["28089889.4b1a98"],[]]},{"id":"39504842.01ccb8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"startNextCycle","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":30,"wires":[["1cf10dab.a94b42"]]},{"id":"c18f8f63.e72f","type":"function","z":"db33a3c.34b8b6","name":"","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nlet deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n\nif(deviceCount == number_Of_Device){\n    // node.warn(deviceCount)\n    global.set('PLC_deviceProfile_1_Count', null);\n    msg.startNextCycle = true;\n    node.warn('Start Next Cycle')\n}else{\n     msg.startNextCycle = false;\n    //   node.warn('******else')\n    // node.warn(deviceCount)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":30,"wires":[["39504842.01ccb8"]]},{"id":"9d0b81c3.19eec","type":"complete","z":"db33a3c.34b8b6","name":"","scope":["ffaab46c.9d4158","ebe45b45.552fa8"],"uncaught":false,"x":90,"y":30,"wires":[["c18f8f63.e72f"]]},{"id":"23c5697.748c296","type":"catch","z":"db33a3c.34b8b6","name":"","scope":null,"uncaught":false,"x":1500,"y":260,"wires":[["c902c5a.f9a7138","44a299fd.e865e8","6b4819da.5c2d28","8f98c474.579878"]]},{"id":"2019f48b.8f79bc","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.203","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"e2fe6848.89e968","x":2020,"y":202,"wires":[[]]},{"id":"9ea04a6d.3339d8","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1843,"y":202,"wires":[["2019f48b.8f79bc"]]},{"id":"17802b53.5c1565","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.103\"){\n     msg.reConnector_2 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.103', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1677,"y":202,"wires":[["9ea04a6d.3339d8"]]},{"id":"6fcfedce.6fc0d4","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.206","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"dfe9ed79.5e127","x":2022.9998779296875,"y":260,"wires":[[]]},{"id":"d5fbad5b.92b44","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_3","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1843.9998779296875,"y":260,"wires":[["6fcfedce.6fc0d4"]]},{"id":"44a299fd.e865e8","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\" || msg.error.message == \"Error: Timed out\"){\n    if(msg.error.source.name == \"192.168.10.206\"){\n     node.warn('Reconnect WMS !!!')\n     msg.reConnector_3 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.206', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_3 = false;\n}\n}else {\n    msg.reConnector_3 = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1676.9998779296875,"y":260,"wires":[["d5fbad5b.92b44"]]},{"id":"a713ba6c.ee7928","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.104","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"72250816.f1b3f8","x":2023,"y":318,"wires":[[]]},{"id":"766fbf2c.476ad","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_4","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1845,"y":318,"wires":[["a713ba6c.ee7928"]]},{"id":"df3b481c.af10a8","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.104\"){\n     msg.reConnector_4 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.104', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_4 = false;\n}\n}else {\n    msg.reConnector_4 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":318,"wires":[["766fbf2c.476ad"]]},{"id":"c1461bae.b37878","type":"comment","z":"db33a3c.34b8b6","name":"******** Reconect *******","info":"","x":1919,"y":100,"wires":[]},{"id":"c902c5a.f9a7138","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\"){\n    if(msg.error.source.name == \"192.168.10.201\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.201', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1677,"y":148,"wires":[["a39092a0.0857f"]]},{"id":"a39092a0.0857f","type":"switch","z":"db33a3c.34b8b6","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1842,"y":148,"wires":[["673e0f91.168fe"]]},{"id":"673e0f91.168fe","type":"modbus-flex-connector","z":"db33a3c.34b8b6","name":"192.168.10.201","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","x":2019,"y":148,"wires":[["ed46fc53.e2bf2"]]},{"id":"ed46fc53.e2bf2","type":"delay","z":"db33a3c.34b8b6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2192,"y":148,"wires":[["1cf10dab.a94b42"]]},{"id":"7f7091e0.2433b","type":"complete","z":"db33a3c.34b8b6","name":"Read Device Profile-2","scope":["e97a58e6.d04e08"],"uncaught":false,"x":476,"y":1533,"wires":[["f23633e4.eeb61"]]},{"id":"6b4819da.5c2d28","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.source.name == \"192.168.10.206\"){\n    msg.isPLC_Error = false;    \n}\n\nif(msg.error.source.name == \"192.168.10.201\"){\n    msg.isPLC_Error = true;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":380,"wires":[["e9f4fd2b.99efe"]]},{"id":"e9f4fd2b.99efe","type":"switch","z":"db33a3c.34b8b6","name":"","property":"isPLC_Error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1765,"y":380,"wires":[["3caf177c.eab6b8"]]},{"id":"3caf177c.eab6b8","type":"function","z":"db33a3c.34b8b6","name":"","func":"msg.payload = {\n    \"Payload\": msg.payload,\n    \"ErrorMessage\": msg.error.message,\n    \"Source\": msg.error.source\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1939,"y":380,"wires":[["3ebadfd8.84036"]]},{"id":"3ebadfd8.84036","type":"file","z":"db33a3c.34b8b6","name":"","filename":"C:\\SCADA\\Node Red Error Testing\\Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2249,"y":380,"wires":[[]]},{"id":"19a99438.5f119c","type":"comment","z":"db33a3c.34b8b6","name":"Save Error Log in File","info":"","x":2239,"y":340,"wires":[]},{"id":"3b6efe9a.69b312","type":"comment","z":"db33a3c.34b8b6","name":"Exception Handling","info":"","x":1650,"y":460,"wires":[]},{"id":"8f98c474.579878","type":"function","z":"db33a3c.34b8b6","name":"","func":"if(msg.error.message == \"Error: Port Not Open\" && msg.error.source.name == \"192.168.10.201\"){\n    msg.errorType = \"Port_Not_Open\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1625.71435546875,"y":505.1428527832031,"wires":[["d212ecde.0cc97"]]},{"id":"d212ecde.0cc97","type":"switch","z":"db33a3c.34b8b6","name":"","property":"errorType","propertyType":"msg","rules":[{"t":"eq","v":"Port_Not_Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":505,"wires":[["1cf10dab.a94b42"]]},{"id":"d049ceb6.1fa0b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e2fe6848.89e968","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.203","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"dfe9ed79.5e127","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.206","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"72250816.f1b3f8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.204","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]
