Roorkee/PLC New Code Structure Roorkee.txt
[{"id":"839a0f3a.2bc75","type":"tab","label":"Running Mode","disabled":false,"info":""},{"id":"a61e0e97.56859","type":"function","z":"839a0f3a.2bc75","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":380,"wires":[["1bf961f5.ce017e"]]},{"id":"4793e2c4.e84f1c","type":"inject","z":"839a0f3a.2bc75","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":131,"y":146,"wires":[["f759da2f.0cf148"]]},{"id":"1bf961f5.ce017e","type":"modbus-flex-write","z":"839a0f3a.2bc75","name":"","showStatusActivities":true,"showErrors":true,"server":"d1c43cb8.3c79b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":592,"y":379,"wires":[["81b23d0a.bdce9"],[]]},{"id":"d7ba4d17.ca05d","type":"modbus-flex-getter","z":"839a0f3a.2bc75","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5f2df6de.b5a358","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":540,"wires":[["514532a0.07163c"],[]]},{"id":"342d63f1.a8249c","type":"function","z":"839a0f3a.2bc75","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":540,"wires":[["d7ba4d17.ca05d"]]},{"id":"fed5323a.8605","type":"complete","z":"839a0f3a.2bc75","name":"","scope":["53b219c9.98fa18","c45d1aab.2916a8"],"uncaught":false,"x":119,"y":302,"wires":[["9d1ab4b0.27e588"]]},{"id":"9d1ab4b0.27e588","type":"switch","z":"839a0f3a.2bc75","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":141,"y":247,"wires":[["7018a008.b3144"]]},{"id":"a6f1998a.d56c18","type":"comment","z":"839a0f3a.2bc75","name":"Slave Active","info":"","x":590,"y":339,"wires":[]},{"id":"90e39356.8063c","type":"function","z":"839a0f3a.2bc75","name":"F-4","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('retryStatus', 'goAhead');\n    global.set('errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"errorCount\") || 0;\n    errorCount += 1;\n    global.set('errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('retryStatus', 'retry');\n    }else {\n       global.set('retryStatus', 'displayErrorMsg'); \n       global.set('errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":983,"y":380,"wires":[["686b12bd.899b7c"]]},{"id":"686b12bd.899b7c","type":"switch","z":"839a0f3a.2bc75","name":"","property":"retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":380,"wires":[["342d63f1.a8249c"],["a61e0e97.56859"],["dbac4aa4.b36cf8"]]},{"id":"e8fe1221.04e11","type":"comment","z":"839a0f3a.2bc75","name":"Retry","info":"","x":1130,"y":334,"wires":[]},{"id":"283c1552.2a6f5a","type":"comment","z":"839a0f3a.2bc75","name":"PLC Active","info":"","x":737,"y":126,"wires":[]},{"id":"5c35193a.92c728","type":"modbus-flex-write","z":"839a0f3a.2bc75","name":"","showStatusActivities":true,"showErrors":true,"server":"d1c43cb8.3c79b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":756,"y":166,"wires":[["64cba3f0.df566c"],[]]},{"id":"7018a008.b3144","type":"function","z":"839a0f3a.2bc75","name":"Outside Loop","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":547,"y":166,"wires":[["5c35193a.92c728"]]},{"id":"fa9f1dad.6ac6","type":"comment","z":"839a0f3a.2bc75","name":"check Done bit","info":"","x":566,"y":505,"wires":[]},{"id":"4d5b0990.6c8798","type":"switch","z":"839a0f3a.2bc75","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":554,"wires":[["e8b9b9d4.b46e18"],["c380aac3.ad4dd8"]]},{"id":"53b219c9.98fa18","type":"function","z":"839a0f3a.2bc75","name":"display data","func":"var deviceProfile = global.get('deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n    global.set('stop_deviceProfile_1', false);\n    let readIndex = global.get('deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set('deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_deviceProfile_1', false);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":833,"y":801,"wires":[["55132ded.7cb834"]]},{"id":"514532a0.07163c","type":"function","z":"839a0f3a.2bc75","name":"F-6","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":554,"wires":[["4d5b0990.6c8798"]]},{"id":"e8b9b9d4.b46e18","type":"function","z":"839a0f3a.2bc75","name":"inside Loop","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":805,"wires":[["392e3d02.6ca6d2"]]},{"id":"392e3d02.6ca6d2","type":"modbus-flex-getter","z":"839a0f3a.2bc75","name":"Read Data","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5f2df6de.b5a358","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":593,"y":805,"wires":[["53b219c9.98fa18"],[]]},{"id":"a805d6f3.7c6fe8","type":"comment","z":"839a0f3a.2bc75","name":"Read Actual Data","info":"","x":602,"y":768,"wires":[]},{"id":"c45d1aab.2916a8","type":"function","z":"839a0f3a.2bc75","name":"onErrorOccured","func":"var deviceProfile = global.get('deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('deviceProfile_1_Index');\n    index += 1;\n    global.set('deviceProfile_1_Index', index);\n    global.set('stop_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        node.warn('MoveOnNextDevice stop_deviceProfile_1')\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Index', 0);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\n// node.warn(msg.error.message)\n// if(msg.error.message == \"Error: Modbus exception 2: Illegal data address (register not supported by device)\"){\n//     displayError('Illegal data address Errror!! (register not supported by device)');\n//     moveOnNextDevice();\n// }\n\n\n// let errorMessage = global.get('error_Msg');\n// node.warn(errorMessage)\n// global.set('errorMessage', 'Illegal data address');\n\n// if(!msg.isData && errorMessage == 'Illegal data address'){\n//     displayError('Illegal data address Errror!! (register not supported by device)');\n//     moveOnNextDevice();\n//     node.warn('-----------1')\n//     global.set('error_Msg', '');\n// }else {\n//     displayError('Done Bit Not OK');\n//     node.warn('-----------2')\n//     moveOnNextDevice();\n// }\n\n\n// if(!msg.isData){\n//     displayError('Done Bit Not OK');\n//     moveOnNextDevice();\n// }else{\n//     if(msg.error.message == \"Error: Modbus exception 2: Illegal data address (register not supported by device)\"){\n//     displayError('Illegal data address Errror!! (register not supported by device)');\n//     moveOnNextDevice();\n// }\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1414,"y":569,"wires":[["7c179a8b.94ed44","4258476e.319218"]]},{"id":"f2c54b3d.489da8","type":"complete","z":"839a0f3a.2bc75","name":"","scope":["53b219c9.98fa18"],"uncaught":false,"x":173,"y":857,"wires":[["51bed2ce.fb717c"]]},{"id":"51bed2ce.fb717c","type":"switch","z":"839a0f3a.2bc75","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":193,"y":804,"wires":[["e8b9b9d4.b46e18"]]},{"id":"55132ded.7cb834","type":"switch","z":"839a0f3a.2bc75","name":"","property":"sendData","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1013,"y":801,"wires":[["7c179a8b.94ed44","4258476e.319218"]]},{"id":"81b23d0a.bdce9","type":"delay","z":"839a0f3a.2bc75","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":380,"wires":[["90e39356.8063c"]]},{"id":"66763d66.4819a4","type":"function","z":"839a0f3a.2bc75","name":"F-2","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1323,"y":154,"wires":[["b16956ad.a8e118"]]},{"id":"b16956ad.a8e118","type":"switch","z":"839a0f3a.2bc75","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":292,"wires":[["a61e0e97.56859"],["9a5d2c62.215bf"]]},{"id":"88f652c0.49af5","type":"comment","z":"839a0f3a.2bc75","name":"Check for Writable device or NonWritable","info":"","x":430,"y":249,"wires":[]},{"id":"7c179a8b.94ed44","type":"debug","z":"839a0f3a.2bc75","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":800,"wires":[]},{"id":"4258476e.319218","type":"change","z":"839a0f3a.2bc75","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1292,"y":851,"wires":[["7ed9e641.2a6288"]]},{"id":"a382893b.f71548","type":"debug","z":"839a0f3a.2bc75","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1282,"y":964,"wires":[]},{"id":"3f6b75be.242ada","type":"comment","z":"839a0f3a.2bc75","name":"Reset Done Bit","info":"","x":1140,"y":120,"wires":[]},{"id":"64cba3f0.df566c","type":"function","z":"839a0f3a.2bc75","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":951,"y":159,"wires":[["3a46f4c4.91d78c"]]},{"id":"3a46f4c4.91d78c","type":"modbus-flex-write","z":"839a0f3a.2bc75","name":"","showStatusActivities":true,"showErrors":true,"server":"d1c43cb8.3c79b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1142,"y":160,"wires":[["66763d66.4819a4","9e0269b5.9cb058"],[]]},{"id":"7ed9e641.2a6288","type":"http request","z":"839a0f3a.2bc75","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.220/gm/beta/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1292,"y":905,"wires":[["a382893b.f71548"]]},{"id":"9e0269b5.9cb058","type":"debug","z":"839a0f3a.2bc75","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":100,"wires":[]},{"id":"f759da2f.0cf148","type":"function","z":"839a0f3a.2bc75","name":"DeviceProfile-2","func":"var deviceProfile_1 = [\n  // Start INVERTER\n  {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 25,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 33,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 38,\n                        quantity: 13\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 25,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 33,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 38,\n                        quantity: 13\n                    }\n                ]\n        }\n    },\n\n  // Start SCB\n  {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    \n// Start MFM\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 177\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: false, \n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 189,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 209,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 225,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 239,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 247,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 257,\n                        quantity: 8\n                    },\n                ]\n        }\n    }\n]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0); \nglobal.set('deviceProfile_1_dataPacket_Count', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["7018a008.b3144"]]},{"id":"70938234.1f76ec","type":"modbus-flex-getter","z":"839a0f3a.2bc75","name":"192.168.10.1","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fa9c2d8c.80595","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":1040,"wires":[["fa18974c.3c86c8"],[]]},{"id":"b52e3266.1324d","type":"function","z":"839a0f3a.2bc75","name":"","func":"    msg.payload = {\n        'fc': 3,\n        'unitid': 1,\n        'address': 1, \n        'quantity': 10\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":331,"y":1041,"wires":[["70938234.1f76ec"]]},{"id":"52abd12e.d95b4","type":"debug","z":"839a0f3a.2bc75","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":886,"y":1034,"wires":[]},{"id":"ea827d3.4cc668","type":"inject","z":"839a0f3a.2bc75","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":172,"y":1041,"wires":[["b52e3266.1324d"]]},{"id":"fa18974c.3c86c8","type":"function","z":"839a0f3a.2bc75","name":"","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    \n    let finalData = msg.payload.toString();\n    let deviceType = 107\n    let deviceNo = 1\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n} \n\ndisplayData();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":687,"y":1034,"wires":[["52abd12e.d95b4","4258476e.319218"]]},{"id":"930cdecf.e51b8","type":"comment","z":"839a0f3a.2bc75","name":"WMS","info":"","x":492,"y":1001,"wires":[]},{"id":"67a0361e.00f628","type":"catch","z":"839a0f3a.2bc75","name":"","scope":["70938234.1f76ec"],"uncaught":false,"x":139,"y":968,"wires":[["ee0bec35.60f16"]]},{"id":"ee0bec35.60f16","type":"function","z":"839a0f3a.2bc75","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nconst displayError = () => {\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": 107,\n        \"DeviceNo\": 1,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS\n    if(slaveID == 1){\n        node.warn('Error Occur in WMS');\n        displayError();\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":329,"y":968,"wires":[["4258476e.319218"]]},{"id":"8719aa3c.dce378","type":"comment","z":"839a0f3a.2bc75","name":"WMS Error handling","info":"","x":183,"y":928,"wires":[]},{"id":"833f040.a54f","type":"modbus-flex-getter","z":"839a0f3a.2bc75","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5f2df6de.b5a358","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":657,"wires":[["69000f47.53a7a"],[]]},{"id":"29c9b94e.9d7ff6","type":"function","z":"839a0f3a.2bc75","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":657,"wires":[["833f040.a54f"]]},{"id":"166aa42.3880d5c","type":"comment","z":"839a0f3a.2bc75","name":"Re check Done bit","info":"","x":571,"y":618,"wires":[]},{"id":"cb3893c7.63f0a","type":"switch","z":"839a0f3a.2bc75","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":671,"wires":[["e8b9b9d4.b46e18"],["c45d1aab.2916a8"]]},{"id":"69000f47.53a7a","type":"function","z":"839a0f3a.2bc75","name":"F-6","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":670,"wires":[["cb3893c7.63f0a"]]},{"id":"c380aac3.ad4dd8","type":"delay","z":"839a0f3a.2bc75","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":560,"wires":[["29c9b94e.9d7ff6"]]},{"id":"9a5d2c62.215bf","type":"delay","z":"839a0f3a.2bc75","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":460,"wires":[["13b6ae95.c25341"]]},{"id":"13b6ae95.c25341","type":"function","z":"839a0f3a.2bc75","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["342d63f1.a8249c"]]},{"id":"dbac4aa4.b36cf8","type":"delay","z":"839a0f3a.2bc75","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":500,"wires":[["c45d1aab.2916a8"]]},{"id":"ae696597.29fc68","type":"comment","z":"839a0f3a.2bc75","name":"Data Packet Loop","info":"","x":167,"y":765,"wires":[]},{"id":"77754f9d.a4da","type":"comment","z":"839a0f3a.2bc75","name":"Number of device Loop","info":"","x":136,"y":206,"wires":[]},{"id":"d1c43cb8.3c79b","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5f2df6de.b5a358","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"fa9c2d8c.80595","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]