Roorkee/PLC New Code Structure Roorkee.txt
[{"id":"c4561a45.af5128","type":"tab","label":"Running Mode","disabled":false,"info":""},{"id":"d892f8e6.724bc8","type":"function","z":"c4561a45.af5128","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":380,"wires":[["94d41c53.cb3db"]]},{"id":"65f6b2f2.fec54c","type":"inject","z":"c4561a45.af5128","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":131,"y":146,"wires":[["667d12b9.f3b5ac"]]},{"id":"94d41c53.cb3db","type":"modbus-flex-write","z":"c4561a45.af5128","name":"","showStatusActivities":true,"showErrors":true,"server":"5f9bfaad.dc5c84","emptyMsgOnFail":false,"keepMsgProperties":false,"x":592,"y":379,"wires":[["4950273e.c24ff8"],[]]},{"id":"e176c620.c6a998","type":"modbus-flex-getter","z":"c4561a45.af5128","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"3cecd858.6fa908","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":540,"wires":[["4e8591a8.94cd2"],[]]},{"id":"6a86863e.de46b8","type":"function","z":"c4561a45.af5128","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":540,"wires":[["e176c620.c6a998"]]},{"id":"d6ecdcba.62c5a","type":"complete","z":"c4561a45.af5128","name":"","scope":["3be0ad6b.f3ec62","d24a4a25.106468"],"uncaught":false,"x":119,"y":302,"wires":[["5dc741c3.fcc34"]]},{"id":"5dc741c3.fcc34","type":"switch","z":"c4561a45.af5128","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":141,"y":247,"wires":[["1ee2b240.db2a4e"]]},{"id":"95c7d23e.424db","type":"comment","z":"c4561a45.af5128","name":"Slave Active","info":"","x":590,"y":339,"wires":[]},{"id":"b7d3f4ff.ee3248","type":"function","z":"c4561a45.af5128","name":"F-4","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('deviceProfile_1_retryStatus', 'goAhead');\n    global.set('deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":983,"y":380,"wires":[["dc0179fc.4e9ab8"]]},{"id":"dc0179fc.4e9ab8","type":"switch","z":"c4561a45.af5128","name":"","property":"retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":380,"wires":[["6a86863e.de46b8"],["d892f8e6.724bc8"],["c212a27a.b4c6d"]]},{"id":"be27adac.2c033","type":"comment","z":"c4561a45.af5128","name":"Retry","info":"","x":1130,"y":334,"wires":[]},{"id":"ddb8117f.60301","type":"comment","z":"c4561a45.af5128","name":"PLC Active","info":"","x":737,"y":126,"wires":[]},{"id":"dca7a57e.93a8f8","type":"modbus-flex-write","z":"c4561a45.af5128","name":"","showStatusActivities":true,"showErrors":true,"server":"5f9bfaad.dc5c84","emptyMsgOnFail":false,"keepMsgProperties":false,"x":756,"y":166,"wires":[["2b01ebee.f7dc54"],[]]},{"id":"1ee2b240.db2a4e","type":"function","z":"c4561a45.af5128","name":"Outside Loop","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":547,"y":166,"wires":[["dca7a57e.93a8f8"]]},{"id":"28e3d7d6.245f88","type":"comment","z":"c4561a45.af5128","name":"check Done bit","info":"","x":566,"y":505,"wires":[]},{"id":"a694db21.84b6a8","type":"switch","z":"c4561a45.af5128","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":554,"wires":[["e10a0f7.dd3c8f"],["85759909.438098"]]},{"id":"3be0ad6b.f3ec62","type":"function","z":"c4561a45.af5128","name":"display data","func":"var deviceProfile = global.get('deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n    global.set('stop_deviceProfile_1', false);\n    let readIndex = global.get('deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set('deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_deviceProfile_1', false);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":833,"y":801,"wires":[["c868a357.2e0da"]]},{"id":"4e8591a8.94cd2","type":"function","z":"c4561a45.af5128","name":"F-6","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":554,"wires":[["a694db21.84b6a8"]]},{"id":"e10a0f7.dd3c8f","type":"function","z":"c4561a45.af5128","name":"inside Loop","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":805,"wires":[["226d8cc6.cece24"]]},{"id":"226d8cc6.cece24","type":"modbus-flex-getter","z":"c4561a45.af5128","name":"Read Data","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"3cecd858.6fa908","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":593,"y":805,"wires":[["3be0ad6b.f3ec62"],[]]},{"id":"e256f19c.75404","type":"comment","z":"c4561a45.af5128","name":"Read Actual Data","info":"","x":602,"y":768,"wires":[]},{"id":"d24a4a25.106468","type":"function","z":"c4561a45.af5128","name":"onErrorOccured","func":"var deviceProfile = global.get('deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('deviceProfile_1_Index');\n    index += 1;\n    global.set('deviceProfile_1_Index', index);\n    global.set('stop_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        node.warn('MoveOnNextDevice stop_deviceProfile_1')\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Index', 0);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1414,"y":569,"wires":[["9f861cfd.7cd96","22ee0872.4d9978"]]},{"id":"7d2e969a.e73b98","type":"complete","z":"c4561a45.af5128","name":"","scope":["3be0ad6b.f3ec62"],"uncaught":false,"x":173,"y":857,"wires":[["1e3d3f63.952ba1"]]},{"id":"1e3d3f63.952ba1","type":"switch","z":"c4561a45.af5128","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":193,"y":804,"wires":[["e10a0f7.dd3c8f"]]},{"id":"c868a357.2e0da","type":"switch","z":"c4561a45.af5128","name":"","property":"sendData","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1013,"y":801,"wires":[["9f861cfd.7cd96","22ee0872.4d9978"]]},{"id":"4950273e.c24ff8","type":"delay","z":"c4561a45.af5128","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":380,"wires":[["b7d3f4ff.ee3248"]]},{"id":"c1ae9281.6afe3","type":"function","z":"c4561a45.af5128","name":"F-2","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1323,"y":154,"wires":[["64d819d8.e8f838"]]},{"id":"64d819d8.e8f838","type":"switch","z":"c4561a45.af5128","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":292,"wires":[["d892f8e6.724bc8"],["f8d753a2.25562"]]},{"id":"85d05a41.c73718","type":"comment","z":"c4561a45.af5128","name":"Check for Writable device or NonWritable","info":"","x":430,"y":249,"wires":[]},{"id":"9f861cfd.7cd96","type":"debug","z":"c4561a45.af5128","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":800,"wires":[]},{"id":"22ee0872.4d9978","type":"change","z":"c4561a45.af5128","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1292,"y":851,"wires":[["46b14f90.d23e5"]]},{"id":"3c046b03.9c3df4","type":"debug","z":"c4561a45.af5128","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1282,"y":964,"wires":[]},{"id":"e01481fe.1dc76","type":"comment","z":"c4561a45.af5128","name":"Reset Done Bit","info":"","x":1140,"y":120,"wires":[]},{"id":"2b01ebee.f7dc54","type":"function","z":"c4561a45.af5128","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":951,"y":159,"wires":[["a5bc94dd.ad79f8"]]},{"id":"a5bc94dd.ad79f8","type":"modbus-flex-write","z":"c4561a45.af5128","name":"","showStatusActivities":true,"showErrors":true,"server":"5f9bfaad.dc5c84","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1142,"y":160,"wires":[["c1ae9281.6afe3","7c61593f.5d8668"],[]]},{"id":"46b14f90.d23e5","type":"http request","z":"c4561a45.af5128","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.220/gm/beta/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1292,"y":905,"wires":[["3c046b03.9c3df4"]]},{"id":"7c61593f.5d8668","type":"debug","z":"c4561a45.af5128","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":100,"wires":[]},{"id":"667d12b9.f3b5ac","type":"function","z":"c4561a45.af5128","name":"DeviceProfile-2","func":"var deviceProfile_1 = [\n  // Start INVERTER\n//   {\n//         deviceName: \"Inverter-1\",\n//         deviceProfile: {\n//             deviceNo: 1,\n//             deviceType: 52\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 1\n//             },\n//             slaveActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 0,\n//                 slaveId: 16\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 15,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 16,\n//                         address: 25,\n//                         quantity: 7\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 16,\n//                         address: 33,\n//                         quantity: 3\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 16,\n//                         address: 38,\n//                         quantity: 13\n//                     }\n//                 ]\n//         }\n//     },\n//   {\n//         deviceName: \"Inverter-2\",\n//         deviceProfile: {\n//             deviceNo: 2,\n//             deviceType: 52\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 1\n//             },\n//             slaveActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 0,\n//                 slaveId: 17\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 15,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 16,\n//                         address: 25,\n//                         quantity: 7\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 16,\n//                         address: 33,\n//                         quantity: 3\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 16,\n//                         address: 38,\n//                         quantity: 13\n//                     }\n//                 ]\n//         }\n//     },\n\n  // Start SCB\n  {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    \n// Start MFM\n    // {\n    //     deviceName: \"MFM-1\",\n    //     deviceProfile: {\n    //         deviceNo: 1,\n    //         deviceType: 177\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 4\n    //         },\n    //         slaveActive:{\n    //             flag: false, \n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 17,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 175,\n    //                     quantity: 8\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 189,\n    //                     quantity: 8\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 209,\n    //                     quantity: 14\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 225,\n    //                     quantity: 6\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 239,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 247,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 257,\n    //                     quantity: 8\n    //                 },\n    //             ]\n    //     }\n    // }\n]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0); \nglobal.set('deviceProfile_1_dataPacket_Count', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["1ee2b240.db2a4e"]]},{"id":"3c5bea4d.52fdc6","type":"modbus-flex-getter","z":"c4561a45.af5128","name":"192.168.10.1","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dfe9ed79.5e127","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":1040,"wires":[["add9b267.7cf03"],[]]},{"id":"e10d2776.76d808","type":"function","z":"c4561a45.af5128","name":"","func":"    msg.payload = {\n        'fc': 3,\n        'unitid': 1,\n        'address': 1, \n        'quantity': 10\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":331,"y":1041,"wires":[["3c5bea4d.52fdc6"]]},{"id":"6635f377.606bbc","type":"debug","z":"c4561a45.af5128","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":886,"y":1034,"wires":[]},{"id":"f8796afe.8b8188","type":"inject","z":"c4561a45.af5128","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":172,"y":1041,"wires":[["e10d2776.76d808"]]},{"id":"add9b267.7cf03","type":"function","z":"c4561a45.af5128","name":"","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    \n    let finalData = msg.payload.toString();\n    let deviceType = 107\n    let deviceNo = 1\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n} \n\ndisplayData();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":687,"y":1034,"wires":[["6635f377.606bbc","22ee0872.4d9978"]]},{"id":"d02bc50b.464308","type":"comment","z":"c4561a45.af5128","name":"WMS","info":"","x":492,"y":1001,"wires":[]},{"id":"10cfcadb.6a3725","type":"catch","z":"c4561a45.af5128","name":"","scope":["3c5bea4d.52fdc6"],"uncaught":false,"x":139,"y":968,"wires":[["5ab28b35.531694"]]},{"id":"5ab28b35.531694","type":"function","z":"c4561a45.af5128","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nconst displayError = () => {\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": 107,\n        \"DeviceNo\": 1,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS\n    if(slaveID == 1){\n        node.warn('Error Occur in WMS');\n        displayError();\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":329,"y":968,"wires":[["22ee0872.4d9978"]]},{"id":"b704e3fb.3c099","type":"comment","z":"c4561a45.af5128","name":"WMS Error handling","info":"","x":183,"y":928,"wires":[]},{"id":"bb2efcc.fe30f","type":"modbus-flex-getter","z":"c4561a45.af5128","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"3cecd858.6fa908","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":657,"wires":[["acadc8de.b48318"],[]]},{"id":"f4546291.d00d9","type":"function","z":"c4561a45.af5128","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":657,"wires":[["bb2efcc.fe30f"]]},{"id":"6e211b24.21b244","type":"comment","z":"c4561a45.af5128","name":"Re check Done bit","info":"","x":571,"y":618,"wires":[]},{"id":"adbc2a6f.e481c8","type":"switch","z":"c4561a45.af5128","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":671,"wires":[["e10a0f7.dd3c8f"],["d24a4a25.106468"]]},{"id":"acadc8de.b48318","type":"function","z":"c4561a45.af5128","name":"F-6","func":"var deviceProfile =  global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":670,"wires":[["adbc2a6f.e481c8"]]},{"id":"85759909.438098","type":"delay","z":"c4561a45.af5128","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":560,"wires":[["f4546291.d00d9"]]},{"id":"f8d753a2.25562","type":"delay","z":"c4561a45.af5128","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":460,"wires":[["7fee2f5.b02e7d"]]},{"id":"7fee2f5.b02e7d","type":"function","z":"c4561a45.af5128","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["6a86863e.de46b8"]]},{"id":"c212a27a.b4c6d","type":"delay","z":"c4561a45.af5128","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":500,"wires":[["d24a4a25.106468"]]},{"id":"c97d5e19.597b4","type":"comment","z":"c4561a45.af5128","name":"Data Packet Loop","info":"","x":167,"y":765,"wires":[]},{"id":"b32e7b70.cfd6a8","type":"comment","z":"c4561a45.af5128","name":"Number of device Loop","info":"","x":136,"y":206,"wires":[]},{"id":"5f9bfaad.dc5c84","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"3cecd858.6fa908","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"dfe9ed79.5e127","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]