Bhutan/Multiple device flow with redundency code .json
[{"id":"6b0cb169.4a994","type":"tab","label":"Bhutan","disabled":false,"info":""},{"id":"c519c1ed.24db6","type":"comment","z":"6b0cb169.4a994","name":"**************************************  RS-485 Converter Section  **************************************","info":"","x":700,"y":40,"wires":[]},{"id":"421fb41b.2d3c1c","type":"catch","z":"6b0cb169.4a994","name":"","scope":null,"uncaught":false,"x":111,"y":140,"wires":[["9e304ef8.46c05","915c03ac.4b7c8"]]},{"id":"ead68edb.b69ae","type":"switch","z":"6b0cb169.4a994","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":300,"wires":[["5ba60de7.8320e4"],["3a4be517.3c311a"]]},{"id":"5ba60de7.8320e4","type":"delay","z":"6b0cb169.4a994","name":"delay 2000ms","pauseType":"delayv","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":286,"y":260,"wires":[["d066bb63.466018"]]},{"id":"3a4be517.3c311a","type":"delay","z":"6b0cb169.4a994","name":"delay 2000ms","pauseType":"delayv","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":286,"y":340,"wires":[["fd5b742e.ef6378"]]},{"id":"d066bb63.466018","type":"function","z":"6b0cb169.4a994","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":268,"wires":[["9bf7f26d.b3de"]]},{"id":"fd5b742e.ef6378","type":"function","z":"6b0cb169.4a994","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":457,"y":331,"wires":[["9bf7f26d.b3de"]]},{"id":"1899306c.3139d","type":"function","z":"6b0cb169.4a994","name":"Error Frunction","func":"\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        \n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        // displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            // moveOnNextDevice(\n            //     deviceProfile_StoreData,\n            //     deviceProfile,\n            //     stop_to_read_deviceProfile_dataPacket,\n            //     deviceProfile_Count,\n            //     deviceProfile_Index,\n            //     deviceProfile_ReadIndex,\n            //     stop_deviceProfile\n            // );\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount == 1){\n            // node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            // node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"192.168.1.10\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\" || msg.error.message == \"Error: Modbus exception 11: Unknown error\"){\n        \n    let slaveID = msg.payload.unitid;\n    \n    // Inverter-1\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.1.20\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    let slaveID = msg.payload.unitid;\n    \n    // Inverter-3\n    if(slaveID == 1){\n        node.warn('Error Occur in INV-3');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":778,"y":140,"wires":[["ead68edb.b69ae","124b80ce.0586df","b0e932be.d4c72"]]},{"id":"9e304ef8.46c05","type":"debug","z":"6b0cb169.4a994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"80cade0d.46fce","type":"moment","z":"6b0cb169.4a994","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":580,"y":140,"wires":[["1899306c.3139d"]]},{"id":"124b80ce.0586df","type":"switch","z":"6b0cb169.4a994","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":987,"y":140,"wires":[["bf1bcedd.87a41"]]},{"id":"bf1bcedd.87a41","type":"debug","z":"6b0cb169.4a994","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1171,"y":140,"wires":[]},{"id":"9bf7f26d.b3de","type":"switch","z":"6b0cb169.4a994","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":609,"y":300,"wires":[["c293eac1.ac8a28"],["34a2cded.5327a2"]]},{"id":"eace1d9c.5998d","type":"function","z":"6b0cb169.4a994","name":"Dp-1 INV D-1,D-2,D-3 MET D-1,P-Id=101","func":"var deviceProfile_1 = [\n    {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 53\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 0,\n                        quantity: 10\n                    },\n                    {\n                        fc: 3,\n                        address: 11,\n                        quantity: 10\n                    },\n                    {\n                        fc: 3,\n                        address: 21,\n                        quantity: 10\n                    },\n                    {\n                        fc: 3,\n                        address: 31,\n                        quantity: 10\n                    }\n                ]\n        }\n    },\n   \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\n\n// URL Server section\nglobal.set('stop_to_read_deviceProfile_1', true);\nglobal.set('stop_on_http_request', true);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["2a1e58b7.250168"]]},{"id":"2a1e58b7.250168","type":"function","z":"6b0cb169.4a994","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nnode.warn(`Dp-1 Start Read Data Packet ${readIndex + 1}`)\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":659,"wires":[["b2ef00e4.cb5c5"]]},{"id":"b2ef00e4.cb5c5","type":"modbus-flex-getter","z":"6b0cb169.4a994","name":"192.168.1.10","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fc0ec678.cf0118","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1008,"y":659,"wires":[["735a1fd7.e2bd8"],[]]},{"id":"735a1fd7.e2bd8","type":"delay","z":"6b0cb169.4a994","name":"delay 1000ms","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1217,"y":656,"wires":[["c6d7ceef.d370d"]]},{"id":"509fef23.0481b","type":"moment","z":"6b0cb169.4a994","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1601,"y":656,"wires":[["a9a24715.25a9d8"]]},{"id":"a9a24715.25a9d8","type":"function","z":"6b0cb169.4a994","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1859,"y":656,"wires":[["ea6d4a26.b6cff8"]]},{"id":"ea6d4a26.b6cff8","type":"switch","z":"6b0cb169.4a994","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2071,"y":656,"wires":[["7ebc15db.9c024c"]]},{"id":"23af46c1.9d250a","type":"complete","z":"6b0cb169.4a994","name":"Device Profile-1","scope":["a9a24715.25a9d8"],"uncaught":false,"x":213,"y":524,"wires":[["105bb7b4.2363b8"]]},{"id":"105bb7b4.2363b8","type":"switch","z":"6b0cb169.4a994","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":373,"y":524,"wires":[["c293eac1.ac8a28"]]},{"id":"75a0088d.341ff8","type":"complete","z":"6b0cb169.4a994","name":"Read Device Profile-1","scope":["a9a24715.25a9d8"],"uncaught":false,"x":213,"y":804,"wires":[["a6dddb7a.706cb8"]]},{"id":"c0d95d1f.7493a","type":"function","z":"6b0cb169.4a994","name":"Dp-2 INV D-4, D-5, D-6 MET D-2, P-Id=101","func":"var deviceProfile_2 = [\n   {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 53\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 0,\n                        quantity: 10\n                    },\n                    {\n                        fc: 3,\n                        address: 11,\n                        quantity: 10\n                    },\n                    {\n                        fc: 3,\n                        address: 21,\n                        quantity: 10\n                    },\n                    {\n                        fc: 3,\n                        address: 31,\n                        quantity: 10\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\n\n// URL Server section\nglobal.set('stop_to_read_deviceProfile_2', true);\nglobal.set('stop_on_http_request', true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":405,"y":718,"wires":[["142613dd.25c88c"]]},{"id":"142613dd.25c88c","type":"function","z":"6b0cb169.4a994","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nnode.warn(`Dp-2 Start Read Data Packet ${readIndex + 1}`)\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":719,"wires":[["6e50c975.f18ac8"]]},{"id":"6e50c975.f18ac8","type":"modbus-flex-getter","z":"6b0cb169.4a994","name":"192.168.1.20","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"ed7d5af5.114f58","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1008,"y":720,"wires":[["5783c65c.92bfd8"],[]]},{"id":"5783c65c.92bfd8","type":"delay","z":"6b0cb169.4a994","name":"delay 1000ms","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1217,"y":719,"wires":[["61e3452d.bd047c"]]},{"id":"e1c253b0.40be7","type":"moment","z":"6b0cb169.4a994","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1601,"y":719,"wires":[["474359e2.bdeac8"]]},{"id":"474359e2.bdeac8","type":"function","z":"6b0cb169.4a994","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1861,"y":719,"wires":[["6ba1e59a.d5d74c"]]},{"id":"6ba1e59a.d5d74c","type":"switch","z":"6b0cb169.4a994","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2071,"y":720,"wires":[["59e03ae.94fe7c4"]]},{"id":"c7beb9d6.f068c8","type":"complete","z":"6b0cb169.4a994","name":"Read Device Profile-2","scope":["474359e2.bdeac8"],"uncaught":false,"x":213,"y":864,"wires":[["f469aeb0.f8dfd"]]},{"id":"f469aeb0.f8dfd","type":"switch","z":"6b0cb169.4a994","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":393,"y":864,"wires":[["9fdf974b.be1958"]]},{"id":"1a29a054.e3342","type":"complete","z":"6b0cb169.4a994","name":"Device Profile-2","scope":["474359e2.bdeac8"],"uncaught":false,"x":215,"y":579,"wires":[["addaf687.874388"]]},{"id":"addaf687.874388","type":"switch","z":"6b0cb169.4a994","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":373,"y":579,"wires":[["34a2cded.5327a2"]]},{"id":"59e03ae.94fe7c4","type":"debug","z":"6b0cb169.4a994","name":"10.102.255.144","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2229,"y":720,"wires":[]},{"id":"7ebc15db.9c024c","type":"debug","z":"6b0cb169.4a994","name":"10.102.255.141","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2228,"y":656,"wires":[]},{"id":"a6dddb7a.706cb8","type":"switch","z":"6b0cb169.4a994","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":395,"y":804,"wires":[["ec9eac2d.c71d"]]},{"id":"3d119794.49ca28","type":"switch","z":"6b0cb169.4a994","name":"Dp-1 ON OFF ","property":"stop_to_read_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1400,"y":360,"wires":[[]]},{"id":"d73fcdd8.03d88","type":"function","z":"6b0cb169.4a994","name":"","func":"var checkDeviceCmd = global.get('stop_to_read_deviceProfile_1');\nnode.warn(checkDeviceCmd)\nif(checkDeviceCmd === undefined){\n    global.set('stop_to_read_deviceProfile_1', true);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1214,"y":360,"wires":[["3d119794.49ca28"]]},{"id":"25214af8.d346a6","type":"debug","z":"6b0cb169.4a994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":1100,"wires":[]},{"id":"c293eac1.ac8a28","type":"switch","z":"6b0cb169.4a994","name":"Dp-1 ON OFF","property":"stop_to_read_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":546,"y":524,"wires":[["2a1e58b7.250168"]]},{"id":"c9103233.dc9fe","type":"comment","z":"6b0cb169.4a994","name":"**************************************  URL Server for RS-485 Converter  **************************************","info":"","x":1610,"y":820,"wires":[]},{"id":"c8eae417.fd4be8","type":"function","z":"6b0cb169.4a994","name":"URL Server Profile","func":"let dn1 = 1;\nlet dn2 = 2;\nvar URLServerProfile = [\n    {   \n        ip: '192.168.1.10',\n        plantId: 101,\n        deviceNo: dn1,\n        slaveId: 2,\n        deviceType: 'Inverter',\n        status: {\n            fc: 3,\n            enableAddress: 10, \n            enableValue: 40, // This Value will be recived from req URL\n            onoffAddress: 2,\n            startValue: 45, \n            stopValue: 89,\n            priority: 1\n        },\n        activePowerDerating: {\n            fc: 3,\n            enableAddress: 3,\n            enableValue: 50, // This Value will be recived from req URL\n            percentAddress: 5,\n            percentScale: 10, // Multiplyer, Whatever value will be recived from req URL multiply those value for this Multiplyer\n            priority:2\n        },\n        reactivePowerDerating: {\n            fc: 3,\n            enableAddress: 6,\n            enableValue: 50, // This Value will be recived from req URL\n            percentAddress: 8,\n            percentScale: 10, // Multiplyer, Whatever value will be recived from req URL multiply those value for this Multiplyer\n            priority: 3\n        }\n    },\n    {   \n        ip: '192.168.1.20',\n        plantId: 101,\n        deviceNo: dn2,\n        slaveId: 1,\n        deviceType: 'Inverter',\n        status: {\n            fc: 3,\n            enableAddress: 10, \n            enableValue: 40, // This Value will be recived from req URL\n            onoffAddress: 2,\n            startValue: 45, \n            stopValue: 89,\n            priority: 1\n        },\n        activePowerDerating: {\n            fc: 3,\n            enableAddress: 3,\n            enableValue: 50, // This Value will be recived from req URL\n            percentAddress: 5,\n            percentScale: 10, // Multiplyer, Whatever value will be recived from req URL multiply those value for this Multiplyer\n            priority:2\n        },\n        reactivePowerDerating: {\n            fc: 3,\n            enableAddress: 6,\n            enableValue: 50, // This Value will be recived from req URL\n            percentAddress: 8,\n            percentScale: 10, // Multiplyer, Whatever value will be recived from req URL multiply those value for this Multiplyer\n            priority: 3\n        }\n    }\n];\n\nmsg.URLServerProfile = URLServerProfile;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":327,"y":1040,"wires":[["3058ca2c.688d16"]]},{"id":"3058ca2c.688d16","type":"function","z":"6b0cb169.4a994","name":"","func":"node.warn('Got commant from http');\nglobal.set('stop_on_http_request', false);\n\nvar plantId;\nvar deviceNumber;\nvar deviceType;\nvar req;\n\nconst resetGlobalVariable = () => {\n    global.set('req', null);\n    global.set('isInverterOnCmd', null);\n    global.set('isInverterOFFCmd', null);\n    global.set('URLServer_Profile', null);\n    global.set('inverterEnabel', null);\n    global.set('inverterWrite', null);\n    global.set('activePowerDerating_Enabel', null);\n    global.set('activePowerDerating_Write', null);\n    global.set('reactivePowerDerating_Enabel', null);\n    global.set('reactivePowerDerating_Write', null);\n    global.set('allDone', null);\n    global.set('invOffTimeReqType', null);\n    global.set('lastActivityOfWriteValue', null);\n    global.set('stop_url_server_Loop', false);\n}\n\nconst fetchURLServerValue = () => {\n    global.set('req', msg.req);\n    req = msg.req;\n    plantId = req.body.plantId;\n    deviceNumber = req.body.deviceNo;\n    deviceType = req.body.deviceType;\n}\n\nconst checkCommandPriority = () => {\n    \n    // CASE 1\n    if(req.body.status !== undefined){\n        if(req.body.status.cmdType === 0){\n            global.set('cmdType', 'InverterOff');\n            global.set('inverterEnabel',true);\n            global.set('invOffTimeReqType', 'onlyInverterOff');\n            \n            if(req.body.activePowerDerating !== undefined){\n                global.set('invOffTimeReqType', 'activePowerDerating');\n            }\n            \n            if(req.body.reactivePowerDerating !== undefined){\n                global.set('invOffTimeReqType', 'reactivePowerDerating');\n            }\n            \n            if(req.body.activePowerDerating !== undefined && req.body.reactivePowerDerating !== undefined){\n                global.set('invOffTimeReqType', 'activePowerDerating_reactivePowerDerating');\n            }\n            \n            return msg;\n        }\n    }\n    \n    // CASE 2 \n    if(req.body.status !== undefined && req.body.activePowerDerating !== undefined && req.body.reactivePowerDerating !== undefined){\n        if(req.body.status.cmdType == 1){\n            global.set('cmdType', 'InverterOn_activePowerDerating_reactivePowerDerating');\n            global.set('inverterEnabel', true);\n            return msg;\n        }\n    }\n    \n    // CASE 3\n    if(req.body.status !== undefined && req.body.activePowerDerating !== undefined){\n        if(req.body.status.cmdType == 1){\n            global.set('cmdType', 'inverterOn_and_activePowerDerating');\n            global.set('inverterEnabel', true);\n            return msg;\n        }\n    }\n    \n    // CASE 4\n    if(req.body.status !== undefined && req.body.reactivePowerDerating !== undefined){\n        if(req.body.status.cmdType == 1){\n            global.set('cmdType', 'inverterOn_and_reactivePowerDerating');\n            global.set('inverterEnabel', true);\n            return msg;\n        }\n    }\n    \n    // CASE 5 \n    if(req.body.activePowerDerating !== undefined && req.body.reactivePowerDerating !== undefined){\n        global.set('cmdType', 'activePowerDerating_and_reactivePowerDerating');\n        global.set('activePowerDerating_Enabel', true);\n        return msg;\n    }\n    \n    // CASE 6\n    if(req.body.activePowerDerating !== undefined){\n        global.set('cmdType', 'activePowerDerating');\n        global.set('activePowerDerating_Enabel', true);\n        return msg;\n    }\n    \n    // CASE 7\n    if(req.body.reactivePowerDerating !== undefined){\n        global.set('cmdType', 'reactivePowerDerating');\n        global.set('reactivePowerDerating_Enabel', true);\n        return msg;\n    }\n    \n    // CASE 8 \n    if(req.body.status !== undefined){\n        if(req.body.status.cmdType === 1){\n            global.set('cmdType', 'InverterOn');\n            global.set('inverterEnabel',true);\n            return msg;\n        }\n    }\n}\n\nconst getSingleProfile = () => {\n        msg.URLServerProfile.forEach(element => {\n            if(element.deviceNo == deviceNumber && element.deviceType == deviceType && element.plantId == plantId){\n                global.set('URLServer_Profile', element);\n                msg.IP = element.ip;\n            }\n        })\n}\n\nconst identifyNodeToStopFlow = () => {\n    const ip = msg.IP;\n    \n    if(ip == '192.168.1.10'){\n        global.set('stop_to_read_deviceProfile_1', false);\n    }\n    \n    if(ip == '192.168.3.20'){\n        global.set('stop_to_read_deviceProfile_2', false);\n    }\n    \n    if(ip == '192.168.3.30'){\n        global.set('stop_to_read_deviceProfile_3', false);\n    }\n}\n\nresetGlobalVariable();\nfetchURLServerValue();\ncheckCommandPriority();\ngetSingleProfile();\nidentifyNodeToStopFlow();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":498,"y":1040,"wires":[["56ca2694.d24bf8","d3d79b37.c2e578"]]},{"id":"e67dafe9.8029d","type":"complete","z":"6b0cb169.4a994","name":"","scope":["4b542fcb.44c39"],"uncaught":false,"x":131,"y":1140,"wires":[["721ad581.be2c6c"]]},{"id":"a84b592a.728668","type":"function","z":"6b0cb169.4a994","name":"","func":"var profile = global.get('URLServer_Profile');\nvar inverterEnabel = global.get('inverterEnabel');\nvar inverterWrite = global.get('inverterWrite');\nvar activePowerDeratingEnabel = global.get('activePowerDerating_Enabel');\nvar activePowerDeratingWrite = global.get('activePowerDerating_Write');\nvar reactivePowerDeratingEnabel = global.get('reactivePowerDerating_Enabel');\nvar reactivePowerDeratingWrite = global.get('reactivePowerDerating_Write');\n\nglobal.set('is_http_request_time_error', true);\n\nmsg.IP = profile.ip;\n\nvar req = global.get('req');\nvar slaveId = profile.slaveId;\n\nvar cmdType = global.get('cmdType');\n\nglobal.set('stop_url_server_Loop', true);\n\nconst writeValue = (address, value) => {\n    node.warn(address)\n    node.warn(value)\n    // node.warn(`-----> address ${address}`)\n    // node.warn(`-----> value ${value}`)\n    // node.warn(`-----> slaveId ${slaveId}`)\n    msg.payload = { \n    value: value, \n    'fc': 6, \n    'unitid': slaveId, \n    'address': address,\n    'quantity': 1 \n}\n}\n\nif(cmdType == 'InverterOff'){\n    \n    if(inverterEnabel){\n        node.warn('inverter OFF Enabel');\n        global.set('lastActivityOfWriteValue', 'inverterEnabel');\n        let enableAddress = profile.status.enableAddress;\n        let enableValue = profile.status.enableValue;\n        writeValue(enableAddress, enableValue);\n    }\n\n    if(inverterWrite){\n        node.warn('inverter OFF Write');\n        global.set('lastActivityOfWriteValue', 'inverterWrite');\n        let onoffAddress = profile.status.onoffAddress;\n        let startValue = profile.status.startValue;\n        \n        writeValue(onoffAddress, startValue);\n        global.set('allDone', true);\n    }\n}\n\nif(cmdType == 'InverterOn'){\n    \n    if(inverterEnabel){\n        node.warn('inverter ON Enabel')\n        global.set('lastActivityOfWriteValue', 'inverterEnabel');\n        let enableAddress = profile.status.enableAddress;\n        let enableValue = profile.status.enableValue;\n        writeValue(enableAddress, enableValue);\n    }\n\n    if(inverterWrite){\n        node.warn('inverter ON Write');\n        global.set('lastActivityOfWriteValue', 'inverterWrite');\n        let onoffAddress = profile.status.onoffAddress;\n        let startValue = profile.status.startValue;\n        \n        writeValue(onoffAddress, startValue);\n        global.set('inverterEnabel', false);\n        global.set('allDone', true);\n    }\n}\n\nif(cmdType == 'InverterOn_activePowerDerating_reactivePowerDerating'){\n    \n    if(inverterEnabel){\n        node.warn('inverterEnabel')\n        global.set('lastActivityOfWriteValue', 'inverterEnabel');\n        let enableAddress = profile.status.enableAddress;\n        let enableValue = profile.status.enableValue;\n        writeValue(enableAddress, enableValue);\n    }\n\n    if(inverterWrite){\n        node.warn('inverterWrite')\n        global.set('lastActivityOfWriteValue', 'inverterWrite');\n        let onoffAddress = profile.status.onoffAddress;\n        let startValue = profile.status.startValue;\n        \n        writeValue(onoffAddress, startValue);\n        global.set('activePowerDerating_Enabel', true);\n    }\n\n    if(activePowerDeratingEnabel){\n        node.warn('activePowerDeratingEnabel')\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingEnabel');\n        let enableAddress = profile.activePowerDerating.enableAddress;\n        let enableValue = req.body.activePowerDerating.value;\n        \n        writeValue(enableAddress, enableValue);\n        global.set('activePowerDerating_Enabel', false);\n        global.set('activePowerDerating_Write', true);\n    }\n    \n    if(activePowerDeratingWrite){\n        node.warn('activePowerDeratingWrite')\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingWrite');\n        let percentAddress = profile.activePowerDerating.percentAddress;\n        let writableValue =  profile.activePowerDerating.percentScale * req.body.activePowerDerating.value;\n        \n        writeValue(percentAddress, writableValue);\n        global.set('activePowerDerating_Write', false);\n        global.set('reactivePowerDerating_Enabel', true);\n    }\n\n    if(reactivePowerDeratingEnabel){\n        node.warn('reactivePowerDeratingEnabel')\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingEnabel');\n        let enableAddress = profile.reactivePowerDerating.enableAddress;\n        let enableValue = req.body.reactivePowerDerating.value;\n        \n        writeValue(enableAddress, enableValue);\n        global.set('reactivePowerDerating_Enabel', false);\n        global.set('reactivePowerDerating_Write', true);\n    }\n\n    if(reactivePowerDeratingWrite){\n        node.warn('reactivePowerDeratingWrite')\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingWrite');\n        let percentAddress = profile.reactivePowerDerating.percentAddress;\n        let writableValue = profile.reactivePowerDerating.percentScale * req.body.reactivePowerDerating.value;\n        writeValue(percentAddress, writableValue);\n        global.set('reactivePowerDerating_Write', false);\n        global.set('allDone', true);\n    }\n}\n\nif(cmdType == 'inverterOn_and_activePowerDerating'){\n    \n    if(inverterEnabel){\n        node.warn('inverterEnabel')\n        global.set('lastActivityOfWriteValue', 'inverterEnabel');\n        let enableAddress = profile.status.enableAddress;\n        let enableValue = profile.status.enableValue;\n        writeValue(enableAddress, enableValue);\n    }\n\n    if(inverterWrite){\n        node.warn('inverterWrite');\n        global.set('lastActivityOfWriteValue', 'inverterWrite');\n        let onoffAddress = profile.status.onoffAddress;\n        let startValue = profile.status.startValue;\n        \n        writeValue(onoffAddress, startValue);\n        global.set('activePowerDerating_Enabel', true);\n    }\n\n    if(activePowerDeratingEnabel){\n        node.warn('activePowerDeratingEnabel');\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingEnabel');\n        let enableAddress = profile.activePowerDerating.enableAddress;\n        let enableValue = req.body.activePowerDerating.value;\n        \n        writeValue(enableAddress, enableValue);\n        global.set('activePowerDerating_Enabel', false);\n        global.set('activePowerDerating_Write', true);\n    }\n    \n    if(activePowerDeratingWrite){\n        node.warn('activePowerDeratingWrite');\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingWrite');\n        let percentAddress = profile.activePowerDerating.percentAddress;\n        let writableValue =  profile.activePowerDerating.percentScale * req.body.activePowerDerating.value;\n        \n        writeValue(percentAddress, writableValue);\n        global.set('activePowerDerating_Write', false);\n        global.set('allDone', true);\n        \n    }\n}\n\nif(cmdType == 'inverterOn_and_reactivePowerDerating'){\n    if(inverterEnabel){\n        node.warn('inverterEnabel');\n        global.set('lastActivityOfWriteValue', 'inverterEnabel');\n        let enableAddress = profile.status.enableAddress;\n        let enableValue = profile.status.enableValue;\n        writeValue(enableAddress, enableValue);\n    }\n\n    if(inverterWrite){\n        node.warn('inverterWrite');\n        global.set('lastActivityOfWriteValue', 'inverterWrite');\n        let onoffAddress = profile.status.onoffAddress;\n        let startValue = profile.status.startValue;\n        \n        writeValue(onoffAddress, startValue);\n        global.set('reactivePowerDerating_Enabel', true);\n    }\n    \n    if(reactivePowerDeratingEnabel){\n        node.warn('reactivePowerDeratingEnabel');\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingEnabel')\n        let enableAddress = profile.reactivePowerDerating.enableAddress;\n        let enableValue = req.body.reactivePowerDerating.value;\n        \n        writeValue(enableAddress, enableValue);\n        global.set('reactivePowerDerating_Enabel', false);\n        global.set('reactivePowerDerating_Write', true);\n    }\n\n    if(reactivePowerDeratingWrite){\n        node.warn('reactivePowerDeratingWrite');\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingWrite');\n        let percentAddress = profile.reactivePowerDerating.percentAddress;\n        let writableValue = profile.reactivePowerDerating.percentScale * req.body.reactivePowerDerating.value;\n        writeValue(percentAddress, writableValue);\n        global.set('reactivePowerDerating_Write', false);\n        global.set('allDone', true);\n    }\n}\n\nif(cmdType == 'activePowerDerating_and_reactivePowerDerating'){\n    if(activePowerDeratingEnabel){\n        node.warn('activePowerDeratingEnabel');\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingEnabel');\n        let enableAddress = profile.activePowerDerating.enableAddress;\n        let enableValue = req.body.activePowerDerating.value;\n        writeValue(enableAddress, enableValue);\n    }\n    \n    if(activePowerDeratingWrite){\n        node.warn('activePowerDeratingWrite');\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingWrite');\n        let percentAddress = profile.activePowerDerating.percentAddress;\n        let writableValue =  profile.activePowerDerating.percentScale * req.body.activePowerDerating.value;\n        \n        writeValue(percentAddress, writableValue);\n        global.set('activePowerDerating_Write', false);\n        global.set('reactivePowerDerating_Enabel', true);\n    }\n    \n    if(reactivePowerDeratingEnabel){\n        node.warn('reactivePowerDeratingEnabel');\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingEnabel');\n        let enableAddress = profile.reactivePowerDerating.enableAddress;\n        let enableValue = req.body.reactivePowerDerating.value;\n        \n        writeValue(enableAddress, enableValue);\n        global.set('reactivePowerDerating_Enabel', false);\n        global.set('reactivePowerDerating_Write', true);\n    }\n\n    if(reactivePowerDeratingWrite){\n        node.warn('reactivePowerDeratingWrite');\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingWrite');\n        let percentAddress = profile.reactivePowerDerating.percentAddress;\n        let writableValue = profile.reactivePowerDerating.percentScale * req.body.reactivePowerDerating.value;\n        writeValue(percentAddress, writableValue);\n        global.set('reactivePowerDerating_Write', false);\n        global.set('allDone', true);\n    }\n\n}\n\nif(cmdType == 'activePowerDerating'){\n    \n    if(activePowerDeratingEnabel){\n        node.warn('activePowerDeratingEnabel');\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingEnabel');\n        let enableAddress = profile.activePowerDerating.enableAddress;\n        let enableValue = req.body.activePowerDerating.value;\n        writeValue(enableAddress, enableValue);\n    }\n    \n    if(activePowerDeratingWrite){\n        node.warn('activePowerDeratingWrite');\n        global.set('lastActivityOfWriteValue', 'activePowerDeratingWrite');\n        let percentAddress = profile.activePowerDerating.percentAddress;\n        let writableValue =  profile.activePowerDerating.percentScale * req.body.activePowerDerating.value;\n        \n        writeValue(percentAddress, writableValue);\n        global.set('activePowerDerating_Write', false);\n        global.set('allDone', true);\n    }\n}\n\nif(cmdType == 'reactivePowerDerating'){\n    \n    if(reactivePowerDeratingEnabel){\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingEnabel');\n        node.warn('reactivePowerDeratingEnabel');\n        let enableAddress = profile.reactivePowerDerating.enableAddress;\n        let enableValue = req.body.reactivePowerDerating.value;\n        \n        writeValue(enableAddress, enableValue);\n    }\n\n    if(reactivePowerDeratingWrite){\n        node.warn('reactivePowerDeratingWrite');\n        global.set('lastActivityOfWriteValue', 'reactivePowerDeratingWrite');\n        let percentAddress = profile.reactivePowerDerating.percentAddress;\n        let writableValue = profile.reactivePowerDerating.percentScale * req.body.reactivePowerDerating.value;\n        writeValue(percentAddress, writableValue);\n        global.set('reactivePowerDerating_Write', false);\n        global.set('allDone', true);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":842,"y":1040,"wires":[["d9e1b4c.255ba48"]]},{"id":"4b542fcb.44c39","type":"function","z":"6b0cb169.4a994","name":"Display URL Server Write Value","func":"var profile = global.get('URLServer_Profile');\nvar inverterEnabel = global.get('inverterEnabel');\nvar inverterWrite = global.get('inverterWrite');\nvar activePowerDeratingEnabel = global.get('activePowerDerating_Enabel');\nvar activePowerDeratingWrite = global.get('activePowerDerating_Write');\nvar reactivePowerDeratingEnabel = global.get('reactivePowerDerating_Enabel');\nvar reactivePowerDeratingWrite = global.get('reactivePowerDerating_Write');\n\n\nvar cmdType = global.get('cmdType');\nvar allDone = global.get('allDone');\n\nconst sendResponse = (res) => {\n    global.set('http_RS_485_successResponse', res);\n}\n\nconst resetGlobalVariable = () => {\n    global.set('req', null);\n    global.set('isInverterOnCmd', null);\n    global.set('isInverterOFFCmd', null);\n    global.set('URLServer_Profile', null);\n    global.set('inverterEnabel', null);\n    global.set('inverterWrite', null);\n    global.set('activePowerDerating_Enabel', null);\n    global.set('activePowerDerating_Write', null);\n    global.set('reactivePowerDerating_Enabel', null);\n    global.set('reactivePowerDerating_Write', null);\n    global.set('allDone', null);\n    global.set('invOffTimeReqType', null);\n    global.set('lastActivityOfWriteValue', null);\n    global.set('stop_url_server_Loop', false);\n}\n\nconst identifyNodeToStartFlow = () => {\n    global.set('stop_on_http_request', true);\n    msg.IP = profile.ip;\n    const ip = profile.ip;\n    \n    if(ip == '192.168.1.10'){\n        global.set('stop_to_read_deviceProfile_1', true);\n    }\n    \n    if(ip == '192.168.1.20'){\n        global.set('stop_to_read_deviceProfile_2', true);\n    }\n}\n\nif(cmdType == 'InverterOff'){\n    \n    if(inverterEnabel){\n        global.set('inverterEnabel', false);\n        global.set('inverterWrite', true);\n    }\n    \n    if(allDone){\n       let res;\n       let reqType =  global.get('invOffTimeReqType');\n       \n       if(reqType == 'activePowerDerating'){\n          res = {\n            data_INVOFF_APD: {\n                status: {\n                    success: true\n                },\n                activePowerDerating: {\n                    success: true\n                }\n            }\n        }\n           sendResponse(res);\n       }\n       \n       if(reqType == 'reactivePowerDerating'){\n           res = {\n            data_INVOFF_RPD: {\n                status: {\n                    success: true\n                },\n                reactivePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        \n        sendResponse(res);\n       }\n       \n       if(reqType == 'activePowerDerating_reactivePowerDerating'){\n           res = {\n            datadata_INVOFF_APD_RPD: {\n                status: {\n                    success: true\n                },\n                activePowerDerating: {\n                    success: true\n                },\n                reactivePowerDerating: {\n                    success: true\n                }\n            }\n        };\n        \n        sendResponse(res);\n       }\n       \n       if(reqType == 'onlyInverterOff'){\n           res = {\n            data_INVOFF: {\n                status: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n       }\n       \n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\nif(cmdType == 'InverterOn'){\n    \n    if(inverterEnabel){\n        global.set('inverterEnabel', false);\n        global.set('inverterWrite', true);\n    }\n    \n    if(allDone){\n        let res = {\n            dataON: {\n                status: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n    \n}\n\nif(cmdType == 'InverterOn_activePowerDerating_reactivePowerDerating'){\n    \n    if(inverterEnabel){\n        global.set('inverterEnabel', false);\n        global.set('inverterWrite', true);\n    }\n    \n    if(activePowerDeratingEnabel){\n        global.set('inverterWrite', false);\n    }\n    \n    if(activePowerDeratingWrite){\n        global.set('activePowerDerating_Enabel', false);\n    }\n    \n    if(reactivePowerDeratingEnabel){\n        global.set('activePowerDerating_Write', false);\n    }\n    \n    if(reactivePowerDeratingWrite){\n        global.set('reactivePowerDerating_Enabel', false);\n    }\n    \n    if(allDone){\n        let res = {\n            data_INVOn_APD_RPD: {\n                status: {\n                    success: true\n                },\n                activePowerDerating: {\n                    success: true\n                },\n                reactivePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\nif(cmdType == 'inverterOn_and_activePowerDerating'){\n    if(inverterEnabel){\n        global.set('inverterEnabel', false);\n        global.set('inverterWrite', true);\n    }\n    \n    if(activePowerDeratingEnabel){\n        global.set('inverterWrite', false);\n    }\n    \n    if(activePowerDeratingWrite){\n        global.set('activePowerDerating_Enabel', false);\n    }\n    \n    if(allDone){\n        let res = {\n            data_INVOn_APD: {\n                status: {\n                    success: true\n                },\n                activePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\nif(cmdType == 'inverterOn_and_reactivePowerDerating'){\n    \n    if(inverterEnabel){\n        global.set('inverterEnabel', false);\n        global.set('inverterWrite', true);\n    }\n    \n    if(reactivePowerDeratingEnabel){\n        global.set('inverterWrite', false);\n    }\n    \n    if(reactivePowerDeratingWrite){\n        global.set('reactivePowerDerating_Enabel', false);\n    }\n    \n    if(allDone){\n        let res = {\n            data_INVOn_RPD: {\n                status: {\n                    success: true\n                },\n                reactivePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\nif(cmdType == 'activePowerDerating_and_reactivePowerDerating'){\n    \n    if(activePowerDeratingEnabel){\n        global.set('activePowerDerating_Enabel', false);\n        global.set('activePowerDerating_Write', true);\n    }\n    \n    if(activePowerDeratingWrite){\n        global.set('activePowerDerating_Enabel', false);\n    }\n    \n    if(reactivePowerDeratingEnabel){\n        global.set('activePowerDerating_Write', false);\n    }\n    \n    if(reactivePowerDeratingWrite){\n        global.set('reactivePowerDerating_Enabel', false);\n    }\n    \n    if(allDone){\n        let res = {\n            data_APD_RPD: {\n                activePowerDerating: {\n                    success: true\n                },\n                reactivePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\nif(cmdType == 'activePowerDerating'){\n    if(activePowerDeratingEnabel){\n        global.set('activePowerDerating_Enabel', false);\n        global.set('activePowerDerating_Write', true);\n    }\n\n    if(allDone){\n        let res = {\n            data_APD: {\n                activePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\nif(cmdType == 'reactivePowerDerating'){\n    \n    if(reactivePowerDeratingEnabel){\n        global.set('reactivePowerDerating_Enabel', false);\n        global.set('reactivePowerDerating_Write', true);\n    }\n\n    if(allDone){\n        let res = {\n            data_RPD: {\n                reactivePowerDerating: {\n                    success: true\n                }\n            }\n        }\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1379,"y":1029,"wires":[["9a758f01.7226","25214af8.d346a6"]]},{"id":"721ad581.be2c6c","type":"switch","z":"6b0cb169.4a994","name":"Stop URL Server Loop","property":"stop_url_server_Loop","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":327,"y":1140,"wires":[["646a0867.5f75a8"]]},{"id":"646a0867.5f75a8","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":522,"y":1140,"wires":[["a84b592a.728668"]]},{"id":"a84c5777.01b838","type":"catch","z":"6b0cb169.4a994","name":"","scope":null,"uncaught":false,"x":122,"y":1220,"wires":[["27e2aab6.6b4f26"]]},{"id":"27e2aab6.6b4f26","type":"switch","z":"6b0cb169.4a994","name":"Check is_http_request_time_error","property":"is_http_request_time_error","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":344,"y":1220,"wires":[["cad6b28b.253a7"]]},{"id":"cad6b28b.253a7","type":"function","z":"6b0cb169.4a994","name":"","func":"var lastActivityOfWriteValue =  global.get('lastActivityOfWriteValue');\nvar profile = global.get('URLServer_Profile');\nvar cmdType = global.get('cmdType');\nglobal.set('http_request_error', true);\nglobal.set('stop_on_http_request', true);\nglobal.set('is_http_request_time_error', false);\n\nvar res = {\n        status: {\n            success: false\n        },\n        activePowerDerating: {\n            success: false\n        },\n        reactivePowerDerating: {\n            success: false\n        }\n    }\n\nconst sendResponse = (res) => {\n    global.set('http_RS_485_errorResponse', res);\n}\n\nconst resetGlobalVariable = () => {\n    global.set('req', null);\n    global.set('isInverterOnCmd', null);\n    global.set('isInverterOFFCmd', null);\n    global.set('URLServer_Profile', null);\n    global.set('inverterEnabel', null);\n    global.set('inverterWrite', null);\n    global.set('activePowerDerating_Enabel', null);\n    global.set('activePowerDerating_Write', null);\n    global.set('reactivePowerDerating_Enabel', null);\n    global.set('reactivePowerDerating_Write', null);\n    global.set('invOffTimeReqType', null);\n    global.set('allDone', null);\n    global.set('lastActivityOfWriteValue', null);\n    global.set('stop_url_server_Loop', false);\n}\n\nconst identifyNodeToStartFlow = () => {\n    msg.IP = profile.ip\n    const ip = profile.ip;\n    \n    if(ip == '192.168.1.10'){\n        global.set('stop_to_read_deviceProfile_1', true);\n    }\n    \n    if(ip == '192.168.3.20'){\n        global.set('stop_to_read_deviceProfile_2', true);\n    }\n}\n\n\nif(cmdType == 'InverterOff'){\n    let reqType =  global.get('invOffTimeReqType');\n    if(lastActivityOfWriteValue == 'inverterEnabel' || lastActivityOfWriteValue == 'inverterWrite'){\n        node.warn('----> inverterEnabel')\n        if(reqType == 'activePowerDerating'){\n            delete res.reactivePowerDerating;\n            sendResponse(res);\n        }\n        \n        if(reqType == 'reactivePowerDerating'){\n            delete res.activePowerDerating;\n            sendResponse(res);\n        }\n        \n        if(reqType == 'activePowerDerating_reactivePowerDerating'){\n            sendResponse(res);\n        }\n        \n        if(reqType == 'onlyInverterOff'){\n            delete res.activePowerDerating;\n            delete res.reactivePowerDerating;\n            sendResponse(res);\n        }\n        \n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n    return msg;\n}\n\nif(cmdType == 'InverterOn'){\n    if(lastActivityOfWriteValue == 'inverterEnabel' || lastActivityOfWriteValue == 'inverterWrite'){\n        delete res.activePowerDerating;\n        delete res.reactivePowerDerating;\n        sendResponse(res);\n        identifyNodeToStartFlow();\n        resetGlobalVariable();\n    }\n    return msg;\n}\n\nif(cmdType == 'InverterOn_activePowerDerating_reactivePowerDerating'){\n    \n    if(lastActivityOfWriteValue == 'inverterEnabel' || lastActivityOfWriteValue == 'inverterWrite'){\n        sendResponse(res);\n    }\n    \n    if(lastActivityOfWriteValue == 'activePowerDeratingEnabel' || lastActivityOfWriteValue == 'activePowerDeratingWrite'){\n        res.status.success = true;\n        res.activePowerDerating.success = false;\n        res.reactivePowerDerating.success = false;\n        sendResponse(res);\n    }\n    \n    if(lastActivityOfWriteValue == 'reactivePowerDeratingEnabel' || lastActivityOfWriteValue == 'reactivePowerDeratingWrite'){\n        res.status.success = true;\n        res.activePowerDerating.success = true;\n        res.reactivePowerDerating.success = false;\n        sendResponse(res);\n    }\n    \n    identifyNodeToStartFlow();\n    resetGlobalVariable();\n    return msg;\n}\n\nif(cmdType == 'inverterOn_and_activePowerDerating'){\n    \n    if(lastActivityOfWriteValue == 'inverterEnabel' || lastActivityOfWriteValue == 'inverterWrite'){\n        delete res.reactivePowerDerating;\n        sendResponse(res);\n    }\n    \n    if(lastActivityOfWriteValue == 'activePowerDeratingEnabel' || lastActivityOfWriteValue == 'activePowerDeratingWrite'){\n        res.status.success = true;\n        delete res.reactivePowerDerating; \n        sendResponse(res);\n    }\n    \n    identifyNodeToStartFlow();\n    resetGlobalVariable();\n    return msg;\n}\n\nif(cmdType == 'inverterOn_and_reactivePowerDerating'){\n    \n    if(lastActivityOfWriteValue == 'inverterEnabel' || lastActivityOfWriteValue == 'inverterWrite'){\n        delete res.activePowerDerating;\n        sendResponse(res);\n    }\n    \n    if(lastActivityOfWriteValue == 'reactivePowerDeratingEnabel' || lastActivityOfWriteValue == 'reactivePowerDeratingWrite'){\n        res.status.success = true;\n        delete res.activePowerDerating;\n        sendResponse(res);\n    }\n    \n    identifyNodeToStartFlow();\n    resetGlobalVariable();\n    return msg;\n}\n\nif(cmdType == 'activePowerDerating_and_reactivePowerDerating'){\n    \n    if(lastActivityOfWriteValue == 'activePowerDeratingEnabel' || lastActivityOfWriteValue == 'activePowerDeratingWrite'){\n        delete res.status; \n        sendResponse(res);\n    }\n    \n    if(lastActivityOfWriteValue == 'reactivePowerDeratingEnabel' || lastActivityOfWriteValue == 'reactivePowerDeratingWrite'){\n        res.activePowerDerating.success = true;\n        delete res.status; \n        sendResponse(res);\n    }\n    \n    identifyNodeToStartFlow();\n    resetGlobalVariable();\n    return msg;\n}\n\nif(cmdType == 'activePowerDerating'){\n    \n    if(lastActivityOfWriteValue == 'activePowerDeratingEnabel' || lastActivityOfWriteValue == 'activePowerDeratingWrite'){\n        delete res.reactivePowerDerating;\n        delete res.status; \n        sendResponse(res);\n    }\n    \n    identifyNodeToStartFlow();\n    resetGlobalVariable();\n    return msg;\n}\n\nif(cmdType == 'reactivePowerDerating'){\n    \n    if(lastActivityOfWriteValue == 'reactivePowerDeratingEnabel' || lastActivityOfWriteValue == 'reactivePowerDeratingWrite'){\n        delete res.activePowerDerating;\n        delete res.status; \n        sendResponse(res);\n    }\n    \n    identifyNodeToStartFlow();\n    resetGlobalVariable();\n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":567,"y":1220,"wires":[["3819f635.4b10fa"]]},{"id":"7c93a247.ed80dc","type":"http response","z":"6b0cb169.4a994","name":"","statusCode":"","headers":{},"x":1689,"y":1249,"wires":[]},{"id":"474381f7.9b9c","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1112,"wires":[["dbe687d0.1da3b8"]]},{"id":"dbe687d0.1da3b8","type":"function","z":"6b0cb169.4a994","name":"","func":"const ishttpReqErr = global.get('http_request_error');\n\nif(ishttpReqErr){\n    msg.statusCode= 400;\n    msg.payload = global.get('http_RS_485_errorResponse');\n    global.set('http_request_error', null);\n    global.set('http_RS_485_errorResponse', null);\n    global.set('cmdType', null);\n}else{\n    msg.statusCode = 200;\n    msg.payload = global.get('http_RS_485_successResponse');\n    global.set('http_RS_485_successResponse', null);\n    global.set('cmdType', null);\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1559,"y":1249,"wires":[["7c93a247.ed80dc"]]},{"id":"56ca2694.d24bf8","type":"switch","z":"6b0cb169.4a994","name":"","property":"cmdType","propertyType":"global","rules":[{"t":"eq","v":"InverterOff","vt":"str"},{"t":"eq","v":"InverterOn","vt":"str"},{"t":"eq","v":"InverterOn_activePowerDerating_reactivePowerDerating","vt":"str"},{"t":"eq","v":"inverterOn_and_activePowerDerating","vt":"str"},{"t":"eq","v":"inverterOn_and_reactivePowerDerating","vt":"str"},{"t":"eq","v":"activePowerDerating_and_reactivePowerDerating","vt":"str"},{"t":"eq","v":"activePowerDerating","vt":"str"},{"t":"eq","v":"reactivePowerDerating","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":1090,"y":1231,"wires":[["474381f7.9b9c"],["2444ac0c.9246e4"],["e75cbf9f.17361"],["9cfb7451.8cce88"],["8a19776c.a94db8"],["6394645a.51d1bc"],["b16e9d63.3e7bd"],["2508d282.42416e"]]},{"id":"2444ac0c.9246e4","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1149,"wires":[["dbe687d0.1da3b8"]]},{"id":"e75cbf9f.17361","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"4000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1189,"wires":[["dbe687d0.1da3b8"]]},{"id":"9cfb7451.8cce88","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"2200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1226,"wires":[["dbe687d0.1da3b8"]]},{"id":"8a19776c.a94db8","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"2200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1266,"wires":[["dbe687d0.1da3b8"]]},{"id":"6394645a.51d1bc","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"2200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1309,"wires":[["dbe687d0.1da3b8"]]},{"id":"b16e9d63.3e7bd","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1349,"wires":[["dbe687d0.1da3b8"]]},{"id":"2508d282.42416e","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1389,"wires":[["dbe687d0.1da3b8"]]},{"id":"925e6dc9.411a1","type":"http in","z":"6b0cb169.4a994","name":"","url":"/plc","method":"post","upload":false,"swaggerDoc":"","x":1120,"y":2060,"wires":[["3c602814.1e6ff8"]]},{"id":"3c602814.1e6ff8","type":"function","z":"6b0cb169.4a994","name":"URL Server Profile","func":"var URLServerProfile = [\n    {\n        ip: \"192.168.1.10\",\n        deviceNo: 1,\n        slaveId: 6,\n        deviceType: 'Inverter',\n        status: {\n            fc: 3,\n            enableAddress: 0, \n            enableValue: 40, // The Value will be recived from req URL\n            onoffAddress: 12,\n            startValue: 1, \n            stopValue: 0,\n            priority: 1\n        },\n        activePowerDerating: {\n            fc: 3,\n            enableAddress: 3,\n            enableValue: 50, // The Value will be recived from req URL\n            percentAddress: 5,\n            percentScale: 13, // Multiplyer, Whatever value will be recived from req URL multiply those value for this Multiplyer\n            priority:2\n        },\n        reactivePowerDerating: {\n            fc: 3,\n            enableAddress: 6,\n            enableValue: 50, // The Value will be recived from req URL\n            percentAddress: 8,\n            percentScale: 10, // Multiplyer, Whatever value will be recived from req URL multiply those value for this Multiplyer\n            priority: 3\n        }\n    }\n];\n\nmsg.URLServerProfile = URLServerProfile;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1295,"y":2060,"wires":[["dcc9db20.1b44f8"]]},{"id":"dcc9db20.1b44f8","type":"function","z":"6b0cb169.4a994","name":"","func":"var deviceNumber;\nvar deviceType;\nvar req;\nvar ip;\n\nconst fetchURLServerValue = () => {\n    global.set('req', msg.req);\n    req = msg.req;\n    ip = req.body.ip;\n    deviceNumber = req.body.deviceNo;\n    deviceType = req.body.deviceType;\n}\n\nconst checkCommandPriority = () => {\n    if(req.body.status !== undefined){\n        if(req.body.status.cmdType == 1){\n            global.set('cmdType', 'InverterOn');\n            global.set('inverterWrite', true);\n            return msg;\n        }\n    }\n    \n    if(req.body.status !== undefined){\n        if(req.body.status.cmdType === 0){\n            global.set('cmdType', 'InverterOff');\n            global.set('inverterWrite', true);\n            return msg;\n        }\n    }\n    \n    \n    \n    // CASE 1\n    // if(req.body.status !== undefined){\n    //     if(req.body.status.cmdType === 0){\n    //         global.set('cmdType', 'InverterOff');\n    //         global.set('inverterEnabel',true);\n            \n    //         if(req.body.activePowerDerating !== undefined){\n    //             global.set('invOffTimeReqType', 'activePowerDerating');\n    //         }\n            \n    //         if(req.body.reactivePowerDerating !== undefined){\n    //             global.set('invOffTimeReqType', 'reactivePowerDerating');\n    //         }\n            \n    //         if(req.body.activePowerDerating !== undefined && req.body.reactivePowerDerating !== undefined){\n    //             global.set('invOffTimeReqType', 'activePowerDerating_reactivePowerDerating');\n    //         }\n            \n    //         return msg;\n    //     }\n    // }\n    \n    // CASE 2 \n    // if(req.body.status !== undefined && req.body.activePowerDerating !== undefined && req.body.reactivePowerDerating !== undefined){\n    //     if(req.body.status.cmdType == 1){\n    //         global.set('cmdType', 'InverterOn');\n    //         global.set('inverterWrite', true);\n    //         return msg;\n    //     }\n    // }\n    \n    // CASE 3\n    // if(req.body.status !== undefined && req.body.activePowerDerating !== undefined){\n    //     if(req.body.status.cmdType == 1){\n    //         global.set('cmdType', 'inverterOn_and_activePowerDerating');\n    //         global.set('inverterEnabel', true);\n    //         return msg;\n    //     }\n    // }\n    \n    // CASE 4\n    // if(req.body.status !== undefined && req.body.reactivePowerDerating !== undefined){\n    //     if(req.body.status.cmdType == 1){\n    //         global.set('cmdType', 'inverterOn_and_reactivePowerDerating');\n    //         global.set('inverterEnabel', true);\n    //         return msg;\n    //     }\n    // }\n    \n    // CASE 5 \n    // if(req.body.activePowerDerating !== undefined && req.body.reactivePowerDerating !== undefined){\n    //     global.set('cmdType', 'activePowerDerating_and_reactivePowerDerating');\n    //     global.set('activePowerDerating_Enabel', true);\n    //     return msg;\n    // }\n    \n    // CASE 6\n    // if(req.body.activePowerDerating !== undefined){\n    //     global.set('cmdType', 'activePowerDerating');\n    //     global.set('activePowerDerating_Enabel', true);\n    //     return msg;\n    // }\n    \n    // CASE 7\n    // if(req.body.reactivePowerDerating !== undefined){\n    //     global.set('cmdType', 'reactivePowerDerating');\n    //     global.set('reactivePowerDerating_Enabel', true);\n    //     return msg;\n    // }\n    \n    // CASE 8 \n    // if(req.body.status !== undefined){\n    //     if(req.body.status.cmdType === 1){\n    //         global.set('cmdType', 'InverterOn');\n    //         global.set('inverterEnabel',true);\n    //         return msg;\n    //     }\n    // }\n}\n\nconst getSingleProfile = () => {\n        msg.URLServerProfile.forEach(element => {\n            if(element.deviceNo == deviceNumber && element.ip == ip){\n                global.set('URLServer_Profile', element);\n            }\n        })\n}\n\nfetchURLServerValue();\ncheckCommandPriority();\ngetSingleProfile();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1481,"y":2060,"wires":[["b1f433d4.78315","ce7d33e1.8200c"]]},{"id":"b1f433d4.78315","type":"function","z":"6b0cb169.4a994","name":"","func":"var profile = global.get('URLServer_Profile');\nvar inverterWrite = global.get('inverterWrite');\nvar activePowerDeratingEnabel = global.get('activePowerDerating_Enabel');\nvar activePowerDeratingWrite = global.get('activePowerDerating_Write');\nvar reactivePowerDeratingEnabel = global.get('reactivePowerDerating_Enabel');\nvar reactivePowerDeratingWrite = global.get('reactivePowerDerating_Write');\n\nvar req = global.get('req');\nvar slaveId = profile.slaveId;\n\nvar cmdType = global.get('cmdType');\n\nglobal.set('stop_url_server_Loop', true);\n\nconst writeValue = (address, value) => {\n    node.warn(address)\n    node.warn(value)\n    msg.payload = { \n    value: value, \n    'fc': 6, \n    'unitid': slaveId, \n    'address': address,\n    'quantity': 1 \n}\n}\n\nif(cmdType == 'InverterOff'){\n    if(inverterWrite){\n        let onoffAddress = profile.status.onoffAddress;\n        let stopValue = profile.status.stopValue;\n        \n        writeValue(onoffAddress, stopValue);\n        global.set('allDone', true);\n    }\n}\n\n\nif(cmdType == 'InverterOn'){\n    \n    if(inverterWrite){\n        node.warn('inverter ON Write');\n        let onoffAddress = profile.status.onoffAddress;\n        let startValue = profile.status.startValue;\n        // let startValue = profile.status.stopValue;\n        \n        writeValue(onoffAddress, startValue);\n        global.set('allDone', true);\n    }\n\n    // if(activePowerDeratingWrite){\n    //     node.warn('activePowerDeratingWrite')\n    //     let percentAddress = profile.activePowerDerating.percentAddress;\n    //     let writableValue =  profile.activePowerDerating.percentScale * req.body.activePowerDerating.value;\n        \n    //     writeValue(percentAddress, writableValue);\n    //     global.set('inverterWrite', false);\n    //     global.set('activePowerDerating_Write', false);\n    //     global.set('reactivePowerDerating_Write', true);\n    // }\n\n    // if(reactivePowerDeratingWrite){\n    //     node.warn('reactivePowerDeratingWrite')\n    //     let percentAddress = profile.reactivePowerDerating.percentAddress;\n    //     let writableValue = profile.reactivePowerDerating.percentScale * req.body.reactivePowerDerating.value;\n    //     writeValue(percentAddress, writableValue);\n    //     global.set('allDone', true);\n    // }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1658,"y":2060,"wires":[["f8494de6.43fc9"]]},{"id":"119b4b49.0f9855","type":"function","z":"6b0cb169.4a994","name":"Display URL Server ","func":"var profile = global.get('URLServer_Profile');\nvar inverterWrite = global.get('inverterWrite');\nvar activePowerDeratingWrite = global.get('activePowerDerating_Write');\nvar reactivePowerDeratingWrite = global.get('reactivePowerDerating_Write');\n\nvar cmdType = global.get('cmdType');\nvar allDone = global.get('allDone');\n\nconst sendResponse = (res) => {\n    global.set('http_PLC_response', res);\n}\n\nconst resetGlobalVariable = () => {\n    global.set('req', null);\n    global.set('isInverterOnCmd', null);\n    global.set('isInverterOFFCmd', null);\n    global.set('URLServer_Profile', null);\n    global.set('inverterWrite', null);\n    global.set('activePowerDerating_Write', null);\n    global.set('reactivePowerDerating_Write', null);\n    global.set('allDone', null);\n    global.set('invOffTimeReqType', null);\n    global.set('stop_url_server_Loop', false);\n}\n\nif(cmdType == 'InverterOff'){\n    if(allDone){\n        let res = {\n            data: {\n                status: {\n                    success: true,\n                    msg: 'Inverter off seccessfully'\n                }\n            }\n        }\n        sendResponse(res);\n        resetGlobalVariable();\n    }\n}\n\n\nif(cmdType == 'InverterOn'){\n    \n    // if(inverterWrite){\n    //     global.set('inverterWrite', false);\n    //     // global.set('activePowerDerating_Write', true);\n    // }\n    \n    if(allDone){\n        let res = {\n            data: {\n                status: {\n                    success: true,\n                    msg: 'Inverter on seccessfully'\n                }\n            }\n        }\n        sendResponse(res);\n        resetGlobalVariable();\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2028,"y":2060,"wires":[["aa2de996.18d2d8"]]},{"id":"f8494de6.43fc9","type":"modbus-flex-write","z":"6b0cb169.4a994","name":"192.168.1.10","showStatusActivities":true,"showErrors":true,"server":"4563b4d4.6da41c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1811,"y":2060,"wires":[["119b4b49.0f9855"],[]]},{"id":"b6a390de.d1a3f","type":"complete","z":"6b0cb169.4a994","name":"","scope":["119b4b49.0f9855"],"uncaught":false,"x":1128,"y":2139,"wires":[["74dfb4c6.c0d0cc"]]},{"id":"74dfb4c6.c0d0cc","type":"switch","z":"6b0cb169.4a994","name":"Stop URL Server Loop","property":"stop_url_server_Loop","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1321,"y":2139,"wires":[["a43046cc.f3d798"]]},{"id":"a43046cc.f3d798","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1513,"y":2139,"wires":[["c02adc21.ca62"]]},{"id":"c02adc21.ca62","type":"function","z":"6b0cb169.4a994","name":"","func":"node.warn('--------')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1676,"y":2139,"wires":[[]]},{"id":"aa2de996.18d2d8","type":"debug","z":"6b0cb169.4a994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2228,"y":2059,"wires":[]},{"id":"78cacb43.6c0d14","type":"comment","z":"6b0cb169.4a994","name":"**************************************  URL Server for PLC  **************************************","info":"","x":1518,"y":1999,"wires":[]},{"id":"ce7d33e1.8200c","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1948,"y":2139,"wires":[["44834cd2.b595f4"]]},{"id":"44834cd2.b595f4","type":"function","z":"6b0cb169.4a994","name":"","func":"const response = global.get('http_PLC_response');\nglobal.set('cmdType', null);\nglobal.set('http_PLC_response', null);\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2138,"y":2139,"wires":[["70e1cd9c.610aa4"]]},{"id":"70e1cd9c.610aa4","type":"http response","z":"6b0cb169.4a994","name":"","statusCode":"","headers":{},"x":2308,"y":2139,"wires":[]},{"id":"dadc3faa.17dfc","type":"http in","z":"6b0cb169.4a994","name":"","url":"/rs-485","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1040,"wires":[["c8eae417.fd4be8","a389fd51.2100f"]]},{"id":"516a1399.558a9c","type":"change","z":"6b0cb169.4a994","name":"192.168.1.10","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":880,"wires":[["735a1fd7.e2bd8"]]},{"id":"d3d79b37.c2e578","type":"switch","z":"6b0cb169.4a994","name":"","property":"IP","propertyType":"msg","rules":[{"t":"eq","v":"192.168.1.10","vt":"str"},{"t":"eq","v":"192.168.1.20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":654,"y":1040,"wires":[["516a1399.558a9c","a84b592a.728668"],["337bd6d6.8208ba","a84b592a.728668"]]},{"id":"d9e1b4c.255ba48","type":"switch","z":"6b0cb169.4a994","name":"","property":"IP","propertyType":"msg","rules":[{"t":"eq","v":"192.168.1.10","vt":"str"},{"t":"eq","v":"192.168.1.20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":975,"y":1040,"wires":[["9bed789b.5c1778"],["10af810a.7e6ecf"]]},{"id":"ec9eac2d.c71d","type":"switch","z":"6b0cb169.4a994","name":"Dp-1 ON OFF","property":"stop_to_read_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":557.2857666015625,"y":804,"wires":[["2a1e58b7.250168"]]},{"id":"9bed789b.5c1778","type":"modbus-flex-write","z":"6b0cb169.4a994","name":"192.168.1.10","showStatusActivities":true,"showErrors":true,"server":"807ea69b.2727d8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1135,"y":1013,"wires":[["4b542fcb.44c39"],[]]},{"id":"10af810a.7e6ecf","type":"modbus-flex-write","z":"6b0cb169.4a994","name":"192.168.1.20","showStatusActivities":true,"showErrors":true,"server":"afa9dd41.df22f","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1139,"y":1065,"wires":[["4b542fcb.44c39"],[]]},{"id":"337bd6d6.8208ba","type":"change","z":"6b0cb169.4a994","name":"192.168.1.20","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":921,"wires":[["5783c65c.92bfd8"]]},{"id":"9fdf974b.be1958","type":"switch","z":"6b0cb169.4a994","name":"Dp-2 ON OFF","property":"stop_to_read_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":556,"y":864,"wires":[["142613dd.25c88c"]]},{"id":"34a2cded.5327a2","type":"switch","z":"6b0cb169.4a994","name":"Dp-2 ON OFF","property":"stop_to_read_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":542,"y":579,"wires":[["142613dd.25c88c"]]},{"id":"61e3452d.bd047c","type":"switch","z":"6b0cb169.4a994","name":"Dp-2 ON OFF","property":"stop_to_read_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1400,"y":719,"wires":[["e1c253b0.40be7"]]},{"id":"c6d7ceef.d370d","type":"switch","z":"6b0cb169.4a994","name":"Dp-1 ON OFF","property":"stop_to_read_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1399,"y":656,"wires":[["509fef23.0481b"]]},{"id":"9a758f01.7226","type":"switch","z":"6b0cb169.4a994","name":"","property":"IP","propertyType":"msg","rules":[{"t":"eq","v":"192.168.1.10","vt":"str"},{"t":"eq","v":"192.168.1.20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":1029,"wires":[["2a1e58b7.250168"],["142613dd.25c88c"]]},{"id":"17310c26.4440b4","type":"debug","z":"6b0cb169.4a994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":887,"y":1280,"wires":[]},{"id":"3b6b81aa.088e5e","type":"inject","z":"6b0cb169.4a994","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":520,"wires":[["c0d95d1f.7493a","eace1d9c.5998d"]]},{"id":"d7480aab.17f818","type":"switch","z":"6b0cb169.4a994","name":"","property":"IP","propertyType":"msg","rules":[{"t":"eq","v":"192.168.1.10","vt":"str"},{"t":"eq","v":"192.168.1.20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":885,"y":1220,"wires":[["2a1e58b7.250168"],["142613dd.25c88c"]]},{"id":"3819f635.4b10fa","type":"delay","z":"6b0cb169.4a994","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":732,"y":1220,"wires":[["d7480aab.17f818"]]},{"id":"a389fd51.2100f","type":"change","z":"6b0cb169.4a994","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":155,"y":440,"wires":[["5ba60de7.8320e4","3a4be517.3c311a"]]},{"id":"915c03ac.4b7c8","type":"switch","z":"6b0cb169.4a994","name":"Stop on http request","property":"stop_on_http_request","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":338,"y":140,"wires":[["80cade0d.46fce","6ed85abb.79cd44"]]},{"id":"6ed85abb.79cd44","type":"function","z":"6b0cb169.4a994","name":"","func":"node.warn('=============>>')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":60,"wires":[[]]},{"id":"b0e932be.d4c72","type":"function","z":"6b0cb169.4a994","name":"","func":"node.warn('=============>> 22')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":220,"wires":[[]]},{"id":"d310c7c6.693e48","type":"comment","z":"6b0cb169.4a994","name":"Add Node to check number of device","info":"","x":1800,"y":1026,"wires":[]},{"id":"88a081fd.a6d18","type":"comment","z":"6b0cb169.4a994","name":"Add Node to check number of device","info":"","x":980,"y":1180,"wires":[]},{"id":"fc0ec678.cf0118","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"10","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"ed7d5af5.114f58","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.20","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"4563b4d4.6da41c","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"25","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"807ea69b.2727d8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"25","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"afa9dd41.df22f","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.20","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]