Roorkee/New Version/flows.json
[{"id":"5b2cab7c.6cc354","type":"tab","label":"Roorkee","disabled":false,"info":""},{"id":"d327ea20.f574e8","type":"function","z":"5b2cab7c.6cc354","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":380,"wires":[["85bb4b8f.7f29a8"]]},{"id":"911ef2ed.5a9ff","type":"inject","z":"5b2cab7c.6cc354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[[]]},{"id":"85bb4b8f.7f29a8","type":"modbus-flex-write","z":"5b2cab7c.6cc354","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"server":"f9faf88c.238f48","emptyMsgOnFail":false,"keepMsgProperties":false,"x":582,"y":379,"wires":[["8609f1f5.2e577"],[]]},{"id":"abc5337f.153ba","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"f9faf88c.238f48","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":560,"y":540,"wires":[["ff5a3be5.0b3388"],[]]},{"id":"614a429f.0710ac","type":"function","z":"5b2cab7c.6cc354","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":540,"wires":[["abc5337f.153ba"]]},{"id":"d89ade24.52fa5","type":"complete","z":"5b2cab7c.6cc354","name":"","scope":["ebecbf22.fbb6e","999b60aa.cdec8"],"uncaught":false,"x":119,"y":293,"wires":[["19a12541.ca291b"]]},{"id":"19a12541.ca291b","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":141,"y":238,"wires":[["21e1d86.5eab228"]]},{"id":"58e02f34.5e896","type":"comment","z":"5b2cab7c.6cc354","name":"Slave Active","info":"","x":590,"y":339,"wires":[]},{"id":"9ba1cfb6.26291","type":"function","z":"5b2cab7c.6cc354","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":983,"y":380,"wires":[["6d89e95e.2346c8"]]},{"id":"6d89e95e.2346c8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":380,"wires":[["614a429f.0710ac"],["d327ea20.f574e8"],["14933002.8bcab"]]},{"id":"e5369426.585ce8","type":"comment","z":"5b2cab7c.6cc354","name":"Retry","info":"","x":1130,"y":334,"wires":[]},{"id":"25988d5b.29cff2","type":"comment","z":"5b2cab7c.6cc354","name":"PLC Active","info":"","x":737,"y":126,"wires":[]},{"id":"21e1d86.5eab228","type":"function","z":"5b2cab7c.6cc354","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":537,"y":166,"wires":[["791eaabf.98c0d4"]]},{"id":"9cac9776.b77c38","type":"comment","z":"5b2cab7c.6cc354","name":"check Done bit","info":"","x":566,"y":505,"wires":[]},{"id":"e633c4f1.1bcf28","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":554,"wires":[["cd63631.b49aea"],["25e1c0cb.dca42"]]},{"id":"ebecbf22.fbb6e","type":"function","z":"5b2cab7c.6cc354","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n        global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1081,"y":801,"wires":[["1c8ec4a6.54ee7b"]]},{"id":"ff5a3be5.0b3388","type":"function","z":"5b2cab7c.6cc354","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":554,"wires":[["e633c4f1.1bcf28"]]},{"id":"cd63631.b49aea","type":"function","z":"5b2cab7c.6cc354","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":363,"y":805,"wires":[["b866c898.1d1238"]]},{"id":"b866c898.1d1238","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"f9faf88c.238f48","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":603,"y":805,"wires":[["dae40e3d.e20d2"],[]]},{"id":"74ce0d81.888494","type":"comment","z":"5b2cab7c.6cc354","name":"Read Actual Data","info":"","x":602,"y":768,"wires":[]},{"id":"999b60aa.cdec8","type":"function","z":"5b2cab7c.6cc354","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1454,"y":569,"wires":[["261e9910.e5e356","ddeec827.a16ea8"]]},{"id":"a837f48b.1da658","type":"complete","z":"5b2cab7c.6cc354","name":"","scope":["ebecbf22.fbb6e"],"uncaught":false,"x":148,"y":857,"wires":[["e601a9af.744938"]]},{"id":"e601a9af.744938","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":168,"y":804,"wires":[["cd63631.b49aea"]]},{"id":"1c8ec4a6.54ee7b","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1295,"y":801,"wires":[["261e9910.e5e356","ddeec827.a16ea8"]]},{"id":"8609f1f5.2e577","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":380,"wires":[["9ba1cfb6.26291"]]},{"id":"f9f50bc5.b40708","type":"function","z":"5b2cab7c.6cc354","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1338,"y":153,"wires":[["46575674.10cfa8"]]},{"id":"46575674.10cfa8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":292,"wires":[["d327ea20.f574e8"],["868cc096.9b4ec"]]},{"id":"e84f98af.f2e618","type":"comment","z":"5b2cab7c.6cc354","name":"Check for Writable device or NonWritable","info":"","x":430,"y":249,"wires":[]},{"id":"261e9910.e5e356","type":"debug","z":"5b2cab7c.6cc354","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":800,"wires":[]},{"id":"ddeec827.a16ea8","type":"change","z":"5b2cab7c.6cc354","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":720,"wires":[["34dc9ea7.eadd62"]]},{"id":"988834c5.a2c078","type":"comment","z":"5b2cab7c.6cc354","name":"Reset Done Bit","info":"","x":1140,"y":120,"wires":[]},{"id":"5bc61dca.0ee034","type":"function","z":"5b2cab7c.6cc354","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":160,"wires":[["48cf1317.b9e83c"]]},{"id":"48cf1317.b9e83c","type":"modbus-flex-write","z":"5b2cab7c.6cc354","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"server":"f9faf88c.238f48","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1132,"y":160,"wires":[["ddb93f9d.82b86","f9f50bc5.b40708"],[]]},{"id":"ddb93f9d.82b86","type":"debug","z":"5b2cab7c.6cc354","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":100,"wires":[]},{"id":"17d1a306.37b85d","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"f9faf88c.238f48","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":560,"y":657,"wires":[["e87d8b58.bf06a8"],[]]},{"id":"f1635a76.25e458","type":"function","z":"5b2cab7c.6cc354","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":657,"wires":[["17d1a306.37b85d"]]},{"id":"ec334215.175cc","type":"comment","z":"5b2cab7c.6cc354","name":"Re check Done bit","info":"","x":571,"y":618,"wires":[]},{"id":"a81d296a.f26208","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":671,"wires":[["cd63631.b49aea"],["1262482e.aa97b8"]]},{"id":"e87d8b58.bf06a8","type":"function","z":"5b2cab7c.6cc354","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":670,"wires":[["a81d296a.f26208"]]},{"id":"25e1c0cb.dca42","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":560,"wires":[["f1635a76.25e458"]]},{"id":"868cc096.9b4ec","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":460,"wires":[["92cfd463.b23b78"]]},{"id":"92cfd463.b23b78","type":"function","z":"5b2cab7c.6cc354","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["614a429f.0710ac"]]},{"id":"14933002.8bcab","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1353,"y":393,"wires":[["5e1e7b2d.d29474"]]},{"id":"bc82b875.ffbbb8","type":"comment","z":"5b2cab7c.6cc354","name":"Data Packet Loop","info":"","x":167,"y":765,"wires":[]},{"id":"9a14ee64.704f7","type":"comment","z":"5b2cab7c.6cc354","name":"Number of device Loop","info":"","x":136,"y":197,"wires":[]},{"id":"791eaabf.98c0d4","type":"modbus-flex-write","z":"5b2cab7c.6cc354","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"server":"f9faf88c.238f48","emptyMsgOnFail":false,"keepMsgProperties":false,"x":746,"y":166,"wires":[["5bc61dca.0ee034"],[]]},{"id":"1a622df3.b5cf32","type":"function","z":"5b2cab7c.6cc354","name":"PLC_DP-1","func":"var PLC_deviceProfile_1 = [\n    \n    {\n        deviceName: \"Apex150 Meter-1\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 185\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 5\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 12,\n                slaveId: 19\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 23,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 512,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 536,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 524,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 538,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 562,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 554,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 566,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 558,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Apex150 Meter-2\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 185\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 5\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 12,\n                slaveId: 20\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 23,\n              quantity: 1,\n              value: 1\n            },\n              regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 512,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 536,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 524,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 538,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 562,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 554,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 566,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 558,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n    // Start MFM\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 186\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 17,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 17,\n                        address: 185,\n                        quantity: 14\n                    },{\n                        fc: 3,\n                        slaveID: 17,\n                        address: 201,\n                        quantity: 12\n                    },{\n                        fc: 3,\n                        slaveID: 17,\n                        address: 215,\n                        quantity: 12\n                    },{\n                        fc: 3,\n                        slaveID: 17,\n                        address: 229,\n                        quantity: 20\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"MFM-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 186\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 18\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 185,\n                        quantity: 14\n                    },{\n                        fc: 3,\n                        slaveID: 18,\n                        address: 201,\n                        quantity: 12\n                    },{\n                        fc: 3,\n                        slaveID: 18,\n                        address: 215,\n                        quantity: 12\n                    },{\n                        fc: 3,\n                        slaveID: 18,\n                        address: 229,\n                        quantity: 20\n                    }\n                ]\n        }\n    },\n    // WMS\n    {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 113\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 8\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 6,\n                slaveId: 26\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 18,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 25,\n                        address: 405,\n                        quantity: 1\n                    }\n                ]\n        }\n    },\n  // SCB\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n     {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    \n\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["21e1d86.5eab228"]]},{"id":"dae40e3d.e20d2","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":820,"y":801,"wires":[["ebecbf22.fbb6e"]]},{"id":"1262482e.aa97b8","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1159,"y":677,"wires":[["999b60aa.cdec8"]]},{"id":"5e1e7b2d.d29474","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1385,"y":466,"wires":[["999b60aa.cdec8"]]},{"id":"dcc58d7e.b52a1","type":"debug","z":"5b2cab7c.6cc354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":600,"wires":[]},{"id":"34dc9ea7.eadd62","type":"http request","z":"5b2cab7c.6cc354","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1750,"y":660,"wires":[["dcc58d7e.b52a1"]]},{"id":"3276f2a.128160e","type":"function","z":"5b2cab7c.6cc354","name":"PLC_DP-1 VCB","func":"var PLC_deviceProfile_1 = [\n    \n// Start MFM\n    {\n        deviceName: \"vcb-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 180\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 16\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 9,\n                slaveId: 21\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 20,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 201,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 401,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 601,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 801,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 1001,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"vcb-2\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 180\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 16\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 9,\n                slaveId: 22\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 20,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 201,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 401,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 601,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 801,\n                        quantity: 32\n                    },\n                    {\n                        fc: 1,\n                        slaveID: 21,\n                        address: 1001,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":40,"wires":[[]]},{"id":"2b55b011.6c57e","type":"comment","z":"5b2cab7c.6cc354","name":"**************************************  RS-485 Converter Section  **************************************","info":"","x":860,"y":1940,"wires":[]},{"id":"e312a2fe.0a1a2","type":"catch","z":"5b2cab7c.6cc354","name":"","scope":null,"uncaught":false,"x":120,"y":2060,"wires":[["7b4f21d0.adba8","75982518.65f49c"]]},{"id":"ed26cf71.1df39","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":2220,"wires":[["b7144372.893f7"],["79b00047.8b92e"]]},{"id":"b7144372.893f7","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":2188,"wires":[["86acf290.8b00e"]]},{"id":"79b00047.8b92e","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":379,"y":2253,"wires":[["b9b47a8d.983b68"]]},{"id":"86acf290.8b00e","type":"function","z":"5b2cab7c.6cc354","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":545,"y":2188,"wires":[["440c8e6a.44b75"]]},{"id":"b9b47a8d.983b68","type":"function","z":"5b2cab7c.6cc354","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":542,"y":2251,"wires":[["440c8e6a.44b75"]]},{"id":"2aef962c.c3138a","type":"function","z":"5b2cab7c.6cc354","name":"Error Frunction","func":"\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        \n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        // displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            // moveOnNextDevice(\n            //     deviceProfile_StoreData,\n            //     deviceProfile,\n            //     stop_to_read_deviceProfile_dataPacket,\n            //     deviceProfile_Count,\n            //     deviceProfile_Index,\n            //     deviceProfile_ReadIndex,\n            //     stop_deviceProfile\n            // );\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount == 1){\n            // node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            // node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\n\nif(msg.error.source.name == \"192.168.10.206\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-3\n    if(slaveID == 3){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.203\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    deviceProfile_ErrorConfig(2);\n    identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n}\n}\n\nif(msg.error.source.name == \"192.168.10.204\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    deviceProfile_ErrorConfig(3);\n    identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n}\n}\n\nif(msg.error.source.name == \"192.168.10.205\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    deviceProfile_ErrorConfig(4);\n    identity_Node_To_Pink_RetryOrMoveOnNextDevice(4);\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":563,"y":2060,"wires":[["ed26cf71.1df39","20b92be5.0d0a24"]]},{"id":"7b4f21d0.adba8","type":"debug","z":"5b2cab7c.6cc354","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":2000,"wires":[]},{"id":"75982518.65f49c","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":340,"y":2060,"wires":[["2aef962c.c3138a"]]},{"id":"20b92be5.0d0a24","type":"switch","z":"5b2cab7c.6cc354","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":2060,"wires":[["5071fc0b.513ec4","8f70357f.eb1fe8"]]},{"id":"5071fc0b.513ec4","type":"debug","z":"5b2cab7c.6cc354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":2060,"wires":[]},{"id":"440c8e6a.44b75","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"},{"t":"eq","v":"RD_Profile4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":694,"y":2220,"wires":[["ac69c0ca.e2688"],["2bc4a923.b7a046"],["209d5ed2.01bf12"],[]]},{"id":"8d224333.3154b","type":"function","z":"5b2cab7c.6cc354","name":"Dp-1 WMS","func":"var deviceProfile_1 = [\n    {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 110\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 0,\n                        quantity: 11\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2560,"wires":[["ac69c0ca.e2688"]]},{"id":"ac69c0ca.e2688","type":"function","z":"5b2cab7c.6cc354","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":2559,"wires":[["6739248d.7e36cc"]]},{"id":"6739248d.7e36cc","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.206","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dfe9ed79.5e127","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1160,"y":2559,"wires":[["eb1c8640.acf2d8"],[]]},{"id":"eb1c8640.acf2d8","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1349,"y":2555,"wires":[["35b3bd73.f6ff62"]]},{"id":"35b3bd73.f6ff62","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1599,"y":2558,"wires":[["364a7bc.9482f84"]]},{"id":"364a7bc.9482f84","type":"function","z":"5b2cab7c.6cc354","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1878,"y":2558,"wires":[["c20a17e9.f82278"]]},{"id":"c20a17e9.f82278","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":2560,"wires":[["ea02c436.62a538","8f70357f.eb1fe8"]]},{"id":"a1acc2c1.e2776","type":"complete","z":"5b2cab7c.6cc354","name":"Device Profile-1","scope":["364a7bc.9482f84"],"uncaught":false,"x":530,"y":2320,"wires":[["6dcacc1d.6a86c4"]]},{"id":"6dcacc1d.6a86c4","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":2320,"wires":[["ac69c0ca.e2688"]]},{"id":"b9af36eb.d90cf8","type":"complete","z":"5b2cab7c.6cc354","name":"Read Device Profile-1","scope":["364a7bc.9482f84"],"uncaught":false,"x":574,"y":2800,"wires":[["dab93a1d.de9ca8"]]},{"id":"dab93a1d.de9ca8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2800,"wires":[["ac69c0ca.e2688"]]},{"id":"600c7c06.d47614","type":"function","z":"5b2cab7c.6cc354","name":"Dp-2 INV-1","func":"var deviceProfile_2 = [\n        {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 58\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // 16 Bits\n                    {\n                        fc: 4,\n                        address: 0,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 7,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 30,\n                        quantity: 13\n                    },\n                    // 32 Bits\n                    {\n                        fc: 4,\n                        address: 8,\n                        quantity: 20\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2620,"wires":[["2bc4a923.b7a046"]]},{"id":"2bc4a923.b7a046","type":"function","z":"5b2cab7c.6cc354","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":2619,"wires":[["6c3b6450.7aed9c"]]},{"id":"6c3b6450.7aed9c","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.203","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"344cb440.c4cacc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1160,"y":2619,"wires":[["7698682.2566898"],[]]},{"id":"7698682.2566898","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1347,"y":2619,"wires":[["398c02a6.841f7e"]]},{"id":"398c02a6.841f7e","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1600,"y":2619,"wires":[["5ad030c9.1086f"]]},{"id":"5ad030c9.1086f","type":"function","z":"5b2cab7c.6cc354","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":2619,"wires":[["c1cec8.3ad85138"]]},{"id":"c1cec8.3ad85138","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":2620,"wires":[["c384d9d8.02f398","8f70357f.eb1fe8"]]},{"id":"85874dbf.a7b62","type":"complete","z":"5b2cab7c.6cc354","name":"Read Device Profile-2","scope":["5ad030c9.1086f"],"uncaught":false,"x":574,"y":2860,"wires":[["34308563.b858aa"]]},{"id":"34308563.b858aa","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":749,"y":2860,"wires":[["2bc4a923.b7a046"]]},{"id":"92861846.d08a78","type":"complete","z":"5b2cab7c.6cc354","name":"Device Profile-2","scope":["5ad030c9.1086f"],"uncaught":false,"x":530,"y":2375,"wires":[["c9cd755.4795388"]]},{"id":"c9cd755.4795388","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":2375,"wires":[["2bc4a923.b7a046"]]},{"id":"1541fb9d.fd4d14","type":"inject","z":"5b2cab7c.6cc354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":2620,"wires":[["8d224333.3154b","600c7c06.d47614","ac46ef6d.1ba9","e8f7f24a.223cb"]]},{"id":"ac46ef6d.1ba9","type":"function","z":"5b2cab7c.6cc354","name":"Dp-3   INV-1","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 58\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // 16 Bits\n                    {\n                        fc: 4,\n                        address: 0,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 7,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 30,\n                        quantity: 13\n                    },\n                    // 32 Bits\n                    {\n                        fc: 4,\n                        address: 8,\n                        quantity: 20\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []);\nglobal.set(\"deviceProfile_3_Count\", 0); \nglobal.set(\"deviceProfile_3_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2680,"wires":[["209d5ed2.01bf12"]]},{"id":"209d5ed2.01bf12","type":"function","z":"5b2cab7c.6cc354","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":2679,"wires":[["6bc733ce.cdc0ec"]]},{"id":"6bc733ce.cdc0ec","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.204","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"f70f71d9.15f3d","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1160,"y":2679,"wires":[["2c3c6ecf.a01052"],[]]},{"id":"2c3c6ecf.a01052","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1347,"y":2679,"wires":[["2080accf.d723c4"]]},{"id":"2080accf.d723c4","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1600,"y":2679,"wires":[["b0a7010.625e4"]]},{"id":"b0a7010.625e4","type":"function","z":"5b2cab7c.6cc354","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":2679,"wires":[["5f2b60e9.e4287"]]},{"id":"5f2b60e9.e4287","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":2680,"wires":[["32a03143.c0dd8e","8f70357f.eb1fe8"]]},{"id":"de0e3314.8005b","type":"complete","z":"5b2cab7c.6cc354","name":"Device Profile-3","scope":["b0a7010.625e4"],"uncaught":false,"x":540,"y":2440,"wires":[["13ab6326.09358d"]]},{"id":"13ab6326.09358d","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":2440,"wires":[["209d5ed2.01bf12"]]},{"id":"ae105ac7.bcc7e8","type":"complete","z":"5b2cab7c.6cc354","name":"Read Device Profile-3","scope":["b0a7010.625e4"],"uncaught":false,"x":579,"y":2920,"wires":[["3d70b502.5a336a"]]},{"id":"3d70b502.5a336a","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":754,"y":2920,"wires":[["209d5ed2.01bf12"]]},{"id":"32a03143.c0dd8e","type":"debug","z":"5b2cab7c.6cc354","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2242,"y":2679,"wires":[]},{"id":"c384d9d8.02f398","type":"debug","z":"5b2cab7c.6cc354","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2242,"y":2619,"wires":[]},{"id":"ea02c436.62a538","type":"debug","z":"5b2cab7c.6cc354","name":"10.102.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2241,"y":2558,"wires":[]},{"id":"f758ed31.3f884","type":"catch","z":"5b2cab7c.6cc354","name":"","scope":null,"uncaught":false,"x":1160,"y":3100,"wires":[["22d5e9a9.3ac2c6","709c7375.c0eebc","2cd1516.5f485ae","8d42b506.ee4108","7ad8f5f4.fc431c","f2167981.3d1728","ee1dce65.f5179","90fe2c1c.4d6e"]]},{"id":"22d5e9a9.3ac2c6","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\" ||\nmsg.error.message == \"Error: Client Not Ready To Read At State reconnecting\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"\n){\n    if(msg.error.source.name == \"192.168.10.201\"){\n     msg.reConnector_2 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.201', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;  ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3040,"wires":[["e8d13a7a.cfd718"]]},{"id":"e8d13a7a.cfd718","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1566,"y":3040,"wires":[["c69db616.060e78"]]},{"id":"709c7375.c0eebc","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\" ||\nmsg.error.message == \"Error: Client Not Ready To Read At State reconnecting\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"\n){\n    if(msg.error.source.name == \"192.168.10.202\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.202', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;  ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":2980,"wires":[["4929d7a3.807b48"]]},{"id":"4929d7a3.807b48","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1566,"y":2980,"wires":[["25cbd239.d7086e"]]},{"id":"25cbd239.d7086e","type":"modbus-flex-connector","z":"5b2cab7c.6cc354","name":"192.168.10.202","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"f9faf88c.238f48","x":1733,"y":2980,"wires":[[]]},{"id":"adb78982.fdbd38","type":"comment","z":"5b2cab7c.6cc354","name":"********** Reconnect ********","info":"","x":1580,"y":2940,"wires":[]},{"id":"2cd1516.5f485ae","type":"debug","z":"5b2cab7c.6cc354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":2900,"wires":[]},{"id":"458453d6.b7ad9c","type":"file","z":"5b2cab7c.6cc354","name":"","filename":"C:\\SCADA\\Node Red Error Testing\\Error.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1910,"y":3380,"wires":[[]]},{"id":"4bfb201a.188fb","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"isPLC_Error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":3380,"wires":[["84fa0273.cf4f9"]]},{"id":"8d42b506.ee4108","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.source.name == \"192.168.10.201\"){\n    msg.isPLC_Error = true;    \n}\n\nif(msg.error.source.name == \"192.168.10.202\"){\n    msg.isPLC_Error = true;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":3380,"wires":[["4bfb201a.188fb"]]},{"id":"f5d1fc66.da42","type":"function","z":"5b2cab7c.6cc354","name":"","func":"msg.payload = {\n    \"Payload\": msg.payload,\n    \"ErrorMessage\": msg.error.message,\n    \"Source\": msg.error.source,\n    \"TimeStamp\": msg.timeStamp\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":3380,"wires":[["458453d6.b7ad9c"]]},{"id":"48818460.dd615c","type":"comment","z":"5b2cab7c.6cc354","name":"Save Error Log in File","info":"","x":1900,"y":3340,"wires":[]},{"id":"84fa0273.cf4f9","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1420,"y":3380,"wires":[["f5d1fc66.da42"]]},{"id":"c69db616.060e78","type":"modbus-flex-connector","z":"5b2cab7c.6cc354","name":"192.168.10.201","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"81e0a02d.7a732","x":1732,"y":3040,"wires":[[]]},{"id":"8f70357f.eb1fe8","type":"change","z":"5b2cab7c.6cc354","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":2360,"wires":[["448379d3.e06778"]]},{"id":"448379d3.e06778","type":"http request","z":"5b2cab7c.6cc354","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2090,"y":2300,"wires":[["92b3b051.86bbe"]]},{"id":"92b3b051.86bbe","type":"debug","z":"5b2cab7c.6cc354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2070,"y":2240,"wires":[]},{"id":"f6049446.605c58","type":"function","z":"5b2cab7c.6cc354","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1300,"wires":[["d731d1c1.30767"]]},{"id":"c1b68a50.28e3b8","type":"inject","z":"5b2cab7c.6cc354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"100","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":161,"y":1060,"wires":[["4e975e92.53543"]]},{"id":"d731d1c1.30767","type":"modbus-flex-write","z":"5b2cab7c.6cc354","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"81e0a02d.7a732","emptyMsgOnFail":false,"keepMsgProperties":false,"x":602,"y":1299,"wires":[["2cd76795.a596d8"],[]]},{"id":"e7078de3.1ab2a","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"81e0a02d.7a732","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":580,"y":1460,"wires":[["1e38d3d7.47053c"],[]]},{"id":"6fe4fcc0.358c74","type":"function","z":"5b2cab7c.6cc354","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":1460,"wires":[["e7078de3.1ab2a"]]},{"id":"d2f302b4.4d7c","type":"complete","z":"5b2cab7c.6cc354","name":"","scope":["a7ea24b9.4a6588","48eb926b.272aac"],"uncaught":false,"x":139,"y":1213,"wires":[["cfc222e5.db428"]]},{"id":"cfc222e5.db428","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_PLC_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":161,"y":1158,"wires":[["9f746ea9.10666"]]},{"id":"fa5ce1ce.e1418","type":"comment","z":"5b2cab7c.6cc354","name":"Slave Active","info":"","x":610,"y":1259,"wires":[]},{"id":"27e5fe25.ce69f2","type":"function","z":"5b2cab7c.6cc354","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_2_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_2_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_2_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_2_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_2_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_2_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_2_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1003,"y":1300,"wires":[["28e329eb.8bce76"]]},{"id":"28e329eb.8bce76","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"PLC_deviceProfile_2_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1150,"y":1300,"wires":[["6fe4fcc0.358c74"],["f6049446.605c58"],["849573e.127dc9"]]},{"id":"c5b49b95.9ee308","type":"comment","z":"5b2cab7c.6cc354","name":"Retry","info":"","x":1150,"y":1254,"wires":[]},{"id":"e977dc8.72dac2","type":"comment","z":"5b2cab7c.6cc354","name":"PLC Active","info":"","x":757,"y":1046,"wires":[]},{"id":"9f746ea9.10666","type":"function","z":"5b2cab7c.6cc354","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":557,"y":1086,"wires":[["32042fcd.d7b71"]]},{"id":"a9736c71.76fc2","type":"comment","z":"5b2cab7c.6cc354","name":"check Done bit","info":"","x":586,"y":1425,"wires":[]},{"id":"52e012ca.7b365c","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":1474,"wires":[["2652293f.dab346"],["71613e42.14169"]]},{"id":"a7ea24b9.4a6588","type":"function","z":"5b2cab7c.6cc354","name":"Display Data PLC_DP-2","func":"var deviceProfile = global.get('PLC_deviceProfile_2');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_2_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_2_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_2_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_2_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_2', false);\n    let readIndex = global.get('PLC_deviceProfile_2_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_2_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_2_dataPacket', false);\n    global.set('PLC_deviceProfile_2_ReadIndex', 0);\n    global.set('PLC_deviceProfile_2_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_2_Index');\n        index += 1;\n        global.set('PLC_deviceProfile_2_Index', index);\n        global.set('stop_PLC_deviceProfile_2', true);\n        global.set('stop_to_read_PLC_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_2', false);\n        global.set('stop_to_read_PLC_deviceProfile_2_dataPacket', false);\n        global.set('PLC_deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1101,"y":1721,"wires":[["a84e0a31.7e40e8"]]},{"id":"1e38d3d7.47053c","type":"function","z":"5b2cab7c.6cc354","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1474,"wires":[["52e012ca.7b365c"]]},{"id":"2652293f.dab346","type":"function","z":"5b2cab7c.6cc354","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_2', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":383,"y":1725,"wires":[["ab444b26.b21798"]]},{"id":"ab444b26.b21798","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"81e0a02d.7a732","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":623,"y":1725,"wires":[["f6530d15.8a311"],[]]},{"id":"d697ecb7.2cf82","type":"comment","z":"5b2cab7c.6cc354","name":"Read Actual Data","info":"","x":622,"y":1688,"wires":[]},{"id":"48eb926b.272aac","type":"function","z":"5b2cab7c.6cc354","name":"onErrorOccured PLC_DP-2","func":"var deviceProfile = global.get('PLC_deviceProfile_2');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_2_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_2_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_2_Index', index);\n    global.set('stop_PLC_deviceProfile_2', true);\n    \n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_2')\n        global.set('stop_PLC_deviceProfile_2', false);\n        global.set('PLC_deviceProfile_2_Index', 0);\n        global.set('PLC_deviceProfile_2_Count', null);\n    }\n}\n\nif(global.get('PLC_deviceProfile_2_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1474,"y":1489,"wires":[["f647e7cb.8444b8","cdeaee4c.cbd24"]]},{"id":"fe2d3cc0.a3ed2","type":"complete","z":"5b2cab7c.6cc354","name":"","scope":["a7ea24b9.4a6588"],"uncaught":false,"x":168,"y":1777,"wires":[["4ef029f1.1ec7d8"]]},{"id":"4ef029f1.1ec7d8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_to_read_PLC_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":188,"y":1724,"wires":[["2652293f.dab346"]]},{"id":"a84e0a31.7e40e8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"sendData_PLC_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1315,"y":1721,"wires":[["f647e7cb.8444b8","cdeaee4c.cbd24"]]},{"id":"2cd76795.a596d8","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"2400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1300,"wires":[["27e5fe25.ce69f2"]]},{"id":"680ecbd9.c7b9a4","type":"function","z":"5b2cab7c.6cc354","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1358,"y":1073,"wires":[["e1b0a96.76ee458"]]},{"id":"e1b0a96.76ee458","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":426,"y":1212,"wires":[["f6049446.605c58"],["b24fac0f.66d66"]]},{"id":"1de1a2f8.cabfbd","type":"comment","z":"5b2cab7c.6cc354","name":"Check for Writable device or NonWritable","info":"","x":450,"y":1169,"wires":[]},{"id":"f647e7cb.8444b8","type":"debug","z":"5b2cab7c.6cc354","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":1720,"wires":[]},{"id":"cdeaee4c.cbd24","type":"change","z":"5b2cab7c.6cc354","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":1640,"wires":[["ea88d44e.851018"]]},{"id":"cac4c9e3.08f638","type":"comment","z":"5b2cab7c.6cc354","name":"Reset Done Bit","info":"","x":1160,"y":1040,"wires":[]},{"id":"6ef0bcd4.4e40f4","type":"function","z":"5b2cab7c.6cc354","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1080,"wires":[["4502f9c3.28bae8"]]},{"id":"4502f9c3.28bae8","type":"modbus-flex-write","z":"5b2cab7c.6cc354","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"81e0a02d.7a732","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1152,"y":1080,"wires":[["e97d3785.3551b8","680ecbd9.c7b9a4"],[]]},{"id":"e97d3785.3551b8","type":"debug","z":"5b2cab7c.6cc354","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":1020,"wires":[]},{"id":"6e589784.dfc6e8","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"81e0a02d.7a732","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":580,"y":1577,"wires":[["c4a25bbc.497c18"],[]]},{"id":"6098fbd0.199784","type":"function","z":"5b2cab7c.6cc354","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":1577,"wires":[["6e589784.dfc6e8"]]},{"id":"8fa4af03.39e3b","type":"comment","z":"5b2cab7c.6cc354","name":"Re check Done bit","info":"","x":591,"y":1538,"wires":[]},{"id":"9501f6f4.e6a908","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":1591,"wires":[["2652293f.dab346"],["1eafaf4d.b89171"]]},{"id":"c4a25bbc.497c18","type":"function","z":"5b2cab7c.6cc354","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_2');\nvar index = global.get('PLC_deviceProfile_2_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1590,"wires":[["9501f6f4.e6a908"]]},{"id":"71613e42.14169","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1480,"wires":[["6098fbd0.199784"]]},{"id":"b24fac0f.66d66","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1380,"wires":[["248bd3d0.25b49c"]]},{"id":"248bd3d0.25b49c","type":"function","z":"5b2cab7c.6cc354","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1460,"wires":[["6fe4fcc0.358c74"]]},{"id":"849573e.127dc9","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1373,"y":1313,"wires":[["5cba0969.310488"]]},{"id":"e0c31f98.2256f","type":"comment","z":"5b2cab7c.6cc354","name":"Data Packet Loop","info":"","x":187,"y":1685,"wires":[]},{"id":"344387ba.5f3338","type":"comment","z":"5b2cab7c.6cc354","name":"Number of device Loop","info":"","x":156,"y":1117,"wires":[]},{"id":"32042fcd.d7b71","type":"modbus-flex-write","z":"5b2cab7c.6cc354","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"81e0a02d.7a732","emptyMsgOnFail":false,"keepMsgProperties":false,"x":766,"y":1086,"wires":[["6ef0bcd4.4e40f4"],[]]},{"id":"4e975e92.53543","type":"function","z":"5b2cab7c.6cc354","name":"PLC_DP-2","func":"var PLC_deviceProfile_2 = [\n    // WMS\n      {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 113\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 8\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 6,\n                slaveId: 27\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 18,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 25,\n                        address: 405,\n                        quantity: 1\n                    }\n                ]\n        }\n    },\n  \n  // Start SCB\n      {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 204\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 125,\n                        quantity: 26\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 152,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 154,\n                        quantity: 4\n                    },\n                    \n                ]\n        }\n    }\n    \n    //   {\n    //     deviceName: \"SCB-9\",\n    //     deviceProfile: {\n    //         deviceNo: 9,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 9\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-10\",\n    //     deviceProfile: {\n    //         deviceNo: 10,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 10\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-11\",\n    //     deviceProfile: {\n    //         deviceNo: 11,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 11\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-12\",\n    //     deviceProfile: {\n    //         deviceNo: 12,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 12\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-13\",\n    //     deviceProfile: {\n    //         deviceNo: 13,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 13\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-14\",\n    //     deviceProfile: {\n    //         deviceNo: 14,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 14\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-15\",\n    //     deviceProfile: {\n    //         deviceNo: 15,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 15\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-16\",\n    //     deviceProfile: {\n    //         deviceNo: 16,\n    //         deviceType: 204\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 16\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 16,\n    //                     address: 125,\n    //                     quantity: 26\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 16,\n    //                     address: 152,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 16,\n    //                     address: 154,\n    //                     quantity: 4\n    //                 },\n                    \n    //             ]\n    //     }\n    // }\n]\n\nglobal.set('PLC_deviceProfile_2', PLC_deviceProfile_2);\nglobal.set('PLC_deviceProfile_2_Index', 0);\nglobal.set('PLC_deviceProfile_2_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_2_StoreData', []);\nglobal.set(\"PLC_deviceProfile_2_Count\", 0); \nglobal.set('PLC_deviceProfile_2_dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1060,"wires":[["9f746ea9.10666"]]},{"id":"f6530d15.8a311","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":840,"y":1721,"wires":[["a7ea24b9.4a6588"]]},{"id":"1eafaf4d.b89171","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1179,"y":1597,"wires":[["48eb926b.272aac"]]},{"id":"5cba0969.310488","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1405,"y":1386,"wires":[["48eb926b.272aac"]]},{"id":"910577a6.90dbb8","type":"debug","z":"5b2cab7c.6cc354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":1520,"wires":[]},{"id":"ea88d44e.851018","type":"http request","z":"5b2cab7c.6cc354","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost/gm/api/insertData?LD=1,212,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1770,"y":1580,"wires":[["910577a6.90dbb8"]]},{"id":"e9805d2f.2a847","type":"comment","z":"5b2cab7c.6cc354","name":"****************************************** PLC 2 ******************************************","info":"","x":760,"y":944,"wires":[]},{"id":"32a27029.0425c","type":"comment","z":"5b2cab7c.6cc354","name":"****************************************** PLC 1 ******************************************","info":"","x":800,"y":40,"wires":[]},{"id":"7ad8f5f4.fc431c","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.206\"){\n     msg.reConnector_3 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.206', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_3 = false;\n}\n}else {\n    msg.reConnector_3 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3100,"wires":[["d2a48c70.43392"]]},{"id":"d2a48c70.43392","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"reConnector_3","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1566,"y":3100,"wires":[["1af0bf65.fe3511"]]},{"id":"1af0bf65.fe3511","type":"modbus-flex-connector","z":"5b2cab7c.6cc354","name":"192.168.10.206","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"dfe9ed79.5e127","x":1732,"y":3100,"wires":[[]]},{"id":"f2167981.3d1728","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.203\"){\n     msg.reConnector_4 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.203', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_4 = false;\n}\n}else {\n    msg.reConnector_4 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3160,"wires":[["2492a0a9.30c99"]]},{"id":"2492a0a9.30c99","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"reConnector_4","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1570,"y":3160,"wires":[["c84f863d.ce1928"]]},{"id":"c84f863d.ce1928","type":"modbus-flex-connector","z":"5b2cab7c.6cc354","name":"192.168.10.203","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"344cb440.c4cacc","x":1740,"y":3160,"wires":[[]]},{"id":"ee1dce65.f5179","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.204\"){\n     msg.reConnector_5 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.204', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_5 = false;\n}\n}else {\n    msg.reConnector_5 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3220,"wires":[["10390660.29b0ca"]]},{"id":"10390660.29b0ca","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"reConnector_5","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1570,"y":3220,"wires":[["b2833299.9c883"]]},{"id":"b2833299.9c883","type":"modbus-flex-connector","z":"5b2cab7c.6cc354","name":"192.168.10.204","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"f70f71d9.15f3d","x":1740,"y":3220,"wires":[[]]},{"id":"76f1a9b6.eb16b8","type":"function","z":"5b2cab7c.6cc354","name":"PLC_DP-1","func":"var PLC_deviceProfile_1 = [\n    {\n        deviceName: \"Apex150 Meter-1\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 185\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 5\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 12,\n                slaveId: 19\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 23,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 510,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 534,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 522,\n                        quantity: 20\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 560,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 552,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 564,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 556,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Apex150 Meter-2\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 185\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 5\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 12,\n                slaveId: 20\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 23,\n              quantity: 1,\n              value: 1\n            },\n             regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 510,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 534,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 522,\n                        quantity: 20\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 560,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 552,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 564,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 556,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n    \n    \n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":80,"wires":[["21e1d86.5eab228"]]},{"id":"fc61bd94.d8046","type":"inject","z":"5b2cab7c.6cc354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["1a622df3.b5cf32"]]},{"id":"e8f7f24a.223cb","type":"function","z":"5b2cab7c.6cc354","name":"Dp-4  UPS","func":"var deviceProfile_4 = [\n    {\n        deviceName: \"UPS\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 241\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    {\n                        fc: 2,\n                        address: 10065,\n                        quantity: 18\n                    },\n                    {\n                        fc: 4,\n                        address: 30001,\n                        quantity: 12\n                    }\n                    \n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_4', deviceProfile_4);\nglobal.set('deviceProfile_4_Index', 0);\nglobal.set('deviceProfile_4_ReadIndex', 0);\nglobal.set('deviceProfile_4_StoreData', []);\nglobal.set(\"deviceProfile_4_Count\", 0); \nglobal.set(\"deviceProfile_4_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2740,"wires":[["72161344.f4ae7c"]]},{"id":"72161344.f4ae7c","type":"function","z":"5b2cab7c.6cc354","name":"Read Device Profile-4","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_4');\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_4_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_4', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":2739,"wires":[["2544becd.012632"]]},{"id":"cb6f20de.4feee","type":"delay","z":"5b2cab7c.6cc354","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1347,"y":2739,"wires":[["91fe371a.39b188"]]},{"id":"91fe371a.39b188","type":"moment","z":"5b2cab7c.6cc354","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1600,"y":2739,"wires":[["6bffae63.7129e"]]},{"id":"6bffae63.7129e","type":"function","z":"5b2cab7c.6cc354","name":"Display data DeviceProfile-4","func":"var device_profile = global.get('deviceProfile_4');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_4_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_4_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_4_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_4_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_4_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_4_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let tempData= [];\n    data.forEach(item => {\n        \n        if(item == false)\n            tempData.push(0)\n            else if(item == true)\n            tempData.push(1)\n            else\n            tempData.push(item)\n        \n    })\n    \n    let finalData = tempData.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_4_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_4_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_4_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_4_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_4_ReadIndex', index);  \n  global.set('stop_deviceProfile_4', false);\n  global.set('stop_to_read_deviceProfile_4_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    global.set('deviceProfile_4_ReadIndex', 0);\n    global.set(\"deviceProfile_4_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_4', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_4_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_4_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_4_Index');\n        index += 1;\n        global.set('deviceProfile_4_Index', index);\n        global.set('stop_deviceProfile_4', true);\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_4_dataPacket', false);\n        global.set('stop_deviceProfile_4', false);\n        global.set('deviceProfile_4_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":2739,"wires":[["9bd54ac4.0d87f8"]]},{"id":"9bd54ac4.0d87f8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"send_Data_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2090,"y":2740,"wires":[["7934eb12.c3ba14","8f70357f.eb1fe8"]]},{"id":"7934eb12.c3ba14","type":"debug","z":"5b2cab7c.6cc354","name":"10.102.255.144","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2242,"y":2739,"wires":[]},{"id":"2544becd.012632","type":"modbus-flex-getter","z":"5b2cab7c.6cc354","name":"192.168.10.205","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"4fe09f4c.1265c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1160,"y":2740,"wires":[["cb6f20de.4feee"],[]]},{"id":"3179b414.b1597c","type":"complete","z":"5b2cab7c.6cc354","name":"Read Device Profile-4","scope":["6bffae63.7129e"],"uncaught":false,"x":580,"y":2980,"wires":[["5a790741.d08de8"]]},{"id":"5a790741.d08de8","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_to_read_deviceProfile_4_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2980,"wires":[["72161344.f4ae7c"]]},{"id":"c127a015.50b2e","type":"complete","z":"5b2cab7c.6cc354","name":"Device Profile-4","scope":["6bffae63.7129e"],"uncaught":false,"x":540,"y":2500,"wires":[["136a3b9c.6245e4"]]},{"id":"136a3b9c.6245e4","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"stop_deviceProfile_4","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":2500,"wires":[["72161344.f4ae7c"]]},{"id":"d9aaf58e.242a88","type":"inject","z":"5b2cab7c.6cc354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":2460,"wires":[[]]},{"id":"90fe2c1c.4d6e","type":"function","z":"5b2cab7c.6cc354","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.205\"){\n     msg.reConnector_6 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.205', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_6 = false;\n}\n}else {\n    msg.reConnector_6 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":3280,"wires":[["9c95757f.608608"]]},{"id":"9c95757f.608608","type":"switch","z":"5b2cab7c.6cc354","name":"","property":"reConnector_6","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1570,"y":3280,"wires":[["fbc857ef.4a48d8"]]},{"id":"fbc857ef.4a48d8","type":"modbus-flex-connector","z":"5b2cab7c.6cc354","name":"192.168.10.205","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"4fe09f4c.1265c","x":1740,"y":3280,"wires":[[]]},{"id":"f9faf88c.238f48","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.202","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"dfe9ed79.5e127","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.206","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"344cb440.c4cacc","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.203","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"f70f71d9.15f3d","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.204","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"250","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"81e0a02d.7a732","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"4fe09f4c.1265c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.205","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]