Meerut/new flow.json
[{"id":"7d8cc76c.6077e8","type":"tab","label":"Meerut","disabled":false,"info":""},{"id":"d394baa5.fcc078","type":"function","z":"7d8cc76c.6077e8","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["4222d4a1.88fcbc"]]},{"id":"c1d3e8df.d5b068","type":"inject","z":"7d8cc76c.6077e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":141,"y":100,"wires":[["cdf39567.fd59f8"]]},{"id":"4222d4a1.88fcbc","type":"modbus-flex-write","z":"7d8cc76c.6077e8","name":"","showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":592,"y":339,"wires":[["52a9e4a8.d8aedc"],[]]},{"id":"1f0a0f3a.d7db41","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"367a1b64.1e1a04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":500,"wires":[["a0f80207.9305a"],[]]},{"id":"c8ae0b2b.454e38","type":"function","z":"7d8cc76c.6077e8","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":500,"wires":[["1f0a0f3a.d7db41"]]},{"id":"87015ea1.c3614","type":"complete","z":"7d8cc76c.6077e8","name":"","scope":["be76b066.60c5b","d03a8805.1473f8"],"uncaught":false,"x":119,"y":253,"wires":[["a568c9d5.ea0e88"]]},{"id":"a568c9d5.ea0e88","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":141,"y":198,"wires":[["1847aef6.7f0471"]]},{"id":"dd134fff.187fd","type":"comment","z":"7d8cc76c.6077e8","name":"Slave Active","info":"","x":590,"y":299,"wires":[]},{"id":"b40da999.3819c8","type":"function","z":"7d8cc76c.6077e8","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":983,"y":340,"wires":[["b8d0cc6.1c2ef3"]]},{"id":"b8d0cc6.1c2ef3","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":340,"wires":[["c8ae0b2b.454e38"],["d394baa5.fcc078"],["1d63a108.a4578f"]]},{"id":"ae7316b.c4b0ae8","type":"comment","z":"7d8cc76c.6077e8","name":"Retry","info":"","x":1130,"y":294,"wires":[]},{"id":"686b08d2.9a0088","type":"comment","z":"7d8cc76c.6077e8","name":"PLC Active","info":"","x":737,"y":86,"wires":[]},{"id":"1847aef6.7f0471","type":"function","z":"7d8cc76c.6077e8","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":537,"y":126,"wires":[["452a3945.0b9928"]]},{"id":"906e75c0.f56968","type":"comment","z":"7d8cc76c.6077e8","name":"check Done bit","info":"","x":566,"y":465,"wires":[]},{"id":"1d171d2b.5fed33","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":514,"wires":[["1d0de3f.baf581c"],["c5141787.7c88e8"]]},{"id":"be76b066.60c5b","type":"function","z":"7d8cc76c.6077e8","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n        global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1081,"y":761,"wires":[["d7a15061.11a35"]]},{"id":"a0f80207.9305a","type":"function","z":"7d8cc76c.6077e8","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":514,"wires":[["1d171d2b.5fed33"]]},{"id":"1d0de3f.baf581c","type":"function","z":"7d8cc76c.6077e8","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":363,"y":765,"wires":[["51d7e1e2.ad02b"]]},{"id":"51d7e1e2.ad02b","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"Read Data","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"367a1b64.1e1a04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":593,"y":765,"wires":[["5dbbee6c.2abcb"],[]]},{"id":"839f57a7.ace178","type":"comment","z":"7d8cc76c.6077e8","name":"Read Actual Data","info":"","x":602,"y":728,"wires":[]},{"id":"d03a8805.1473f8","type":"function","z":"7d8cc76c.6077e8","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1454,"y":529,"wires":[["7cb5132a.c2e63c","43088891.ca17f8"]]},{"id":"c1d9a125.36d52","type":"complete","z":"7d8cc76c.6077e8","name":"","scope":["be76b066.60c5b"],"uncaught":false,"x":148,"y":817,"wires":[["d11d1bc7.f710e8"]]},{"id":"d11d1bc7.f710e8","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":168,"y":764,"wires":[["1d0de3f.baf581c"]]},{"id":"d7a15061.11a35","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1295,"y":761,"wires":[["7cb5132a.c2e63c","43088891.ca17f8"]]},{"id":"52a9e4a8.d8aedc","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":340,"wires":[["b40da999.3819c8"]]},{"id":"f91f12f8.36aa3","type":"function","z":"7d8cc76c.6077e8","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1338,"y":113,"wires":[["9e91a46a.af7e08"]]},{"id":"9e91a46a.af7e08","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":252,"wires":[["d394baa5.fcc078"],["1a13b14c.172e6f"]]},{"id":"773b0e21.f3db9","type":"comment","z":"7d8cc76c.6077e8","name":"Check for Writable device or NonWritable","info":"","x":430,"y":209,"wires":[]},{"id":"7cb5132a.c2e63c","type":"debug","z":"7d8cc76c.6077e8","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":760,"wires":[]},{"id":"43088891.ca17f8","type":"change","z":"7d8cc76c.6077e8","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":680,"wires":[["209d29a0.963836"]]},{"id":"df8195c0.98a1c8","type":"debug","z":"7d8cc76c.6077e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":560,"wires":[]},{"id":"ed9768e2.4ee018","type":"comment","z":"7d8cc76c.6077e8","name":"Reset Done Bit","info":"","x":1140,"y":80,"wires":[]},{"id":"c5c927ef.f9bec8","type":"function","z":"7d8cc76c.6077e8","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":120,"wires":[["ba3bc325.10f4a"]]},{"id":"ba3bc325.10f4a","type":"modbus-flex-write","z":"7d8cc76c.6077e8","name":"","showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1142,"y":120,"wires":[["b4713f97.5357d","f91f12f8.36aa3"],[]]},{"id":"b4713f97.5357d","type":"debug","z":"7d8cc76c.6077e8","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":60,"wires":[]},{"id":"102ce1f.8f6871e","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"367a1b64.1e1a04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":617,"wires":[["7a9f582a.d256c8"],[]]},{"id":"5b9c6fde.83ed6","type":"function","z":"7d8cc76c.6077e8","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":617,"wires":[["102ce1f.8f6871e"]]},{"id":"13929693.04a179","type":"comment","z":"7d8cc76c.6077e8","name":"Re check Done bit","info":"","x":571,"y":578,"wires":[]},{"id":"7c2b8268.ce92bc","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":631,"wires":[["1d0de3f.baf581c"],["542d8e52.c2c0b"]]},{"id":"7a9f582a.d256c8","type":"function","z":"7d8cc76c.6077e8","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":630,"wires":[["7c2b8268.ce92bc"]]},{"id":"c5141787.7c88e8","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":520,"wires":[["5b9c6fde.83ed6"]]},{"id":"1a13b14c.172e6f","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":420,"wires":[["849082b7.aa077"]]},{"id":"849082b7.aa077","type":"function","z":"7d8cc76c.6077e8","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":500,"wires":[["c8ae0b2b.454e38"]]},{"id":"1d63a108.a4578f","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1353,"y":353,"wires":[["d17027b1.fb1678"]]},{"id":"dc3e1e8b.bea56","type":"comment","z":"7d8cc76c.6077e8","name":"Data Packet Loop","info":"","x":167,"y":725,"wires":[]},{"id":"3b3c35f5.88998a","type":"comment","z":"7d8cc76c.6077e8","name":"Number of device Loop","info":"","x":136,"y":157,"wires":[]},{"id":"452a3945.0b9928","type":"modbus-flex-write","z":"7d8cc76c.6077e8","name":"","showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":756,"y":126,"wires":[["c5c927ef.f9bec8"],[]]},{"id":"cdf39567.fd59f8","type":"function","z":"7d8cc76c.6077e8","name":"PLC_DP-1","func":"var PLC_deviceProfile_1 = [\n  // Start INVERTER\n  {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 25,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 33,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 38,\n                        quantity: 13\n                    },\n                ]\n        }\n    },\n  {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 20,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 55,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 63,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 68,\n                        quantity: 13\n                    },\n                ]\n        }\n    },\n\n  // Start SCB\n//   {\n//         deviceName: \"SCB-1\",\n//         deviceProfile: {\n//             deviceNo: 1,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 1\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 1,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 1,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 1,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 1,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-2\",\n//         deviceProfile: {\n//             deviceNo: 2,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 2\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 2,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 2,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 2,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 2,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-3\",\n//         deviceProfile: {\n//             deviceNo: 3,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 3\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 3,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 3,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 3,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 3,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-4\",\n//         deviceProfile: {\n//             deviceNo: 4,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 4\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 4,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 4,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 4,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 4,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-5\",\n//         deviceProfile: {\n//             deviceNo: 5,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 5\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 5,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 5,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 5,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 5,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-6\",\n//         deviceProfile: {\n//             deviceNo: 6,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 6\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 6,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 6,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 6,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 6,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-7\",\n//         deviceProfile: {\n//             deviceNo: 7,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 7\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 7,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 7,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 7,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 7,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-8\",\n//         deviceProfile: {\n//             deviceNo: 8,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 8\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 8,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 8,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 8,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 8,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-9\",\n//         deviceProfile: {\n//             deviceNo: 9,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 9\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 9,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 9,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 9,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 9,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-10\",\n//         deviceProfile: {\n//             deviceNo: 10,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 10\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 10,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 10,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 10,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 10,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n//     {\n//         deviceName: \"SCB-11\",\n//         deviceProfile: {\n//             deviceNo: 11,\n//             deviceType: 202\n//         },\n//         write: {\n//             PLCActive:{\n//                 flag: true,\n//                 fc: 6,\n//                 address: 14,\n//                 value: 2\n//             },\n//             slaveActive:{\n//                 flag: true, \n//                 fc: 6,\n//                 address: 2,\n//                 slaveId: 11\n//             }\n//         },\n//         read: {\n//             isDone: {\n//               flag: true,\n//               fc: 3,\n//               address: 16,\n//               quantity: 1,\n//               value: 1\n//             },\n//             regAdd: [\n//                     {\n//                         fc: 3,\n//                         slaveID: 11,\n//                         address: 125,\n//                         quantity: 24\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 11,\n//                         address: 163,\n//                         quantity: 1\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 11,\n//                         address: 167,\n//                         quantity: 2\n//                     },\n//                     {\n//                         fc: 3,\n//                         slaveID: 11,\n//                         address: 170,\n//                         quantity: 3\n//                     }\n//                 ]\n//         }\n//     },\n    // {\n    //     deviceName: \"SCB-12\",\n    //     deviceProfile: {\n    //         deviceNo: 12,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 12\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 12,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-13\",\n    //     deviceProfile: {\n    //         deviceNo: 13,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 13\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 13,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-14\",\n    //     deviceProfile: {\n    //         deviceNo: 14,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 14\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 14,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-15\",\n    //     deviceProfile: {\n    //         deviceNo: 15,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 15\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 15,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    \n// Start MFM\n    // {\n    //     deviceName: \"MFM-1\",\n    //     deviceProfile: {\n    //         deviceNo: 1,\n    //         deviceType: 177\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 4\n    //         },\n    //         slaveActive:{\n    //             flag: false, \n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 17,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 175,\n    //                     quantity: 8\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 189,\n    //                     quantity: 8\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 209,\n    //                     quantity: 14\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 225,\n    //                     quantity: 6\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 239,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 247,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 257,\n    //                     quantity: 8\n    //                 },\n    //             ]\n    //     }\n    // }\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["1847aef6.7f0471"]]},{"id":"209d29a0.963836","type":"http request","z":"7d8cc76c.6077e8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1/gm/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":600,"wires":[["df8195c0.98a1c8"]]},{"id":"5dbbee6c.2abcb","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":820,"y":761,"wires":[["be76b066.60c5b"]]},{"id":"542d8e52.c2c0b","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1159,"y":637,"wires":[["d03a8805.1473f8"]]},{"id":"d17027b1.fb1678","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1385,"y":426,"wires":[["d03a8805.1473f8"]]},{"id":"3907e7d2.391118","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"192.168.10.1","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"37dc2d31.8c53e2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":710,"y":980,"wires":[["1b148da0.a49482"],[]]},{"id":"91c24a7.eb854b8","type":"function","z":"7d8cc76c.6077e8","name":"","func":"    msg.payload = {\n        'fc': 3,\n        'unitid': 1,\n        'address': 1, \n        'quantity': 10\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":528,"y":980,"wires":[["3907e7d2.391118"]]},{"id":"de201ddc.996d2","type":"debug","z":"7d8cc76c.6077e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1346,"y":974,"wires":[]},{"id":"9feb3be.7bc41c8","type":"inject","z":"7d8cc76c.6077e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":960,"wires":[["91c24a7.eb854b8"]]},{"id":"52eb970b.17b968","type":"function","z":"7d8cc76c.6077e8","name":"","func":"\nvar displayData = () => {\n    let finalData = msg.payload.toString();\n    let deviceType = 107\n    let deviceNo = 1\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n} \n\ndisplayData();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1147,"y":974,"wires":[["de201ddc.996d2","43088891.ca17f8"]]},{"id":"7168c255.8a2e2c","type":"comment","z":"7d8cc76c.6077e8","name":"WMS","info":"","x":714,"y":947,"wires":[]},{"id":"d787a5e8.323b28","type":"function","z":"7d8cc76c.6077e8","name":"Error Frunction","func":"\nconst displayError = () => {\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": 107,\n        \"DeviceNo\": 1,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS\n    if(slaveID == 1){\n        node.warn('Error Occur in WMS');\n        displayError();\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":909,"wires":[["43088891.ca17f8"]]},{"id":"5d3615f8.550bfc","type":"comment","z":"7d8cc76c.6077e8","name":"WMS Error handling","info":"","x":710,"y":860,"wires":[]},{"id":"a8a19d9f.2e332","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":560,"y":909,"wires":[["d787a5e8.323b28"]]},{"id":"1b148da0.a49482","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":940,"y":974,"wires":[["52eb970b.17b968"]]},{"id":"505691c8.7759a","type":"catch","z":"7d8cc76c.6077e8","name":"","scope":["3907e7d2.391118"],"uncaught":false,"x":310,"y":900,"wires":[["a8a19d9f.2e332"]]},{"id":"7e1ed724.4fe5d8","type":"catch","z":"7d8cc76c.6077e8","name":"","scope":null,"uncaught":false,"x":340,"y":1100,"wires":[["32ae4495.c6138c","7e0b2db0.e9de24","bf44cbb1.f2c5b8","6cb4b6d0.58f328"]]},{"id":"32ae4495.c6138c","type":"function","z":"7d8cc76c.6077e8","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.1\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.1', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1140,"wires":[["d5966732.780f38"]]},{"id":"d5966732.780f38","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":766,"y":1140,"wires":[["73aeed29.b9cb54"]]},{"id":"73aeed29.b9cb54","type":"modbus-flex-connector","z":"7d8cc76c.6077e8","name":"192.168.10.1","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"37dc2d31.8c53e2","x":933,"y":1140,"wires":[[]]},{"id":"7e0b2db0.e9de24","type":"function","z":"7d8cc76c.6077e8","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\" ||\nmsg.error.message == \"Error: Client Not Ready To Read At State reconnecting\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"\n){\n    if(msg.error.source.name == \"192.168.10.202\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.202', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;  ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1080,"wires":[["bf72bf65.ef7fa"]]},{"id":"bf72bf65.ef7fa","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":746,"y":1080,"wires":[["4c5798c.7452168"]]},{"id":"4c5798c.7452168","type":"modbus-flex-connector","z":"7d8cc76c.6077e8","name":"192.168.10.202","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","x":913,"y":1080,"wires":[["25e476c7.8b6b6a"]]},{"id":"42798bf4.59a7f4","type":"comment","z":"7d8cc76c.6077e8","name":"********** Reconnect ********","info":"","x":760,"y":1040,"wires":[]},{"id":"25e476c7.8b6b6a","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1103,"y":1080,"wires":[[]]},{"id":"bf44cbb1.f2c5b8","type":"debug","z":"7d8cc76c.6077e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1200,"wires":[]},{"id":"697149e8.3a0288","type":"file","z":"7d8cc76c.6077e8","name":"","filename":"C:\\SCADA\\Node Red Error Testing\\Error.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1090,"y":1300,"wires":[[]]},{"id":"62272968.c35948","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"isPLC_Error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1300,"wires":[["fd8df4b5.301fb8"]]},{"id":"6cb4b6d0.58f328","type":"function","z":"7d8cc76c.6077e8","name":"","func":"if(msg.error.source.name == \"192.168.10.1\"){\n    msg.isPLC_Error = false;    \n}\n\nif(msg.error.source.name == \"192.168.10.202\"){\n    msg.isPLC_Error = true;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1300,"wires":[["62272968.c35948"]]},{"id":"5e7360a2.637d4","type":"function","z":"7d8cc76c.6077e8","name":"","func":"msg.payload = {\n    \"Payload\": msg.payload,\n    \"ErrorMessage\": msg.error.message,\n    \"Source\": msg.error.source,\n    \"TimeStamp\": msg.timeStamp\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1300,"wires":[["697149e8.3a0288"]]},{"id":"29984e37.956a02","type":"comment","z":"7d8cc76c.6077e8","name":"Save Error Log in File","info":"","x":1080,"y":1260,"wires":[]},{"id":"8e833ff3.41d1f","type":"comment","z":"7d8cc76c.6077e8","name":"**************************************  RS-485 Converter Section  **************************************","info":"","x":700,"y":1360,"wires":[]},{"id":"fd8df4b5.301fb8","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":600,"y":1300,"wires":[["5e7360a2.637d4"]]},{"id":"79d4f1c0.49f28","type":"catch","z":"7d8cc76c.6077e8","name":"","scope":null,"uncaught":false,"x":260,"y":1460,"wires":[["cf212ddb.db345","2b0c8c38.c53d64","496c077b.acccb8","7dafd8ee.c4fe48","30ec301.0492ed"]]},{"id":"d987a7bb.b4d1e8","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1620,"wires":[["196a3b73.591095"],["d3e58426.3d0ba8"]]},{"id":"196a3b73.591095","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1588,"wires":[["8ec02689.113928"]]},{"id":"d3e58426.3d0ba8","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":519,"y":1653,"wires":[["dd218b00.2aeca8"]]},{"id":"8ec02689.113928","type":"function","z":"7d8cc76c.6077e8","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":685,"y":1588,"wires":[["3b67b363.cd6bdc"]]},{"id":"dd218b00.2aeca8","type":"function","z":"7d8cc76c.6077e8","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":682,"y":1651,"wires":[["3b67b363.cd6bdc"]]},{"id":"ffd59d58.685c8","type":"function","z":"7d8cc76c.6077e8","name":"Error Frunction","func":"\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        \n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        // displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            // moveOnNextDevice(\n            //     deviceProfile_StoreData,\n            //     deviceProfile,\n            //     stop_to_read_deviceProfile_dataPacket,\n            //     deviceProfile_Count,\n            //     deviceProfile_Index,\n            //     deviceProfile_ReadIndex,\n            //     stop_deviceProfile\n            // );\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount == 1){\n            // node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            // node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"192.168.10.13\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n        \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-1\n    if(slaveID == 18){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-1\n    if(slaveID == 1){\n        node.warn('Error Occur in SCB-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-2\n    if(slaveID == 2){\n        node.warn('Error Occur in SCB-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-3\n    if(slaveID == 3){\n        node.warn('Error Occur in SCB-3');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-4\n    if(slaveID == 4){\n        node.warn('Error Occur in SCB-4');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-5\n    if(slaveID == 5){\n        node.warn('Error Occur in SCB-5');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-6\n    if(slaveID == 6){\n        node.warn('Error Occur in SCB-6');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-7\n    if(slaveID == 7){\n        node.warn('Error Occur in SCB-7');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-8\n    if(slaveID == 8){\n        node.warn('Error Occur in SCB-8');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-9\n    if(slaveID == 9){\n        node.warn('Error Occur in SCB-9');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-10\n    if(slaveID == 10){\n        node.warn('Error Occur in SCB-10');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-11\n    if(slaveID == 11){\n        node.warn('Error Occur in SCB-11');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-12\n    if(slaveID == 12){\n        node.warn('Error Occur in SCB-12');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-13\n    if(slaveID == 13){\n        node.warn('Error Occur in SCB-13');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-14\n    if(slaveID == 14){\n        node.warn('Error Occur in SCB-14');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-15\n    if(slaveID == 15){\n        node.warn('Error Occur in SCB-15');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.11\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-2\n    if(slaveID == 19){\n        node.warn('Error Occur in MET-2');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\n\nif(msg.error.source.name == \"192.168.10.12\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-3\n    if(slaveID == 20){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(3);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(3);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":703,"y":1460,"wires":[["d987a7bb.b4d1e8","ccbb3051.610c1"]]},{"id":"cf212ddb.db345","type":"debug","z":"7d8cc76c.6077e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1400,"wires":[]},{"id":"2b0c8c38.c53d64","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":480,"y":1460,"wires":[["ffd59d58.685c8"]]},{"id":"ccbb3051.610c1","type":"switch","z":"7d8cc76c.6077e8","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1460,"wires":[["49464d5e.99bf54","2bfcb.03b51036"]]},{"id":"49464d5e.99bf54","type":"debug","z":"7d8cc76c.6077e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1460,"wires":[]},{"id":"3b67b363.cd6bdc","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":834,"y":1620,"wires":[["d4af31c4.0710c"],["8be56f73.b01cc"],["f1dd4ae7.ca71c8"]]},{"id":"e2547fb.5ffb08","type":"function","z":"7d8cc76c.6077e8","name":"Dp-1 1-Meter, 15-SCB","func":"var deviceProfile_1 = [\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 177\n        },\n        read: {\n            slaveID: 18,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 99,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        address: 113,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        address: 133,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        address: 149,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 171,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 223,\n                        quantity: 8\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 4,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 5,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 6,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 7,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 8,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 9,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 10,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 11,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 12,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 13,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 14,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 15,\n            regAdd: [\n                    {\n                        fc: 4,\n                        address: 1,\n                        quantity: 24\n                    },\n                    {\n                        fc: 4,\n                        address: 39,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 43,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 46,\n                        quantity: 3\n                    }\n                ]\n        }\n    }\n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1920,"wires":[["d4af31c4.0710c"]]},{"id":"d4af31c4.0710c","type":"function","z":"7d8cc76c.6077e8","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1919,"wires":[["baaa20c0.85ccf"]]},{"id":"baaa20c0.85ccf","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"192.168.10.13","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dc26ec37.35cce","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1300,"y":1919,"wires":[["b9528dae.f6047"],[]]},{"id":"b9528dae.f6047","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1489,"y":1916,"wires":[["1eb0423b.732cbe"]]},{"id":"1eb0423b.732cbe","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1739,"y":1918,"wires":[["6d080996.6823d8"]]},{"id":"6d080996.6823d8","type":"function","z":"7d8cc76c.6077e8","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2018,"y":1918,"wires":[["61b81224.9f087c"]]},{"id":"61b81224.9f087c","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":1920,"wires":[["69694e44.b3a4","2bfcb.03b51036"]]},{"id":"3d131664.09040a","type":"complete","z":"7d8cc76c.6077e8","name":"Device Profile-1","scope":["6d080996.6823d8"],"uncaught":false,"x":670,"y":1720,"wires":[["69d1646b.8acb7c"]]},{"id":"69d1646b.8acb7c","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1720,"wires":[["d4af31c4.0710c"]]},{"id":"848d6da1.19de3","type":"complete","z":"7d8cc76c.6077e8","name":"Read Device Profile-1","scope":["6d080996.6823d8"],"uncaught":false,"x":695,"y":2120,"wires":[["e9a4f80a.076998"]]},{"id":"e9a4f80a.076998","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":2120,"wires":[["d4af31c4.0710c"]]},{"id":"dbdf8f6e.10794","type":"function","z":"7d8cc76c.6077e8","name":"Dp-2 1-Meter","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Apex Meter-1\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 19,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    }\n\n]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1980,"wires":[["8be56f73.b01cc"]]},{"id":"8be56f73.b01cc","type":"function","z":"7d8cc76c.6077e8","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1979,"wires":[["252080eb.0f711"]]},{"id":"252080eb.0f711","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"192.168.10.11","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"17b3286e.748a78","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1300,"y":1979,"wires":[["613ddda0.8f8cf4"],[]]},{"id":"613ddda0.8f8cf4","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1487,"y":1979,"wires":[["99e171bc.5e3c4"]]},{"id":"99e171bc.5e3c4","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1740,"y":1979,"wires":[["8ca8cee9.5b943"]]},{"id":"8ca8cee9.5b943","type":"function","z":"7d8cc76c.6077e8","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2020,"y":1979,"wires":[["a3b6496e.5c4328"]]},{"id":"a3b6496e.5c4328","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":1980,"wires":[["25de43f8.4119bc","2bfcb.03b51036"]]},{"id":"e027739e.93a","type":"complete","z":"7d8cc76c.6077e8","name":"Read Device Profile-2","scope":["8ca8cee9.5b943"],"uncaught":false,"x":695,"y":2180,"wires":[["18112ab7.e85235"]]},{"id":"18112ab7.e85235","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":2180,"wires":[["8be56f73.b01cc"]]},{"id":"41bedf73.d035a","type":"complete","z":"7d8cc76c.6077e8","name":"Device Profile-2","scope":["8ca8cee9.5b943"],"uncaught":false,"x":670,"y":1775,"wires":[["a4bdc9fa.7f6428"]]},{"id":"a4bdc9fa.7f6428","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1775,"wires":[["8be56f73.b01cc"]]},{"id":"2bfcb.03b51036","type":"change","z":"7d8cc76c.6077e8","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":1720,"wires":[["6eff38fd.bf5998"]]},{"id":"106aa36a.9aa35d","type":"debug","z":"7d8cc76c.6077e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2310,"y":1600,"wires":[]},{"id":"6eff38fd.bf5998","type":"http request","z":"7d8cc76c.6077e8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1/gm/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2290,"y":1640,"wires":[["106aa36a.9aa35d"]]},{"id":"9ae859c9.6111b8","type":"inject","z":"7d8cc76c.6077e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":1980,"wires":[["dbdf8f6e.10794","e2547fb.5ffb08","42915033.d872f"]]},{"id":"496c077b.acccb8","type":"function","z":"7d8cc76c.6077e8","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.13\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.13', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2160,"wires":[["eb200e71.5d521"]]},{"id":"eb200e71.5d521","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2160,"wires":[["17bbb3c4.4643cc"]]},{"id":"1d35397f.d58d97","type":"comment","z":"7d8cc76c.6077e8","name":"******** Reconect *******","info":"","x":320,"y":2100,"wires":[]},{"id":"17bbb3c4.4643cc","type":"modbus-flex-connector","z":"7d8cc76c.6077e8","name":"192.168.10.13","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"dc26ec37.35cce","x":480,"y":2160,"wires":[[]]},{"id":"7dafd8ee.c4fe48","type":"function","z":"7d8cc76c.6077e8","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.11\"){\n     msg.reConnector_2 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.11', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2220,"wires":[["9b8e83e3.9a2d3"]]},{"id":"9b8e83e3.9a2d3","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2220,"wires":[["c0927c4d.a6166"]]},{"id":"c0927c4d.a6166","type":"modbus-flex-connector","z":"7d8cc76c.6077e8","name":"192.168.10.11","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"17b3286e.748a78","x":480,"y":2220,"wires":[[]]},{"id":"42915033.d872f","type":"function","z":"7d8cc76c.6077e8","name":"Dp-3 1-Meter","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Apex Meter-2\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 20,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    }\n\n]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []);\nglobal.set(\"deviceProfile_3_Count\", 0); \nglobal.set(\"deviceProfile_3_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":2040,"wires":[["f1dd4ae7.ca71c8"]]},{"id":"f1dd4ae7.ca71c8","type":"function","z":"7d8cc76c.6077e8","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":2039,"wires":[["b193dc06.0daab"]]},{"id":"b193dc06.0daab","type":"modbus-flex-getter","z":"7d8cc76c.6077e8","name":"192.168.10.12","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"36c090a4.203b4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1300,"y":2039,"wires":[["b2db8fe5.77968"],[]]},{"id":"b2db8fe5.77968","type":"delay","z":"7d8cc76c.6077e8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1487,"y":2039,"wires":[["ebe0dfd1.653a9"]]},{"id":"ebe0dfd1.653a9","type":"moment","z":"7d8cc76c.6077e8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1740,"y":2039,"wires":[["d0b4b713.4ee248"]]},{"id":"d0b4b713.4ee248","type":"function","z":"7d8cc76c.6077e8","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":2039,"wires":[["73d47291.8c3b1c"]]},{"id":"73d47291.8c3b1c","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":2040,"wires":[["6eb9aea0.edd9c","2bfcb.03b51036"]]},{"id":"6f8f5d9a.700404","type":"complete","z":"7d8cc76c.6077e8","name":"Device Profile-3","scope":["d0b4b713.4ee248"],"uncaught":false,"x":680,"y":1840,"wires":[["b2190b5c.d23bb8"]]},{"id":"b2190b5c.d23bb8","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":1840,"wires":[["f1dd4ae7.ca71c8"]]},{"id":"cba7f22c.97ec2","type":"complete","z":"7d8cc76c.6077e8","name":"Read Device Profile-3","scope":["d0b4b713.4ee248"],"uncaught":false,"x":700,"y":2240,"wires":[["e15bcf0.48dd23"]]},{"id":"e15bcf0.48dd23","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":875,"y":2240,"wires":[["f1dd4ae7.ca71c8"]]},{"id":"30ec301.0492ed","type":"function","z":"7d8cc76c.6077e8","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.12\"){\n     msg.reConnector_3 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.12', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_3 = false;\n}\n}else {\n    msg.reConnector_3 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2280,"wires":[["8e430601.1c9628"]]},{"id":"8e430601.1c9628","type":"switch","z":"7d8cc76c.6077e8","name":"","property":"reConnector_3","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2280,"wires":[["b0d4fe7b.8226f"]]},{"id":"b0d4fe7b.8226f","type":"modbus-flex-connector","z":"7d8cc76c.6077e8","name":"192.168.10.12","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"36c090a4.203b4","x":480,"y":2280,"wires":[[]]},{"id":"6eb9aea0.edd9c","type":"debug","z":"7d8cc76c.6077e8","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2382,"y":2039,"wires":[]},{"id":"25de43f8.4119bc","type":"debug","z":"7d8cc76c.6077e8","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2382,"y":1979,"wires":[]},{"id":"69694e44.b3a4","type":"debug","z":"7d8cc76c.6077e8","name":"10.102.255.141","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2381,"y":1918,"wires":[]},{"id":"367a1b64.1e1a04","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.202","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"37dc2d31.8c53e2","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.1","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"dc26ec37.35cce","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.13","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"499","reconnectOnTimeout":true,"reconnectTimeout":"499","parallelUnitIdsAllowed":true},{"id":"17b3286e.748a78","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"36c090a4.203b4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.12","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]
