Meerut/new converter flow code.json
[{"id":"1b3a7257.b8719e","type":"tab","label":"Meerut ","disabled":false,"info":""},{"id":"c478a4ca.320cb8","type":"function","z":"1b3a7257.b8719e","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":280,"wires":[["2e4ab49f.59695c"]]},{"id":"a571faf4.c115f8","type":"inject","z":"1b3a7257.b8719e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["b012ba1.b8b6d48"]]},{"id":"2e4ab49f.59695c","type":"modbus-flex-write","z":"1b3a7257.b8719e","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":662,"y":279,"wires":[["4639aeab.af9be"],[]]},{"id":"589abba7.eac5f4","type":"modbus-flex-getter","z":"1b3a7257.b8719e","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"367a1b64.1e1a04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":640,"y":560,"wires":[["fbcf09bd.ccf978"],[]]},{"id":"3af7d899.14e1d8","type":"function","z":"1b3a7257.b8719e","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":433,"y":560,"wires":[["589abba7.eac5f4"]]},{"id":"496d7456.b6df2c","type":"complete","z":"1b3a7257.b8719e","name":"","scope":["f35e74bc.e33cd8","8c4cf714.1a1788"],"uncaught":false,"x":110,"y":260,"wires":[["d2ca7542.cef628"]]},{"id":"d2ca7542.cef628","type":"switch","z":"1b3a7257.b8719e","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":132,"y":205,"wires":[["5ad5668a.fefa68"]]},{"id":"c18938b4.9b5f48","type":"comment","z":"1b3a7257.b8719e","name":"Slave Active","info":"","x":670,"y":239,"wires":[]},{"id":"4639aeab.af9be","type":"function","z":"1b3a7257.b8719e","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    // node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":280,"wires":[["2a1e4b5c.331ec4"]]},{"id":"2a1e4b5c.331ec4","type":"switch","z":"1b3a7257.b8719e","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1210,"y":280,"wires":[["34bc001.7747e"],["c478a4ca.320cb8"],["d15a99e5.147758"]]},{"id":"15cc94f4.c0c19b","type":"comment","z":"1b3a7257.b8719e","name":"Retry","info":"","x":1210,"y":233,"wires":[]},{"id":"a351a6c.c57f358","type":"comment","z":"1b3a7257.b8719e","name":"PLC Active","info":"","x":740,"y":60,"wires":[]},{"id":"5ad5668a.fefa68","type":"function","z":"1b3a7257.b8719e","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":100,"wires":[["c18d64e3.dc4228"]]},{"id":"7b406457.c5213c","type":"comment","z":"1b3a7257.b8719e","name":"check Done bit","info":"","x":646,"y":525,"wires":[]},{"id":"d6750bef.e9beb8","type":"switch","z":"1b3a7257.b8719e","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":574,"wires":[["34b42c79.15f5e4"],["b9ec9109.c9d96"]]},{"id":"f35e74bc.e33cd8","type":"function","z":"1b3a7257.b8719e","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    // node.warn(dataPacket_Count)\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    // node.warn(dataPacket_Count)\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n         global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        // global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1161,"y":821,"wires":[["afa81091.cc436"]]},{"id":"fbcf09bd.ccf978","type":"function","z":"1b3a7257.b8719e","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":574,"wires":[["d6750bef.e9beb8"]]},{"id":"34b42c79.15f5e4","type":"function","z":"1b3a7257.b8719e","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":443,"y":825,"wires":[["37e0ebf1.ff7214"]]},{"id":"37e0ebf1.ff7214","type":"modbus-flex-getter","z":"1b3a7257.b8719e","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"367a1b64.1e1a04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":683,"y":825,"wires":[["83112699.2146d8"],[]]},{"id":"327f2c63.255564","type":"comment","z":"1b3a7257.b8719e","name":"Read Actual Data","info":"","x":682,"y":788,"wires":[]},{"id":"8c4cf714.1a1788","type":"function","z":"1b3a7257.b8719e","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    // node.warn('Number of device on error-1')\n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        // global.set('PLC_deviceProfile_1_Count', null);\n        // node.warn('Number of device on error-2')\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":580,"wires":[["7da87f65.d525c","15df1540.e9bd0b"]]},{"id":"8909d06e.eb9e7","type":"complete","z":"1b3a7257.b8719e","name":"","scope":["f35e74bc.e33cd8"],"uncaught":false,"x":228,"y":877,"wires":[["6e1c46d7.44aa08"]]},{"id":"6e1c46d7.44aa08","type":"switch","z":"1b3a7257.b8719e","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":248,"y":824,"wires":[["34b42c79.15f5e4"]]},{"id":"afa81091.cc436","type":"switch","z":"1b3a7257.b8719e","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1375,"y":821,"wires":[["7da87f65.d525c","15df1540.e9bd0b"]]},{"id":"7da87f65.d525c","type":"debug","z":"1b3a7257.b8719e","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":820,"wires":[]},{"id":"15df1540.e9bd0b","type":"change","z":"1b3a7257.b8719e","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":740,"wires":[["9646e1e1.9221b"]]},{"id":"1ff54cef.e42fc3","type":"debug","z":"1b3a7257.b8719e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":620,"wires":[]},{"id":"209f63e1.d4605c","type":"modbus-flex-getter","z":"1b3a7257.b8719e","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"367a1b64.1e1a04","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":640,"y":677,"wires":[["cb7b544d.b5aaa8"],[]]},{"id":"6310ab8d.ae3d94","type":"function","z":"1b3a7257.b8719e","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":433,"y":677,"wires":[["209f63e1.d4605c"]]},{"id":"1bed88b1.a8d477","type":"comment","z":"1b3a7257.b8719e","name":"Re check Done bit","info":"","x":651,"y":638,"wires":[]},{"id":"f656391d.5ff678","type":"switch","z":"1b3a7257.b8719e","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":691,"wires":[["34b42c79.15f5e4"],["f4c70dc3.2cb95"]]},{"id":"cb7b544d.b5aaa8","type":"function","z":"1b3a7257.b8719e","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":690,"wires":[["f656391d.5ff678"]]},{"id":"b9ec9109.c9d96","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":580,"wires":[["6310ab8d.ae3d94"]]},{"id":"d15a99e5.147758","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":280,"wires":[["40d7fe6e.c305c"]]},{"id":"aaae25c8.d7aa88","type":"comment","z":"1b3a7257.b8719e","name":"Data Packet Loop","info":"","x":247,"y":785,"wires":[]},{"id":"1aedfec3.181071","type":"comment","z":"1b3a7257.b8719e","name":"Number of device Loop","info":"","x":136,"y":157,"wires":[]},{"id":"c18d64e3.dc4228","type":"modbus-flex-write","z":"1b3a7257.b8719e","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":740,"y":100,"wires":[["f489bedb.2610b"],[]]},{"id":"b012ba1.b8b6d48","type":"function","z":"1b3a7257.b8719e","name":"PLC_DP-1","func":"var PLC_deviceProfile_1 = [\n  // Start INVERTER\n  {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 25,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 33,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 38,\n                        quantity: 13\n                    },\n                ]\n        }\n    },\n  {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 20,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 55,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 63,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 68,\n                        quantity: 13\n                    },\n                ]\n        }\n    },\n\n  // Start SCB\n    // {\n    //     deviceName: \"SCB-1\",\n    //     deviceProfile: {\n    //         deviceNo: 1,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 1\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 1,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 1,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 1,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 1,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-2\",\n    //     deviceProfile: {\n    //         deviceNo: 2,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 2\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 2,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 2,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 2,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 2,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-3\",\n    //     deviceProfile: {\n    //         deviceNo: 3,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 3\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 3,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 3,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 3,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 3,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-4\",\n    //     deviceProfile: {\n    //         deviceNo: 4,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 4\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 4,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 4,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 4,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 4,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-5\",\n    //     deviceProfile: {\n    //         deviceNo: 5,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 5\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 5,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 5,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 5,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 5,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-6\",\n    //     deviceProfile: {\n    //         deviceNo: 6,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 6\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 6,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 6,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 6,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 6,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-7\",\n    //     deviceProfile: {\n    //         deviceNo: 7,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 7\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 7,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 7,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 7,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 7,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-8\",\n    //     deviceProfile: {\n    //         deviceNo: 8,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 8\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 8,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 8,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 8,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 8,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-9\",\n    //     deviceProfile: {\n    //         deviceNo: 9,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 9\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 9,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-10\",\n    //     deviceProfile: {\n    //         deviceNo: 10,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 10\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 10,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    // {\n    //     deviceName: \"SCB-11\",\n    //     deviceProfile: {\n    //         deviceNo: 11,\n    //         deviceType: 202\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 2\n    //         },\n    //         slaveActive:{\n    //             flag: true, \n    //             fc: 6,\n    //             address: 2,\n    //             slaveId: 11\n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 16,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 125,\n    //                     quantity: 24\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 163,\n    //                     quantity: 1\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 167,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 11,\n    //                     address: 170,\n    //                     quantity: 3\n    //                 }\n    //             ]\n    //     }\n    // },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    \n// Start MFM\n    // {\n    //     deviceName: \"MFM-1\",\n    //     deviceProfile: {\n    //         deviceNo: 1,\n    //         deviceType: 177\n    //     },\n    //     write: {\n    //         PLCActive:{\n    //             flag: true,\n    //             fc: 6,\n    //             address: 14,\n    //             value: 4\n    //         },\n    //         slaveActive:{\n    //             flag: false, \n    //         }\n    //     },\n    //     read: {\n    //         isDone: {\n    //           flag: true,\n    //           fc: 3,\n    //           address: 17,\n    //           quantity: 1,\n    //           value: 1\n    //         },\n    //         regAdd: [\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 175,\n    //                     quantity: 8\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 189,\n    //                     quantity: 8\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 209,\n    //                     quantity: 14\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 225,\n    //                     quantity: 6\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 239,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 247,\n    //                     quantity: 2\n    //                 },\n    //                 {\n    //                     fc: 3,\n    //                     slaveID: 18,\n    //                     address: 256,\n    //                     quantity: 8\n    //                 },\n    //             ]\n    //     }\n    // }\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["5ad5668a.fefa68"]]},{"id":"65b3b55f.198afc","type":"modbus-flex-getter","z":"1b3a7257.b8719e","name":"192.168.10.1","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"37dc2d31.8c53e2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":810,"y":1060,"wires":[["616628d1.cda928"],[]]},{"id":"98c1b3ed.4d72f","type":"function","z":"1b3a7257.b8719e","name":"","func":"    msg.payload = {\n        'fc': 3,\n        'unitid': 1,\n        'address': 1, \n        'quantity': 10\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":628,"y":1060,"wires":[["65b3b55f.198afc"]]},{"id":"e213c03e.e15c6","type":"debug","z":"1b3a7257.b8719e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1446,"y":1054,"wires":[]},{"id":"68b9f425.6ebb4c","type":"inject","z":"1b3a7257.b8719e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":1040,"wires":[["98c1b3ed.4d72f"]]},{"id":"983fd825.931308","type":"function","z":"1b3a7257.b8719e","name":"","func":"\nvar displayData = () => {\n    let finalData = msg.payload.toString();\n    let deviceType = 107\n    let deviceNo = 1\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n} \n\ndisplayData();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1247,"y":1054,"wires":[["e213c03e.e15c6","15df1540.e9bd0b"]]},{"id":"30386582.4c2b5a","type":"comment","z":"1b3a7257.b8719e","name":"WMS","info":"","x":814,"y":1027,"wires":[]},{"id":"1abf5766.56be39","type":"catch","z":"1b3a7257.b8719e","name":"","scope":["65b3b55f.198afc"],"uncaught":false,"x":450,"y":989,"wires":[["492655fb.24d23c"]]},{"id":"3fd76a2b.60c3a6","type":"function","z":"1b3a7257.b8719e","name":"Error Frunction","func":"\nconst displayError = () => {\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": 107,\n        \"DeviceNo\": 1,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS\n    if(slaveID == 1){\n        node.warn('Error Occur in WMS');\n        displayError();\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":989,"wires":[["15df1540.e9bd0b"]]},{"id":"59058cf9.824084","type":"comment","z":"1b3a7257.b8719e","name":"WMS Error handling","info":"","x":470,"y":949,"wires":[]},{"id":"9646e1e1.9221b","type":"http request","z":"1b3a7257.b8719e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1/gm/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1790,"y":660,"wires":[["1ff54cef.e42fc3"]]},{"id":"83112699.2146d8","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":900,"y":821,"wires":[["f35e74bc.e33cd8"]]},{"id":"f4c70dc3.2cb95","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1239,"y":697,"wires":[["8c4cf714.1a1788"]]},{"id":"40d7fe6e.c305c","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1420,"y":440,"wires":[["8c4cf714.1a1788"]]},{"id":"492655fb.24d23c","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":660,"y":989,"wires":[["3fd76a2b.60c3a6"]]},{"id":"616628d1.cda928","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1040,"y":1054,"wires":[["983fd825.931308"]]},{"id":"34bc001.7747e","type":"function","z":"1b3a7257.b8719e","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":420,"wires":[["c9c86df5.f9de7"]]},{"id":"c9c86df5.f9de7","type":"modbus-flex-write","z":"1b3a7257.b8719e","name":"192.168.10.202","showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","emptyMsgOnFail":false,"keepMsgProperties":false,"x":820,"y":420,"wires":[["88bbdd2a.7ef99"],[]]},{"id":"c1fdbe17.3aef6","type":"comment","z":"1b3a7257.b8719e","name":"Reset Done Bit","info":"","x":820,"y":380,"wires":[]},{"id":"88bbdd2a.7ef99","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":420,"wires":[["3af7d899.14e1d8"]]},{"id":"f489bedb.2610b","type":"function","z":"1b3a7257.b8719e","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":100,"wires":[["1270aa57.a6bae6"]]},{"id":"1270aa57.a6bae6","type":"switch","z":"1b3a7257.b8719e","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1153,"y":100,"wires":[["c478a4ca.320cb8"],["34bc001.7747e"]]},{"id":"71c6572f.0c9b58","type":"comment","z":"1b3a7257.b8719e","name":"Check for Writable device or NonWritable","info":"","x":1160,"y":60,"wires":[]},{"id":"7ca603a2.921e7c","type":"complete","z":"1b3a7257.b8719e","name":"","scope":["f35e74bc.e33cd8","8c4cf714.1a1788"],"uncaught":false,"x":90,"y":40,"wires":[["3ce2d67d.4646ea"]]},{"id":"e6587bfb.c46958","type":"switch","z":"1b3a7257.b8719e","name":"","property":"startNextCycle","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":40,"wires":[["b012ba1.b8b6d48"]]},{"id":"3ce2d67d.4646ea","type":"function","z":"1b3a7257.b8719e","name":"","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nlet deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n\nif(deviceCount == number_Of_Device){\n    //  node.warn(deviceCount)\n    global.set('PLC_deviceProfile_1_Count', null);\n    msg.startNextCycle = true;\n    // node.warn('Start Next Cycle')\n}else{\n    // node.warn(deviceCount)\n    \n     msg.startNextCycle = false;\n    //   node.warn('******else')\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":40,"wires":[["e6587bfb.c46958"]]},{"id":"dfecacc7.dc8d","type":"catch","z":"1b3a7257.b8719e","name":"","scope":null,"uncaught":false,"x":500,"y":1240,"wires":[["ccc5489.25adab8","63210c59.11ef74","ee2e7aa3.853948","53178ea5.ad04a","574e03b8.c1ec2c"]]},{"id":"ccc5489.25adab8","type":"function","z":"1b3a7257.b8719e","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.1\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.1', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1280,"wires":[["46f8b435.0119cc"]]},{"id":"46f8b435.0119cc","type":"switch","z":"1b3a7257.b8719e","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":926,"y":1280,"wires":[["46b8a9d.ba32c58"]]},{"id":"46b8a9d.ba32c58","type":"modbus-flex-connector","z":"1b3a7257.b8719e","name":"192.168.10.1","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"37dc2d31.8c53e2","x":1093,"y":1280,"wires":[[]]},{"id":"63210c59.11ef74","type":"function","z":"1b3a7257.b8719e","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\"){\n    if(msg.error.source.name == \"192.168.10.202\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.202', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1220,"wires":[["e8986ef4.0372a"]]},{"id":"e8986ef4.0372a","type":"switch","z":"1b3a7257.b8719e","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":906,"y":1220,"wires":[["80fe3417.0d2878"]]},{"id":"80fe3417.0d2878","type":"modbus-flex-connector","z":"1b3a7257.b8719e","name":"192.168.10.202","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"367a1b64.1e1a04","x":1073,"y":1220,"wires":[["3afac466.49533c"]]},{"id":"f7ef433f.1a6c5","type":"comment","z":"1b3a7257.b8719e","name":"********** Reconnect ********","info":"","x":920,"y":1180,"wires":[]},{"id":"3afac466.49533c","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1263,"y":1220,"wires":[["b012ba1.b8b6d48"]]},{"id":"53178ea5.ad04a","type":"debug","z":"1b3a7257.b8719e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":1340,"wires":[]},{"id":"ee2e7aa3.853948","type":"function","z":"1b3a7257.b8719e","name":"","func":"if(msg.error.message == \"Error: Modbus exception 2: Illegal data address (register not supported by device)\"){\n    msg.isILLegalRegisterAddress_Error = true;\n}else{\n    msg.isILLegalRegisterAddress_Error = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1180,"wires":[["5cb66f70.ebec1"]]},{"id":"5cb66f70.ebec1","type":"switch","z":"1b3a7257.b8719e","name":"","property":"isILLegalRegisterAddress_Error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1180,"wires":[["b012ba1.b8b6d48"]]},{"id":"2581bed3.c2a3c2","type":"comment","z":"1b3a7257.b8719e","name":"********** Exception Handler ********","info":"","x":561.3333129882812,"y":1136.6666259765625,"wires":[]},{"id":"4d19ea4e.dfdd74","type":"file","z":"1b3a7257.b8719e","name":"","filename":"C:\\SCADA\\Node Red Error Testing\\Error.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1010,"y":1440,"wires":[[]]},{"id":"655e998e.9cf198","type":"switch","z":"1b3a7257.b8719e","name":"","property":"isPLC_Error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1440,"wires":[["5bf983ff.8da91c"]]},{"id":"574e03b8.c1ec2c","type":"function","z":"1b3a7257.b8719e","name":"","func":"if(msg.error.source.name == \"192.168.10.1\"){\n    msg.isPLC_Error = false;    \n}\n\nif(msg.error.source.name == \"192.168.10.202\"){\n    msg.isPLC_Error = true;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1440,"wires":[["655e998e.9cf198"]]},{"id":"5bf983ff.8da91c","type":"function","z":"1b3a7257.b8719e","name":"","func":"msg.payload = {\n    \"Payload\": msg.payload,\n    \"ErrorMessage\": msg.error.message,\n    \"Source\": msg.error.source\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1440,"wires":[["4d19ea4e.dfdd74"]]},{"id":"22a286ce.e197fa","type":"comment","z":"1b3a7257.b8719e","name":"Save Error Log in File","info":"","x":1000,"y":1400,"wires":[]},{"id":"f0097553.060108","type":"catch","z":"1b3a7257.b8719e","name":"","scope":null,"uncaught":false,"x":220,"y":1580,"wires":[["1abc3ecc.604ab1","79f25d0f.a70f14","bb39af15.91a16","9ce2256b.aba7e8"]]},{"id":"c2b74613.3de738","type":"switch","z":"1b3a7257.b8719e","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":1740,"wires":[["8ed3c379.4cfee"],["882ca389.07d54"]]},{"id":"8ed3c379.4cfee","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1708,"wires":[["84b6b505.0ef698"]]},{"id":"882ca389.07d54","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":479,"y":1773,"wires":[["5e86813.df0978"]]},{"id":"84b6b505.0ef698","type":"function","z":"1b3a7257.b8719e","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":645,"y":1708,"wires":[["ac85d897.7b6508"]]},{"id":"5e86813.df0978","type":"function","z":"1b3a7257.b8719e","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":642,"y":1771,"wires":[["ac85d897.7b6508"]]},{"id":"f9f250f1.5fa84","type":"function","z":"1b3a7257.b8719e","name":"Error Frunction","func":"\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        \n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        // displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            // moveOnNextDevice(\n            //     deviceProfile_StoreData,\n            //     deviceProfile,\n            //     stop_to_read_deviceProfile_dataPacket,\n            //     deviceProfile_Count,\n            //     deviceProfile_Index,\n            //     deviceProfile_ReadIndex,\n            //     stop_deviceProfile\n            // );\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount == 1){\n            // node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            // node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"192.168.10.13\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n        \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-1\n    if(slaveID == 18){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-1\n    if(slaveID == 1){\n        node.warn('Error Occur in SCB-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-2\n    if(slaveID == 2){\n        node.warn('Error Occur in SCB-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-3\n    if(slaveID == 3){\n        node.warn('Error Occur in SCB-3');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-4\n    if(slaveID == 4){\n        node.warn('Error Occur in SCB-4');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-5\n    if(slaveID == 5){\n        node.warn('Error Occur in SCB-5');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-6\n    if(slaveID == 6){\n        node.warn('Error Occur in SCB-6');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-7\n    if(slaveID == 7){\n        node.warn('Error Occur in SCB-7');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-8\n    if(slaveID == 8){\n        node.warn('Error Occur in SCB-8');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-9\n    if(slaveID == 9){\n        node.warn('Error Occur in SCB-9');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-10\n    if(slaveID == 10){\n        node.warn('Error Occur in SCB-10');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    \n    // SCB-11\n    if(slaveID == 11){\n        node.warn('Error Occur in SCB-11');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.11\"){\n    if(msg.error.message == \"[object Object]\" || msg.error.message == \"Error: Timed out\" || msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    \n    let slaveID = msg.payload.unitid;\n    \n    // Meter-2\n    if(slaveID == 19){\n        node.warn('Error Occur in MET-2');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n    //Meter-3\n    if(slaveID == 20){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":663,"y":1580,"wires":[["c2b74613.3de738","cf024558.c92bf8"]]},{"id":"1abc3ecc.604ab1","type":"debug","z":"1b3a7257.b8719e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":1520,"wires":[]},{"id":"79f25d0f.a70f14","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":440,"y":1580,"wires":[["f9f250f1.5fa84"]]},{"id":"cf024558.c92bf8","type":"switch","z":"1b3a7257.b8719e","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1580,"wires":[["28141b3e.a09c24"]]},{"id":"28141b3e.a09c24","type":"debug","z":"1b3a7257.b8719e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":1580,"wires":[]},{"id":"ac85d897.7b6508","type":"switch","z":"1b3a7257.b8719e","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":794,"y":1740,"wires":[["45070711.4532d8"],["f07bab93.ea2d38"]]},{"id":"61c7a5cb.4a805c","type":"function","z":"1b3a7257.b8719e","name":"Dp-1 MFM","func":"var deviceProfile_1 = [\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 177\n        },\n        read: {\n            slaveID: 18,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        address: 189,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        address: 209,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        address: 225,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 239,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 247,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 256,\n                        quantity: 8\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 4,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 5,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 6,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 7,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 8,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 9,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 10,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 202\n        },\n        read: {\n            slaveID: 11,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    }\n  \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":2040,"wires":[["45070711.4532d8"]]},{"id":"45070711.4532d8","type":"function","z":"1b3a7257.b8719e","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":2039,"wires":[["1c44c271.eca0ee"]]},{"id":"1c44c271.eca0ee","type":"modbus-flex-getter","z":"1b3a7257.b8719e","name":"192.168.10.13","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dc26ec37.35cce","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1260,"y":2039,"wires":[["66246e7f.68eb"],[]]},{"id":"66246e7f.68eb","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1449,"y":2036,"wires":[["7f8ca00c.58d5b"]]},{"id":"7f8ca00c.58d5b","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1699,"y":2038,"wires":[["dec78f8e.ffd2d"]]},{"id":"dec78f8e.ffd2d","type":"function","z":"1b3a7257.b8719e","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1978,"y":2038,"wires":[["3dfa373a.249618"]]},{"id":"3dfa373a.249618","type":"switch","z":"1b3a7257.b8719e","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2190,"y":2040,"wires":[["486a8357.662a5c","2d309af7.20a8a6"]]},{"id":"486a8357.662a5c","type":"debug","z":"1b3a7257.b8719e","name":"10.102.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2341,"y":2038,"wires":[]},{"id":"877c31e6.52027","type":"complete","z":"1b3a7257.b8719e","name":"Device Profile-1","scope":["dec78f8e.ffd2d"],"uncaught":false,"x":630,"y":1840,"wires":[["f5872075.2e63b"]]},{"id":"f5872075.2e63b","type":"switch","z":"1b3a7257.b8719e","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1840,"wires":[["45070711.4532d8"]]},{"id":"21cb2e2.cd17ad2","type":"complete","z":"1b3a7257.b8719e","name":"Read Device Profile-1","scope":["dec78f8e.ffd2d"],"uncaught":false,"x":655,"y":2240,"wires":[["e833863f.68ab38"]]},{"id":"e833863f.68ab38","type":"switch","z":"1b3a7257.b8719e","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":2240,"wires":[["45070711.4532d8"]]},{"id":"bdba38af.6d3878","type":"inject","z":"1b3a7257.b8719e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1280,"y":1880,"wires":[[]]},{"id":"842cdba3.c672d8","type":"function","z":"1b3a7257.b8719e","name":"Dp-2   2-Meter, 11-SCB","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Apex Meter-1\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 19,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Apex Meter-2\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 185\n        },\n        read: {\n            slaveID: 20,\n            regAdd: [\n                    {\n                        fc: 3,\n                        address: 4030,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4054,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 4042,\n                        quantity: 12\n                    },\n                    {\n                        fc: 3,\n                        address: 4056,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4099,\n                        quantity: 4\n                    },\n                    {\n                        fc: 3,\n                        address: 4119,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 4115,\n                        quantity: 4\n                    }\n                ]\n        }\n    }\n\n]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2100,"wires":[["f07bab93.ea2d38"]]},{"id":"f07bab93.ea2d38","type":"function","z":"1b3a7257.b8719e","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":2099,"wires":[["ed2bed33.0c223"]]},{"id":"ed2bed33.0c223","type":"modbus-flex-getter","z":"1b3a7257.b8719e","name":"192.168.10.11","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"36c090a4.203b4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1260,"y":2099,"wires":[["2ef78a68.208d16"],[]]},{"id":"2ef78a68.208d16","type":"delay","z":"1b3a7257.b8719e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1447,"y":2099,"wires":[["9ccafebe.91251"]]},{"id":"9ccafebe.91251","type":"moment","z":"1b3a7257.b8719e","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1700,"y":2099,"wires":[["9ce8305e.0d534"]]},{"id":"9ce8305e.0d534","type":"function","z":"1b3a7257.b8719e","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":2099,"wires":[["de4581c.7f4938"]]},{"id":"de4581c.7f4938","type":"switch","z":"1b3a7257.b8719e","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2190,"y":2100,"wires":[["a1421060.fb1f3","2d309af7.20a8a6"]]},{"id":"a1421060.fb1f3","type":"debug","z":"1b3a7257.b8719e","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2342,"y":2099,"wires":[]},{"id":"a143d4ce.1da0d8","type":"complete","z":"1b3a7257.b8719e","name":"Read Device Profile-2","scope":["9ce8305e.0d534"],"uncaught":false,"x":655,"y":2300,"wires":[["481f168.7d643e8"]]},{"id":"481f168.7d643e8","type":"switch","z":"1b3a7257.b8719e","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":2300,"wires":[["f07bab93.ea2d38"]]},{"id":"2269d586.5c933a","type":"complete","z":"1b3a7257.b8719e","name":"Device Profile-2","scope":["9ce8305e.0d534"],"uncaught":false,"x":630,"y":1895,"wires":[["29612630.f8746a"]]},{"id":"29612630.f8746a","type":"switch","z":"1b3a7257.b8719e","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1895,"wires":[["f07bab93.ea2d38"]]},{"id":"2d309af7.20a8a6","type":"change","z":"1b3a7257.b8719e","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":1840,"wires":[["a1a3ec39.05b06"]]},{"id":"90c0823b.d1e48","type":"debug","z":"1b3a7257.b8719e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2270,"y":1720,"wires":[]},{"id":"a1a3ec39.05b06","type":"http request","z":"1b3a7257.b8719e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1/gm/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":2250,"y":1760,"wires":[["90c0823b.d1e48"]]},{"id":"93326a84.99cfb8","type":"inject","z":"1b3a7257.b8719e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":2060,"wires":[["842cdba3.c672d8","61c7a5cb.4a805c"]]},{"id":"bb39af15.91a16","type":"function","z":"1b3a7257.b8719e","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.13\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.13', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":2280,"wires":[["2c5f0475.f4626c"]]},{"id":"2c5f0475.f4626c","type":"switch","z":"1b3a7257.b8719e","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":2280,"wires":[["13b67cad.15e2f3"]]},{"id":"7511d8fa.3eb428","type":"comment","z":"1b3a7257.b8719e","name":"******** Reconect *******","info":"","x":280,"y":2220,"wires":[]},{"id":"13b67cad.15e2f3","type":"modbus-flex-connector","z":"1b3a7257.b8719e","name":"192.168.10.13","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"dc26ec37.35cce","x":440,"y":2280,"wires":[[]]},{"id":"c32d9c93.74487","type":"comment","z":"1b3a7257.b8719e","name":"**************************************  RS-485 Converter Section  **************************************","info":"","x":680,"y":1480,"wires":[]},{"id":"9ce2256b.aba7e8","type":"function","z":"1b3a7257.b8719e","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Read At State init\"){\n    if(msg.error.source.name == \"192.168.10.11\"){\n     msg.reConnector_2 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.11', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_2 = false;\n}\n}else {\n    msg.reConnector_2 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":2340,"wires":[["bf08f912.af3a68"]]},{"id":"bf08f912.af3a68","type":"switch","z":"1b3a7257.b8719e","name":"","property":"reConnector_2","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":2340,"wires":[["4c8fdedf.7d971"]]},{"id":"4c8fdedf.7d971","type":"modbus-flex-connector","z":"1b3a7257.b8719e","name":"192.168.10.11","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"36c090a4.203b4","x":440,"y":2340,"wires":[[]]},{"id":"367a1b64.1e1a04","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.202","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"37dc2d31.8c53e2","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.1","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"dc26ec37.35cce","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.13","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":350,"reconnectOnTimeout":true,"reconnectTimeout":500,"parallelUnitIdsAllowed":true},{"id":"36c090a4.203b4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]
