Meerut/new converter flow code.json
[{"id":"c9d2d28f.2000d","type":"tab","label":"New Converter flow code","disabled":false,"info":""},{"id":"60e83708.af5ca8","type":"catch","z":"c9d2d28f.2000d","name":"","scope":null,"uncaught":false,"x":100,"y":100,"wires":[["94dd3cfb.f55c7","619d955a.f4c73c"]]},{"id":"31da277c.15c568","type":"switch","z":"c9d2d28f.2000d","name":"","property":"error_Status","propertyType":"msg","rules":[{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"moveOnNextDevice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":260,"wires":[["4c84e83c.211cc8"],["434ccf3.d04543"]]},{"id":"4c84e83c.211cc8","type":"delay","z":"c9d2d28f.2000d","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":228,"wires":[["30a890f1.00783"]]},{"id":"434ccf3.d04543","type":"delay","z":"c9d2d28f.2000d","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":339,"y":293,"wires":[["b173a90c.2e6ae8"]]},{"id":"30a890f1.00783","type":"function","z":"c9d2d28f.2000d","name":"","func":"node.warn('Retry to Read')\n// node.warn(global.get('deviceProfile_30_Index'))\n// node.warn(global.get('deviceProfile_30_ReadIndex'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":525,"y":228,"wires":[["581ec85b.7eb2d8"]]},{"id":"b173a90c.2e6ae8","type":"function","z":"c9d2d28f.2000d","name":"","func":"// node.warn('Move On Next Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":522,"y":291,"wires":[["581ec85b.7eb2d8"]]},{"id":"586bfdb4.089d14","type":"function","z":"c9d2d28f.2000d","name":"Error Frunction","func":"\nvar displayError = (deviceProfile, deviceProfile_Index) => {\n    node.warn('displayError')\n    msg.display_Error = 'displayError';\n    let device_Profile = global.get(deviceProfile);\n    let index = global.get(deviceProfile_Index);\n    let profile = device_Profile[index];\n    \n    let data = null;\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n     }\n    }\n}  \n\nvar moveOnNextDevice = (\n            deviceProfile_StoreData,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            deviceProfile_Index,\n            deviceProfile_ReadIndex,\n            stop_deviceProfile\n            ) => {\n    node.warn('moveOnNextDevice')\n    msg.error_Status = 'moveOnNextDevice';\n    global.set(deviceProfile_StoreData, []);\n    let device_profile = global.get(deviceProfile);\n    let number_of_device = device_profile.length;\n    \n    global.set(stop_to_read_deviceProfile_dataPacket, false);\n    let deviceCount =  global.get(deviceProfile_Count);\n    deviceCount += 1;\n    global.set(deviceProfile_Count, deviceCount);\n    \n    let index = global.get(deviceProfile_Index);\n    index += 1;\n    global.set(deviceProfile_Index, index);\n    global.set(deviceProfile_ReadIndex, 0);\n    \n    if(deviceCount == number_of_device){\n        node.warn('number_of_device If condition');\n        msg.error_Status = '';\n        global.set(deviceProfile_Count, null);\n        global.set(stop_deviceProfile, false);\n        global.set(stop_to_read_deviceProfile_dataPacket, false);\n    }\n}\n\nlet retryToRead = (\n        deviceProfile_Index,\n        deviceProfile_dataPacket_Count,\n        deviceProfile_errorCount,\n        deviceProfile_StoreData,\n        deviceProfile_ReadIndex,\n        deviceProfile,\n        stop_to_read_deviceProfile_dataPacket,\n        deviceProfile_Count,\n        stop_deviceProfile\n        )  => {\n        let index = global.get(deviceProfile_Index);\n        \n        global.set(deviceProfile_dataPacket_Count, null);\n        \n        // displayError(deviceProfile, deviceProfile_Index);\n            \n            // Calling MoveOnNextDevice Function\n            // moveOnNextDevice(\n            //     deviceProfile_StoreData,\n            //     deviceProfile,\n            //     stop_to_read_deviceProfile_dataPacket,\n            //     deviceProfile_Count,\n            //     deviceProfile_Index,\n            //     deviceProfile_ReadIndex,\n            //     stop_deviceProfile\n            // );\n        \n        let errorCount = global.get(deviceProfile_errorCount) || 0;\n        errorCount += 1;\n        node.warn(errorCount + ' errorCount')\n        global.set(deviceProfile_errorCount, errorCount);\n        \n        if(errorCount == 1){\n            // node.warn('If Block')\n            global.set(deviceProfile_StoreData, []);\n            msg.error_Status = 'retry';\n            global.set(stop_to_read_deviceProfile_dataPacket, true);\n            global.set(deviceProfile_Index, index);\n            global.set(deviceProfile_ReadIndex, 0);   \n        }else {\n            // node.warn('else')\n            displayError(deviceProfile, deviceProfile_Index);\n            global.set(deviceProfile_errorCount, null);\n            \n            // Calling MoveOnNextDevice Function\n            moveOnNextDevice(\n                deviceProfile_StoreData,\n                deviceProfile,\n                stop_to_read_deviceProfile_dataPacket,\n                deviceProfile_Count,\n                deviceProfile_Index,\n                deviceProfile_ReadIndex,\n                stop_deviceProfile\n            );\n        }\n    }\n\n\nlet deviceProfile_ErrorConfig = (number) => {\n        // For RetryToRead function Configration\n        let deviceProfile_Index = `deviceProfile_${number}_Index`;\n        let deviceProfile_dataPacket_Count = `deviceProfile_${number}_dataPacket_Count`;\n        let deviceProfile_errorCount = `deviceProfile_${number}_errorCount`;\n        let deviceProfile_StoreData = `deviceProfile_${number}_StoreData`;\n        let deviceProfile_ReadIndex = `deviceProfile_${number}_ReadIndex`;\n        \n        // For DisplayError function Configration\n        let deviceProfile = `deviceProfile_${number}`;\n        \n        // For MoveOnNextDevice function Configration\n        let stop_to_read_deviceProfile_dataPacket = `stop_to_read_deviceProfile_${number}_dataPacket`;\n        let deviceProfile_Count = `deviceProfile_${number}_Count`;\n        let stop_deviceProfile = `stop_deviceProfile_${number}`;\n        \n        // Calling RetryToRead\n        retryToRead(\n            deviceProfile_Index,\n            deviceProfile_dataPacket_Count,\n            deviceProfile_errorCount,\n            deviceProfile_StoreData,\n            deviceProfile_ReadIndex,\n            deviceProfile,\n            stop_to_read_deviceProfile_dataPacket,\n            deviceProfile_Count,\n            stop_deviceProfile\n        );\n}\n\n\nvar identity_Node_To_Pink_RetryOrMoveOnNextDevice = (number) => {\n         if(msg.error_Status == 'retry'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n        if(msg.error_Status == 'moveOnNextDevice'){\n            msg.retry_or_moveOnNextDevice = `RD_Profile${number}`;\n        }\n}\n\nif(msg.error.source.name == \"10.102.255.141\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    //Inverter-1\n    if(slaveID == 3){\n        node.warn('Error Occur in INV-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-1\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-1');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n    //Meter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in MET-2');\n        deviceProfile_ErrorConfig(1);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(1);\n    }\n}\n}\n\nif(msg.error.source.name == \"10.102.255.144\"){\n    if(msg.error.message == \"[object Object]\"){\n    \n    let slaveID = msg.payload.unitid;\n    //Inverter-2\n    if(slaveID == 2){\n        node.warn('Error Occur in INV-2');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n    //Meter-3\n    if(slaveID == 1){\n        node.warn('Error Occur in MET-3');\n        deviceProfile_ErrorConfig(2);\n        identity_Node_To_Pink_RetryOrMoveOnNextDevice(2);\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":523,"y":100,"wires":[["31da277c.15c568","4ca98974.860b48"]]},{"id":"94dd3cfb.f55c7","type":"debug","z":"c9d2d28f.2000d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"619d955a.f4c73c","type":"moment","z":"c9d2d28f.2000d","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":312,"y":100,"wires":[["586bfdb4.089d14"]]},{"id":"4ca98974.860b48","type":"switch","z":"c9d2d28f.2000d","name":"Display Error","property":"display_Error","propertyType":"msg","rules":[{"t":"eq","v":"displayError","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":66,"wires":[["fc4c7ba2.f49588"]]},{"id":"fc4c7ba2.f49588","type":"debug","z":"c9d2d28f.2000d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":65,"wires":[]},{"id":"581ec85b.7eb2d8","type":"switch","z":"c9d2d28f.2000d","name":"","property":"retry_or_moveOnNextDevice","propertyType":"msg","rules":[{"t":"eq","v":"RD_Profile1","vt":"str"},{"t":"eq","v":"RD_Profile2","vt":"str"},{"t":"eq","v":"RD_Profile3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":684,"y":260,"wires":[["cc5818bd.6d9778"],["3d1a06e7.e2571a"],["bf716df8.376dc"]]},{"id":"c11ef0c7.b11aa","type":"function","z":"c9d2d28f.2000d","name":"Dp-1 || RP/B/INV1, RP/B/M1, RP/C/M1","func":"var deviceProfile_1 = [\n   {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n            regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 2,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_1', deviceProfile_1);\nglobal.set('deviceProfile_1_Index', 0);\nglobal.set('deviceProfile_1_ReadIndex', 0);\nglobal.set('deviceProfile_1_StoreData', []);\nglobal.set(\"deviceProfile_1_Count\", 0);\nglobal.set(\"deviceProfile_1_dataPacket_Count\", null);\n// node.warn(deviceProfile_1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":559,"wires":[["cc5818bd.6d9778"]]},{"id":"cc5818bd.6d9778","type":"function","z":"c9d2d28f.2000d","name":"Read Device Profile-1","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_Profile = global.get('deviceProfile_1');\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_Profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\n// var fc = 3\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_1', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":559,"wires":[["34a07c74.9884b4"]]},{"id":"34a07c74.9884b4","type":"modbus-flex-getter","z":"c9d2d28f.2000d","name":"10.102.255.141","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"dc26ec37.35cce","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1120,"y":559,"wires":[["33f25d96.e097f2"],[]]},{"id":"33f25d96.e097f2","type":"delay","z":"c9d2d28f.2000d","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1319,"y":556,"wires":[["20bbae50.b25c62"]]},{"id":"20bbae50.b25c62","type":"moment","z":"c9d2d28f.2000d","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1539,"y":558,"wires":[["fca71bdf.e11c38"]]},{"id":"fca71bdf.e11c38","type":"function","z":"c9d2d28f.2000d","name":"Display data DeviceProfile-1","func":"var device_profile = global.get('deviceProfile_1');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_1_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_1_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_1_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_1_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-1')\n    global.set('deviceProfile_1_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"DataLength\": data.length\n     }\n    }\n    global.set('deviceProfile_1_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_1_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_1_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_1_ReadIndex', index);  \n  global.set('stop_deviceProfile_1', false);\n  global.set('stop_to_read_deviceProfile_1_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    global.set('deviceProfile_1_ReadIndex', 0);\n    global.set(\"deviceProfile_1_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_1_Index');\n        index += 1;\n        global.set('deviceProfile_1_Index', index);\n        global.set('stop_deviceProfile_1', true);\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_1_dataPacket', false);\n        global.set('stop_deviceProfile_1', false);\n        global.set('deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1798,"y":558,"wires":[["4a8abd2d.e24254"]]},{"id":"4a8abd2d.e24254","type":"switch","z":"c9d2d28f.2000d","name":"","property":"send_Data_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":558,"wires":[["d95510df.18854"]]},{"id":"d95510df.18854","type":"debug","z":"c9d2d28f.2000d","name":"10.102.255.141","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2201,"y":558,"wires":[]},{"id":"27e50f9.a3bf7f","type":"complete","z":"c9d2d28f.2000d","name":"Device Profile-1","scope":["fca71bdf.e11c38"],"uncaught":false,"x":490,"y":360,"wires":[["eddfdb16.1d1478"]]},{"id":"eddfdb16.1d1478","type":"switch","z":"c9d2d28f.2000d","name":"","property":"stop_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":360,"wires":[["cc5818bd.6d9778"]]},{"id":"982f62ef.850e7","type":"complete","z":"c9d2d28f.2000d","name":"Read Device Profile-1","scope":["fca71bdf.e11c38"],"uncaught":false,"x":495,"y":760,"wires":[["4124026a.67de8c"]]},{"id":"4124026a.67de8c","type":"switch","z":"c9d2d28f.2000d","name":"","property":"stop_to_read_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":685,"y":760,"wires":[["cc5818bd.6d9778"]]},{"id":"4b2c9725.0409c8","type":"inject","z":"c9d2d28f.2000d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":617,"wires":[["5b90e20.5d8372","c11ef0c7.b11aa","d9d926c9.e04198"]]},{"id":"5b90e20.5d8372","type":"function","z":"c9d2d28f.2000d","name":"Dp-2 || RP/C/INV1, RP/C/M2","func":"var deviceProfile_2 = [\n    {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_2', deviceProfile_2);\nglobal.set('deviceProfile_2_Index', 0);\nglobal.set('deviceProfile_2_ReadIndex', 0);\nglobal.set('deviceProfile_2_StoreData', []);\nglobal.set(\"deviceProfile_2_Count\", 0); \nglobal.set(\"deviceProfile_2_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":619,"wires":[["3d1a06e7.e2571a"]]},{"id":"3d1a06e7.e2571a","type":"function","z":"c9d2d28f.2000d","name":"Read Device Profile-2","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar device_profile = global.get('deviceProfile_2');\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\n// node.warn(profile)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_2_ReadIndex');\nvar readValue = regAdd[readIndex];\n// node.warn(readValue)\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_2', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":619,"wires":[["ba5b5b06.3643e8"]]},{"id":"ba5b5b06.3643e8","type":"modbus-flex-getter","z":"c9d2d28f.2000d","name":"10.102.255.144","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"36c090a4.203b4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1120,"y":619,"wires":[["5c5d906.03c8f7"],[]]},{"id":"5c5d906.03c8f7","type":"delay","z":"c9d2d28f.2000d","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1317,"y":619,"wires":[["7132dd9d.e6cdc4"]]},{"id":"7132dd9d.e6cdc4","type":"moment","z":"c9d2d28f.2000d","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1540,"y":619,"wires":[["bf8bdd97.3a3af"]]},{"id":"bf8bdd97.3a3af","type":"function","z":"c9d2d28f.2000d","name":"Display data DeviceProfile-2","func":"var device_profile = global.get('deviceProfile_2');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_2_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_2_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_2_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_2_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_2_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-2')\n    global.set('deviceProfile_2_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n     }\n    }\n    global.set('deviceProfile_2_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_2_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_2_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_2_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_2_ReadIndex', index);  \n  global.set('stop_deviceProfile_2', false);\n  global.set('stop_to_read_deviceProfile_2_dataPacket', true);\n\n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    global.set('deviceProfile_2_ReadIndex', 0);\n    global.set(\"deviceProfile_2_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_2', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_2_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_2_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_2_Index');\n        index += 1;\n        global.set('deviceProfile_2_Index', index);\n        global.set('stop_deviceProfile_2', true);\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_2_dataPacket', false);\n        global.set('stop_deviceProfile_2', false);\n        global.set('deviceProfile_2_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":619,"wires":[["28dda1cd.a0afbe"]]},{"id":"28dda1cd.a0afbe","type":"switch","z":"c9d2d28f.2000d","name":"","property":"send_Data_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2016,"y":619,"wires":[["fb2e58d8.f5afe8"]]},{"id":"fb2e58d8.f5afe8","type":"debug","z":"c9d2d28f.2000d","name":"10.102.255.144","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2202,"y":619,"wires":[]},{"id":"d9d926c9.e04198","type":"function","z":"c9d2d28f.2000d","name":"Dp-3 INV-3, INV-29, MET-4","func":"var deviceProfile_3 = [\n    {\n        deviceName: \"Inverter-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 2,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    },\n    {\n        deviceName: \"Meter-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 182\n        },\n        read: {\n            slaveID: 1,\n             regAdd: [\n                    // Start 32 bits\n                    {\n                        fc: 3,\n                        address: 2699,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 2999,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        address: 3009,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        address: 3059,\n                        quantity: 2\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"Inverter-29\",\n        deviceProfile: {\n            deviceNo: 29,\n            deviceType: 3\n        },\n        read: {\n            slaveID: 3,\n            regAdd: [\n                    // Start 16 bits\n                    {\n                        fc: 4,\n                        address: 5002,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5007,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5010,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5018,\n                        quantity: 6\n                    },\n                    {\n                        fc: 4,\n                        address: 5035,\n                        quantity: 3\n                    },\n                    {\n                        fc: 4,\n                        address: 5044,\n                        quantity: 1\n                    },\n                    {\n                        fc: 4,\n                        address: 5114,\n                        quantity: 10\n                    },\n                    {\n                        fc: 4,\n                        address: 5129,\n                        quantity: 8\n                    },\n                    // Start 32 bits\n                    {\n                        fc: 4,\n                        address: 5003,\n                        quantity: 4\n                    },\n                    {\n                        fc: 4,\n                        address: 5016,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 5030,\n                        quantity: 2\n                    },\n                    {\n                        fc: 4,\n                        address: 7012,\n                        quantity: 24\n                    },\n                    \n                ]\n        }\n    }\n    \n    ]\n\nglobal.set('deviceProfile_3', deviceProfile_3);\nglobal.set('deviceProfile_3_Index', 0);\nglobal.set('deviceProfile_3_ReadIndex', 0);\nglobal.set('deviceProfile_3_StoreData', []); \nglobal.set(\"deviceProfile_3_Count\", 0);\nglobal.set(\"deviceProfile_3_dataPacket_Count\", null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":679,"wires":[["bf716df8.376dc"]]},{"id":"bf716df8.376dc","type":"function","z":"c9d2d28f.2000d","name":"Read Device Profile-3","func":"var readData = (fc, slaveID, address, quantity) => {\n        msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar device_profile = global.get('deviceProfile_3');\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('deviceProfile_3_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar slaveID = profile.read.slaveID;\n// var slaveID = 2\nvar fc = readValue.fc;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nglobal.set('send_Data_deviceProfile_3', false);\nreadData(fc, slaveID, address, quantity);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":679,"wires":[["535ce66c.95df68"]]},{"id":"535ce66c.95df68","type":"modbus-flex-getter","z":"c9d2d28f.2000d","name":"10.102.255.146","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c1d0d17f.51667","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1120,"y":679,"wires":[["5badb76f.a4e828"],[]]},{"id":"5badb76f.a4e828","type":"delay","z":"c9d2d28f.2000d","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":679,"wires":[["f1e2edf2.358e4"]]},{"id":"f1e2edf2.358e4","type":"moment","z":"c9d2d28f.2000d","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1540,"y":679,"wires":[["59ce41e7.a8ce8"]]},{"id":"59ce41e7.a8ce8","type":"function","z":"c9d2d28f.2000d","name":"Display data DeviceProfile-3","func":"var device_profile = global.get('deviceProfile_3');\nvar number_of_device = device_profile.length;\n\nvar index = global.get('deviceProfile_3_Index');\nvar profile = device_profile[index];\nvar regAdd =  profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nglobal.set('stop_to_read_deviceProfile_3_dataPacket', false);\n\nvar dataPacket_Count =  global.get(\"deviceProfile_3_dataPacket_Count\") || 0;\n    dataPacket_Count += 1;\n    global.set('deviceProfile_3_dataPacket_Count', dataPacket_Count);\n\nvar displayData = () => {\n    let errorCount = global.get('deviceProfile_3_errorCount');\n    if(errorCount == 1){\n    node.warn('Data read successfully After Retry DeviceProfile-3')\n    global.set('deviceProfile_3_errorCount', null);\n    }\n    \n    let data = [];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 172,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n    global.set('deviceProfile_3_StoreData', []);\n}   \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('deviceProfile_3_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('deviceProfile_3_StoreData', getStoreData);\n}\n\nif(dataPacket_Count != number_Of_DataPacket){\n  // Storing Data  \n  storeData();\n  let index = global.get('deviceProfile_3_ReadIndex');\n  index += 1;  \n  global.set('deviceProfile_3_ReadIndex', index);  \n  global.set('stop_deviceProfile_3', false);\n  global.set('stop_to_read_deviceProfile_3_dataPacket', true);\n  \n}else {\n    // Storing Data  \n    storeData();\n    global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    global.set('deviceProfile_3_ReadIndex', 0);\n    global.set(\"deviceProfile_3_dataPacket_Count\", null);\n    global.set('send_Data_deviceProfile_3', true);\n    // display Data\n    displayData();\n    \n    // Number of Device Loop\n    var deviceCount =  global.get(\"deviceProfile_3_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_3_Count', deviceCount);\n    \n    if(deviceCount != number_of_device ){\n        let index = global.get('deviceProfile_3_Index');\n        index += 1;\n        global.set('deviceProfile_3_Index', index);\n        global.set('stop_deviceProfile_3', true);\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n    }else {\n        global.set('stop_to_read_deviceProfile_3_dataPacket', false);\n        global.set('stop_deviceProfile_3', false);\n        global.set('deviceProfile_3_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":679,"wires":[["652d839a.9dc98c"]]},{"id":"652d839a.9dc98c","type":"switch","z":"c9d2d28f.2000d","name":"","property":"send_Data_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2021,"y":679,"wires":[["4c481ce2.0b39c4"]]},{"id":"4c481ce2.0b39c4","type":"debug","z":"c9d2d28f.2000d","name":"10.102.255.146","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":2208,"y":679,"wires":[]},{"id":"b18bfcf4.12af5","type":"complete","z":"c9d2d28f.2000d","name":"Read Device Profile-2","scope":["bf8bdd97.3a3af"],"uncaught":false,"x":495,"y":820,"wires":[["1d1b40e9.68f1ef"]]},{"id":"1d1b40e9.68f1ef","type":"switch","z":"c9d2d28f.2000d","name":"","property":"stop_to_read_deviceProfile_2_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":685,"y":820,"wires":[["3d1a06e7.e2571a"]]},{"id":"9d9c4c62.7bb01","type":"complete","z":"c9d2d28f.2000d","name":"Read Device Profile-3","scope":["59ce41e7.a8ce8"],"uncaught":false,"x":495,"y":877,"wires":[["afdd5e5f.0448"]]},{"id":"afdd5e5f.0448","type":"switch","z":"c9d2d28f.2000d","name":"","property":"stop_to_read_deviceProfile_3_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":685,"y":877,"wires":[["bf716df8.376dc"]]},{"id":"159fb336.2a7cdd","type":"complete","z":"c9d2d28f.2000d","name":"Device Profile-2","scope":["bf8bdd97.3a3af"],"uncaught":false,"x":490,"y":415,"wires":[["abac657f.8ed008"]]},{"id":"abac657f.8ed008","type":"switch","z":"c9d2d28f.2000d","name":"","property":"stop_deviceProfile_2","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":415,"wires":[["3d1a06e7.e2571a"]]},{"id":"4594abf8.08b064","type":"complete","z":"c9d2d28f.2000d","name":"Device Profile-3","scope":["59ce41e7.a8ce8"],"uncaught":false,"x":490,"y":474,"wires":[["61f61120.3b5b2"]]},{"id":"61f61120.3b5b2","type":"switch","z":"c9d2d28f.2000d","name":"","property":"stop_deviceProfile_3","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":474,"wires":[["bf716df8.376dc"]]},{"id":"dc26ec37.35cce","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.141","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true},{"id":"36c090a4.203b4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.144","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"c1d0d17f.51667","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.102.255.146","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"350","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]