Meerut/PLC New Code Structure.txt
[{"id":"6d4952cc.723b7c","type":"tab","label":"Running Mode","disabled":false,"info":""},{"id":"318f66a0.b26aaa","type":"function","z":"6d4952cc.723b7c","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n    \nvar deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":380,"wires":[["e2ef2c41.88e9f"]]},{"id":"f3d5c75e.33e4f8","type":"inject","z":"6d4952cc.723b7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":141,"y":146,"wires":[["bbddab9f.985128"]]},{"id":"e2ef2c41.88e9f","type":"modbus-flex-write","z":"6d4952cc.723b7c","name":"","showStatusActivities":true,"showErrors":true,"server":"d1c43cb8.3c79b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":592,"y":379,"wires":[["a801d90b.ef8eb8"],[]]},{"id":"a2861967.d76f98","type":"modbus-flex-getter","z":"6d4952cc.723b7c","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5f2df6de.b5a358","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":540,"wires":[["54521947.4e4a78"],[]]},{"id":"2a464ed5.347182","type":"function","z":"6d4952cc.723b7c","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":540,"wires":[["a2861967.d76f98"]]},{"id":"2771cd60.3c4b32","type":"complete","z":"6d4952cc.723b7c","name":"","scope":["1dd87b1e.8ccba5","860cffa9.9d825"],"uncaught":false,"x":119,"y":255,"wires":[["c4737f92.c5819"]]},{"id":"c4737f92.c5819","type":"switch","z":"6d4952cc.723b7c","name":"","property":"stop_deviceProfile","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":141,"y":192,"wires":[["5a3c6024.4152e"]]},{"id":"10bf97e8.69e998","type":"comment","z":"6d4952cc.723b7c","name":"Slave Active","info":"","x":590,"y":339,"wires":[]},{"id":"5a605b1d.ff51b4","type":"function","z":"6d4952cc.723b7c","name":"F-4","func":"var deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('retryStatus', 'goAhead');\n    global.set('errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"errorCount\") || 0;\n    errorCount += 1;\n    global.set('errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('retryStatus', 'retry');\n    }else {\n       global.set('retryStatus', 'displayErrorMsg'); \n       global.set('errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":983,"y":380,"wires":[["9b40cfa3.a30b7"]]},{"id":"9b40cfa3.a30b7","type":"switch","z":"6d4952cc.723b7c","name":"","property":"retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":380,"wires":[["2a464ed5.347182"],["318f66a0.b26aaa"],["4f56a321.bcccac"]]},{"id":"b39610e5.ba33c","type":"comment","z":"6d4952cc.723b7c","name":"Retry","info":"","x":1130,"y":334,"wires":[]},{"id":"faf10ba4.549038","type":"comment","z":"6d4952cc.723b7c","name":"PLC Active","info":"","x":737,"y":126,"wires":[]},{"id":"b10089f1.1e6be8","type":"modbus-flex-write","z":"6d4952cc.723b7c","name":"","showStatusActivities":true,"showErrors":true,"server":"d1c43cb8.3c79b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":756,"y":166,"wires":[["61a7d8bd.bd7138"],[]]},{"id":"5a3c6024.4152e","type":"function","z":"6d4952cc.723b7c","name":"Outside Loop","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n    \nvar deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":547,"y":166,"wires":[["b10089f1.1e6be8"]]},{"id":"79d63726.5b80b8","type":"comment","z":"6d4952cc.723b7c","name":"check Done bit","info":"","x":566,"y":505,"wires":[]},{"id":"eadb5792.774798","type":"switch","z":"6d4952cc.723b7c","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":554,"wires":[["d344fb35.ca3678"],["7964ce02.08f88"]]},{"id":"1dd87b1e.8ccba5","type":"function","z":"6d4952cc.723b7c","name":"display data","func":"var deviceProfile = global.get('deviceProfile');\nvar number_Of_Device = deviceProfile.length;\n// node.warn('*******')\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('dataPacket_Count', dataPacket_Count);\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('storeData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('storeData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('storeData');\n    getStoreData.push(msg.payload);\n    global.set('storeData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_dataPacket', true);\n    global.set('stop_deviceProfile', false);\n    let readIndex = global.get('readIndex');\n    readIndex += 1;\n    global.set('readIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_dataPacket', false);\n    global.set('readIndex', 0);\n    global.set('dataPacket_Count', null);\n    global.set('sendData', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"deviceProfile_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('index');\n        index += 1;\n        global.set('index', index);\n        global.set('stop_deviceProfile', true);\n        global.set('stop_to_read_dataPacket', false);\n    }else {\n        // node.warn('stop_deviceProfile')\n        global.set('stop_deviceProfile', false);\n        global.set('stop_to_read_dataPacket', false);\n        global.set('deviceProfile_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":833,"y":801,"wires":[["5d47a883.1e1f88"]]},{"id":"54521947.4e4a78","type":"function","z":"6d4952cc.723b7c","name":"F-6","func":"var deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":554,"wires":[["eadb5792.774798"]]},{"id":"d344fb35.ca3678","type":"function","z":"6d4952cc.723b7c","name":"inside Loop","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n// global.get('dataPacket_Count')\n// node.warn(global.get('dataPacket_Count'))\nvar deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n// node.warn(index)\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('readIndex');\nvar readValue = regAdd[readIndex];\n// node.warn('Read Index')\n// node.warn(readIndex)\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":373,"y":805,"wires":[["bd5d3e74.d9e23"]]},{"id":"bd5d3e74.d9e23","type":"modbus-flex-getter","z":"6d4952cc.723b7c","name":"Read Data","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5f2df6de.b5a358","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":593,"y":805,"wires":[["1dd87b1e.8ccba5"],[]]},{"id":"efc02f03.c3fa9","type":"comment","z":"6d4952cc.723b7c","name":"Read Actual Data","info":"","x":602,"y":768,"wires":[]},{"id":"860cffa9.9d825","type":"function","z":"6d4952cc.723b7c","name":"onErrorOccured","func":"var deviceProfile = global.get('deviceProfile');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"deviceProfile_Count\");\n    deviceCount += 1;\n    global.set('deviceProfile_Count', deviceCount);\n    \n    let index = global.get('index');\n    index += 1;\n    global.set('index', index);\n    global.set('stop_deviceProfile', true);\n    \n    if(deviceCount == number_Of_Device ){\n        node.warn('MoveOnNextDevice stop_deviceProfile')\n        global.set('stop_deviceProfile', false);\n        global.set('index', 0);\n        global.set('deviceProfile_Count', null);\n    }\n}\n\nif(global.get('retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\n// node.warn(msg.error.message)\n// if(msg.error.message == \"Error: Modbus exception 2: Illegal data address (register not supported by device)\"){\n//     displayError('Illegal data address Errror!! (register not supported by device)');\n//     moveOnNextDevice();\n// }\n\n\n// let errorMessage = global.get('error_Msg');\n// node.warn(errorMessage)\n// global.set('errorMessage', 'Illegal data address');\n\n// if(!msg.isData && errorMessage == 'Illegal data address'){\n//     displayError('Illegal data address Errror!! (register not supported by device)');\n//     moveOnNextDevice();\n//     node.warn('-----------1')\n//     global.set('error_Msg', '');\n// }else {\n//     displayError('Done Bit Not OK');\n//     node.warn('-----------2')\n//     moveOnNextDevice();\n// }\n\n\n// if(!msg.isData){\n//     displayError('Done Bit Not OK');\n//     moveOnNextDevice();\n// }else{\n//     if(msg.error.message == \"Error: Modbus exception 2: Illegal data address (register not supported by device)\"){\n//     displayError('Illegal data address Errror!! (register not supported by device)');\n//     moveOnNextDevice();\n// }\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1414,"y":569,"wires":[["7197dcc4.1d3534","e552d23a.8de2d"]]},{"id":"6cf7ba0b.09c504","type":"complete","z":"6d4952cc.723b7c","name":"","scope":["1dd87b1e.8ccba5"],"uncaught":false,"x":173,"y":865,"wires":[["708daf35.7cb23"]]},{"id":"708daf35.7cb23","type":"switch","z":"6d4952cc.723b7c","name":"","property":"stop_to_read_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":193,"y":804,"wires":[["d344fb35.ca3678"]]},{"id":"5d47a883.1e1f88","type":"switch","z":"6d4952cc.723b7c","name":"","property":"sendData","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1013,"y":801,"wires":[["7197dcc4.1d3534","e552d23a.8de2d"]]},{"id":"a801d90b.ef8eb8","type":"delay","z":"6d4952cc.723b7c","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":380,"wires":[["5a605b1d.ff51b4"]]},{"id":"11e08bca.3b2104","type":"function","z":"6d4952cc.723b7c","name":"F-2","func":"var deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1323,"y":154,"wires":[["99ac5a41.00fc88"]]},{"id":"99ac5a41.00fc88","type":"switch","z":"6d4952cc.723b7c","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":292,"wires":[["318f66a0.b26aaa"],["1e4395c5.4dc02a"]]},{"id":"89fce803.d6fe28","type":"comment","z":"6d4952cc.723b7c","name":"Check for Writable device or NonWritable","info":"","x":430,"y":249,"wires":[]},{"id":"7197dcc4.1d3534","type":"debug","z":"6d4952cc.723b7c","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":800,"wires":[]},{"id":"e552d23a.8de2d","type":"change","z":"6d4952cc.723b7c","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1292,"y":851,"wires":[["636bbaed.d66424"]]},{"id":"8b814a3e.fc9be8","type":"debug","z":"6d4952cc.723b7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1282,"y":964,"wires":[]},{"id":"b4a901b5.40b4f","type":"comment","z":"6d4952cc.723b7c","name":"Reset Done Bit","info":"","x":1140,"y":120,"wires":[]},{"id":"61a7d8bd.bd7138","type":"function","z":"6d4952cc.723b7c","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":951,"y":159,"wires":[["74508f43.48291"]]},{"id":"74508f43.48291","type":"modbus-flex-write","z":"6d4952cc.723b7c","name":"","showStatusActivities":true,"showErrors":true,"server":"d1c43cb8.3c79b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1142,"y":160,"wires":[["11e08bca.3b2104","10d59e2f.27aa12"],[]]},{"id":"636bbaed.d66424","type":"http request","z":"6d4952cc.723b7c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.220/gm/beta/api/insertData?LD=1,211,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1292,"y":905,"wires":[["8b814a3e.fc9be8"]]},{"id":"10d59e2f.27aa12","type":"debug","z":"6d4952cc.723b7c","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":100,"wires":[]},{"id":"bbddab9f.985128","type":"function","z":"6d4952cc.723b7c","name":"DeviceProfile-2","func":"var deviceProfile = [\n  // Start INVERTER\n  {\n        deviceName: \"Inverter-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 25,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 33,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 38,\n                        quantity: 13\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"Inverter-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 52\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true,\n                fc: 6,\n                address: 0,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 25,\n                        quantity: 7\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 33,\n                        quantity: 3\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 38,\n                        quantity: 13\n                    }\n                ]\n        }\n    },\n\n  // Start SCB\n  {\n        deviceName: \"SCB-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    {\n        deviceName: \"SCB-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 202\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 2,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 16,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 125,\n                        quantity: 24\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 163,\n                        quantity: 1\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 167,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 170,\n                        quantity: 3\n                    }\n                ]\n        }\n    },\n    \n// Start MFM\n    {\n        deviceName: \"MFM-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 177\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: false, \n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 189,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 209,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 225,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 239,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 247,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 257,\n                        quantity: 8\n                    },\n                ]\n        }\n    }\n]\n\nglobal.set('deviceProfile', deviceProfile);\nglobal.set('index', 0);\nglobal.set('readIndex', 0);\nglobal.set('storeData', []);\nglobal.set(\"deviceProfile_Count\", 0); \nglobal.set('dataPacket_Count', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["5a3c6024.4152e"]]},{"id":"32713b33.c04514","type":"modbus-flex-getter","z":"6d4952cc.723b7c","name":"192.168.10.1","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fa9c2d8c.80595","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":1040,"wires":[["f1fc83ef.43649"],[]]},{"id":"cb406286.0e2d8","type":"function","z":"6d4952cc.723b7c","name":"","func":"    msg.payload = {\n        'fc': 3,\n        'unitid': 1,\n        'address': 1, \n        'quantity': 10\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":331,"y":1041,"wires":[["32713b33.c04514"]]},{"id":"1f1983cd.32341c","type":"debug","z":"6d4952cc.723b7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":886,"y":1034,"wires":[]},{"id":"197fb39b.32f23c","type":"inject","z":"6d4952cc.723b7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":172,"y":1041,"wires":[["cb406286.0e2d8"]]},{"id":"f1fc83ef.43649","type":"function","z":"6d4952cc.723b7c","name":"","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = () => {\n    \n    let finalData = msg.payload.toString();\n    let deviceType = 107\n    let deviceNo = 1\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0\n     }\n    }\n} \n\ndisplayData();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":687,"y":1034,"wires":[["1f1983cd.32341c","e552d23a.8de2d"]]},{"id":"fcf05e28.e943e","type":"comment","z":"6d4952cc.723b7c","name":"WMS","info":"","x":492,"y":1001,"wires":[]},{"id":"d68a65b7.36f328","type":"catch","z":"6d4952cc.723b7c","name":"","scope":["32713b33.c04514"],"uncaught":false,"x":139,"y":968,"wires":[["a5902320.2e8af"]]},{"id":"a5902320.2e8af","type":"function","z":"6d4952cc.723b7c","name":"Error Frunction","func":"var timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nconst displayError = () => {\n    let dateTime = timeStamp();\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 211,\n        \"LoggerNo\": 1,\n        \"DeviceType\": 107,\n        \"DeviceNo\": 1,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1\n    }\n}\n}\n\nif(msg.error.source.name == \"192.168.10.1\"){\n    if(msg.error.message == \"[object Object]\"){\n        \n    let slaveID = msg.payload.unitid;\n    // WMS\n    if(slaveID == 1){\n        node.warn('Error Occur in WMS');\n        displayError();\n    }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":329,"y":968,"wires":[["e552d23a.8de2d"]]},{"id":"f479cb0e.d2ee38","type":"comment","z":"6d4952cc.723b7c","name":"WMS Error handling","info":"","x":183,"y":928,"wires":[]},{"id":"55b93609.4c3468","type":"modbus-flex-getter","z":"6d4952cc.723b7c","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"5f2df6de.b5a358","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":657,"wires":[["85112402.506e48"],[]]},{"id":"3a273538.950a4a","type":"function","z":"6d4952cc.723b7c","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":657,"wires":[["55b93609.4c3468"]]},{"id":"965f43f3.ec8ed","type":"comment","z":"6d4952cc.723b7c","name":"Re check Done bit","info":"","x":571,"y":618,"wires":[]},{"id":"a01e5019.2cc33","type":"switch","z":"6d4952cc.723b7c","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":671,"wires":[["d344fb35.ca3678"],["860cffa9.9d825"]]},{"id":"85112402.506e48","type":"function","z":"6d4952cc.723b7c","name":"F-6","func":"var deviceProfile =  global.get('deviceProfile');\nvar index = global.get('index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":670,"wires":[["a01e5019.2cc33"]]},{"id":"7964ce02.08f88","type":"delay","z":"6d4952cc.723b7c","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":560,"wires":[["3a273538.950a4a"]]},{"id":"1e4395c5.4dc02a","type":"delay","z":"6d4952cc.723b7c","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":460,"wires":[["28f54a68.c66db6"]]},{"id":"28f54a68.c66db6","type":"function","z":"6d4952cc.723b7c","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["2a464ed5.347182"]]},{"id":"4f56a321.bcccac","type":"delay","z":"6d4952cc.723b7c","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":500,"wires":[["860cffa9.9d825"]]},{"id":"92ccbfa6.d9b27","type":"catch","z":"6d4952cc.723b7c","name":"","scope":null,"uncaught":false,"x":380,"y":40,"wires":[["b14dafd1.fb80b"]]},{"id":"cb575bba.bcbef8","type":"debug","z":"6d4952cc.723b7c","name":"console","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":40,"wires":[]},{"id":"b14dafd1.fb80b","type":"function","z":"6d4952cc.723b7c","name":"Identify Message","func":"if(msg.error.message == \"Error: Modbus exception 2: Illegal data address (register not supported by device)\"){\n    // global.set('error_Msg', 'Illegal data address');\n    node.warn('*******')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":40,"wires":[["cb575bba.bcbef8"]]},{"id":"d1c43cb8.3c79b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.202","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"5f2df6de.b5a358","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.202","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"fa9c2d8c.80595","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.1","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"300","reconnectOnTimeout":true,"reconnectTimeout":"500","parallelUnitIdsAllowed":true}]