Kanchnapara/flows.json
[{"id":"10d91176.8f60ff","type":"tab","label":"Kanchrapara","disabled":false,"info":""},{"id":"fad321a2.5ceb7","type":"function","z":"10d91176.8f60ff","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["3b32ad26.c33272"]]},{"id":"531eeae1.a01a64","type":"inject","z":"10d91176.8f60ff","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":141,"y":100,"wires":[["b4f1c5b1.793a98"]]},{"id":"3b32ad26.c33272","type":"modbus-flex-write","z":"10d91176.8f60ff","name":"","showStatusActivities":true,"showErrors":true,"server":"c7e1203d.d75e4","emptyMsgOnFail":false,"keepMsgProperties":false,"x":592,"y":339,"wires":[["89d3053b.b30dc8"],[]]},{"id":"6d32376b.03a2a8","type":"modbus-flex-getter","z":"10d91176.8f60ff","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c7e1203d.d75e4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":500,"wires":[["5668bd68.7ad444"],[]]},{"id":"bc2c846f.6f8f88","type":"function","z":"10d91176.8f60ff","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":500,"wires":[["6d32376b.03a2a8"]]},{"id":"ddfd1619.e99e58","type":"complete","z":"10d91176.8f60ff","name":"","scope":["6d201d49.1565d4","4a285909.8c1cb8"],"uncaught":false,"x":119,"y":253,"wires":[["a602b990.003388"]]},{"id":"a602b990.003388","type":"switch","z":"10d91176.8f60ff","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":141,"y":198,"wires":[["f2770447.c787f8"]]},{"id":"8b1a83e2.3f08c","type":"comment","z":"10d91176.8f60ff","name":"Slave Active","info":"","x":590,"y":299,"wires":[]},{"id":"27434615.8f925a","type":"function","z":"10d91176.8f60ff","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":983,"y":340,"wires":[["936df47e.d56158"]]},{"id":"936df47e.d56158","type":"switch","z":"10d91176.8f60ff","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":340,"wires":[["bc2c846f.6f8f88"],["fad321a2.5ceb7"],["5d499db2.b923c4"]]},{"id":"4c5a0df1.9d7144","type":"comment","z":"10d91176.8f60ff","name":"Retry","info":"","x":1130,"y":294,"wires":[]},{"id":"cb4d1429.29b738","type":"comment","z":"10d91176.8f60ff","name":"PLC Active","info":"","x":737,"y":86,"wires":[]},{"id":"f2770447.c787f8","type":"function","z":"10d91176.8f60ff","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":537,"y":126,"wires":[["1ae6873c.c8d429"]]},{"id":"41c17753.5f3f38","type":"comment","z":"10d91176.8f60ff","name":"check Done bit","info":"","x":566,"y":465,"wires":[]},{"id":"88a04c76.a42d","type":"switch","z":"10d91176.8f60ff","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":514,"wires":[["cec211eb.4696d"],["fe7df014.f0e1b"]]},{"id":"6d201d49.1565d4","type":"function","z":"10d91176.8f60ff","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n        global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('writeZeroAtLast', true);\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1081,"y":761,"wires":[["ee4d04b1.70c6f8"]]},{"id":"5668bd68.7ad444","type":"function","z":"10d91176.8f60ff","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":514,"wires":[["88a04c76.a42d"]]},{"id":"cec211eb.4696d","type":"function","z":"10d91176.8f60ff","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":363,"y":765,"wires":[["c8592aa2.1f3b68"]]},{"id":"c8592aa2.1f3b68","type":"modbus-flex-getter","z":"10d91176.8f60ff","name":"Read Data","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c7e1203d.d75e4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":593,"y":765,"wires":[["3916cc49.05d934"],[]]},{"id":"61a3601.fc022a","type":"comment","z":"10d91176.8f60ff","name":"Read Actual Data","info":"","x":602,"y":728,"wires":[]},{"id":"4a285909.8c1cb8","type":"function","z":"10d91176.8f60ff","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    \n    if(deviceCount == number_Of_Device ){\n        global.set('writeZeroAtLast', true);\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1454,"y":529,"wires":[["6f171653.a50cc8","b96e466a.c3aff8"]]},{"id":"4ce2ae02.54eb5","type":"complete","z":"10d91176.8f60ff","name":"","scope":["6d201d49.1565d4"],"uncaught":false,"x":173,"y":817,"wires":[["fa007bf9.9b1e88"]]},{"id":"fa007bf9.9b1e88","type":"switch","z":"10d91176.8f60ff","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":193,"y":764,"wires":[["cec211eb.4696d"]]},{"id":"ee4d04b1.70c6f8","type":"switch","z":"10d91176.8f60ff","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1295,"y":761,"wires":[["6f171653.a50cc8","b96e466a.c3aff8"]]},{"id":"89d3053b.b30dc8","type":"delay","z":"10d91176.8f60ff","name":"","pauseType":"delay","timeout":"1300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":340,"wires":[["27434615.8f925a"]]},{"id":"d253f16b.c9322","type":"function","z":"10d91176.8f60ff","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":180,"wires":[["a5dabdfd.0eedf"]]},{"id":"a5dabdfd.0eedf","type":"switch","z":"10d91176.8f60ff","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":252,"wires":[["fad321a2.5ceb7"],["8d9e53d5.2ae59"]]},{"id":"e3479929.ba9508","type":"comment","z":"10d91176.8f60ff","name":"Check for Writable device or NonWritable","info":"","x":430,"y":209,"wires":[]},{"id":"6f171653.a50cc8","type":"debug","z":"10d91176.8f60ff","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":760,"wires":[]},{"id":"b96e466a.c3aff8","type":"change","z":"10d91176.8f60ff","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":880,"wires":[["4666b441.b68f7c"]]},{"id":"397327de.dac6b8","type":"debug","z":"10d91176.8f60ff","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":993,"wires":[]},{"id":"587f3bb1.6bb4c4","type":"comment","z":"10d91176.8f60ff","name":"Reset Done Bit","info":"","x":1140,"y":80,"wires":[]},{"id":"6b632d0.6d862d4","type":"function","z":"10d91176.8f60ff","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":100,"wires":[["344e62d5.da3b2e"]]},{"id":"344e62d5.da3b2e","type":"modbus-flex-write","z":"10d91176.8f60ff","name":"","showStatusActivities":true,"showErrors":true,"server":"c7e1203d.d75e4","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1142,"y":120,"wires":[["c574be9b.5cc55"],[]]},{"id":"c574be9b.5cc55","type":"debug","z":"10d91176.8f60ff","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":60,"wires":[]},{"id":"a72fb793.be23d8","type":"modbus-flex-getter","z":"10d91176.8f60ff","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"c7e1203d.d75e4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":617,"wires":[["99bfd1ee.8a729"],[]]},{"id":"6bb8b6cf.9168a8","type":"function","z":"10d91176.8f60ff","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":353,"y":617,"wires":[["a72fb793.be23d8"]]},{"id":"3180ba0.1bc1146","type":"comment","z":"10d91176.8f60ff","name":"Re check Done bit","info":"","x":571,"y":578,"wires":[]},{"id":"6db5f40a.bd441c","type":"switch","z":"10d91176.8f60ff","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":631,"wires":[["cec211eb.4696d"],["bc0b920c.44632"]]},{"id":"99bfd1ee.8a729","type":"function","z":"10d91176.8f60ff","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":630,"wires":[["6db5f40a.bd441c"]]},{"id":"fe7df014.f0e1b","type":"delay","z":"10d91176.8f60ff","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":520,"wires":[["6bb8b6cf.9168a8"]]},{"id":"8d9e53d5.2ae59","type":"delay","z":"10d91176.8f60ff","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":420,"wires":[["9dcbaf5.746505"]]},{"id":"9dcbaf5.746505","type":"function","z":"10d91176.8f60ff","name":"","func":"node.warn('Non Writable Device')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":500,"wires":[["bc2c846f.6f8f88"]]},{"id":"5d499db2.b923c4","type":"delay","z":"10d91176.8f60ff","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1353,"y":352,"wires":[["87a2c3f5.fc1cc"]]},{"id":"5e4a6e16.607ba","type":"comment","z":"10d91176.8f60ff","name":"Data Packet Loop","info":"","x":167,"y":725,"wires":[]},{"id":"1d24a63d.31836a","type":"comment","z":"10d91176.8f60ff","name":"Number of device Loop","info":"","x":136,"y":157,"wires":[]},{"id":"b4f1c5b1.793a98","type":"function","z":"10d91176.8f60ff","name":"PLC_DP-1","func":"global.set('writeZeroAtLast', false);\nvar PLC_deviceProfile_1 = [\n  // Start Inverter\n  {\n        deviceName: \"INV-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 1\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },   \n  {\n        deviceName: \"INV-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },  \n  {\n        deviceName: \"INV-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },   \n  {\n        deviceName: \"INV-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },  \n  {\n        deviceName: \"INV-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    }, \n  {\n        deviceName: \"INV-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },  \n  {\n        deviceName: \"INV-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-17\",\n        deviceProfile: {\n            deviceNo: 17,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 17,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },   \n  {\n        deviceName: \"INV-18\",\n        deviceProfile: {\n            deviceNo: 18,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 18\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-19\",\n        deviceProfile: {\n            deviceNo: 19,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 19\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    }, \n  {\n        deviceName: \"INV-20\",\n        deviceProfile: {\n            deviceNo: 20,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 20\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 60,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 10,\n                        quantity: 42\n                    }\n                ]\n        }\n    },       \n  {\n        deviceName: \"MET-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 177\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 21\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 61,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 99,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 113,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 133,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 149,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 163,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 171,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 223,\n                        quantity: 8\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"MET-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 177\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 2\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 22\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 61,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 99,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 113,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 133,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 149,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 163,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 171,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 223,\n                        quantity: 8\n                    }\n                ]\n        }\n    },    \n    {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 108\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 6,\n                value: 4\n            },\n            slaveActive:{\n                flag: false, \n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 62,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 69,\n                        quantity: 10\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":339,"y":100,"wires":[["f2770447.c787f8"]]},{"id":"1ae6873c.c8d429","type":"modbus-flex-write","z":"10d91176.8f60ff","name":"","showStatusActivities":true,"showErrors":true,"server":"c7e1203d.d75e4","emptyMsgOnFail":false,"keepMsgProperties":false,"x":756,"y":126,"wires":[["d253f16b.c9322"],[]]},{"id":"98807008.12ca1","type":"function","z":"10d91176.8f60ff","name":"","func":"const writeValue = (value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": 6,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n}   \n}\n\nwriteValue(0, 1, 6);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":960,"wires":[["79a87e75.10d6b"]]},{"id":"b075b7b7.29d548","type":"complete","z":"10d91176.8f60ff","name":"","scope":["6d201d49.1565d4","4a285909.8c1cb8"],"uncaught":false,"x":280,"y":960,"wires":[["f96b3142.3d525"]]},{"id":"79a87e75.10d6b","type":"modbus-flex-write","z":"10d91176.8f60ff","name":"","showStatusActivities":true,"showErrors":true,"server":"c7e1203d.d75e4","emptyMsgOnFail":false,"keepMsgProperties":false,"x":830,"y":960,"wires":[[],[]]},{"id":"e6ecf45e.7bc5d8","type":"comment","z":"10d91176.8f60ff","name":"write zero at last","info":"","x":820,"y":920,"wires":[]},{"id":"f96b3142.3d525","type":"switch","z":"10d91176.8f60ff","name":"","property":"writeZeroAtLast","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":960,"wires":[["98807008.12ca1"]]},{"id":"4666b441.b68f7c","type":"http request","z":"10d91176.8f60ff","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.210/beta/rms/api/insertData?LD=1,214,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1418,"y":929,"wires":[["397327de.dac6b8"]]},{"id":"3916cc49.05d934","type":"moment","z":"10d91176.8f60ff","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":820,"y":761,"wires":[["6d201d49.1565d4"]]},{"id":"bc0b920c.44632","type":"moment","z":"10d91176.8f60ff","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1159,"y":637,"wires":[["4a285909.8c1cb8"]]},{"id":"87a2c3f5.fc1cc","type":"moment","z":"10d91176.8f60ff","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1385,"y":426,"wires":[["4a285909.8c1cb8"]]},{"id":"c7e1203d.d75e4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]