Kanchnapara/In use new Inverter MFM WMS.txt
[{"id":"456e175a.ef92f8","type":"tab","label":"In use new Inverter MFM WMS 3 ","disabled":false,"info":""},{"id":"a518100.c2f2ef","type":"inject","z":"456e175a.ef92f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"40","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["85deeb71.141808"]]},{"id":"b0422e62.cb4e5","type":"switch","z":"456e175a.ef92f8","name":"","property":"stopLoop","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":111,"wires":[["85deeb71.141808"]]},{"id":"b61f3218.63641","type":"complete","z":"456e175a.ef92f8","name":"","scope":["4af484ab.2f32ec","da870259.932e"],"uncaught":false,"x":89,"y":160,"wires":[["b0422e62.cb4e5"]]},{"id":"46b76e82.8e2c8","type":"modbus-flex-getter","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fe993e5d.b0f0c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":990,"y":540,"wires":[["7920e817.6e81c8"],[]]},{"id":"d4aace48.312a5","type":"comment","z":"456e175a.ef92f8","name":"Inverter","info":"","x":630,"y":420,"wires":[]},{"id":"781157d4.a16ae8","type":"function","z":"456e175a.ef92f8","name":"","func":"//  global.set('errCount', null);\n    msg.payload = {\n    'fc': 3,\n    'unitid': global.get('slaveID'),\n    'address': 10, \n    'quantity': 42\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":460,"wires":[["46b76e82.8e2c8"]]},{"id":"98d70669.40bc58","type":"function","z":"456e175a.ef92f8","name":"Data packet-1","func":" global.set('errCount', null);\n    msg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 99, \n        'quantity': 8\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648,"y":560,"wires":[["46b76e82.8e2c8"]]},{"id":"8e9b48dd.2c36f8","type":"function","z":"456e175a.ef92f8","name":"Data packet-2","func":"   global.set('errCount', null);\n    msg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 113, \n        'quantity': 8\n    } \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648,"y":600,"wires":[["46b76e82.8e2c8"]]},{"id":"36a1e042.a4aa","type":"function","z":"456e175a.ef92f8","name":"Data packet-3","func":" global.set('errCount', null);\n   msg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 133, \n        'quantity': 14\n    }  \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648,"y":640,"wires":[["46b76e82.8e2c8"]]},{"id":"263be73c.dbeb78","type":"function","z":"456e175a.ef92f8","name":"Data packet-4","func":"global.set('errCount', null);\nmsg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 149, \n        'quantity': 6\n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648,"y":680,"wires":[["46b76e82.8e2c8"]]},{"id":"f535cbcb.6a5418","type":"function","z":"456e175a.ef92f8","name":"Data packet-5","func":" global.set('errCount', null);\nmsg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 163, \n        'quantity': 2\n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648,"y":720,"wires":[["46b76e82.8e2c8"]]},{"id":"ceb2f83b.aac7e8","type":"function","z":"456e175a.ef92f8","name":"Data packet-6","func":" global.set('errCount', null);\nmsg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 171, \n        'quantity': 2\n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648,"y":760,"wires":[["46b76e82.8e2c8"]]},{"id":"79b5c884.ec1738","type":"comment","z":"456e175a.ef92f8","name":"MFM","info":"","x":620,"y":525,"wires":[]},{"id":"fb04172.5ea45e8","type":"switch","z":"456e175a.ef92f8","name":"","property":"device_Read_Type","propertyType":"global","rules":[{"t":"eq","v":"Inverter","vt":"str"},{"t":"eq","v":"MFM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":408,"y":500,"wires":[["781157d4.a16ae8"],["98d70669.40bc58","8e9b48dd.2c36f8","36a1e042.a4aa","263be73c.dbeb78","f535cbcb.6a5418","ceb2f83b.aac7e8","bcc44f4a.41b23"]]},{"id":"f73b0b02.8638d8","type":"comment","z":"456e175a.ef92f8","name":"Write","info":"","x":570,"y":20,"wires":[]},{"id":"f727461f.61b8d8","type":"comment","z":"456e175a.ef92f8","name":"Read","info":"","x":970,"y":498,"wires":[]},{"id":"def8e7bd.ea5c38","type":"catch","z":"456e175a.ef92f8","name":"","scope":null,"uncaught":false,"x":80,"y":1420,"wires":[["5485daf1.dbeb94"]]},{"id":"f2516db7.2b602","type":"switch","z":"456e175a.ef92f8","name":"Retry","property":"retryTo_WriteData","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":413,"y":1400,"wires":[["5ea3462a.340808"]]},{"id":"b83b5b29.6d5338","type":"switch","z":"456e175a.ef92f8","name":"Move on next device","property":"moveOnNext_Decvice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":463,"y":1460,"wires":[["11d9fde1.dd3902"]]},{"id":"5ea3462a.340808","type":"function","z":"456e175a.ef92f8","name":"","func":"msg.payload = \"Retry\" \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":649,"y":1380,"wires":[["bf0d42b3.6b4c9"]]},{"id":"bf0d42b3.6b4c9","type":"debug","z":"456e175a.ef92f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":859,"y":1380,"wires":[]},{"id":"11d9fde1.dd3902","type":"debug","z":"456e175a.ef92f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"err","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":1440,"wires":[]},{"id":"638afd9b.58a044","type":"join","z":"456e175a.ef92f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1345,"y":546,"wires":[["4af484ab.2f32ec"]]},{"id":"7920e817.6e81c8","type":"switch","z":"456e175a.ef92f8","name":"","property":"device_Read_Type","propertyType":"global","rules":[{"t":"eq","v":"Inverter","vt":"str"},{"t":"eq","v":"MFM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":540,"wires":[["4af484ab.2f32ec"],["638afd9b.58a044"]]},{"id":"66e970f9.1fe7","type":"debug","z":"456e175a.ef92f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1194,"y":800,"wires":[]},{"id":"4af484ab.2f32ec","type":"function","z":"456e175a.ef92f8","name":"onComplete Read ","func":"\nconst timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    // let time = dateObj.toLocaleTimeString('en-IT', { hour12: false });\n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = (plantID, loggerNo, deviceType, deviceNo, data, timeStamp) => {\n msg.payloadData = {\n     request: {\n        \"PlantID\": plantID,\n        \"LoggerNo\": loggerNo,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": timeStamp,\n        \"Error\": 0,\n     }\n    }\n}\n\nconst moveOnNextDevice = () => {\n    if(global.get(\"deviceNo\") == 1){\n        global.set(\"value\", 1);\n        global.get('slaveID', 1);\n    }\n    \n    // if(global.get(\"deviceNo\") == 18){\n    //     global.set(\"value\", 5);\n    //     global.get('slaveID', 5);\n    // }\n    \n    // if(global.get(\"deviceNo\") == 19){\n    //     global.set(\"value\", 19);\n    //     global.get('slaveID', 19);\n    // }\n    \n    let slaveID = global.get('slaveID');\n    let value = global.get(\"value\");\n    let deviceNo = global.get(\"deviceNo\");\n    \n    slaveID += 1;\n    value += 1;\n    deviceNo += 1;\n    \n    global.set('slaveID', slaveID);\n    global.set(\"value\", value);\n    global.set(\"deviceNo\", deviceNo);\n    global.set(\"stopLoop\", true);\n}\n\nif(global.get('deviceType') == 'Inverter'){\n    let data = msg.payload.toString();\n    let deviceNo = global.get('deviceNo');\n    // Display INVERTER Data\n    displayData(214, 1, 21, deviceNo, data, timeStamp());\n    moveOnNextDevice();\n}\n\n// Whatever Number of INVERTER you want to WRITE or READ increase extra 1 number of them. in if condition\n// STOP WRITING FOR INVERTER\nif(global.get('deviceType') == 'Inverter' && global.get('deviceNo') == 21){\n    // start MFM Device\n    global.set('deviceType', 'MFM');\n    global.set('slaveID', 1);\n    global.set('value', 21);\n    global.set('deviceNo', 1);\n    global.set('onMFM_firstAttampt', false);\n}\n\nif(global.get('deviceType') == 'MFM' && global.get('onMFM_firstAttampt')){\n    // node.warn('*************MFM')\n    let MFM_Data = [];\n    msg.payload.forEach(item => {\n        item.forEach(data => {\n            MFM_Data.push(data);\n        })\n    });\n    let data = MFM_Data.toString();\n    let deviceNo = global.get('deviceNo');\n\n    // Display MFM Data\n     displayData(214, 1, 177, deviceNo, data, timeStamp());\n     moveOnNextDevice();\n}\n\n// // Whatever Number of MFM you want to WRITE or READ increase extra 1 number of them. in if condition\n// // STOP WRITING FOR MFM\nif(global.get('deviceType') == 'MFM' && global.get('deviceNo') == 3){\n    global.set('slaveID', null);\n    global.set('deviceNo', null);\n    global.set(\"value\", null);\n    global.set(\"stopLoop\", false);\n    global.set(\"read_WMS\", true);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":620,"wires":[["493ea49a.34019c"]]},{"id":"5485daf1.dbeb94","type":"function","z":"456e175a.ef92f8","name":"","func":"\nconst timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    // let time = dateObj.toLocaleTimeString('en-IT', { hour12: false });\n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayErrMsg = (plantID, loggerNo, deviceType, deviceNo, data, timeStamp) => {\n msg.payloadData = {\n     request: {\n        \"PlantID\": plantID,\n        \"LoggerNo\": loggerNo,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": timeStamp,\n        \"Error\": 1\n     }\n }\n}\n\nconst moveOnNextDevice = () => {\n        global.set(\"retryTo_WriteData\", false);\n        global.set('errCount', null);\n        msg.moveOnNext_Decvice = true;\n        global.set('stopLoop', true);\n        var currentID = msg.payload.unitid;\n        var value = msg.payload.value;\n        currentID += 1;\n        value += 1;\n        global.set('deviceID', currentID);\n        global.set(\"value\", value);\n}\n\nconst errHandling = () => {\n    var count =  global.get(\"errCount\") || 0;\n    count += 1;\n    global.set('errCount', count);\n    global.set(\"retryTo_WriteData\", true);\n    let deviceNo = msg.payload.unitid;\n    \n    // for INVERTER Device\n    if(global.get('deviceType') == 'Inverter'){\n    if(global.get(\"errCount\") == 2){\n         displayErrMsg(214, 1, 21, deviceNo, null, timeStamp());\n         moveOnNextDevice();\n    }\n}\n\n// Whatever Number of INVERTERS you want to WRITE or READ increase extra 1 number of them. in if condition\n// STOP WRITING FOR INVERTERS\n    if(global.get('deviceType') == 'Inverter' && global.get('deviceID') == 11){\n        // start MFM Device\n        global.set('deviceType', 'MFM');\n        global.set('deviceID', 1);\n        global.set('value', 1);\n   }\n   \n \n   // for MFM Device\n   if(global.get('deviceType') == 'MFM'){\n       if(global.get('errCount') == 2){\n           displayErrMsg(214, 1, 177, deviceNo, null, timeStamp());\n           moveOnNextDevice();\n       }\n   }\n   \n// Whatever Number of MFM you want to WRITE or READ increase extra 1 number of them. in if condition\n// STOP WRITING FOR MFM\n   if(global.get('deviceType') == 'MFM' && global.get('deviceID') == 3) {\n       global.set('stopLoop', false);\n       msg.moveOnNext_Decvice = true;\n       global.set('deviceID', null);\n       global.set(\"value\", null);\n       global.set('errCount', null);\n   \n}\n}\n\nif(msg.error.message == \"Error: Client Not Ready To Write At State init\"){\n    errHandling();\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":1420,"wires":[["f2516db7.2b602","b83b5b29.6d5338"]]},{"id":"5105dc9f.9815f4","type":"http request","z":"456e175a.ef92f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.210/beta/rms/api/insertData?LD=1,214,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1195,"y":738,"wires":[["66e970f9.1fe7"]]},{"id":"493ea49a.34019c","type":"change","z":"456e175a.ef92f8","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1202,"y":680,"wires":[["5105dc9f.9815f4"]]},{"id":"bcc44f4a.41b23","type":"function","z":"456e175a.ef92f8","name":"Data packet-7","func":" global.set('errCount', null);\nmsg.payload = {\n        'fc': 3,\n        'unitid': global.get('deviceID'),\n        'address': 223, \n        'quantity': 8\n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":647,"y":800,"wires":[["46b76e82.8e2c8"]]},{"id":"6ef0c336.a5b39c","type":"comment","z":"456e175a.ef92f8","name":"WMS","info":"","x":570,"y":860,"wires":[]},{"id":"2074cbe5.5fe864","type":"delay","z":"456e175a.ef92f8","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":300,"wires":[["d090307c.2d9a8"]]},{"id":"7866ec6e.4d20f4","type":"comment","z":"456e175a.ef92f8","name":"Check for Data is Comming or Not","info":"","x":700,"y":256,"wires":[]},{"id":"d090307c.2d9a8","type":"function","z":"456e175a.ef92f8","name":"checkForData","func":"\n//  global.set('errCount', null);\n if(global.get('deviceType') == 'Inverter'){\n    msg.payload = {\n    'fc': 3,\n    'unitid': global.get('slaveID'),\n    'address': 60, \n    'quantity': 1\n} \n}\n\n if(global.get('deviceType') == 'MFM'){\n    msg.payload = {\n    'fc': 3,\n    'unitid': global.get('slaveID'),\n    'address': 61, \n    'quantity': 1\n}  \n}\n// node.warn(global.get('slaveID'))\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":636,"y":300,"wires":[["9879e444.fd2da8"]]},{"id":"9879e444.fd2da8","type":"modbus-flex-getter","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fe993e5d.b0f0c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":837,"y":300,"wires":[["c2ea9114.43d86"],[]]},{"id":"c2ea9114.43d86","type":"function","z":"456e175a.ef92f8","name":"","func":"if(msg.payload.toString() == \"1\"){\n    global.set('isData', 1);\n}else{\n    global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1021.6666564941406,"y":294,"wires":[["34db32dd.5bfaae"]]},{"id":"34db32dd.5bfaae","type":"switch","z":"456e175a.ef92f8","name":"","property":"isData","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1176,"y":294,"wires":[["fb04172.5ea45e8"],["da870259.932e"]]},{"id":"da870259.932e","type":"function","z":"456e175a.ef92f8","name":"onErrorOccured","func":"\nconst timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    // let time = dateObj.toLocaleTimeString('en-IT', { hour12: false });\n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = (plantID, loggerNo, deviceType, deviceNo, data, timeStamp) => {\n msg.payloadData = {\n     request: {\n        \"PlantID\": plantID,\n        \"LoggerNo\": loggerNo,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": timeStamp,\n        \"Error\": 1,\n     }\n    }\n}\n\nconst moveOnNextDevice = () => {\n    let slaveID = global.get('slaveID');\n    let value = global.get(\"value\");\n    let deviceNo = global.get('deviceNo');\n    \n    slaveID += 1;\n    value += 1;\n    deviceNo += 1;\n    \n    global.set('slaveID', slaveID);\n    global.set(\"value\", value);\n    global.set(\"deviceNo\", deviceNo);\n    global.set(\"stopLoop\", true);\n}\n\nif(global.get('deviceType') == 'Inverter'){\n    let data = null;\n    let deviceNo = global.get('deviceNo');\n    // Display INVERTER Data\n     displayData(214, 1, 21, deviceNo, data, timeStamp());\n     moveOnNextDevice();\n}\n\n// Whatever Number of INVERTER you want to WRITE or READ increase extra 1 number of them. in if condition\n// STOP WRITING FOR INVERTER\nif(global.get('deviceType') == 'Inverter' && global.get('deviceNo') == 21){\n    global.set('deviceType', 'MFM');\n    global.set('slaveID', 1);\n    global.set('value', 21);\n    global.set('deviceNo', 1);\n    global.set('onMFM_firstAttampt', false);\n}\n\nif(global.get('deviceType') == 'MFM' && global.get('onMFM_firstAttampt')){\n    let data = null;\n    let deciceNo = global.get('deviceNo');\n    // Display MFM Data\n    (214, 1, 177, deciceNo, data, timeStamp());\n    moveOnNextDevice();\n}\n\n// // Whatever Number of MFM you want to WRITE or READ increase extra 1 number of them. in if condition\n// // STOP WRITING FOR MFM\nif(global.get('deviceType') == 'MFM'  && global.get('deviceNo') == 3){\n    global.set('slaveID', null);\n    global.set('deviceNo', null);\n    global.set(\"value\", null);\n    global.set(\"stopLoop\", false);\n    global.set(\"read_WMS\", true);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":300,"wires":[["9202f0f9.2b6bd","493ea49a.34019c"]]},{"id":"9202f0f9.2b6bd","type":"debug","z":"456e175a.ef92f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":300,"wires":[]},{"id":"234294d8.6b418c","type":"function","z":"456e175a.ef92f8","name":"onErrorOccured WMS","func":"const timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    // let time = dateObj.toLocaleTimeString('en-IT', { hour12: false });\n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = (plantID, loggerNo, deviceType, deviceNo, data, timeStamp) => {\n msg.payloadData = {\n     request: {\n        \"PlantID\": plantID,\n        \"LoggerNo\": loggerNo,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": timeStamp,\n        \"Error\": 1,\n     }\n    }\n}\nvar data = null;\n\ndisplayData(214, 1, 108, 1, data, timeStamp());\nglobal.set(\"read_WMS\", false);\nglobal.set('write_zero_onComplete', true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1020,"wires":[["67ca5c0.3e51aa4","493ea49a.34019c"]]},{"id":"fa9c3a97.bd6fe8","type":"switch","z":"456e175a.ef92f8","name":"","property":"isWMSData","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":980,"wires":[["63fac12a.275af"],["234294d8.6b418c"]]},{"id":"67ca5c0.3e51aa4","type":"debug","z":"456e175a.ef92f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":1020,"wires":[]},{"id":"b68d4295.24ba5","type":"modbus-flex-write","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"server":"8b2e2662.277718","emptyMsgOnFail":false,"keepMsgProperties":false,"x":590,"y":60,"wires":[[],[]]},{"id":"8b1f4c78.52c6c","type":"function","z":"456e175a.ef92f8","name":"","func":"const writeValue = (value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": 6,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n}   \n}\n\nif(global.get('deviceType') == 'Inverter'){\n    writeValue(1, 1, 6);\n}\n\nif(global.get('deviceType') == 'MFM'){\n    writeValue(2, 1, 6);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["b68d4295.24ba5"]]},{"id":"85deeb71.141808","type":"function","z":"456e175a.ef92f8","name":"","func":"var onInverter_firstAttampt = true;\nconst writeValue = (value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": 6,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n}   \n}\n\nif(global.get(\"slaveID\")){\n    onInverter_firstAttampt = false;\n}\n\nif(onInverter_firstAttampt){\n    global.set('deviceType', 'Inverter');\n    global.set(\"value\", 11);\n    global.set(\"slaveID\", 11);\n    global.set(\"deviceNo\", 1);\n}\n\nvar slaveID = global.get(\"slaveID\");\nvar value = global.get('value');\n\nif(global.get('deviceType') == 'Inverter'){\n    writeValue(value, slaveID, 0);\n    global.set('device_Read_Type', 'Inverter');\n}\n\nif(global.get('deviceType') == 'MFM'){\n    global.set('onMFM_firstAttampt', true);\n    writeValue(value, slaveID, 4);\n    global.set('device_Read_Type', 'MFM');\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["7e7fe4e1.fe095c","8b1f4c78.52c6c"]]},{"id":"7e7fe4e1.fe095c","type":"modbus-flex-write","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"server":"8b2e2662.277718","emptyMsgOnFail":false,"keepMsgProperties":false,"x":590,"y":140,"wires":[["2074cbe5.5fe864"],[]]},{"id":"ad45a6ae.1c6438","type":"function","z":"456e175a.ef92f8","name":"","func":"const writeValue = (value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": 6,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n}   \n}\n\nwriteValue(0, 1, 6);\nglobal.set('write_zero_onComplete', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1100,"wires":[["6f172da5.54d684"]]},{"id":"30e271c8.7fd1fe","type":"switch","z":"456e175a.ef92f8","name":"","property":"write_zero_onComplete","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":1100,"wires":[["ad45a6ae.1c6438"]]},{"id":"8d94f420.d94628","type":"complete","z":"456e175a.ef92f8","name":"","scope":["234294d8.6b418c","b100f0b3.f3489"],"uncaught":false,"x":140,"y":1100,"wires":[["30e271c8.7fd1fe"]]},{"id":"6f172da5.54d684","type":"modbus-flex-write","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"server":"8b2e2662.277718","emptyMsgOnFail":false,"keepMsgProperties":false,"x":910,"y":1100,"wires":[[],[]]},{"id":"267ce18a.d815be","type":"complete","z":"456e175a.ef92f8","name":"","scope":["4af484ab.2f32ec","da870259.932e"],"uncaught":false,"x":78,"y":900,"wires":[["f5b56f79.c75a6"]]},{"id":"f5b56f79.c75a6","type":"switch","z":"456e175a.ef92f8","name":"","property":"read_WMS","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":234,"y":900,"wires":[["d4c64e0e.4a8bf"]]},{"id":"d4c64e0e.4a8bf","type":"function","z":"456e175a.ef92f8","name":"","func":"const writeValue = (value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": 6,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n}   \n}\n\nwriteValue(4, 1, 6);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":900,"wires":[["3ae5a837.f24de8"]]},{"id":"3ae5a837.f24de8","type":"modbus-flex-write","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"server":"8b2e2662.277718","emptyMsgOnFail":false,"keepMsgProperties":false,"x":570,"y":900,"wires":[["43f19d5c.602754"],[]]},{"id":"43f19d5c.602754","type":"delay","z":"456e175a.ef92f8","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":900,"wires":[["41409271.67f66c"]]},{"id":"41409271.67f66c","type":"function","z":"456e175a.ef92f8","name":"checkForData","func":"\nmsg.payload = {\n    'fc': 3,\n    'unitid': 1,\n    'address': 62, \n    'quantity': 1\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":980,"wires":[["928e5320.ec2c3"]]},{"id":"928e5320.ec2c3","type":"modbus-flex-getter","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fe993e5d.b0f0c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":390,"y":980,"wires":[["aeed40fa.98e39"],[]]},{"id":"aeed40fa.98e39","type":"function","z":"456e175a.ef92f8","name":"","func":"if(msg.payload.toString() == \"1\"){\n    global.set('isWMSData', 1);\n}else{\n    global.set('isWMSData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":980,"wires":[["fa9c3a97.bd6fe8"]]},{"id":"463fe0f5.739a8","type":"modbus-flex-getter","z":"456e175a.ef92f8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"fe993e5d.b0f0c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1170,"y":940,"wires":[["b100f0b3.f3489"],[]]},{"id":"b100f0b3.f3489","type":"function","z":"456e175a.ef92f8","name":"WMCCompleteRead","func":"const timeStamp = () => {\n     let dateObj = new Date(),\n        month = '' + (dateObj.getMonth() + 1),\n        day = '' + dateObj.getDate(),\n        year = dateObj.getFullYear();\n\n    if (month.length < 2) \n        month = '0' + month;\n    if (day.length < 2) \n        day = '0' + day;\n  \n    // let time = dateObj.toLocaleTimeString('en-IT', { hour12: false });\n    let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n    let dateTime = `${year}-${month}-${day} ${time}`;\n    return dateTime;\n}\n\nvar displayData = (plantID, loggerNo, deviceType, deviceNo, data, timeStamp) => {\n msg.payloadData = {\n     request: {\n        \"PlantID\": plantID,\n        \"LoggerNo\": loggerNo,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": data,\n        \"TimeStamp\": timeStamp,\n        \"Error\": 0,\n     }\n    }\n}\nvar data = msg.payload.toString();\n\ndisplayData(214, 1, 108, 1, data, timeStamp());\nglobal.set('write_zero_onComplete', true);\nglobal.set(\"read_WMS\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":940,"wires":[["67ca5c0.3e51aa4","493ea49a.34019c"]]},{"id":"63fac12a.275af","type":"function","z":"456e175a.ef92f8","name":"","func":"//  global.set('errCount', null);\n    msg.payload = {\n        'fc': 3,\n        'unitid': 1,\n        'address': 69, \n        'quantity': 10\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":964.9999389648438,"y":950.6666259765625,"wires":[["463fe0f5.739a8"]]},{"id":"4c48313e.188b5","type":"comment","z":"456e175a.ef92f8","name":"write zero at last","info":"","x":900,"y":1060,"wires":[]},{"id":"fe993e5d.b0f0c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8b2e2662.277718","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]