Kanchnapara/Running.json
[{"id":"a870dfa4.0e8bb","type":"tab","label":"Kanchrapara ","disabled":false,"info":""},{"id":"93e3a802.239fc8","type":"function","z":"a870dfa4.0e8bb","name":"F-3","func":"const writeValue = (fc, value, slaveID, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\":slaveID,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.slaveActive.fc;\nvar value = profile.write.slaveActive.slaveId;\nvar slaveID = profile.write.slaveActive.slaveId;\nvar address = profile.write.slaveActive.address;\n\nwriteValue(fc, value, slaveID, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":358,"y":280,"wires":[["844d6ec3.0e6f3"]]},{"id":"76e7ea0f.1aa524","type":"inject","z":"a870dfa4.0e8bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["a5e73a54.792f08"]]},{"id":"844d6ec3.0e6f3","type":"modbus-flex-write","z":"a870dfa4.0e8bb","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":279,"wires":[["b6c93b4a.6a1e18"],[]]},{"id":"62d2c3c3.7a4fbc","type":"modbus-flex-getter","z":"a870dfa4.0e8bb","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":528,"y":560,"wires":[["fb54ec91.33ea4"],[]]},{"id":"cc5ea3d0.62fef","type":"function","z":"a870dfa4.0e8bb","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":321,"y":560,"wires":[["62d2c3c3.7a4fbc"]]},{"id":"1807056d.fe5d0b","type":"complete","z":"a870dfa4.0e8bb","name":"","scope":["583f56bd.4fdc38","89be913b.20127"],"uncaught":false,"x":110,"y":260,"wires":[["506ed509.1dc45c"]]},{"id":"506ed509.1dc45c","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"stop_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":132,"y":205,"wires":[["25c8c7fc.aad568"]]},{"id":"43b79418.79090c","type":"comment","z":"a870dfa4.0e8bb","name":"Slave Active","info":"","x":558,"y":239,"wires":[]},{"id":"b6c93b4a.6a1e18","type":"function","z":"a870dfa4.0e8bb","name":"F-4","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\nvar slaveID = profile.write.slaveActive.slaveId;\n\n// let responseBuffer = slaveID\nif(msg.responseBuffer.value == slaveID){\n    // node.warn('IFF')\n    global.set('PLC_deviceProfile_1_retryStatus', 'goAhead');\n    global.set('PLC_deviceProfile_1_errorCount', null);\n}else {\n    node.warn('Retry')\n    let errorCount =  global.get(\"PLC_deviceProfile_1_errorCount\") || 0;\n    errorCount += 1;\n    global.set('PLC_deviceProfile_1_errorCount', errorCount);\n    \n    if(errorCount != 2){\n        global.set('PLC_deviceProfile_1_retryStatus', 'retry');\n    }else {\n       global.set('PLC_deviceProfile_1_retryStatus', 'displayErrorMsg'); \n       global.set('PLC_deviceProfile_1_errorCount', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":858,"y":279,"wires":[["b320128d.0a6e7"]]},{"id":"b320128d.0a6e7","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"PLC_deviceProfile_1_retryStatus","propertyType":"global","rules":[{"t":"eq","v":"goAhead","vt":"str"},{"t":"eq","v":"retry","vt":"str"},{"t":"eq","v":"displayErrorMsg","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1098,"y":280,"wires":[["a661dd.cad64e2"],["93e3a802.239fc8"],["4a1d9e.98dcc264"]]},{"id":"f7f9a16.1de276","type":"comment","z":"a870dfa4.0e8bb","name":"Retry","info":"","x":1099,"y":239,"wires":[]},{"id":"d75f7ed6.29f14","type":"comment","z":"a870dfa4.0e8bb","name":"PLC Active","info":"","x":740,"y":60,"wires":[]},{"id":"25c8c7fc.aad568","type":"function","z":"a870dfa4.0e8bb","name":"","func":"const writeValue = (fc, value, address) => {\n        msg.payload = {\n        value: value,\n        \"fc\": fc,\n        \"unitid\": 1,\n        \"address\": address,\n        \"quantity\": 1\n    }   \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\n// node.warn(index)\nvar profile = deviceProfile[index];\n\nvar fc = profile.write.PLCActive.fc;\nvar value = profile.write.PLCActive.value;\nvar address = profile.write.PLCActive.address;\n// node.warn(value)\n\nwriteValue(fc, value, address);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":100,"wires":[["527658a0.60e468"]]},{"id":"ed97243e.143178","type":"comment","z":"a870dfa4.0e8bb","name":"check Done bit","info":"","x":534,"y":525,"wires":[]},{"id":"ebfc7c47.5bfaa","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":908,"y":574,"wires":[["46364dcb.751684"],["1ef657d0.9c82f8"]]},{"id":"583f56bd.4fdc38","type":"function","z":"a870dfa4.0e8bb","name":"Display Data PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar number_Of_DataPacket = regAdd.length;\n\nvar dataPacket_Count =  global.get(\"PLC_deviceProfile_1_dataPacket_Count\");\n    dataPacket_Count += 1;\n    global.set('PLC_deviceProfile_1_dataPacket_Count', dataPacket_Count);\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayData = () => {\n    let data = [];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    \n    getStoreData.forEach(item => {\n        item.forEach(value => {\n            data.push(value);\n        })\n    })\n    \n    let finalData = data.toString();\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": finalData,\n        \"TimeStamp\": dateTime,\n        \"Error\": 0,\n        \"dataLength\": data.length\n     }\n    }\n    global.set('PLC_deviceProfile_1_StoreData', []);\n}      \n\nvar storeData = () => {\n    // msg.payload = [1,2,3,4,5];\n    let getStoreData = global.get('PLC_deviceProfile_1_StoreData');\n    getStoreData.push(msg.payload);\n    global.set('PLC_deviceProfile_1_StoreData', getStoreData);\n}\n \n// Inside Loop                                                              \nif(dataPacket_Count != number_Of_DataPacket){\n    // Store Data\n    // node.warn(dataPacket_Count)\n    storeData()\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', true);\n    global.set('stop_PLC_deviceProfile_1', false);\n    let readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\n    readIndex += 1;\n    global.set('PLC_deviceProfile_1_ReadIndex', readIndex);\n    \n}else{\n    // Store Data\n    storeData();\n    global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    global.set('PLC_deviceProfile_1_ReadIndex', 0);\n    global.set('PLC_deviceProfile_1_dataPacket_Count', null);\n    global.set('sendData_PLC_deviceProfile_1', true);\n    // display Data\n    displayData();\n    // node.warn(dataPacket_Count)\n    \n    // Outside Loop\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    if(deviceCount != number_Of_Device ){\n        let index = global.get('PLC_deviceProfile_1_Index');\n        index += 1;\n         global.set('PLC_deviceProfile_1_Index', index);\n        global.set('stop_PLC_deviceProfile_1', true);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n    }else {\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('stop_to_read_PLC_deviceProfile_1_dataPacket', false);\n        // global.set('PLC_deviceProfile_1_Count', null);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1049,"y":821,"wires":[["4bd55ab6.502a34"]]},{"id":"fb54ec91.33ea4","type":"function","z":"a870dfa4.0e8bb","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":748,"y":574,"wires":[["ebfc7c47.5bfaa"]]},{"id":"46364dcb.751684","type":"function","z":"a870dfa4.0e8bb","name":"","func":"\nvar readData = (fc, slaveID, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': slaveID,\n        'address': address, \n        'quantity': quantity\n} \n}\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar regAdd = profile.read.regAdd;\nvar readIndex = global.get('PLC_deviceProfile_1_ReadIndex');\nvar readValue = regAdd[readIndex];\n\nvar fc = readValue.fc;\nvar slaveID = readValue.slaveID;\nvar address = readValue.address;\nvar quantity = readValue.quantity;\n\nreadData(fc, slaveID, address, quantity);\nglobal.set('sendData_PLC_deviceProfile_1', false);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":331,"y":825,"wires":[["80cf16b.d4102e8"]]},{"id":"80cf16b.d4102e8","type":"modbus-flex-getter","z":"a870dfa4.0e8bb","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":571,"y":825,"wires":[["40af3a82.169a54"],[]]},{"id":"1ce682a6.9b4bad","type":"comment","z":"a870dfa4.0e8bb","name":"Read Actual Data","info":"","x":570,"y":788,"wires":[]},{"id":"89be913b.20127","type":"function","z":"a870dfa4.0e8bb","name":"onErrorOccured PLC_DP-1","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\n// var timeStamp = () => {\n//      let dateObj = new Date(),\n//         month = '' + (dateObj.getMonth() + 1),\n//         day = '' + dateObj.getDate(),\n//         year = dateObj.getFullYear();\n\n//     if (month.length < 2) \n//         month = '0' + month;\n//     if (day.length < 2) \n//         day = '0' + day;\n  \n//     let time = dateObj.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour12: false });\n//     let dateTime = `${year}-${month}-${day} ${time}`;\n//     return dateTime;\n// }\n\nvar displayError = (errMsg) => {\n    let deviceType = profile.deviceProfile.deviceType;\n    let deviceNo = profile.deviceProfile.deviceNo;\n    let dateTime = msg.timeStamp;\n    \n    msg.payloadData = {\n     request: {\n        \"PlantID\": 201,\n        \"LoggerNo\": 1,\n        \"DeviceType\": deviceType,\n        \"DeviceNo\": deviceNo,\n        \"Data\": null,\n        \"TimeStamp\": dateTime,\n        \"Error\": 1,\n        \"ErrorMessage\": errMsg\n     }\n    }\n}\n\nvar moveOnNextDevice = () => {\n    let deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n    deviceCount += 1;\n    global.set('PLC_deviceProfile_1_Count', deviceCount);\n    \n    let index = global.get('PLC_deviceProfile_1_Index');\n    index += 1;\n    global.set('PLC_deviceProfile_1_Index', index);\n    global.set('stop_PLC_deviceProfile_1', true);\n    // node.warn('Number of device on error-1')\n    if(deviceCount == number_Of_Device ){\n        // node.warn('MoveOnNextDevice stop_PLC_deviceProfile_1')\n        global.set('stop_PLC_deviceProfile_1', false);\n        global.set('PLC_deviceProfile_1_Index', 0);\n        // global.set('PLC_deviceProfile_1_Count', null);\n        // node.warn('Number of device on error-2')\n    }\n}\n\nif(global.get('PLC_deviceProfile_1_retryStatus') == 'displayErrorMsg'){\n    displayError('PLC is Not Writing');\n    moveOnNextDevice();\n}else {\n    displayError('Done Bit Not OK');\n    moveOnNextDevice();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1408,"y":580,"wires":[["7e37219d.2aa95","c77afbe5.69b948"]]},{"id":"eaaeff00.02a0d","type":"complete","z":"a870dfa4.0e8bb","name":"","scope":["583f56bd.4fdc38"],"uncaught":false,"x":116,"y":877,"wires":[["fbb65331.50643"]]},{"id":"fbb65331.50643","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"stop_to_read_PLC_deviceProfile_1_dataPacket","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":136,"y":824,"wires":[["46364dcb.751684"]]},{"id":"4bd55ab6.502a34","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"sendData_PLC_deviceProfile_1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1263,"y":821,"wires":[["7e37219d.2aa95","c77afbe5.69b948"]]},{"id":"7e37219d.2aa95","type":"debug","z":"a870dfa4.0e8bb","name":"console","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payloadData","targetType":"msg","statusVal":"","statusType":"auto","x":1488,"y":820,"wires":[]},{"id":"c77afbe5.69b948","type":"change","z":"a870dfa4.0e8bb","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"payloadData.request.DeviceType","tot":"msg"},{"t":"set","p":"deviceNo","pt":"msg","to":"payloadData.request.DeviceNo","tot":"msg"},{"t":"set","p":"errFlag","pt":"msg","to":"payloadData.request.Error","tot":"msg"},{"t":"set","p":"timeStamp","pt":"msg","to":"payloadData.request.TimeStamp","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payloadData.request.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":740,"wires":[["40c02328.615c5c"]]},{"id":"ac11c82b.0c8bb8","type":"debug","z":"a870dfa4.0e8bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":620,"wires":[]},{"id":"93d87ff1.d31ac","type":"modbus-flex-getter","z":"a870dfa4.0e8bb","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"d049ceb6.1fa0b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":528,"y":677,"wires":[["e48b578c.f4cc68"],[]]},{"id":"84167f.9af8a98","type":"function","z":"a870dfa4.0e8bb","name":"F-5","func":"var readDoneBit = (fc, address, quantity) => {\n    msg.payload = {\n        'fc': fc,\n        'unitid': 1,\n        'address': address, \n        'quantity': quantity\n} \n}\n\n\nvar deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar fc = profile.read.isDone.fc;\nvar address = profile.read.isDone.address;\nvar quantity = profile.read.isDone.quantity;\n\nreadDoneBit(fc, address, quantity);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":321,"y":677,"wires":[["93d87ff1.d31ac"]]},{"id":"3f472d58.f6d3c2","type":"comment","z":"a870dfa4.0e8bb","name":"Re check Done bit","info":"","x":539,"y":638,"wires":[]},{"id":"1da0c045.aa285","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"isData","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":908,"y":691,"wires":[["46364dcb.751684"],["84ad95cd.510108"]]},{"id":"e48b578c.f4cc68","type":"function","z":"a870dfa4.0e8bb","name":"F-6","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar value = profile.read.isDone.value;\nvar doneBit = msg.payload[0];\n// node.warn(doneBit)\n\nif(doneBit == value){\n    // node.warn('Done Bit OK 1')\n    msg.isData = 1;\n    // global.set('isData', 1);\n}else{\n    // node.warn('Done Bit else block')\n    // node.warn('Done Bit Not OK 1')\n    msg.isData = 0;\n    // global.set('isData', 0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":748,"y":690,"wires":[["1da0c045.aa285"]]},{"id":"1ef657d0.9c82f8","type":"delay","z":"a870dfa4.0e8bb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1088,"y":580,"wires":[["84167f.9af8a98"]]},{"id":"4a1d9e.98dcc264","type":"delay","z":"a870dfa4.0e8bb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":380,"wires":[["5bee9740.7cc608"]]},{"id":"52ac2d05.db2174","type":"comment","z":"a870dfa4.0e8bb","name":"Data Packet Loop","info":"","x":135,"y":785,"wires":[]},{"id":"4f03d63c.7c9ba8","type":"comment","z":"a870dfa4.0e8bb","name":"Number of device Loop","info":"","x":136,"y":157,"wires":[]},{"id":"527658a0.60e468","type":"modbus-flex-write","z":"a870dfa4.0e8bb","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":740,"y":100,"wires":[["d5a0142b.8a35f8"],[]]},{"id":"40af3a82.169a54","type":"moment","z":"a870dfa4.0e8bb","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":788,"y":821,"wires":[["583f56bd.4fdc38"]]},{"id":"84ad95cd.510108","type":"moment","z":"a870dfa4.0e8bb","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1127,"y":697,"wires":[["89be913b.20127"]]},{"id":"5bee9740.7cc608","type":"moment","z":"a870dfa4.0e8bb","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"timeStamp","outputType":"msg","outTz":"Asia/Calcutta","x":1200,"y":460,"wires":[["89be913b.20127"]]},{"id":"a661dd.cad64e2","type":"function","z":"a870dfa4.0e8bb","name":"F-1","func":"msg.payload = {\n        value: 0,\n        \"fc\": 6,\n        \"unitid\": 1,\n        \"address\": 24,\n        \"quantity\": 1\n}   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":498,"y":420,"wires":[["710f3dd.12cacc4"]]},{"id":"710f3dd.12cacc4","type":"modbus-flex-write","z":"a870dfa4.0e8bb","name":"192.168.10.201","showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":708,"y":421,"wires":[["807cb58e.be2238"],[]]},{"id":"40732a90.4b0374","type":"comment","z":"a870dfa4.0e8bb","name":"Reset Done Bit","info":"","x":708,"y":380,"wires":[]},{"id":"807cb58e.be2238","type":"delay","z":"a870dfa4.0e8bb","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":938,"y":418,"wires":[["cc5ea3d0.62fef"]]},{"id":"d5a0142b.8a35f8","type":"function","z":"a870dfa4.0e8bb","name":"F-2","func":"var deviceProfile =  global.get('PLC_deviceProfile_1');\nvar index = global.get('PLC_deviceProfile_1_Index');\nvar profile = deviceProfile[index];\n\nvar slaveActive = profile.write.slaveActive.flag;\nif(slaveActive){\n    msg.slaveActive_status = 'writable';\n}else{\n    msg.slaveActive_status = 'nonWritable';\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":99,"wires":[["5972f21a.037fcc"]]},{"id":"5972f21a.037fcc","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"slaveActive_status","propertyType":"msg","rules":[{"t":"eq","v":"writable","vt":"str"},{"t":"eq","v":"nonWritable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1153,"y":100,"wires":[["93e3a802.239fc8"],["a661dd.cad64e2"]]},{"id":"1f3a3f28.b20491","type":"comment","z":"a870dfa4.0e8bb","name":"Check for Writable device or NonWritable","info":"","x":1160,"y":60,"wires":[]},{"id":"1ac108b9.f90c37","type":"complete","z":"a870dfa4.0e8bb","name":"","scope":["583f56bd.4fdc38","89be913b.20127"],"uncaught":false,"x":90,"y":40,"wires":[["673b2636.ca8d58"]]},{"id":"66e2f4c6.cca04c","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"startNextCycle","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":40,"wires":[["a5e73a54.792f08"]]},{"id":"673b2636.ca8d58","type":"function","z":"a870dfa4.0e8bb","name":"","func":"var deviceProfile = global.get('PLC_deviceProfile_1');\nvar number_Of_Device = deviceProfile.length;\nlet deviceCount =  global.get(\"PLC_deviceProfile_1_Count\");\n\nif(deviceCount == number_Of_Device){\n    global.set('PLC_deviceProfile_1_Count', null);\n    msg.startNextCycle = true;\n    node.warn('******if')\n}else{\n     msg.startNextCycle = false;\n    //   node.warn('******else')\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":40,"wires":[["66e2f4c6.cca04c"]]},{"id":"a5e73a54.792f08","type":"function","z":"a870dfa4.0e8bb","name":"PLC_DP-1","func":"\nvar PLC_deviceProfile_1 = [\n  // Start Inverter\n  {\n        deviceName: \"INV-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 2\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 2,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-3\",\n        deviceProfile: {\n            deviceNo: 3,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 3\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 3,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-4\",\n        deviceProfile: {\n            deviceNo: 4,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 4\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 4,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-5\",\n        deviceProfile: {\n            deviceNo: 5,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 5\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 5,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },   \n  {\n        deviceName: \"INV-6\",\n        deviceProfile: {\n            deviceNo: 6,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 6\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 6,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-7\",\n        deviceProfile: {\n            deviceNo: 7,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 7\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 7,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"INV-8\",\n        deviceProfile: {\n            deviceNo: 8,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 8\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 8,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },  \n  {\n        deviceName: \"INV-9\",\n        deviceProfile: {\n            deviceNo: 9,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 9\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 9,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },   \n  {\n        deviceName: \"INV-10\",\n        deviceProfile: {\n            deviceNo: 10,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 10\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 10,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },  \n  {\n        deviceName: \"INV-11\",\n        deviceProfile: {\n            deviceNo: 11,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 11\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 11,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-12\",\n        deviceProfile: {\n            deviceNo: 12,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 12\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 12,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    }, \n  {\n        deviceName: \"INV-13\",\n        deviceProfile: {\n            deviceNo: 13,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 13\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 13,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-14\",\n        deviceProfile: {\n            deviceNo: 14,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 14\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 14,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },  \n  {\n        deviceName: \"INV-15\",\n        deviceProfile: {\n            deviceNo: 15,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 15\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 15,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-16\",\n        deviceProfile: {\n            deviceNo: 16,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 16\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 16,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-17\",\n        deviceProfile: {\n            deviceNo: 17,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 17\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 17,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },   \n  {\n        deviceName: \"INV-18\",\n        deviceProfile: {\n            deviceNo: 18,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 18\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 18,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },\n  {\n        deviceName: \"INV-19\",\n        deviceProfile: {\n            deviceNo: 19,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 19\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 19,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    }, \n  {\n        deviceName: \"INV-20\",\n        deviceProfile: {\n            deviceNo: 20,\n            deviceType: 21\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 1\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 0,\n                slaveId: 20\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 15,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 20,\n                        address: 25,\n                        quantity: 42\n                    }\n                ]\n        }\n    },       \n  {\n        deviceName: \"MET-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 177\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 21\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,  \n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 189,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 209,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 225,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 239,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 247,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 21,\n                        address: 256,\n                        quantity: 8\n                    }\n                ]\n        }\n    },    \n  {\n        deviceName: \"MET-2\",\n        deviceProfile: {\n            deviceNo: 2,\n            deviceType: 177\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 4\n            },\n            slaveActive:{\n                flag: true, \n                fc: 6,\n                address: 4,\n                slaveId: 22\n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 17,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 175,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 189,\n                        quantity: 8\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 209,\n                        quantity: 14\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 225,\n                        quantity: 6\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 239,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 247,\n                        quantity: 2\n                    },\n                    {\n                        fc: 3,\n                        slaveID: 22,\n                        address: 256,\n                        quantity: 8\n                    }\n                ]\n        }\n    },    \n    {\n        deviceName: \"WMS-1\",\n        deviceProfile: {\n            deviceNo: 1,\n            deviceType: 108\n        },\n        write: {\n            PLCActive:{\n                flag: true,\n                fc: 6,\n                address: 14,\n                value: 8\n            },\n            slaveActive:{\n                flag: false, \n            }\n        },\n        read: {\n            isDone: {\n              flag: true,\n              fc: 3,\n              address: 18,\n              quantity: 1,\n              value: 1\n            },\n            regAdd: [\n                    {\n                        fc: 3,\n                        slaveID: 1,\n                        address: 401,\n                        quantity: 10\n                    }\n                ]\n        }\n    }\n]\n\nglobal.set('PLC_deviceProfile_1', PLC_deviceProfile_1);\nglobal.set('PLC_deviceProfile_1_Index', 0);\nglobal.set('PLC_deviceProfile_1_ReadIndex', 0);\nglobal.set('PLC_deviceProfile_1_StoreData', []);\nglobal.set(\"PLC_deviceProfile_1_Count\", 0); \nglobal.set('PLC_deviceProfile_1_dataPacket_Count', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":317,"y":100,"wires":[["25c8c7fc.aad568"]]},{"id":"40c02328.615c5c","type":"http request","z":"a870dfa4.0e8bb","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.10.210/rms/api/insertData?LD=1,214,{{{deviceType}}},{{{deviceNo}}},{{{errFlag}}},{{{timeStamp}}}&ID={{{data}}}","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":680,"wires":[["ac11c82b.0c8bb8"]]},{"id":"f24f2f8e.e794f","type":"catch","z":"a870dfa4.0e8bb","name":"","scope":null,"uncaught":false,"x":1249,"y":235,"wires":[["63210c59.11ef74"]]},{"id":"63210c59.11ef74","type":"function","z":"a870dfa4.0e8bb","name":"","func":"if(msg.error.message == \"Error: Client Not Ready To Write At State init\" || msg.error.message == \"[object Object]\"){\n    if(msg.error.source.name == \"192.168.10.201\"){\n     msg.reConnector_1 = true;\n     msg.payload = { \n        'connectorType': 'TCP', \n        'tcpHost': '192.168.10.201', \n        'unitId': 1\n    }\n}else {\n    msg.reConnector_1 = false;\n}\n}else {\n    msg.reConnector_1 = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1406,"y":235,"wires":[["e8986ef4.0372a"]]},{"id":"e8986ef4.0372a","type":"switch","z":"a870dfa4.0e8bb","name":"","property":"reConnector_1","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1552,"y":235,"wires":[["80fe3417.0d2878"]]},{"id":"80fe3417.0d2878","type":"modbus-flex-connector","z":"a870dfa4.0e8bb","name":"192.168.10.201","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":true,"showErrors":true,"server":"d049ceb6.1fa0b","x":1719,"y":235,"wires":[["3afac466.49533c"]]},{"id":"f7ef433f.1a6c5","type":"comment","z":"a870dfa4.0e8bb","name":"********** Reconnect ********","info":"","x":1480,"y":180,"wires":[]},{"id":"3afac466.49533c","type":"delay","z":"a870dfa4.0e8bb","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1707,"y":178,"wires":[["a5e73a54.792f08"]]},{"id":"d049ceb6.1fa0b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.201","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
